****************************************************************************************************
SEQUENCE STEP SCHEDULE
generated on 2/07/2018 2:18:17 PM by David Paspa
****************************************************************************************************





--------------------------------------------------
SEQUENCE
--------------------------------------------------

SFCNo:- 4
Title:- UO_MX_FILTER
Description:- Manufacturing Vessel Mx filtration to Storage Vessel Sy. Sequence for Filtration from Manufacturing Vessel Mx to Storage Vessel Sy.
Name:- FILL
Class:- MX
Level:- UO
STEP_LIST_FORMAT:- JU    S0@@STEP_NUM@@; // STEP-0@@STEP_NUM@@:
ACT_LIST_FORMAT:- JU    @@ACT_CODE@@@@STEP_NUM@@; //ACTION-@@ACT_NUM@@
HeaderName:- MUFILL
Version:- 0.1
RevisionHistory:- // SFC Revision History:
// Rev By               Date        CC         Note
// 0.1 Gerald Kontriner 10-Sep-2009            SFC structural design
HMI_FORMAT:- @@STEP_NUM_INT@@,@@STEP_TITLE@@
Name:- emt_hex_setpoint
Type:- REAL
Description:- Heat exchanger temperature controller temperature setpoint
ParameterInOut:- OUT
Name:- vessel_mx
Type:- INT
Description:- Manufacturing vessel selection M1 or M2
ParameterInOut:- IN
Name:- vessel_sy
Type:- INT
Description:- Storage vessel selection S1 or S2
ParameterInOut:- IN
Name:- fill_flz
Type:- INT
Description:- Filling line selection FL1 or FL2
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::1
--------------------------------------------------
Name:- emt_hex_setpoint
Type:- REAL
Description:- Heat exchanger temperature controller temperature setpoint
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::2
--------------------------------------------------
Name:- vessel_mx
Type:- INT
Description:- Manufacturing vessel selection M1 or M2
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::3
--------------------------------------------------
Name:- fill_flz
Type:- INT
Description:- Filling line selection FL1 or FL2
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::4
--------------------------------------------------
Name:- vessel_sy
Type:- INT
Description:- Storage vessel selection S1 or S2
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::5
--------------------------------------------------
Name:- log_time_filtration_end
Type:- BOOL
Description:- Flags the HMI to log filtration operation end time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::6
--------------------------------------------------
Name:- log_time_filtration_start
Type:- BOOL
Description:- Flags the HMI to log Filtration start time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::7
--------------------------------------------------
Name:- time_filtration_start
Type:- TIME
Description:- Filtration start time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::8
--------------------------------------------------
Name:- log_time_fill_begin
Type:- BOOL
Description:- Flags the HMI that Mx filtration to FLz started
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::9
--------------------------------------------------
Name:- time_fill_begin
Type:- TOD
Description:- Logging that Mx filtration to FLz operation start time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::10
--------------------------------------------------
Name:- log_time_fill_end
Type:- BOOL
Description:- Flags the HMI that that Mx filtration to FLz ended
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::11
--------------------------------------------------
Name:- time_fill_end
Type:- TOD
Description:- Logging that Mx filtration to FLz operation end time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::12
--------------------------------------------------
Name:- emm_vessel_mass_nett
Type:- REAL
Description:- Vessel mass
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::13
--------------------------------------------------
Name:- emv_vessel_subs
Type:- INT
Description:- Substate selection of emv_vessel
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::14
--------------------------------------------------
Name:- emv_vessel_cmd
Type:- INT
Description:- Command to emv_vessel
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::15
--------------------------------------------------
Name:- emv_vessel_state
Type:- INT
Description:- Device State of emv_vessel
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::16
--------------------------------------------------
Name:- emt_hex_subs
Type:- INT
Description:- Substate selection of emt_hex
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::17
--------------------------------------------------
Name:- emt_hex_state
Type:- INT
Description:- Device State of emt_hex
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::18
--------------------------------------------------
Name:- emt_hex_cmd
Type:- INT
Description:- Command to emt_hex
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::19
--------------------------------------------------
Name:- prompt_filtration
Type:- BOOL
Description:- Prompt operator to start filtration
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::20
--------------------------------------------------
Name:- prompt_filtration_confirm_yes
Type:- BOOL
Description:- operator confirms to start filtration
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::21
--------------------------------------------------
Name:- r_temp_filt
Type:- REAL
Description:- Filter temperature setpoint
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::22
--------------------------------------------------
Name:- emx_smfl_state
Type:- INT
Description:- Device State of emx_smfl
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::23
--------------------------------------------------
Name:- emx_transfer_state
Type:- INT
Description:- Device State of emx_transfer
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::24
--------------------------------------------------
Name:- emx_smfl_cmd
Type:- INT
Description:- Command to emx_smfl
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::25
--------------------------------------------------
Name:- emx_smfl_subs
Type:- INT
Description:- Substate selection of emx_smfl
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::26
--------------------------------------------------
Name:- emx_transfer_cmd
Type:- INT
Description:- Command to emx_transfer
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::27
--------------------------------------------------
Name:- emx_transfer_subs
Type:- INT
Description:- Substate selection of emx_transfer
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::28
--------------------------------------------------
Name:- log_msg_filtration_complete
Type:- BOOL
Description:- Logging operator confirmation transfer complete 
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::29
--------------------------------------------------
Name:- confirm_complete
Type:- BOOL
Description:- Operator confirms filtration is complete
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::30
--------------------------------------------------
Name:- r_mass_throttle
Type:- REAL
Description:- Mass nearing the end of transfer
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::31
--------------------------------------------------
Name:- r_pres_hpca_filt2
Type:- REAL
Description:- HCPA Pressure control setpoint 2
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::32
--------------------------------------------------
Name:- time_filtration_end
Type:- TOD
Description:- Logging filtration operation end time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::33
--------------------------------------------------
Name:- emx_mmfl_cmd
Type:- INT
Description:- Command to emx_mmfl
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::34
--------------------------------------------------
Name:- emx_mmfl_subs
Type:- INT
Description:- Substate selection of emx_mmfl
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::35
--------------------------------------------------
Name:- emc_gas_state
Type:- INT
Description:- Device State of emc_gas
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::36
--------------------------------------------------
Name:- emc_gas_subs
Type:- INT
Description:- Substate selection to emc_gas
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::37
--------------------------------------------------
Name:- emc_water_state
Type:- INT
Description:- Device state of emc_water
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::38
--------------------------------------------------
Name:- emc_water_subs
Type:- INT
Description:- Substate selection to emc_water
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::39
--------------------------------------------------
Name:- emc_gas_setpoint
Type:- REAL
Description:- emc_gas_setpoint
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::40
--------------------------------------------------
Name:- emx_mmfl_state
Type:- INT
Description:- Device State of emx_mmfl
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::41
--------------------------------------------------
Name:- emc_water_cmd
Type:- INT
Description:- Command to emc_water
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::42
--------------------------------------------------
Name:- emc_gas_cmd
Type:- INT
Description:- Command to emc_gas
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::43
--------------------------------------------------
Name:- emc_gas_medium_gas
Type:- INT
Description:- emc_gas_medium
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::44
--------------------------------------------------
Name:- ema_vessel_state
Type:- INT
Description:- Device State of ema_vessel
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::45
--------------------------------------------------
Name:- ema_vessel_subs
Type:- INT
Description:- Substate selection to ema_vessel
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::46
--------------------------------------------------
Name:- ema_vessel_cmd
Type:- INT
Description:- ema_vessel_cmd
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::47
--------------------------------------------------
Name:- r_pres_hpca_filt
Type:- REAL
Description:- HCPA Pressure control setpoint 1
ParameterInOut:- IN


--------------------------------------------------
STEP::01
--------------------------------------------------
StepNo:- 01
Title:- UO_MX_SIP : Mx Filtration to FLz Unit Operation Commenced
Description:- Log Mx Fill operation begin time.
Connect Pre Filter to to Flow Plate FPx1.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Log Mx Fill operation begin time.
Propt operator to cinfirm Pre-Filter is connected to FPn1 ZSCn113 by starting EMX1_SETUP_FILTER.
Action:- //Log Mx Fill operation begin time.
L "dbCONST".CHRONO.CPU_TIME;
T #_time_fill_begin;

SET;
S #_log_time_fill_begin;

//Start EMX1_SETUP_FILTER.
L "dbCONST".BLK.EMX1.SUBS.SETUP_FILTER;
T #_emx_mmfl_subs;
L "dbCONST".BLK.CMD.START;
T #_emx_mmfl_cmd;
Verification:- A(;
L #_emx_mmfl_state;
L "dbCONST".BLK.EMX1.SUBS.SETUP_FILTER;
==I;
);


--------------------------------------------------
TRANSITION::01
--------------------------------------------------
TRNNo:- 01
Title:- Confirmation Received
EmptyTransition:- False
Description:- Confirmation from the Operator Received
Condition:- //EMX1 Filter Setup completed.
A(;
L  #_emx_mmfl_state;
L  "dbCONST".BLK.STATE.COMPLETED;
==I;
);


--------------------------------------------------
STEP::02
--------------------------------------------------
StepNo:- 02
Title:- UO_MX_FILL : Start filtration.
Description:- Set all Mx equipment to safe state with Mx LCPA control enabled and vent valve closed.

Prompt operator to start filtration.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Set all Mx equipment to safe state with Mx LCPA control enabled and vent valve closed.

Action:- // Enable Mx LPCA pressure control.
L "dbCONST".SEL.GAS.LPCA;
T #_emc_gas_medium_gas;
L "dbCONST".BLK.EMC1.SUBS.PRESSURE;
T #_emc_gas_subs;
L  "dbCONST".BLK.CMD.START;
T #_emc_gas_cmd;

//Set all Mx equipment to safe state.
L "dbCONST".BLK.CMD.STOP;
T  #_ema_vessel_cmd;
L "dbCONST".BLK.SAFE.CMD;
T  #_ema_vessel_subs;

L "dbCONST".BLK.CMD.STOP;
T  #_emc_water_cmd;
L "dbCONST".BLK.SAFE.CMD;
T  #_emc_water_subs;

L "dbCONST".BLK.CMD.STOP;
T  #_emv_vessel_cmd;
L "dbCONST".BLK.SAFE.CMD;
T  #_emv_vessel_subs;

L "dbCONST".BLK.CMD.STOP;
T  #_emx_transfer_cmd;
L "dbCONST".BLK.SAFE.CMD;
T  #_emx_transfer_subs;

Verification:- A(;
L #_emc_gas_state;
L "dbCONST".BLK.EMC1.SUBS.PRESSURE;
==I;
);
A(;
L #_emc_water_state;
L "dbCONST".BLK.STATE.STOPPED;
==I;
);
A(;
L #_emv_vessel_state;
L "dbCONST".BLK.STATE.STOPPED;
==I;
);
A(;
L #_emx_transfer_state;
L "dbCONST".BLK.STATE.STOPPED;
==I;
);


--------------------------------------------------
ACTION::02
--------------------------------------------------
Description:- Prompt operator to start filtration and reset flags.
Action:- SET;
S #_prompt_filtration;
Verification:- A "uncondJump";


--------------------------------------------------
TRANSITION::02
--------------------------------------------------
TRNNo:- 02
Title:- Operator confirmation
EmptyTransition:- False
Description:- Wait for operator confirmation to start filtration
Condition:- A #_prompt_filtration_confirm_yes;


--------------------------------------------------
STEP::03
--------------------------------------------------
StepNo:- 03
Title:- UO_MX_FILL : Enable HEX Temperature control 
Description:- Log filtration start time.
Enable HEX Temperature control with TEMP_FILT setpoint.

Set Mx LPCA valve fully open.
Set Mx Outlet valve open (DISCHARGE).
Open MMFLx transfer path to FLz.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Log filtration start time.
Enable HEX Temperature control with TEMP_FILT setpoint.
Action:- //Log filtration start time.
L "dbCONST".CHRONO.CPU_TIME;
T #_time_filtration_start;

SET;
S #_log_time_filtration_start;
R #_prompt_filtration_confirm_yes;

L  #_r_temp_filt;
T  #_emt_hex_setpoint;

//Start EMT_PREEMPT.
L  "dbCONST".BLK.EMT1.SUBS.PREEMPT;
T  #_emt_hex_subs;
L  "dbCONST".BLK.CMD.START;
T  #_emt_hex_cmd;
Verification:- //Verify if emt_hex changed to substate PREEMPT.
A(;
L #_emt_hex_state;
L  "dbCONST".BLK.EMT1.SUBS.PREEMPT;
==I;
);

--------------------------------------------------
ACTION::02
--------------------------------------------------
Description:- Open Mx outlet valve (STATE=DISCHARGE) and fully open LPCA valve.
Open MMFLx transfer path to FLz.
Action:- //Open Mx outlet valve.
L "dbCONST".BLK.EMV1.SUBS.DISCHARGE;
T #_emv_vessel_subs;
L "dbCONST".BLK.CMD.START;
T #_emv_vessel_cmd;

//Fully open LPCA valve 
L "dbCONST".SEL.GAS.LPCA;
T #_emc_gas_medium_gas;
L "dbCONST".BLK.EMC1.SUBS.VALVE;
T #_emc_gas_subs;
L  "dbCONST".BLK.CMD.START;
T #_emc_gas_cmd;

//Start FILTER.
L "dbCONST".BLK.EMX1.SUBS.FILTER; 
T #_emx_mmfl_subs;
L "dbCONST".BLK.CMD.START;
T #_emx_mmfl_cmd;

L "dbCONST".BLK.EMX6.SUBS.FILTER_BLEED; 
T #_emx_smfl_subs;
L "dbCONST".BLK.CMD.START;
T #_emx_smfl_cmd;

L "dbCONST".BLK.EMX2.SUBS.FILL_MX;
T #_emx_transfer_subs;
L "dbCONST".BLK.CMD.START;
T #_emx_transfer_cmd;
Verification:- A(;
L #_emv_vessel_state;
L "dbCONST".BLK.EMV1.SUBS.DISCHARGE;
==I;
);
A(;
L #_emc_gas_state;
L "dbCONST".BLK.EMC1.SUBS.VALVE;
==I;
);
A(;
L #_emx_mmfl_state;
L  "dbCONST".BLK.EMX1.SUBS.FILTER;
==I;
);
A(;
L #_emx_transfer_state;
L  "dbCONST".BLK.EMX2.SUBS.FILL_MX;
==I;
);
A(;
L #_emx_smfl_state;
L  "dbCONST".BLK.EMX6.SUBS.FILTER_BLEED;
==I;
);


--------------------------------------------------
TRANSITION::03
--------------------------------------------------
TRNNo:- 03
Title:- Emx_smfl completed.
EmptyTransition:- False
Description:- Emx_smfl completed.
Condition:- A(;
L   #_emx_smfl_state;
L   "dbCONST".BLK.STATE.COMPLETED;
==I;
);


--------------------------------------------------
STEP::04
--------------------------------------------------
StepNo:- 04
Title:- UO_MX_FILL : Open filter outlet valve.
Description:- Open filter outlet valve.

Close Mx LPCA valve.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Open filter outlet valve, DVx137.
Action:- //Set emx_smfl to substate FILTER.
L  "dbCONST".BLK.EMX6.SUBS.FILTER;
T  #_emx_smfl_subs;
L  "dbCONST".BLK.CMD.START;
T  #_emx_smfl_cmd;

//Set emt_hex to substate COOL.
L  "dbCONST".BLK.EMT1.SUBS.COOL;
T  #_emt_hex_subs;
L  "dbCONST".BLK.CMD.START;
T  #_emt_hex_cmd;
Verification:- //Verify if Emx_smfl changed to substate FILTER.
A(;
L  #_emx_smfl_state;
L  "dbCONST".BLK.EMX6.SUBS.FILTER;
==I;
);
//Verify if emt_hex changed to substate COOL
A(;
L  #_emt_hex_state;
L  "dbCONST".BLK.EMT1.SUBS.COOL;
==I;
);

--------------------------------------------------
ACTION::02
--------------------------------------------------
Description:- Close Mx LPCA valve.
Action:- L "dbCONST".BLK.SAFE.CMD;
T  #_emc_gas_subs;
L "dbCONST".BLK.CMD.STOP;
T  #_emc_gas_cmd;
Verification:- A "uncondJump";


--------------------------------------------------
TRANSITION::04
--------------------------------------------------
TRNNo:- 04
Title:- Mx LPCA valve closed?
EmptyTransition:- False
Description:- Wait for Mx LPCA valve closed.
Condition:- A(;
L #_emc_gas_state;
L "dbCONST".BLK.STATE.STOPPED;
==I;
);


--------------------------------------------------
STEP::05
--------------------------------------------------
StepNo:- 05
Title:- UO_MX_FILL : Enable HPCA pressure control.
Description:- Set Mx HPCA pressure control at setpoint PRES_HPCA_FILT.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- HPCA pressure control at setpoint PRES_HPCA_FILT.
Action:- // Enable Mx HPCA pressure control at setpoint PRES_HPCA_FILT.
L  #_r_pres_hpca_filt;
T  #_emc_gas_setpoint;
L  "dbCONST".SEL.GAS.HPCA;
T  #_emc_gas_medium_gas;
L  "dbCONST".BLK.EMC1.SUBS.PRESSURE;
T  #_emc_gas_subs;
L  "dbCONST".BLK.CMD.START;
T  #_emc_gas_cmd;
Verification:- A(;
L #_emc_gas_state;
L "dbCONST".BLK.EMC1.SUBS.PRESSURE;
==I;
);


--------------------------------------------------
TRANSITION::05
--------------------------------------------------
TRNNo:- 05
Title:- Mass of Vessel has reach throttled mass
EmptyTransition:- False
Description:- Mass_Throttle_Mx has reach set point.
Condition:- A(;
L #_r_mass_throttle;
L #_emm_vessel_mass_nett;
>=R;
);


--------------------------------------------------
STEP::06
--------------------------------------------------
StepNo:- 06
Title:- UO_MX_FILL : Enable HPCA pressure control for new set point.
Description:- Set Mx HPCA pressure control at setpoint PRES_HPCA_FILT set point 2.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- HPCA pressure control at setpoint 2, PRES_HPCA_FILT2.
Action:- // Set HPCA valve pressure control at setpoint 2
L #_r_pres_hpca_filt2;
T #_emc_gas_setpoint;
Verification:- A "uncondJump";


--------------------------------------------------
TRANSITION::06
--------------------------------------------------
TRNNo:- 06
Title:- Filtration complete?
EmptyTransition:- False
Description:- Wait for operator to confirm filtration is complete.
Condition:- A #_confirm_complete;


--------------------------------------------------
STEP::07
--------------------------------------------------
StepNo:- 07
Title:- UO_MX_FILL : Filtration completed.
Description:- Log operator confirmation transfer complete and filtration operation end time.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Log operator confirmation transfer complete and filtration operation end time.
Action:- //Log operator confirmation transfer complete 
SET;
S #_log_msg_filtration_complete;

//Log FILTRATION operation end time
L "dbCONST".CHRONO.CPU_TIME;
T #_time_filtration_end;

SET;
S #_log_time_filtration_end;

Verification:- A "uncondJump";


--------------------------------------------------
TRANSITION::07
--------------------------------------------------
TRNNo:- 07
Title:- Empty Transition
EmptyTransition:- False
Description:- Jump
Condition:- A "uncondJump";


--------------------------------------------------
STEP::08
--------------------------------------------------
StepNo:- 08
Title:- UO_MX_FILL : Disable HPCA control
Description:- Disable HEX Temperature control and Mx HPCA control.

Close sterile filter outlet valve and path sequentially up to including Sy outlet valve.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Disable HEX temperature control, HPCA control and stop filter.
Action:- //Stop EMT_PREEMPT.
L "dbCONST".BLK.SAFE.CMD;
T  #_emt_hex_subs;
L "dbCONST".BLK.CMD.STOP;
T  #_emt_hex_cmd;

//Disable HPCA control.
L "dbCONST".BLK.SAFE.CMD;
T  #_emc_gas_subs;
L "dbCONST".BLK.CMD.STOP;
T  #_emc_gas_cmd;

//Stop FILTER.
L "dbCONST".BLK.SAFE.CMD;
T #_emx_mmfl_subs;
L "dbCONST".BLK.CMD.STOP;
T #_emx_mmfl_cmd;

L "dbCONST".BLK.SAFE.CMD;
T #_emx_transfer_subs;
L "dbCONST".BLK.CMD.STOP;
T #_emx_transfer_cmd;

L "dbCONST".BLK.SAFE.CMD;
T #_emx_smfl_subs;
L "dbCONST".BLK.CMD.STOP;
T #_emx_smfl_cmd;
Verification:- A(;
L #_emt_hex_state;
L "dbCONST".BLK.STATE.STOPPED;
==I;
);
A(;
L #_emc_gas_state;
L "dbCONST".BLK.STATE.STOPPED;
==I;
);
A(;
L #_emx_mmfl_state;
L "dbCONST".BLK.STATE.STOPPED;
==I;
);
A(;
L #_emx_transfer_state;
L "dbCONST".BLK.STATE.STOPPED;
==I;
);
A(;
L #_emx_smfl_state;
L "dbCONST".BLK.STATE.STOPPED;
==I;
);


--------------------------------------------------
TRANSITION::08
--------------------------------------------------
TRNNo:- 08
Title:- Empty transition.
EmptyTransition:- False
Description:- Unconditional jump
Condition:- A "uncondJump";


--------------------------------------------------
STEP::09
--------------------------------------------------
StepNo:- 09
Title:- UO_MX_FILL : Filling Unit Operation Completed
Description:- Disable Mx manway alarm and low pressure alarm.
Log Mx Fill operation end time.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Disable Mx manway alarm and low pressure alarm.
Log Mx Fill operation end time.
Action:- //Set emv_vessel to substate MANWAY and start it to disable Manway alarm.
L "dbCONST".BLK.EMV1.SUBS.MANWAY;
T #_emv_vessel_subs;
L "dbCONST".BLK.CMD.START;
T #_emv_vessel_cmd;

//Log Mx Fill operation end time.
L "dbCONST".CHRONO.CPU_TIME;
T #_time_fill_end;

SET;
S #_log_time_fill_end;
Verification:- A(;
L #_emv_vessel_state;
L "dbCONST".BLK.EMV1.SUBS.MANWAY;
==I;
);


****************************************************************************************************
END SSS REPORT
****************************************************************************************************
