****************************************************************************************************
SEQUENCE STEP SCHEDULE
generated on 16/09/2018 4:59:29 PM by David Paspa
****************************************************************************************************





--------------------------------------------------
SEQUENCE
--------------------------------------------------

SFCNo:- 2
Title:- UO_SY_CIP
Description:- Unit Operation for setup of storage vessel equipment
Name:- CIP
Class:- SY
Level:- UO
STEP_LIST_FORMAT:- JU    S0@@STEP_NUM@@; // STEP-0@@STEP_NUM@@:
ACT_LIST_FORMAT:- JU    @@ACT_CODE@@@@STEP_NUM@@; //ACTION-@@ACT_NUM@@
HeaderName:- SUCIP
Version:- 0.1
RevisionHistory:- // SFC Revision History:
// Rev By               Date        CC         Note
// 0.1 Gerald Kontriner 14-Sep-2009            SFC structural design
HMI_FORMAT:- @@STEP_NUM_INT@@,@@STEP_TITLE@@

--------------------------------------------------
PARAMETER::1
--------------------------------------------------
Name:- emv_inlet_state
Type:- INT
Description:- Sprayball inlet valves state
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::2
--------------------------------------------------
Name:- emv_inlet_subs
Type:- INT
Description:- Sprayball inlet valves substate
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::3
--------------------------------------------------
Name:- emv_inlet_cmd
Type:- INT
Description:- Sprayball inlet valves command
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::4
--------------------------------------------------
Name:- emx_smfl_hygiene
Type:- INT
Description:- Description
ParameterInOut:- IN_OUT

--------------------------------------------------
PARAMETER::5
--------------------------------------------------
Name:- emx_fill_hygiene
Type:- INT
Description:- Description
ParameterInOut:- IN_OUT

--------------------------------------------------
PARAMETER::6
--------------------------------------------------
Name:- emx_transfer_hygiene
Type:- INT
Description:- Description
ParameterInOut:- IN_OUT

--------------------------------------------------
PARAMETER::7
--------------------------------------------------
Name:- emx_smfldrn_hygiene
Type:- INT
Description:- Description
ParameterInOut:- IN_OUT

--------------------------------------------------
PARAMETER::8
--------------------------------------------------
Name:- vessel_sy
Type:- INT
Description:- Storage vessel selection S1 or S2
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::9
--------------------------------------------------
Name:- fill_flz
Type:- INT
Description:- Filling line selection FL1 or FL2
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::10
--------------------------------------------------
Name:- vessel_mx
Type:- INT
Description:- Manufacturing vessel selection M1 or M2
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::11
--------------------------------------------------
Name:- emc_water_sy_medium_liquid
Type:- INT
Description:- Medium selection of emc_water
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::12
--------------------------------------------------
Name:- prompt_steam_confirm_no
Type:- BOOL
Description:- UO_SY_CIP Operator to confirm if steaming is required confirmed no
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::13
--------------------------------------------------
Name:- prompt_steam
Type:- BOOL
Description:- UO_SY_CIP Operator to confirm if steaming is required
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::14
--------------------------------------------------
Name:- r_time_wfi_rinse_smflx
Type:- TIME
Description:- Description
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::15
--------------------------------------------------
Name:- r_time_pw_wash_smflx
Type:- TIME
Description:- SMFLx rinse time with PW
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::16
--------------------------------------------------
Name:- emc_water_sy_runtime
Type:- TIME
Description:- run time for emc_water
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::17
--------------------------------------------------
Name:- wfi_steam_begin_time
Type:- TOD
Description:- Description
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::18
--------------------------------------------------
Name:- wfi_steam_end_time
Type:- TOD
Description:- Description
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::19
--------------------------------------------------
Name:- time_act_wfi_steam
Type:- TIME
Description:- UO_SY_CIP WFI inlet steaming time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::20
--------------------------------------------------
Name:- log_time_act_wfi_steam
Type:- BOOL
Description:- UO_SY_CIP WFI inlet steaming time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::21
--------------------------------------------------
Name:- wfi_smflx_rinse_begin_time
Type:- TOD
Description:- Description
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::22
--------------------------------------------------
Name:- wfi_smflx_rinse_end_time
Type:- TOD
Description:- Description
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::23
--------------------------------------------------
Name:- time_act_wfi_smflx_rinse
Type:- TIME
Description:- UO_SY_CIP MX transfer line rinse time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::24
--------------------------------------------------
Name:- log_time_act_wfi_smflx_rinse
Type:- BOOL
Description:- UO_SY_CIP MX transfer line rinse time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::25
--------------------------------------------------
Name:- wfi_flz_rinse_begin_time
Type:- TOD
Description:- Description
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::26
--------------------------------------------------
Name:- wfi_flz_rinse_end_time
Type:- TOD
Description:- Description
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::27
--------------------------------------------------
Name:- time_act_wfi_flz_rinse
Type:- TIME
Description:- UO_SY_CIP Filling line rinse time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::28
--------------------------------------------------
Name:- log_time_act_wfi_flz_rinse
Type:- BOOL
Description:- UO_SY_CIP Filling line rinse time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::29
--------------------------------------------------
Name:- wfi_wash_begin_time
Type:- TOD
Description:- Description
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::30
--------------------------------------------------
Name:- wfi_wash_end_time
Type:- TOD
Description:- Description
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::31
--------------------------------------------------
Name:- time_act_wfi_wash
Type:- TIME
Description:- UO_SY_CIP WFI rinse time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::32
--------------------------------------------------
Name:- log_time_act_wfi_wash
Type:- BOOL
Description:- UO_SY_CIP WFI rinse time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::33
--------------------------------------------------
Name:- pw_steam_begin_time
Type:- TOD
Description:- Description
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::34
--------------------------------------------------
Name:- pw_steam_end_time
Type:- TOD
Description:- Description
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::35
--------------------------------------------------
Name:- time_act_pw_steam
Type:- TIME
Description:- UO_SY_CIP PW inlet steaming time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::36
--------------------------------------------------
Name:- log_time_act_pw_steam
Type:- BOOL
Description:- UO_SY_CIP PW inlet steaming time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::37
--------------------------------------------------
Name:- pw_smflx_rinse_begin_time
Type:- TOD
Description:- UO_SY_CIP MX transfer line rinse begin time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::38
--------------------------------------------------
Name:- pw_smflx_rinse_end_time
Type:- TOD
Description:- UO_SY_CIP MX transfer line rinse end time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::39
--------------------------------------------------
Name:- time_act_pw_smflx_rinse
Type:- TIME
Description:- UO_SY_CIP MX transfer line rinse time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::40
--------------------------------------------------
Name:- log_time_act_pw_smflx_rinse
Type:- BOOL
Description:- UO_SY_CIP MX transfer line rinse time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::41
--------------------------------------------------
Name:- pw_flz_rinse_begin_time
Type:- TOD
Description:- UO_SY_CIP Filling line PW rinse begin time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::42
--------------------------------------------------
Name:- pw_flz_rinse_end_time
Type:- TOD
Description:- UO_SY_CIP Filling line PW rinse end time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::43
--------------------------------------------------
Name:- pw_wash_begin_time
Type:- TOD
Description:- PW wash begin time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::44
--------------------------------------------------
Name:- pw_wash_end_time
Type:- TOD
Description:- PW wash end time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::45
--------------------------------------------------
Name:- log_time_act_pw_wash
Type:- BOOL
Description:- UO_SY_CIP PW wash time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::46
--------------------------------------------------
Name:- time_act_pw_flz_rinse
Type:- TIME
Description:- UO_SY_CIP Filling line PW rinse time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::47
--------------------------------------------------
Name:- log_time_act_pw_flz_rinse
Type:- BOOL
Description:- UO_SY_CIP Filling line PW rinse time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::48
--------------------------------------------------
Name:- log_msg_cip_begin
Type:- BOOL
Description:- UO_SY_CIP begin time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::49
--------------------------------------------------
Name:- log_msg_cip_end
Type:- BOOL
Description:- UO_SY_CIP end time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::50
--------------------------------------------------
Name:- emx_transfer_cmd
Type:- INT
Description:- Command to emx_transfer
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::51
--------------------------------------------------
Name:- emx_transfer_subs
Type:- INT
Description:- Substate selection emx_transfer
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::52
--------------------------------------------------
Name:- emx_transfer_state
Type:- INT
Description:- Device State of emx_transfer
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::53
--------------------------------------------------
Name:- emx_drain_cmd
Type:- INT
Description:- Command to emx_drain
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::54
--------------------------------------------------
Name:- emx_drain_subs
Type:- INT
Description:- Substate selection emx_drain
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::55
--------------------------------------------------
Name:- emx_drain_state
Type:- INT
Description:- Device State of emx_drain
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::56
--------------------------------------------------
Name:- r_time_wfi_steam_sy
Type:- TIME
Description:- Timer For WFI PS Steam
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::57
--------------------------------------------------
Name:- r_time_pw_wash_flz
Type:- TIME
Description:- PW FLZ rinse time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::58
--------------------------------------------------
Name:- log_msg_wfi_rinse_fl_line_end
Type:- BOOL
Description:- UO_SY_CIP WFI Rinse filtration line end
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::59
--------------------------------------------------
Name:- log_msg_wfi_rinse_fl_line_begin
Type:- BOOL
Description:- UO_SY_CIP WFI Rinse filtration line begin
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::60
--------------------------------------------------
Name:- log_msg_wfi_rinse_end
Type:- BOOL
Description:- UO_SY_CIP WFI Rinse end
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::61
--------------------------------------------------
Name:- log_msg_wfi_rinse_begin
Type:- BOOL
Description:- UO_SY_CIP WFI Rinse begin
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::62
--------------------------------------------------
Name:- log_msg_pw_wash_end
Type:- BOOL
Description:- UO_SY_CIP PW Wash end
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::63
--------------------------------------------------
Name:- log_msg_pw_wash_begin
Type:- BOOL
Description:- UO_SY_CIP PW Wash begin
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::64
--------------------------------------------------
Name:- r_time_pw_steam_sy
Type:- TIME
Description:- Timer For PW PS Steam
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::65
--------------------------------------------------
Name:- emc_gas_subs
Type:- INT
Description:- Substate selection to emc_gas
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::66
--------------------------------------------------
Name:- emc_water_sy_state
Type:- INT
Description:- Device State of emc_water
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::67
--------------------------------------------------
Name:- emv_vessel_subs
Type:- INT
Description:- Substate selection to emv_vessel
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::68
--------------------------------------------------
Name:- emc_water_sy_subs
Type:- INT
Description:- Substate selection to emc_water
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::69
--------------------------------------------------
Name:- emc_water_sy_cmd
Type:- INT
Description:- Command to emc_water
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::70
--------------------------------------------------
Name:- emv_vessel_cmd
Type:- INT
Description:- Command to emv_vessel
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::71
--------------------------------------------------
Name:- emv_vessel_state
Type:- INT
Description:- Device State of emv_vessel
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::72
--------------------------------------------------
Name:- emc_gas_medium_gas
Type:- INT
Description:- Medium selection of emc_gas
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::73
--------------------------------------------------
Name:- emc_gas_state
Type:- INT
Description:- Device State of emc_gas
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::74
--------------------------------------------------
Name:- emc_gas_cmd
Type:- INT
Description:- Command to emc_gas
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::75
--------------------------------------------------
Name:- time_act_pw_wash
Type:- TIME
Description:- UO_SY_CIP PW wash time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::76
--------------------------------------------------
Name:- r_time_wfi_empty_sy
Type:- TIME
Description:- Time to wait to empty the vessel after WFI rinse
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::77
--------------------------------------------------
Name:- r_time_wfi_rinse_flz
Type:- TIME
Description:- Time for WFI rinse of filling line
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::78
--------------------------------------------------
Name:- r_time_wfi_rinse_sy
Type:- TIME
Description:- Time for WFI rinse of vessel
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::79
--------------------------------------------------
Name:- r_time_pw_empty_sy
Type:- TIME
Description:- Time to empty the vessel after the PW wash
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::80
--------------------------------------------------
Name:- r_time_pw_wash_sy
Type:- TIME
Description:- PW vessel wash time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::81
--------------------------------------------------
Name:- prompt_steam_confirm_yes
Type:- BOOL
Description:- UO_SY_CIP Operator to confirm if steaming is required confirmed yes
ParameterInOut:- VAR


--------------------------------------------------
STEP::01
--------------------------------------------------
StepNo:- 01
Title:- SY_UO_CIP : Unit Operation Commenced
Description:- Log CIP operation begin time.
Set SMFL, SVT and FLZ hygiene status to CIP.
Open tank path to outlet drain line.
Open Sy tank outlet valve.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Reset EMs
Action:- L "dbCONST".BLK.CMD.STOP;
T #_emv_inlet_cmd;
T #_emv_vessel_cmd;
T #_emx_transfer_cmd;
T #_emx_drain_cmd;
Verification:- A(;
L   #_emv_inlet_state;
L   "dbCONST".BLK.STATE.STOPPED;
==I;
);
A(;
L   #_emv_vessel_state;
L   "dbCONST".BLK.STATE.STOPPED;
==I;
);
A(;
L   #_emx_transfer_state;
L   "dbCONST".BLK.STATE.STOPPED;
==I;
);
A(;
L   #_emx_drain_state;
L   "dbCONST".BLK.STATE.STOPPED;
==I;
);

--------------------------------------------------
ACTION::02
--------------------------------------------------
Description:- Log CIP operation begin time.
Set SMFL, SVT and FLZ hygiene status to CIP.
Open tank path to outlet drain line.
Open Sy tank outlet valve (DISCHARGE)
Action:- //Log Sy CIP operation begin time.
SET;
S #_log_msg_cip_begin;

//Set SMFL, SVT and FLZ hygiene status to CIP.
L  "dbCONST".BLK.HYGIENE.CIP;
T #_emx_fill_hygiene;
T #_emx_transfer_hygiene;
T #_emx_smfl_hygiene;
T #_emx_smfldrn_hygiene;

// Open Sy inlet sprayball valves
L "dbCONST".BLK.EMV2.SUBS.CHARGE;
T #_emv_inlet_subs;
L "dbCONST".BLK.CMD.START;
T #_emv_inlet_cmd;

// Open Sy outlet valve
L "dbCONST".BLK.EMV1.SUBS.DISCHARGE;
T #_emv_vessel_subs;
L "dbCONST".BLK.CMD.START;
T #_emv_vessel_cmd;

L "dbCONST".BLK.EMX2.SUBS.CIP_SY;
T #_emx_transfer_subs;
L "dbCONST".BLK.CMD.START;
T #_emx_transfer_cmd;

L "dbCONST".BLK.EMX4.SUBS.CIP;
T #_emx_drain_subs;
L "dbCONST".BLK.CMD.START;
T #_emx_drain_cmd;
Verification:- A(;
L #_emv_vessel_subs;
L "dbCONST".BLK.EMV1.SUBS.DISCHARGE;
==I;
);
A(;
L #_emx_transfer_subs;
L "dbCONST".BLK.EMX2.SUBS.CIP_SY;
==I;
);
A(;
L #_emx_drain_subs;
L "dbCONST".BLK.EMX4.SUBS.CIP;
==I;
);


--------------------------------------------------
TRANSITION::01
--------------------------------------------------
TRNNo:- 01
Title:- Discharge Complete?
EmptyTransition:- False
Description:- EVn004 substate DISCHARGE is complete and Parent indicates SMFLx, FPz and FLz Units ready for flushing.
Condition:- A(;
L   #_emv_inlet_state;
L   "dbCONST".BLK.STATE.COMPLETED;
==I;
);
A(;
L   #_emv_vessel_state;
L   "dbCONST".BLK.STATE.COMPLETED;
==I;
);
A(;
L   #_emx_transfer_state;
L   "dbCONST".BLK.STATE.COMPLETED;
==I;
);
A(;
L   #_emx_drain_state;
L   "dbCONST".BLK.STATE.COMPLETED;
==I;
);


--------------------------------------------------
STEP::02
--------------------------------------------------
StepNo:- 02
Title:- SY_UO_CIP : Commence Flush with PW
Description:- Open HPCA supply valve. 
Start timer to flush Tank with TIME_PW_WASH.

Open PW supply to flush tank.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Reset gas and water EMs
Action:- L "dbCONST".BLK.CMD.STOP;
T #_emc_gas_cmd;
T #_emc_water_sy_cmd;
Verification:- A(;
L   #_emc_gas_state;
L   "dbCONST".BLK.STATE.STOPPED;
==I;
);
A(;
L   #_emc_water_sy_state;
L   "dbCONST".BLK.STATE.STOPPED;
==I;
);

--------------------------------------------------
ACTION::02
--------------------------------------------------
Description:- Open HPCA supply valve. 

Action:- // Open CA supply valve
L "dbCONST".SEL.GAS.HPCA;
T #_emc_gas_medium_gas;
L "dbCONST".BLK.EMC1.SUBS.VALVE;  
T #_emc_gas_subs;
L "dbCONST".BLK.CMD.START;
T #_emc_gas_cmd;
Verification:- A(;
L #_emc_gas_subs;
L "dbCONST".BLK.EMC1.SUBS.VALVE;  
==I;
);

--------------------------------------------------
ACTION::03
--------------------------------------------------
Description:- Load TIME_PW_WASH.
Open PW supply and start FLUSH.
Store PW Wash begin time.
Action:- //Load TIME_PW_WASH_Sy.
SET;
L #_r_time_pw_wash_sy;
T #_emc_water_sy_runtime;

// Open PW supply.
L "dbCONST".SEL.LIQUID.PW;
T #_emc_water_sy_medium_liquid;
L "dbCONST".BLK.EMC3.SUBS.FLUSH;
T #_emc_water_sy_subs;
L "dbCONST".BLK.CMD.START;
T #_emc_water_sy_cmd;

//Store PW Wash begin time.
L "dbCONST".CHRONO.CPU_TIME;
T #_pw_wash_begin_time;

//Report Event Set
SET;
S #_log_msg_pw_wash_begin;
Verification:- //Verify if emc_water changed to substate FLUSH.
A(;
L   #_emc_water_sy_subs;
L   "dbCONST".BLK.EMC3.SUBS.FLUSH;
==I;
);


--------------------------------------------------
TRANSITION::02
--------------------------------------------------
TRNNo:- 02
Title:- Timer expired
EmptyTransition:- False
Description:- Timer Sy_TIME_PW_WASH expired.
Condition:- A(;
L   #_emc_gas_state;
L   "dbCONST".BLK.STATE.COMPLETED;
==I;
);
A(;
L   #_emc_water_sy_state;
L   "dbCONST".BLK.STATE.COMPLETED;
==I;
);


--------------------------------------------------
STEP::03
--------------------------------------------------
StepNo:- 03
Title:- Sy_UO_CIP : Set Flag for Sy_PW_Wash_Complete
Description:- Log actual Sy PW wash time.
Divert path to Filling Machine FLz and Drain Line.

Start Timer for rinse FLz with PW, time_pw_wash_flz.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Action Description
Action:- L "dbCONST".BLK.CMD.STOP;
T #_emc_water_sy_cmd;
T  #_emx_transfer_cmd;
Verification:- A(;
L   #_emc_water_sy_state;
L   "dbCONST".BLK.STATE.STOPPED;
==I;
);
A(;
L   #_emx_transfer_state;
L   "dbCONST".BLK.STATE.STOPPED;
==I;
);

--------------------------------------------------
ACTION::02
--------------------------------------------------
Description:- Log actual tank PW wash time
Divert path to Filling Machine FLz and Drain Line.
Stop emx_drain.

Action:- //Store PW wash end time.
L "dbCONST".CHRONO.CPU_TIME;
T #_pw_wash_end_time;

//Log actual tank PW wash time.
CALL T_DIFF
{date_type := 'Time_Of_Day', time_type := 'Time'}
(  IN1                         := #_pw_wash_end_time ,
   IN2                         := #_pw_wash_begin_time ,
  OUT                         := #_time_act_pw_wash
);
SET;
S #_log_time_act_pw_wash;

//Divert path to Filling Machine FLz and Drain Line.
      L     "dbCONST".BLK.EMX2.SUBS.FILL_SY;
      T     #_emx_transfer_subs;
      L     "dbCONST".BLK.CMD.START;
      T     #_emx_transfer_cmd;

//Stop emx_drain.
L "dbCONST".BLK.CMD.STOP;
T  #_emx_drain_cmd;
Verification:- A(;    
      L     #_emx_transfer_subs;
      L     "dbCONST".BLK.EMX2.SUBS.FILL_SY;
      ==I;
 );
A(;
   L #_emx_drain_state;
   L "dbCONST".BLK.STATE.STOPPED;
   ==I;
);


--------------------------------------------------
ACTION::03
--------------------------------------------------
Description:- Start Timer for rinse FLz with PW.
Action:- L #_r_time_pw_wash_flz;
T #_emc_water_sy_runtime;

// Open PW supply.
L "dbCONST".SEL.LIQUID.PW;
T #_emc_water_sy_medium_liquid;
L "dbCONST".BLK.EMC3.SUBS.FLUSH;
T #_emc_water_sy_subs;
L "dbCONST".BLK.CMD.START;
T #_emc_water_sy_cmd;

//Store FLz rinse begin time.
L "dbCONST".CHRONO.CPU_TIME;
T #_pw_flz_rinse_begin_time;
Verification:- //Verify if emc_water changed to substate FLUSH.
A(;
L   #_emc_water_sy_subs;
L   "dbCONST".BLK.EMC3.SUBS.FLUSH;
==I;
);


--------------------------------------------------
TRANSITION::03
--------------------------------------------------
TRNNo:- 03
Title:- FLz Rinse Complete
EmptyTransition:- False
Description:- FLz Rinse Complete
Condition:- A(;
L   #_emc_water_sy_state;
L   "dbCONST".BLK.STATE.COMPLETED;
==I;
);
A(;
L   #_emx_transfer_state;
L   "dbCONST".BLK.STATE.COMPLETED;
==I;
);


--------------------------------------------------
STEP::04
--------------------------------------------------
StepNo:- 04
Title:- Sy_UO_CIP : Set Flag for FLz_PW_Wash_Complete
Description:- Log actual FLz PW rinse time.

Divert path to SMFLx.
Close path to Filling Macine FLz and Drain Line.

Start Timer for SMFLx rinse, time_pw_wash_smflx.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Reset EMs
Action:- L "dbCONST".BLK.CMD.STOP;
T #_emc_water_sy_cmd;
T  #_emx_transfer_cmd;
Verification:- A(;
L   #_emc_water_sy_state;
L   "dbCONST".BLK.STATE.STOPPED;
==I;
);
A(;
L   #_emx_transfer_state;
L   "dbCONST".BLK.STATE.STOPPED;
==I;
);

--------------------------------------------------
ACTION::02
--------------------------------------------------
Description:- Log actual PW Filling Transfer Line and Filling Machine rinse time.
Divert path to SMFLx.
Action:- //Store PW FLz rinse end time.
L "dbCONST".CHRONO.CPU_TIME;
T #_pw_flz_rinse_end_time;

//Log actual PW FLz rinse time.
CALL T_DIFF
{date_type := 'Time_Of_Day', time_type := 'Time'}
(  IN1                         := #_pw_flz_rinse_end_time ,
   IN2                         := #_pw_flz_rinse_begin_time ,
  OUT                         := #_time_act_pw_flz_rinse
);
SET;
S #_log_time_act_pw_flz_rinse;

//Switch path to Filtration Line SMFLx.
      L     "dbCONST".BLK.EMX2.SUBS.FILTER;  
      T     #_emx_transfer_subs;
      L     "dbCONST".BLK.CMD.START;
      T     #_emx_transfer_cmd;
Verification:- A(;    
      L     #_emx_transfer_subs;
      L     "dbCONST".BLK.EMX2.SUBS.FILTER;
      ==I;
 );

--------------------------------------------------
ACTION::03
--------------------------------------------------
Description:- Start Timer for SMFLx rinse.
Action:- L #_r_time_pw_wash_smflx;
T #_emc_water_sy_runtime;

// Open PW supply.
L "dbCONST".SEL.LIQUID.PW;
T #_emc_water_sy_medium_liquid;
L "dbCONST".BLK.EMC3.SUBS.FLUSH;
T #_emc_water_sy_subs;
L "dbCONST".BLK.CMD.START;
T #_emc_water_sy_cmd;

//Store SMFLx rinse begin time.
L "dbCONST".CHRONO.CPU_TIME;
T #_pw_smflx_rinse_begin_time;

Verification:- //Verify if emc_water changed to substate FLUSH.
A(;
L   #_emc_water_sy_subs;
L   "dbCONST".BLK.EMC3.SUBS.FLUSH;
==I;
);


--------------------------------------------------
TRANSITION::04
--------------------------------------------------
TRNNo:- 04
Title:- SMFLx Wash Complete
EmptyTransition:- False
Description:- SMFLx Wash Complete
Condition:- A(;
L   #_emc_water_sy_state;
L   "dbCONST".BLK.STATE.COMPLETED;
==I;
);
A(;
L   #_emx_transfer_state;
L   "dbCONST".BLK.STATE.COMPLETED;
==I;
);


--------------------------------------------------
STEP::05
--------------------------------------------------
StepNo:- 05
Title:- Sy_UO_CIP : Set Flag for FLz_PW_Wash_Complete
Description:- Log actual PW SMFLx rinse time.
Close PW supply valve.

Start Timer for TIME_PW_EMPTY_Sy.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Log actual PW SMFLx rinse time.
Close PW supply valve.
Action:- //Store PW SMFLx rinse end time.
L "dbCONST".CHRONO.CPU_TIME;
T #_pw_smflx_rinse_end_time;

//Log actual PW SMFLx rinse time.
CALL T_DIFF
{date_type := 'Time_Of_Day', time_type := 'Time'}
(  IN1                         := #_pw_smflx_rinse_end_time ,
   IN2                         := #_pw_smflx_rinse_begin_time ,
  OUT                         := #_time_act_pw_smflx_rinse
);
SET;
S #_log_time_act_pw_smflx_rinse;

//Close PW supply valve.
L "dbCONST".BLK.CMD.STOP;
T  #_emc_water_sy_cmd;
Verification:- A(;
L   #_emc_water_sy_state;
L   "dbCONST".BLK.STATE.STOPPED;
==I;
);

--------------------------------------------------
ACTION::02
--------------------------------------------------
Description:- Start Timer for PW_EMPTY.
Action:- //Start Timer for PW_EMPTY.
A #SQ_TIMER.Q;
R #sqSeqTimerStart;

AN #SQ_TIMER.Q;
S #sqSeqTimerStart;
L #_r_time_pw_empty_sy;
T #SQ_TIMER.PT;
Verification:- A #sqSeqTimerStart;


--------------------------------------------------
TRANSITION::05
--------------------------------------------------
TRNNo:- 05
Title:- TIME_PW_EMPTY_Sy expired?
EmptyTransition:- False
Description:- TIME_PW_EMPTY_Sy expired?
Condition:- A #SQ_TIMER.Q;


--------------------------------------------------
STEP::06
--------------------------------------------------
StepNo:- 06
Title:- SY_UO_CIP : Steaming PW inlet line
Description:- Close HPCA supply valve.
Open PW line PS supply valve.
Start timer for TIME_PW_STEAM.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Close CA supply valve. 
Action:- // Close CA supply valve
L "dbCONST".BLK.CMD.STOP;
T  #_emc_gas_cmd;
T  #_emc_water_sy_cmd;
Verification:- A(;
L #_emc_gas_state;
L "dbCONST".BLK.STATE.STOPPED;
==I;
);
A(;
L #_emc_water_sy_state;
L "dbCONST".BLK.STATE.STOPPED;
==I;
);

--------------------------------------------------
ACTION::02
--------------------------------------------------
Description:- Open PW line PS supply valve.
Store PW line PS steam begin time.
Action:- //Open PW line PS supply valve
L #_r_time_pw_steam_sy;
T #_emc_water_sy_runtime;

L "dbCONST".SEL.LIQUID.PSPW;
T #_emc_water_sy_medium_liquid;
L "dbCONST".BLK.EMC3.SUBS.FLUSH;
T #_emc_water_sy_subs;
L "dbCONST".BLK.CMD.START;
T #_emc_water_sy_cmd;

//Store PW line PS steam begin time.
L "dbCONST".CHRONO.CPU_TIME;
T #_pw_steam_begin_time;

Verification:- //Verify if emc_water changed to substate FLUSH.
A(;
L   #_emc_water_sy_subs;
L   "dbCONST".BLK.EMC3.SUBS.FLUSH;
==I;
);


--------------------------------------------------
TRANSITION::06
--------------------------------------------------
TRNNo:- 06
Title:- Timer Expired?
EmptyTransition:- False
Description:- TIME_PW_STEAM_Sy expired?
Condition:- A(;
L #_emc_water_sy_state;
L   "dbCONST".BLK.STATE.COMPLETED;
==I;
);


--------------------------------------------------
STEP::07
--------------------------------------------------
StepNo:- 07
Title:- SY_UO_CIP : Stop Steaming PW inlet line
Description:- Log actual PW line steaming time.
Close PW line PS supply valve.

Connect WFI inlet line to Sy.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Log actual PW line steaming time.
Close PW-line PS supply valve.
Action:- //Store PW line PS steam end time.
L "dbCONST".CHRONO.CPU_TIME;
T #_pw_steam_end_time;

//Log actual PW line steaming time.
CALL T_DIFF
{date_type := 'Time_Of_Day', time_type := 'Time'}
(  IN1                         := #_pw_steam_end_time ,
   IN2                         := #_pw_steam_begin_time ,
  OUT                         := #_time_act_pw_steam
);
SET;
S #_log_time_act_pw_steam;

//Close PW line PS supply valve.
L "dbCONST".BLK.CMD.STOP;
T  #_emc_water_sy_cmd;
Verification:- A(;
L   #_emc_water_sy_state;
L   "dbCONST".BLK.STATE.STOPPED;
==I;
);

--------------------------------------------------
ACTION::02
--------------------------------------------------
Description:- Connect WFI inlet line to Sy.
Set emc_water to substate SETUP and MEDIUM=WFI.
Action:- //Connect WFI inlet line to Sy.
L "dbCONST".SEL.LIQUID.WFI;
T #_emc_water_sy_medium_liquid;
L "dbCONST".BLK.EMC3.SUBS.SETUP;
T #_emc_water_sy_subs;
L "dbCONST".BLK.CMD.START;
T #_emc_water_sy_cmd;
Verification:- A(;
L #_emc_water_sy_subs;
L "dbCONST".BLK.EMC3.SUBS.SETUP;
==I;
);


--------------------------------------------------
TRANSITION::07
--------------------------------------------------
TRNNo:- 07
Title:- Setup complete?
EmptyTransition:- False
Description:- emc_water SETUP complete
Condition:- A(;
L   #_emc_water_sy_state;
L   "dbCONST".BLK.STATE.COMPLETED;
==I;
);


--------------------------------------------------
STEP::08
--------------------------------------------------
StepNo:- 08
Title:- SY_UO_CIP : Commence WFI Rinse of vessel
Description:- Open Sy path to Wash Drain.

Open WFI supply to rinse tank.
Start timer to rinse tank by time_wfi_rinse_sy.
Open HPCA supply valve.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Reset EMs
Action:- L "dbCONST".BLK.CMD.STOP;
T #_emx_drain_cmd;
T #_emx_transfer_cmd;
T #_emc_gas_cmd;
T #_emc_water_sy_cmd;
Verification:- A(;
L #_emx_drain_state;
L   "dbCONST".BLK.STATE.STOPPED;
==I;
);
A(;
L #_emx_transfer_state;
L   "dbCONST".BLK.STATE.STOPPED;
==I;
);
A(;
L #_emc_gas_state;
L   "dbCONST".BLK.STATE.STOPPED;
==I;
);
A(;
L #_emc_water_sy_state;
L   "dbCONST".BLK.STATE.STOPPED;
==I;
);

--------------------------------------------------
ACTION::02
--------------------------------------------------
Description:- Open Sy path to Wash Drain.
Action:- L "dbCONST".BLK.EMX2.SUBS.CIP_SY;
T #_emx_transfer_subs;
L "dbCONST".BLK.CMD.START;
T #_emx_transfer_cmd;

L "dbCONST".BLK.EMX4.SUBS.CIP;
T #_emx_drain_subs;
L "dbCONST".BLK.CMD.START;
T #_emx_drain_cmd;

Verification:- A(;
L #_emx_transfer_subs;
L "dbCONST".BLK.EMX2.SUBS.CIP_SY;
==I;
);
A(;
L #_emx_drain_subs;
L "dbCONST".BLK.EMX4.SUBS.CIP;
==I;
);

--------------------------------------------------
ACTION::03
--------------------------------------------------
Description:- Open WFI supply to rinse tank.
Start timer to rinse tank by time_wfi_rinse_sy.
Store WFI wash begin time.
Open HPCA supply valve.
Action:- //Open WFI supply to rinse tank
L #_r_time_wfi_rinse_sy;
T #_emc_water_sy_runtime;

L "dbCONST".SEL.LIQUID.WFI;
T #_emc_water_sy_medium_liquid;
L "dbCONST".BLK.EMC3.SUBS.FLUSH;
T #_emc_water_sy_subs;
L "dbCONST".BLK.CMD.START;
T #_emc_water_sy_cmd;

//Store WFI wash begin time.
L "dbCONST".CHRONO.CPU_TIME;
T #_wfi_wash_begin_time;

//Report Event Set
SET;
S #_log_msg_wfi_rinse_begin;


// Open HPCA supply
L "dbCONST".SEL.GAS.HPCA;
T #_emc_gas_medium_gas;
L "dbCONST".BLK.EMC1.SUBS.VALVE;  
T #_emc_gas_subs;
L "dbCONST".BLK.CMD.START;
T #_emc_gas_cmd;
Verification:- A(;
L #_emc_water_sy_subs;
L "dbCONST".BLK.EMC3.SUBS.FLUSH;
==I;
);

A(;
L #_emc_gas_subs;
L "dbCONST".BLK.EMC1.SUBS.VALVE;  
==I;
);


--------------------------------------------------
TRANSITION::08
--------------------------------------------------
TRNNo:- 08
Title:- Timer expired?
EmptyTransition:- False
Description:- Timer time_wfi_rinse_sy expired.
Condition:- A(;
L   #_emc_gas_state;
L   "dbCONST".BLK.STATE.COMPLETED;
==I;
);
A(;
L   #_emc_water_sy_state;
L   "dbCONST".BLK.STATE.COMPLETED;
==I;
);
A(;
L   #_emx_drain_state;
L   "dbCONST".BLK.STATE.COMPLETED;
==I;
);
A(;
L   #_emx_transfer_state;
L   "dbCONST".BLK.STATE.COMPLETED;
==I;
);


--------------------------------------------------
STEP::09
--------------------------------------------------
StepNo:- 09
Title:- Sy_UO_CIP : Set Flag for Sy_WFI_Wash_Complete
Description:- Log actual Sy WFI wash time.

Divert Wash to FLz.
Open DVy129, Close DVy127

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Reset EMs
Action:- L "dbCONST".BLK.CMD.STOP;
T #_emx_transfer_cmd;
T #_emc_water_sy_cmd;
Verification:- A(;
L #_emx_transfer_state;
L   "dbCONST".BLK.STATE.STOPPED;
==I;
);
A(;
L #_emc_water_sy_state;
L   "dbCONST".BLK.STATE.STOPPED;
==I;
);

--------------------------------------------------
ACTION::02
--------------------------------------------------
Description:- Log actual WFI wash time.
Switch path to Fillling Line FPz and Fillling Machine FLz.
Action:- //Store WFI wash end time.
L "dbCONST".CHRONO.CPU_TIME;
T #_wfi_wash_end_time;

//Log actual WFI wash time.
CALL T_DIFF
{date_type := 'Time_Of_Day', time_type := 'Time'}
(  IN1                         := #_wfi_wash_begin_time ,
   IN2                         := #_wfi_wash_end_time ,
  OUT                         := #_time_act_wfi_wash
);
SET;
S #_log_time_act_wfi_wash;

//Switch path to Fillling Line FPz and Fillling Machine FLz.
      L     "dbCONST".BLK.EMX2.SUBS.FILL_SY;
      T     #_emx_transfer_subs;
      L     "dbCONST".BLK.CMD.START;
      T     #_emx_transfer_cmd;

//Stop emx_drain.
L "dbCONST".BLK.CMD.STOP;
T  #_emx_drain_cmd;

Verification:- A(;    
      L     #_emx_transfer_subs;
      L     "dbCONST".BLK.EMX2.SUBS.FILL_SY;
      ==I;
 );
A(;
   L #_emx_drain_state;
   L "dbCONST".BLK.STATE.STOPPED;
   ==I;
);


--------------------------------------------------
ACTION::03
--------------------------------------------------
Description:- Open WFI supply with timer time_wfi_rinse_flz.
Action:- //Open WFI supply.
L #_r_time_wfi_rinse_flz;
T #_emc_water_sy_runtime;

L "dbCONST".SEL.LIQUID.WFI;
T #_emc_water_sy_medium_liquid;
L "dbCONST".BLK.EMC3.SUBS.FLUSH;
T #_emc_water_sy_subs;
L "dbCONST".BLK.CMD.START;
T #_emc_water_sy_cmd;

//Store FLz WFI wash begin time.
L "dbCONST".CHRONO.CPU_TIME;
T #_wfi_flz_rinse_begin_time;
Verification:- A(;
L #_emc_water_sy_subs;
L "dbCONST".BLK.EMC3.SUBS.FLUSH;
==I;
);


--------------------------------------------------
TRANSITION::09
--------------------------------------------------
TRNNo:- 09
Title:- FLz Wash Complete
EmptyTransition:- False
Description:- FLz rinsed for time_wfi_rinse_flz
Condition:- A(;
L   #_emc_water_sy_state;
L   "dbCONST".BLK.STATE.COMPLETED;
==I;
);
A(;
L   #_emx_transfer_state;
L   "dbCONST".BLK.STATE.COMPLETED;
==I;
);


--------------------------------------------------
STEP::10
--------------------------------------------------
StepNo:- 10
Title:- Sy_UO_CIP : Set Flag for FLz_WFI_Wash_Complete
Description:- Log actual FLz WFI wash time.

Divert path to SMFLx
Open DVy125, Close DVy129

Start flush WFI with timer time_wfi_rinse_smflx.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Reset EMs
Action:- L "dbCONST".BLK.CMD.STOP;
T #_emx_transfer_cmd;
T #_emc_water_sy_cmd;
Verification:- A(;
L #_emx_transfer_state;
L   "dbCONST".BLK.STATE.STOPPED;
==I;
);
A(;
L #_emc_water_sy_state;
L   "dbCONST".BLK.STATE.STOPPED;
==I;
);

--------------------------------------------------
ACTION::02
--------------------------------------------------
Description:- Log actual FLz WFI wash time.
Divert path to SMFLx

Action:- //Store FLz WFI wash end time.
L "dbCONST".CHRONO.CPU_TIME;
T #_wfi_flz_rinse_end_time;

//Log actual FLz WFI wash time.
CALL T_DIFF
{date_type := 'Time_Of_Day', time_type := 'Time'}
(  IN1                         := #_wfi_flz_rinse_begin_time ,
   IN2                         := #_wfi_flz_rinse_end_time ,
  OUT                         := #_time_act_wfi_flz_rinse
);
SET;
S #_log_time_act_wfi_flz_rinse;


//Switch path to Filtration Line SMFLx.
      L     "dbCONST".BLK.EMX2.SUBS.FILTER;  
      T     #_emx_transfer_subs;
      L     "dbCONST".BLK.CMD.START;
      T     #_emx_transfer_cmd;
Verification:- A(;    
    L     #_emx_transfer_subs;
    L     "dbCONST".BLK.EMX2.SUBS.FILTER;
    ==I;
 );


--------------------------------------------------
ACTION::03
--------------------------------------------------
Description:- Store SMFLx WFI rinse begin time.
Start flush WFI with timer time_wfi_rinse_smflx.
Action:- //Store SMFLx WFI rinse begin time.
L "dbCONST".CHRONO.CPU_TIME;
T #_wfi_smflx_rinse_begin_time;

//Open WFI supply
L #_r_time_wfi_rinse_smflx;
T #_emc_water_sy_runtime;

L "dbCONST".SEL.LIQUID.WFI;
T #_emc_water_sy_medium_liquid;
L "dbCONST".BLK.EMC3.SUBS.FLUSH;
T #_emc_water_sy_subs;
L "dbCONST".BLK.CMD.START;
T #_emc_water_sy_cmd;

Verification:- A(;
   L  #_emc_water_sy_subs;
   L  "dbCONST".BLK.EMC3.SUBS.FLUSH;
   ==I;
);



--------------------------------------------------
STEP::11
--------------------------------------------------
StepNo:- 11
Title:- Sy_UO_CIP : WFI SMFLx Rinse Completed
Description:- Log actual WFI SMFLx rinse time.
Close WFI supply valve

Start Timer for WFI Empty, TIME_WFI_EMPTY_Sy.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Log actual WFI SMFLx rinse time.
Close WFI supply valve.
Action:- //Store WFI SMFLx rinse end time.
L "dbCONST".CHRONO.CPU_TIME;
T #_wfi_smflx_rinse_end_time;

//Log actual WFI SMFLx rinse time.
CALL T_DIFF
{date_type := 'Time_Of_Day', time_type := 'Time'}
(  IN1                         := #_wfi_smflx_rinse_begin_time ,
   IN2                         := #_wfi_smflx_rinse_end_time ,
  OUT                         := #_time_act_wfi_smflx_rinse
);
SET;
S #_log_time_act_wfi_smflx_rinse;

//Close WFI supply valve
L "dbCONST".BLK.CMD.STOP;
T  #_emc_water_sy_cmd;
Verification:- A(;
L #_emc_water_sy_state;
L "dbCONST".BLK.STATE.STOPPED;
==I;
);

--------------------------------------------------
ACTION::02
--------------------------------------------------
Description:- Start timer time_wfi_empty_sy
Action:- //Start Timer for WFI Empty.
A #SQ_TIMER.Q;
R #sqSeqTimerStart;

AN #SQ_TIMER.Q;
S #sqSeqTimerStart;
L #_r_time_wfi_empty_sy;
T #SQ_TIMER.PT;
Verification:- A #sqSeqTimerStart;


--------------------------------------------------
STEP::12
--------------------------------------------------
StepNo:- 12
Title:- SY_UO_CIP : Close CA supply valve
Description:- Close HPCA supply valve.
Prompt operator to continue steaming.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Close HPCA supply valve.
Prompt operator to continue steaming.
Action:- //Close HPCA supply valve.
L "dbCONST".BLK.CMD.STOP;
T  #_emc_gas_cmd;

//Prompt operator to continue steaming.
SET;
S #_prompt_steam;
Verification:- A(;
L 	#_emc_gas_state;
L 	"dbCONST".BLK.STATE.STOPPED;
==I;
);


--------------------------------------------------
TRANSITION::12
--------------------------------------------------
TRNNo:- 12
Title:- Is Steaming required?
EmptyTransition:- False
Description:- Operator confirms steaming is required
Condition:- A #_prompt_steam_confirm_yes;


--------------------------------------------------
TRANSITION::13
--------------------------------------------------
TRNNo:- 13
Title:- Steaming not required
EmptyTransition:- False
Description:- Operator confirms steaming is not required
Condition:- A #_prompt_steam_confirm_no; 


--------------------------------------------------
STEP::13
--------------------------------------------------
StepNo:- 13
Title:- Sy_UO_CIP : WFI SMFLx Rinse Completed
Description:- Open Sy steam drain valve and close Sy CIP drain valve.

Open WFI(PS) supply valve.
Start timer TIME_WFI_STEAM_Sy.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Reset EMs
Action:- L "dbCONST".BLK.CMD.STOP;
T #_emx_drain_cmd;
T #_emc_water_sy_cmd;
Verification:- A(;
L #_emx_drain_state;
L   "dbCONST".BLK.STATE.COMPLETED;
==I;
);
A(;
L #_emc_water_sy_state;
L   "dbCONST".BLK.STATE.COMPLETED;
==I;
);

--------------------------------------------------
ACTION::02
--------------------------------------------------
Description:- Open Sy steam drain valve and close Sy CIP drain valve.
Action:- L "dbCONST".BLK.EMX4.SUBS.SIP;
T #_emx_drain_subs;
L "dbCONST".BLK.CMD.START;
T #_emx_drain_cmd;

//Reset prompt.
R #_prompt_steam_confirm_yes;
Verification:- A(;
L #_emx_drain_subs;
L "dbCONST".BLK.EMX4.SUBS.SIP;
==I;
);


--------------------------------------------------
ACTION::03
--------------------------------------------------
Description:- Open WFI(PS) supply valve.
Start timer TIME_WFI_STEAM_Sy for CS supply.
Action:- //Open WFI(PS) supply to rinse tank
L #_r_time_wfi_steam_sy;
T #_emc_water_sy_runtime;

L "dbCONST".SEL.LIQUID.PSWFI;
T #_emc_water_sy_medium_liquid;
L "dbCONST".BLK.EMC3.SUBS.FLUSH;
T #_emc_water_sy_subs;
L "dbCONST".BLK.CMD.START;
T #_emc_water_sy_cmd;

//Store WFI line PS Steam begin time.
L "dbCONST".CHRONO.CPU_TIME;
T #_wfi_steam_begin_time;
Verification:- A(;
   L  #_emc_water_sy_subs;
   L  "dbCONST".BLK.EMC3.SUBS.FLUSH;
   ==I;
);



--------------------------------------------------
TRANSITION::14
--------------------------------------------------
TRNNo:- 14
Title:- Timer expired?
EmptyTransition:- False
Description:- TIME_WFI_STEAM_Sy expired?
Condition:- A(;
L   #_emx_drain_state;
L   "dbCONST".BLK.STATE.COMPLETED;
==I;
);
A(;
L   #_emc_water_sy_state;
L   "dbCONST".BLK.STATE.COMPLETED;
==I;
);


--------------------------------------------------
STEP::14
--------------------------------------------------
StepNo:- 14
Title:- SY_UO_CIP : Filling Line steaming complete
Description:- Close PS supply valve.
Log actual post CIP CS steaming time.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Close CS supply valve.
Log actual post CIP PS WFI steaming time.
Action:- //Store WFI PS steaming end time.
L "dbCONST".CHRONO.CPU_TIME;
T #_wfi_steam_end_time;

//Log actual post CIP PS steaming time.
CALL T_DIFF
{date_type := 'Time_Of_Day', time_type := 'Time'}
(  IN1                         := #_wfi_steam_begin_time ,
   IN2                         := #_wfi_steam_end_time ,
  OUT                         := #_time_act_wfi_steam
);
SET;
S #_log_time_act_wfi_steam;


//Close PS wfi supply valve.
L "dbCONST".BLK.CMD.STOP;
T  #_emc_water_sy_cmd;
Verification:- A(;
L #_emc_water_sy_state;
L "dbCONST".BLK.STATE.STOPPED;
==I;
);


--------------------------------------------------
TRANSITION::15
--------------------------------------------------
TRNNo:- 15
Title:- Empty transition.
EmptyTransition:- False
Description:- Jump
Condition:- A "uncondJump";


--------------------------------------------------
STEP::15
--------------------------------------------------
StepNo:- 15
Title:- SY_UO_CIP : Unit Operation Completed
Description:- Set SMFL, SVT and FLZ hygiene status to CLEAN.
Log Sy CIP operation end time.

Close all drain valves.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Set SMFL, SVT and FLZ hygiene status to CLEAN.
Close all drain valves.
Log Sy CIP operation end time.
Action:- //Set SMFL, SVT and FLZ hygiene status to CLEAN.
L  "dbCONST".BLK.HYGIENE.CLEAN;
T #_emx_fill_hygiene;
T #_emx_transfer_hygiene;
T #_emx_smfl_hygiene;
T #_emx_smfldrn_hygiene;

// Set Sy equipment to safe state:
L "dbCONST".BLK.CMD.STOP;
T  #_emx_drain_cmd;

// Log Sy CIP operation end time.
SET;
S #_log_msg_cip_end;
R #_prompt_steam_confirm_no;
Verification:- A(;
L #_emx_drain_state;
L "dbCONST".BLK.STATE.STOPPED;
==I;
);

****************************************************************************************************
END SSS REPORT
****************************************************************************************************
