****************************************************************************************************
SEQUENCE STEP SCHEDULE
generated on 13/03/2019 3:55:31 PM by David Paspa
****************************************************************************************************





--------------------------------------------------
SEQUENCE
--------------------------------------------------

SFCNo:- 2
Title:- UO_SY_SETUP
Description:- Unit Operation for setup of storage vessel equipment.
Name:- SETUP
Class:- SY
Level:- UO
STEP_LIST_FORMAT:- JU    S0@@STEP_NUM@@; // STEP-0@@STEP_NUM@@:
ACT_LIST_FORMAT:- JU    @@ACT_CODE@@@@STEP_NUM@@; //ACTION-@@ACT_NUM@@
HeaderName:- MUSET
Version:- 2.0
RevisionHistory:- // SFC Revision History:
// Rev By               Date        CC         Note
// 2.0 David Paspa      27-Nov-2018            Reboot for S7-1500
// 0.1 Gerald Kontriner 14-Sep-2009            SFC structural design
HMI_FORMAT:- @@STEP_NUM_INT@@,@@STEP_TITLE@@

--------------------------------------------------
PARAMETER::1
--------------------------------------------------
Name:- prompt_ready_bfs_confirm_yes
Type:- BOOL
Description:- UO_SY_SETUP Operator confirm BFS ready for SMS CIPSIP confirmed yes
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::2
--------------------------------------------------
Name:- prompt_ready_bfs
Type:- BOOL
Description:- UO_SY_SETUP Operator to confirm BFS is ready for SMS CIPSIP
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::3
--------------------------------------------------
Name:- log_msg_vacuum_hold_end
Type:- BOOL
Description:- UO_SY_SETUP Vacuum hold end time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::4
--------------------------------------------------
Name:- log_msg_vacuum_hold_begin
Type:- BOOL
Description:- UO_SY_SETUP Vacuum hold begin time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::5
--------------------------------------------------
Name:- log_real_pressure_sy
Type:- BOOL
Description:- US_SY_SETUP Log vessel pressure during vacuum hold test
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::6
--------------------------------------------------
Name:- real_pressure_sy
Type:- REAL
Description:- US_SY_SETUP Vessel pressure during vacuum hold test
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::7
--------------------------------------------------
Name:- real_pressure_vacuum_end
Type:- REAL
Description:- US_SY_SETUP Vessel pressure vacuum hold end time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::8
--------------------------------------------------
Name:- log_real_pressure_vacuum_end
Type:- BOOL
Description:- US_SY_SETUP Vessel pressure vacuum hold end time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::9
--------------------------------------------------
Name:- r_pres_gas_empty
Type:- REAL
Description:- Air pressure to empty vessel
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::10
--------------------------------------------------
Name:- emc_gas_setpoint
Type:- REAL
Description:- Gas pressure setpoint
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::11
--------------------------------------------------
Name:- emx_drain_cmd
Type:- INT
Description:- Sy drain line command
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::12
--------------------------------------------------
Name:- emx_drain_subs
Type:- INT
Description:- Sy drain line substate
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::13
--------------------------------------------------
Name:- emx_drain_state
Type:- INT
Description:- Sy drain line state
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::14
--------------------------------------------------
Name:- emx_smfldrn_subs
Type:- INT
Description:- SMFL drain line substate
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::15
--------------------------------------------------
Name:- emx_smfldrn_cmd
Type:- INT
Description:- SMFL drain line command
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::16
--------------------------------------------------
Name:- emx_smfldrn_state
Type:- INT
Description:- SMFL drain line state
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::17
--------------------------------------------------
Name:- emv_inlet_subs
Type:- INT
Description:- Vessel inlet substate
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::18
--------------------------------------------------
Name:- emv_inlet_cmd
Type:- INT
Description:- Vessel inlet command
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::19
--------------------------------------------------
Name:- emv_inlet_state
Type:- INT
Description:- Vessel inlet state
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::20
--------------------------------------------------
Name:- prompt_vessel_empty_confirm_yes
Type:- BOOL
Description:- UO_SY_SETUP Operator confirm vessel drained confirmed yes
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::21
--------------------------------------------------
Name:- prompt_vessel_empty
Type:- BOOL
Description:- UO_SY_SETUP Operator to confirm vessel and lines fully drained
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::22
--------------------------------------------------
Name:- real_not_held
Type:- REAL
Description:- UO_SY_SETUP Vacuum hold pressure test failed
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::23
--------------------------------------------------
Name:- real_vacuum_fail
Type:- REAL
Description:- UO_MX_SETUP Vacuum failed pressure after vacuum timer expired
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::24
--------------------------------------------------
Name:- vessel_sy
Type:- INT
Description:- Storage vessel selection S1 or S2
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::25
--------------------------------------------------
Name:- fill_flz
Type:- INT
Description:- Filling line selection FL1 or Fl2
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::26
--------------------------------------------------
Name:- vessel_mx
Type:- INT
Description:- Manufacturing vessel selection M1 or M2
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::27
--------------------------------------------------
Name:- real_pressure_vacuum_begin
Type:- REAL
Description:- US_SY_SETUP Vessel pressure vacuum hold begin time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::28
--------------------------------------------------
Name:- log_real_pressure_vacuum_begin
Type:- BOOL
Description:- US_SY_SETUP Vessel pressure vacuum hold begin time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::29
--------------------------------------------------
Name:- emc_gas_pi_vessel_pv
Type:- REAL
Description:- Vessel pressure
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::30
--------------------------------------------------
Name:- emx_smfl_cmd
Type:- INT
Description:- Command to emx_smfl
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::31
--------------------------------------------------
Name:- emx_smfl_subs
Type:- INT
Description:- Substate selection to emx_smfl
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::32
--------------------------------------------------
Name:- emx_smfl_state
Type:- INT
Description:- Device State of emx_smfl
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::33
--------------------------------------------------
Name:- log_real_not_held
Type:- BOOL
Description:- UO_SY_SETUP Vacuum hold pressure test failed
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::34
--------------------------------------------------
Name:- prompt_not_held
Type:- BOOL
Description:- UO_SY_SETUP Operator to confirm to retry as vacuum pressure not held
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::35
--------------------------------------------------
Name:- prompt_not_held_confirm_yes
Type:- BOOL
Description:- UO_SY_SETUP Operator confirmed to retry as vacuum pressure not held
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::36
--------------------------------------------------
Name:- prompt_not_held_confirm_no
Type:- BOOL
Description:- UO_SY_SETUP Operator confirmed to abort as vacuum pressure not held
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::37
--------------------------------------------------
Name:- log_msg_not_held_repeat
Type:- BOOL
Description:- UO_SY_SETUP Operator confirmed to retry as vacuum pressure not held
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::38
--------------------------------------------------
Name:- log_msg_not_held_abort
Type:- BOOL
Description:- UO_SY_SETUP Operator confirmed to abort as vacuum pressure not held
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::39
--------------------------------------------------
Name:- prompt_not_reach
Type:- BOOL
Description:- UO_SY_SETUP Operator to confirm to retry as vacuum pressure not reached
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::40
--------------------------------------------------
Name:- prompt_not_reach_confirm_yes
Type:- BOOL
Description:- UO_SY_SETUP Operator confirmed to retry as vacuum pressure not reached
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::41
--------------------------------------------------
Name:- prompt_not_reach_confirm_no
Type:- BOOL
Description:- UO_SY_SETUP Operator confirmed to abort as vacuum pressure not reached
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::42
--------------------------------------------------
Name:- log_msg_not_reach_repeat
Type:- BOOL
Description:- UO_SY_SETUP Operator confirmed to retry as vacuum pressure not reached
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::43
--------------------------------------------------
Name:- log_msg_not_reach_abort
Type:- BOOL
Description:- UO_SY_SETUP Operator confirmed to abort as vacuum pressure not reached
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::44
--------------------------------------------------
Name:- log_real_vacuum_fail
Type:- BOOL
Description:- UO_SY_SETUP Vacuum failed after vacuum timer expired
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::45
--------------------------------------------------
Name:- log_msg_vacuum_begin
Type:- BOOL
Description:- UO_SY_SETUP Vacuum begin time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::46
--------------------------------------------------
Name:- log_msg_setup_end
Type:- BOOL
Description:- UO_SY_SETUP end time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::47
--------------------------------------------------
Name:- log_msg_setup_begin
Type:- BOOL
Description:- UO_SY_SETUP begin time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::48
--------------------------------------------------
Name:- r_pres_vac_fail
Type:- REAL
Description:- SY SETUP Pressure reached when vacuum hold test fails
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::49
--------------------------------------------------
Name:- r_pres_stm_pos
Type:- REAL
Description:- SY SETUP Positive steam pressure threshold setpoint
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::50
--------------------------------------------------
Name:- r_pres_vac
Type:- REAL
Description:- SY SETUP Vacuum pressure setpoint
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::51
--------------------------------------------------
Name:- r_time_vac_hold
Type:- TIME
Description:- SY SETUP Time for vacuum hold test
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::52
--------------------------------------------------
Name:- r_time_eject
Type:- TIME
Description:- SY SETUP Time fo vacuum system to run before timeout
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::53
--------------------------------------------------
Name:- emc_gas_medium_gas
Type:- INT
Description:- Medium selection for emc_gas
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::54
--------------------------------------------------
Name:- vacuum_hold_test
Type:- BOOL
Description:- Vacuum hold test enquiry
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::55
--------------------------------------------------
Name:- emc_water_sy_cmd
Type:- INT
Description:- Command to emc_water
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::56
--------------------------------------------------
Name:- emc_water_sy_subs
Type:- INT
Description:- Substate selection to emc_water
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::57
--------------------------------------------------
Name:- emc_water_sy_state
Type:- INT
Description:- Device State of emc_water
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::58
--------------------------------------------------
Name:- log_confirmation
Type:- TOD
Description:- UO_SY_SETUP Logging operator confirmation
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::59
--------------------------------------------------
Name:- prompt_connect_ok_confirm_yes
Type:- BOOL
Description:- UO_SY_SETUP Operator confirmed all vessel and BFS connections made
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::60
--------------------------------------------------
Name:- prompt_connect_ok
Type:- BOOL
Description:- UO_SY_SETUP Operator confirm connections and BFS ready for vacuum hold test
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::61
--------------------------------------------------
Name:- emc_water_sy_medium_liquid
Type:- INT
Description:- Medium selection for emc_water
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::62
--------------------------------------------------
Name:- emv_vessel_subs
Type:- INT
Description:- Substate selection to emv_vessel
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::63
--------------------------------------------------
Name:- emv_vessel_state
Type:- INT
Description:- Device State of emv_vessel
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::64
--------------------------------------------------
Name:- emv_vessel_cmd
Type:- INT
Description:- Command to emv_vessel
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::65
--------------------------------------------------
Name:- emg_filter_state
Type:- INT
Description:- Device State of emg_filter
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::66
--------------------------------------------------
Name:- emx_transfer_cmd
Type:- INT
Description:- Command to emx_transfer
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::67
--------------------------------------------------
Name:- emg_filter_cmd
Type:- INT
Description:- Command to emg_filter
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::68
--------------------------------------------------
Name:- emx_transfer_subs
Type:- INT
Description:- Substate selection to EXxy07
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::69
--------------------------------------------------
Name:- emx_transfer_state
Type:- INT
Description:- Device State of emx_transfer
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::70
--------------------------------------------------
Name:- emg_filter_subs
Type:- INT
Description:- Substate selection to emg_filter
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::71
--------------------------------------------------
Name:- emc_gas_state
Type:- INT
Description:- Device State of emc_gas
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::72
--------------------------------------------------
Name:- emc_gas_cmd
Type:- INT
Description:- Command to emc_gas
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::73
--------------------------------------------------
Name:- emc_gas_subs
Type:- INT
Description:- Substate selection to emc_gas
ParameterInOut:- OUT


--------------------------------------------------
STEP::01
--------------------------------------------------
StepNo:- 01
Title:- UO_SY_SETUP : Setup Unit Operation Commenced. Setup BFS Machine.
Description:- Log Sy SETUP operation begin.
Prompt operator to confirm that all vessel connections, including the permanent flexible connections and BFS CIP connection are ready for vacuum hold test.

Set Sy equipments to SAFE state.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Log Sy SETUP operation begin.
Prompt operator to confirm correct vessel and BFS connections.

Set Sy equipments to SAFE state.
Action:- //Log Sy SETUP operation begin.
SET;
S #_log_msg_setup_begin;

SET;
S #_prompt_connect_ok;

//Set Sy equipments to SAFE state.
L "dbCONST".BLK.CMD.STOP;
T  #_emc_gas_cmd;
T  #_emv_vessel_cmd;
T  #_emc_water_sy_cmd;
Verification:- A(;
L #_emc_gas_state;
L "dbCONST".BLK.STATE.STOPPED;
==I;
);
A(;
L #_emv_vessel_state;
L "dbCONST".BLK.STATE.STOPPED;
==I;
);
A(;
L #_emc_water_sy_state;
L "dbCONST".BLK.STATE.STOPPED;
==I;
);


--------------------------------------------------
TRANSITION::01
--------------------------------------------------
TRNNo:- 01
Title:- Empty Transition
EmptyTransition:- False
Description:- Jump
Condition:- A #_prompt_connect_ok_confirm_yes;


--------------------------------------------------
STEP::02
--------------------------------------------------
StepNo:- 02
Title:- UO_SY_SETUP : Setup manual flowpath devices
Description:- Setup the following paths:
Spool piece SPx2 SMFLx to ZSCx111
Flowplate FP31 Mx to Sy/FLz ZSCn11y
Flowplate FP33 Sy to FLzZSC-zzyyy

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Reset Ems
Action:- L "dbCONST".BLK.CMD.STOP;
T #_emx_smfl_cmd;
T #_emx_transfer_cmd;
Verification:- A(;
L   #_emx_smfl_state;
L   "dbCONST".BLK.STATE.STOPPED;
==I;
);
A(;
L   #_emx_transfer_state;
L   "dbCONST".BLK.STATE.STOPPED;
==I;
);

--------------------------------------------------
ACTION::02
--------------------------------------------------
Description:- Setup the following path:
Spool piece SPx2 SMFLx to ZSCx111
Flowplate FP31 Mx to Sy/FLz ZSCn11y
Flowplate FP33 Sy to FLzZSC-zzyyy
Action:- // Start CIP_SETUP.
L "dbCONST".BLK.CMD.START;
T #_emx_smfl_cmd;
L "dbCONST".BLK.EMX6.SUBS.SETUP_CIP;
T #_emx_smfl_subs;

//Start EMX2 SETUP.
L "dbCONST".BLK.CMD.START;
T #_emx_transfer_cmd;
L "dbCONST".BLK.EMX2.SUBS.SETUP;
T #_emx_transfer_subs;
Verification:- A(;
L #_emx_smfl_subs;
L "dbCONST".BLK.EMX6.SUBS.SETUP_CIP;
==I;
);
A(;
L #_emx_transfer_subs;
L "dbCONST".BLK.EMX2.SUBS.SETUP;
==I;
);


--------------------------------------------------
TRANSITION::02
--------------------------------------------------
TRNNo:- 02
Title:- Setup
EmptyTransition:- False
Description:- Continue if setup completed
Condition:- A(;
L   #_emx_smfl_state;
L   "dbCONST".BLK.STATE.COMPLETED;
==I;
);
A(;
L   #_emx_transfer_state;
L   "dbCONST".BLK.STATE.COMPLETED;
==I;
);


--------------------------------------------------
STEP::03
--------------------------------------------------
StepNo:- 03
Title:- UO_SY_SETUP : Connect PW line
Description:- Connect PW inlet line to Sy. Set emc_water to substate SETUP and MEDIUM=PW.
Set emv_vessel to substate DISCHARGE.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Reset EMs
Action:- L "dbCONST".BLK.CMD.STOP;
T #_emc_water_sy_cmd;
Verification:- A(;
L   #_emc_water_sy_state;
L   "dbCONST".BLK.STATE.STOPPED;
==I;
);

--------------------------------------------------
ACTION::02
--------------------------------------------------
Description:- Set Sy equipment to requested states.
Connect PW inlet line to Sy. Set emc_water to substate SETUP and MEDIUM=PW.

Set emv_vessel to substate DISCHARGE.
Action:- // Connect PW inlet line to Sy.
L "dbCONST".SEL.LIQUID.PW;
T #_emc_water_sy_medium_liquid;
L "dbCONST".BLK.EMC3.SUBS.SETUP;
T #_emc_water_sy_subs;
L "dbCONST".BLK.CMD.START;
T #_emc_water_sy_cmd;

// Set emv_vessel to substate DISCHARGE.
L "dbCONST".BLK.EMV1.SUBS.DISCHARGE;
T #_emv_vessel_subs;
L "dbCONST".BLK.CMD.START;
T #_emv_vessel_cmd;
Verification:- A(;
L   #_emc_water_sy_subs;
L   "dbCONST".BLK.EMC3.SUBS.SETUP;
==I;
);


--------------------------------------------------
TRANSITION::03
--------------------------------------------------
TRNNo:- 03
Title:- SETUP Complete?
EmptyTransition:- False
Description:- Cointinue if SETUP completed
Condition:- A(;
L   #_emc_water_sy_state;
L   "dbCONST".BLK.STATE.COMPLETED;
==I;
);
A(;
L   #_emv_vessel_state;
L   "dbCONST".BLK.STATE.COMPLETED;
==I;
);


--------------------------------------------------
STEP::04
--------------------------------------------------
StepNo:- 04
Title:- UO_SY_SETUP : Open valves to drain vessel
Description:- Open Sy outlet line valves.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Reset EMs
Action:- L "dbCONST".BLK.CMD.STOP;
T #_emc_gas_cmd;
T #_emv_inlet_cmd;
T #_emv_vessel_cmd;
T #_emx_smfl_cmd;
T #_emx_smfldrn_cmd;
T #_emx_drain_cmd;
T #_emx_transfer_cmd;
Verification:- A(;
L   #_emc_gas_state;
L   "dbCONST".BLK.STATE.STOPPED;
==I;
);
A(;
L   #_emv_inlet_state;
L   "dbCONST".BLK.STATE.STOPPED;
==I;
);
A(;
L   #_emv_vessel_state;
L   "dbCONST".BLK.STATE.STOPPED;
==I;
);
A(;
L   #_emx_smfl_state;
L   "dbCONST".BLK.STATE.STOPPED;
==I;
);
A(;
L   #_emx_smfldrn_state;
L   "dbCONST".BLK.STATE.STOPPED;
==I;
);
A(;
L   #_emx_drain_state;
L   "dbCONST".BLK.STATE.STOPPED;
==I;
);
A(;
L   #_emx_transfer_state;
L   "dbCONST".BLK.STATE.STOPPED;
==I;
);

--------------------------------------------------
ACTION::02
--------------------------------------------------
Description:- Open valves on Mx to drain flow path to drain the vesse with HPCA air pressurel.
Clear used flags.
Action:- //Open Sy inlet valve.
L "dbCONST".BLK.EMV2.SUBS.CHARGE;
T #_emv_inlet_subs;
L "dbCONST".BLK.CMD.START;
T #_emv_inlet_cmd;

//Open Sy outlet valve.
L "dbCONST".BLK.EMV1.SUBS.DISCHARGE;
T #_emv_vessel_subs;
L "dbCONST".BLK.CMD.START;
T #_emv_vessel_cmd;

//Open transfer line valves.
L "dbCONST".BLK.EMX2.SUBS.SIP;
T #_emx_transfer_subs;
L "dbCONST".BLK.CMD.START;
T #_emx_transfer_cmd;

//Open SMFL valves.
L "dbCONST".BLK.EMX6.SUBS.CIP;
T #_emx_smfl_subs;
L "dbCONST".BLK.CMD.START;
T #_emx_smfl_cmd;

//Open SMFL drain valves.
L "dbCONST".BLK.EMX4.SUBS.CIP;
T #_emx_smfldrn_subs;
L "dbCONST".BLK.CMD.START;
T #_emx_smfldrn_cmd;

//Open CIP drain valve.
L "dbCONST".BLK.EMX4.SUBS.CIP;
T #_emx_drain_subs;
L "dbCONST".BLK.CMD.START;
T #_emx_drain_cmd;

//Enable HPCA.
L "dbCONST".SEL.GAS.HPCA;
T #_emc_gas_medium_gas;
L #_r_pres_gas_empty;
T #_emc_gas_setpoint;
L "dbCONST".BLK.EMC1.SUBS.PRESSURE;
T #_emc_gas_subs;
L "dbCONST".BLK.CMD.START;
T #_emc_gas_cmd;
Verification:- A(;
L #_emv_inlet_subs;
L "dbCONST".BLK.EMV2.SUBS.CHARGE;
==I;
);
A(;
L #_emv_vessel_subs;
L "dbCONST".BLK.EMV1.SUBS.DISCHARGE;
==I;
);
A(;
L #_emx_transfer_subs;
L "dbCONST".BLK.EMX2.SUBS.SIP;
==I;
);
A(;
L #_emx_smfl_subs;
L "dbCONST".BLK.EMX6.SUBS.CIP;
==I;
);
A(;
L #_emx_smfldrn_subs;
L "dbCONST".BLK.EMX4.SUBS.CIP;
==I;
);
A(;
L #_emx_drain_subs;
L "dbCONST".BLK.EMX4.SUBS.CIP;
==I;
);
A(;
L #_emc_gas_subs;
L "dbCONST".BLK.EMC1.SUBS.PRESSURE;
==I;
);


--------------------------------------------------
TRANSITION::04
--------------------------------------------------
TRNNo:- 4.0000
Title:- Drain valves opened
EmptyTransition:- False
Description:- Drain path valves are opened.
Condition:- A(;
L   #_emv_inlet_state;
L   "dbCONST".BLK.STATE.COMPLETED;
==I;
);
A(;
L   #_emv_vessel_state;
L   "dbCONST".BLK.STATE.COMPLETED;
==I;
);
A(;
L   #_emx_smfl_state;
L   "dbCONST".BLK.STATE.COMPLETED;
==I;
);
A(;
L   #_emx_smfldrn_state;
L   "dbCONST".BLK.STATE.COMPLETED;
==I;
);
A(;
L   #_emx_drain_state;
L   "dbCONST".BLK.STATE.COMPLETED;
==I;
);
A(;
L   #_emx_transfer_state;
L   "dbCONST".BLK.STATE.COMPLETED;
==I;
);
A(;
L   #_emc_gas_state;
L   "dbCONST".BLK.STATE.COMPLETED;
==I;
);


--------------------------------------------------
STEP::05
--------------------------------------------------
StepNo:- 5.0000
Title:- UO_SY_SETUP : Wait for operator to confirm vessel empty
Description:- Prompt operator to confirm vessel empty

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Prompt operator to confirm vessel empty
Action:- SET;
S #_prompt_vessel_empty;


--------------------------------------------------
TRANSITION::05
--------------------------------------------------
TRNNo:- 5.0000
Title:- Wait for vesse confirmedl empty
EmptyTransition:- False
Description:- Jump when operator confirms vessel and lines fully drained
Condition:- A #_prompt_vessel_empty_confirm_yes;


--------------------------------------------------
STEP::06
--------------------------------------------------
StepNo:- 6.0000
Title:- UO_SY_SETUP : Close drain valve
Description:- Close outlet line drain valve.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Reset EMs
Action:- L "dbCONST".BLK.CMD.STOP;
T #_emc_gas_cmd;
T #_emx_smfldrn_cmd;
T #_emx_drain_cmd;
Verification:- A(;
L   #_emx_smfldrn_state;
L   "dbCONST".BLK.STATE.STOPPED;
==I;
);
A(;
L   #_emx_drain_state;
L   "dbCONST".BLK.STATE.STOPPED;
==I;
);
A(;
L   #_emc_gas_state;
L   "dbCONST".BLK.STATE.STOPPED;
==I;
);


--------------------------------------------------
TRANSITION::06
--------------------------------------------------
TRNNo:- 6.0000
Title:- Empty transition
EmptyTransition:- False
Description:- Unconditional jump
Condition:- A "uncondJump";


--------------------------------------------------
STEP::07
--------------------------------------------------
StepNo:- 07
Title:- UO_SY_SETUP : Start Vacuum
Description:- Enable vacuum. 
Start vacuum timer(TIME_EJECT). 
Log Vacuum begin time

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Reset gas EM
Action:- L "dbCONST".BLK.CMD.STOP;
T #_emc_gas_cmd;
Verification:- A(;
L   #_emc_gas_state;
L   "dbCONST".BLK.STATE.STOPPED;
==I;
);

--------------------------------------------------
ACTION::02
--------------------------------------------------
Description:- Enable vacuum.
Reset timer.

Action:- //Enable vacuum.
L "dbCONST".SEL.GAS.VACUUM;
T #_emc_gas_medium_gas;
L "dbCONST".BLK.EMC1.SUBS.VALVE;
T #_emc_gas_subs;
L "dbCONST".BLK.CMD.START;
T #_emc_gas_cmd;

//Start Timer for vacuum timeout
A #SQ_TIMER.Q;
R #sqSeqTimerStart;

AN #SQ_TIMER.Q;
S #sqSeqTimerStart;
L #_r_time_eject;
L 1000;
*I;
T #SQ_TIMER.PT;

//Log vacuum begin time
SET;
S #_log_msg_vacuum_begin;
Verification:- A #sqSeqTimerStart;


--------------------------------------------------
TRANSITION::07
--------------------------------------------------
TRNNo:- 7.0000
Title:- Timer expired?
EmptyTransition:- False
Description:- Vacuum timer expired.
Condition:- A #SQ_TIMER.Q;


--------------------------------------------------
TRANSITION::08
--------------------------------------------------
TRNNo:- 08
Title:- Pressure below setpoint?
EmptyTransition:- False
Description:- Pressure reduced below PRES_VAC.
Condition:- A(;
L #_emc_gas_pi_vessel_pv;
L #_r_pres_vac;
<R;
);


--------------------------------------------------
STEP::08
--------------------------------------------------
StepNo:- 8.0000
Title:- UO_SY_SETUP : Vacuum hold evacuation failed 
Description:- Raise vacuum failed message.
Log vacuum ejector time failed.
Prompt operator to confirm to try again.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Raise vacuum failed message.
Log vacuum time failed.
Prompt operator to confirm to try again.
Action:- //Set flag to raise vacuum failed message
SET;
S #_log_real_vacuum_fail;
S #_prompt_not_reach;

//Log pressure after vacuum timer expired(TIME_EJECT failed).
L #_emc_gas_pi_vessel_pv;
T #_real_vacuum_fail;
Verification:- A "uncondJump";


--------------------------------------------------
TRANSITION::09
--------------------------------------------------
TRNNo:- 9.0000
Title:- Try again?
EmptyTransition:- False
Description:- Operator want to try again.
Condition:- A #_prompt_not_reach_confirm_yes;


--------------------------------------------------
TRANSITION::10
--------------------------------------------------
TRNNo:- 10.0000
Title:- No try?
EmptyTransition:- False
Description:- Operator don't want to try again.
Condition:- A #_prompt_not_reach_confirm_no;


--------------------------------------------------
STEP::09
--------------------------------------------------
StepNo:- 09
Title:- UO_SY_SETUP : Start Vacuum Hold Timer
Description:- Close Mx vent line vacuum valves.
Start Vacuum  Hold Timer.
Store Vacuum Hold test begin time.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Close vacuum valve.
Action:- //Close vacuum valve.
L "dbCONST".SEL.GAS.NONE;
T #_emc_gas_medium_gas;
L "dbCONST".BLK.CMD.RESTART;
T #_emc_gas_cmd;

//Start Timer for vacuum hold
A #SQ_TIMER.Q;
R #sqSeqTimerStart;

AN #SQ_TIMER.Q;
S #sqSeqTimerStart;
L #_r_time_vac_hold;
L 1000;
*I;
T #SQ_TIMER.PT;

//Store Vacuum Hold test begin time.
SET;
S _log_msg_vacuum_hold_begin;

//Log Sy vessel pressure.
L #_emc_gas_pi_vessel_pv;
T #_real_pressure_vacuum_begin;

SET;
S #_log_real_pressure_vacuum_begin;
Verification:- A #sqSeqTimerStart;
A(;
L   #_emc_gas_state;
L   "dbCONST".BLK.STATE.STOPPED;
>I;
);
A(;
L   #_emc_gas_state;
L   "dbCONST".BLK.STATE.INTERLOCKED;
<I;
);

--------------------------------------------------
ACTION::02
--------------------------------------------------
Description:- Start Vacuum Hold Timer.
Store Vacuum Hold test begin time.
Action:- L "dbCONST".BLK.CMD.START;
T #_emc_gas_cmd;


--------------------------------------------------
TRANSITION::11
--------------------------------------------------
TRNNo:- 11.0000
Title:- Jump when gas command completed
EmptyTransition:- False
Description:- Jump when all gas valves closed
Condition:- A(;
L   #_emc_gas_state;
L   "dbCONST".BLK.STATE.COMPLETED;
==I;
);


--------------------------------------------------
STEP::10
--------------------------------------------------
StepNo:- 10.0000
Title:- UO_SY_SETUP : Log operator repeat
Description:- Log operator repeat.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Log operator repeat.
Action:- //Log operator repeat.
SET;
S #_log_msg_not_reach_repeat;
R #_prompt_not_held_confirm_yes;
R #sqSeqTimerStart;
Verification:- A "uncondJump";


--------------------------------------------------
TRANSITION::12
--------------------------------------------------
TRNNo:- 12.0000
Title:- Empty Transition
EmptyTransition:- False
Description:- Empty Transition
Condition:- A "uncondJump";


--------------------------------------------------
STEP::11
--------------------------------------------------
StepNo:- 11
Title:- UO_SY_SETUP : Log operator abort
Description:- Log operator abort.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Log operator abort.
Action:- //Log operator abort.
SET;
S #_log_msg_not_reach_abort;
R #_prompt_not_reach_confirm_no;
R #sqSeqTimerStart;
S #smc.ABORTED;
Verification:- A "uncondJump";


--------------------------------------------------
TRANSITION::13
--------------------------------------------------
TRNNo:- 13.0000
Title:- Empty Transition
EmptyTransition:- False
Description:- Empty Transition
Condition:- A "uncondJump";


--------------------------------------------------
STEP::12
--------------------------------------------------
StepNo:- 12.0000
Title:- UO_MX_SETUP : Vacuum hold test
Description:- Step required for loop reentry

--------------------------------------------------
ACTION::01
--------------------------------------------------

--------------------------------------------------
TRANSITION::14
--------------------------------------------------
TRNNo:- 14.0000
Title:- Empty transition
EmptyTransition:- False
Condition:- A "uncondJump";


--------------------------------------------------
STEP::13
--------------------------------------------------
StepNo:- 13.0000
Title:- UO_SY_SETUP : Pressure logging
Description:- Log vessel pressure at 30 second intervals.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Set flags to log Sy vessel pressure.
Action:- // Clear gas EM restart command
L "dbCONST".BLK.CMD.START;
T #_emc_gas_cmd;

//Log Sy vessel pressure.
L #_emc_gas_pi_vessel_pv;
T #_real_pressure_sy;

A #SQ_TIMER2.Q;
R #sqSeqTimerStart2;
R #_log_real_pressure_sy;

AN #SQ_TIMER2.Q;
S #sqSeqTimerStart2;
S #_log_real_pressure_sy;
L T#30S;
T #SQ_TIMER2.PT;
Verification:- A "uncondJump";


--------------------------------------------------
TRANSITION::15
--------------------------------------------------
TRNNo:- 15.0000
Title:- Timer Expired
EmptyTransition:- False
Description:- TIME_VAC_HOLD expired
Condition:- A #SQ_TIMER.Q;


--------------------------------------------------
TRANSITION::16
--------------------------------------------------
TRNNo:- 16.0000
Title:- Pressure above setpoint
EmptyTransition:- False
Description:- Pressure increased above PRES_VAC_FAIL
Condition:- O(;
L #_emc_gas_pi_vessel_pv;
L #_r_pres_vac_fail;
>R;
);


--------------------------------------------------
TRANSITION::17
--------------------------------------------------
TRNNo:- 17.0000
Title:- Pressure logging timer expired
EmptyTransition:- False
Description:- 30 seconds expired
Condition:- A #SQ_TIMER2.Q;


--------------------------------------------------
STEP::14
--------------------------------------------------
StepNo:- 14.0000
Title:- UO_SY_SETUP : Vacuum Hold failed
Description:- Set flag to raise vacuum failed message and prompt operator.
Log Sy vessel pressure.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Set flag to raise vacuum failed message and prompt operator.
Log Sy vessel pressure.
Action:- //Set flag to raise vacuum failed message and prompt operator.
SET;
S #_log_real_not_held;
S #_prompt_not_held;


// Stop timer
SET;
R #sqSeqTimerStart;
R #sqSeqTimerStart2;

//Log Sy vessel pressure.
L #_emc_gas_pi_vessel_pv;
T #_real_not_held;
Verification:- A "uncondJump";


--------------------------------------------------
TRANSITION::18
--------------------------------------------------
TRNNo:- 18.0000
Title:- No try?
EmptyTransition:- False
Description:- Operator don't want to try again.
Condition:- A #_prompt_not_held_confirm_no;


--------------------------------------------------
TRANSITION::19
--------------------------------------------------
TRNNo:- 19.0000
Title:- Try again?
EmptyTransition:- False
Description:- Operator want to try again.
Condition:- A #_prompt_not_held_confirm_yes;


--------------------------------------------------
STEP::15
--------------------------------------------------
StepNo:- 15
Title:- UO_SY_SETUP : Log operator abort
Description:- Log operator abort.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Log operator abort.
Action:- //Log operator abort.
SET;
S #_log_msg_not_held_abort;
R #_prompt_not_held_confirm_no;
S #smc.ABORTED;
Verification:- A "uncondJump";


--------------------------------------------------
STEP::16
--------------------------------------------------
StepNo:- 16.0000
Title:- UO_SY_SETUP : Log operator repeat
Description:- Log operator repeat

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Log operator repeat
Action:- //Log operator repeat.
SET;
S #_log_msg_not_held_repeat;
R #_prompt_not_held_confirm_yes;
Verification:- A "uncondJump";


--------------------------------------------------
TRANSITION::21
--------------------------------------------------
TRNNo:- 21.0000
Title:- Empty Transition
EmptyTransition:- False
Description:- Empty Transition
Condition:- A "uncondJump";


--------------------------------------------------
STEP::17
--------------------------------------------------
StepNo:- 17
Title:- UO_SY_SETUP : Log actual time vacuum held.
Description:- Log actual time vacuum held.
Log Sy vessel pressure.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Log actual time vacuum held.
Log Sy vessel pressure.
Action:- //Store Vacuum Hold test end time.
SET;
S _log_msg_vacuum_hold_end;

R #sqSeqTimerStart2;

//Log Sy vessel pressure.
L #_emc_gas_pi_vessel_pv;
T #_real_pressure_vacuum_end;

SET;
S #_log_real_pressure_vacuum_end;
Verification:- A "uncondJump";


--------------------------------------------------
TRANSITION::22
--------------------------------------------------
TRNNo:- 22.0000
Title:- Empty Transition
EmptyTransition:- False
Description:- Empty Transition
Condition:- A "uncondJump";


--------------------------------------------------
STEP::18
--------------------------------------------------
StepNo:- 18
Title:- UO_SY_SETUP : Break vacuum.
Description:- Open HPCA supply valve to break the vacuum.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Open HPCA valve to break the vacuum
Action:- L "dbCONST".SEL.GAS.HPCA;
T #_emc_gas_medium_gas;
L "dbCONST".BLK.CMD.RESTART;
T #_emc_gas_cmd;
Verification:- A(;
L   #_emc_gas_state;
L   "dbCONST".BLK.STATE.STOPPED;
>I;
);
A(;
L   #_emc_gas_state;
L   "dbCONST".BLK.STATE.INTERLOCKED;
<I;
);

--------------------------------------------------
ACTION::02
--------------------------------------------------
Description:- Clear gas EM restart command
Action:- L "dbCONST".BLK.CMD.START;
T #_emc_gas_cmd;


--------------------------------------------------
TRANSITION::23
--------------------------------------------------
TRNNo:- 23
Title:- Pressure at zero and operator confirmed BFS ready
EmptyTransition:- False
Description:- Pressure increased to 0
Condition:- A(;
L #_emc_gas_pi_vessel_pv;
L 0.0;
>R;
);


--------------------------------------------------
STEP::19
--------------------------------------------------
StepNo:- 19.0000
Title:- UO_SY_SETUP : Confirm BFS ready for SMS CIPSIP.
Description:- Operator to confirm to proceed

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Stop the gas EM to vent the vessel.
Prompt operator to proceed.
Action:- // Vent the vessel
L "dbCONST".BLK.CMD.STOP;
T #_emc_gas_cmd;

SET;
S #_prompt_ready_bfs;


--------------------------------------------------
TRANSITION::24
--------------------------------------------------
TRNNo:- 24.0000
Title:- Operator confirmed to proceed
EmptyTransition:- False
Description:- Operator confirmed to proceed
Condition:- A #_prompt_ready_bfs_confirm_yes;


--------------------------------------------------
STEP::20
--------------------------------------------------
StepNo:- 20.0000
Title:- UO_SY_SETUP : Setup Unit Operation Completed
Description:- Clear used flags.
Log Sy SETUP operation end time.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Clear used flags.
Log Sy SETUP operation end time.
Action:- // Set Sy equipment to safe state:
L "dbCONST".BLK.CMD.STOP;
T #_emc_water_sy_cmd;
T #_emc_gas_cmd;
T #_emg_filter_cmd;
T #_emv_inlet_cmd;
T #_emv_vessel_cmd;
T #_emx_drain_cmd;
T #_emx_transfer_cmd;
T #_emx_smfl_cmd;
T #_emx_smfldrn_cmd; 

//Log SETUP operation end time.
SET;
S #_log_msg_setup_end;
R #_prompt_connect_ok_confirm_yes;

Verification:- A "uncondJump";

****************************************************************************************************
END SSS REPORT
****************************************************************************************************
