****************************************************************************************************
SEQUENCE STEP SCHEDULE
generated on 4/06/2018 3:11:52 PM by David Paspa
****************************************************************************************************





--------------------------------------------------
SEQUENCE
--------------------------------------------------

Name:- ISOLATE
Title:- PH_ISOLATE
Description:- Remove all the Mx WFI and Pw inlet line connections & isolate the vessel
Class:- EMC3
Level:- PH
STEP_LIST_FORMAT:- JU    S0@@STEP_NUM@@; // STEP-0@@STEP_NUM@@:
ACT_LIST_FORMAT:- JU    @@ACT_CODE@@@@STEP_NUM@@; //ACTION-@@ACT_NUM@@
HeaderName:- C3PISOL
Version:- 0.4
RevisionHistory:- // SFC Revision History:
// Rev By               Date        CC         Note
// 0.4 Khairul Basar    20-Sep-2009 CC-09/023  Regenerated to add SQ_FINISH flag.
// 0.3 Khairul Basar    25-Aug-2009 CC-09/023  Change in Verific,& TRN code OR to AND
//                                             Change in the Last step.
// 0.2 Khairul Basar    18-Aug-2009            Added logic code
// 0.1 David Paspa      13-Jul-2009            SFC structural design
HMI_FORMAT:- @@STEP_NUM_INT@@,@@STEP_TITLE@@

--------------------------------------------------
PARAMETER::1
--------------------------------------------------
Name:- log_msg_isolate_confirm
Type:- BOOL
Description:- Operator confirmed that WFI and PW line is disconnected.
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::2
--------------------------------------------------
Name:- time_isolate_begin
Type:- TOD
Description:- Logging ISOLATE operation start time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::3
--------------------------------------------------
Name:- log_time_isolate_begin
Type:- BOOL
Description:- Flags the HMI that ISOLATE started
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::4
--------------------------------------------------
Name:- time_isolate_end
Type:- TOD
Description:- Logging ISOLATE operation end time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::5
--------------------------------------------------
Name:- log_time_isolate_end
Type:- BOOL
Description:- Flags the HMI that ISOLATE ended
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::6
--------------------------------------------------
Name:- zsc_fpwfi_state
Type:- INT
Description:- WFI line connection sensor switch
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::7
--------------------------------------------------
Name:- zsc_fppw_state
Type:- INT
Description:- PW line connection sensor switch
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::8
--------------------------------------------------
Name:- prompt_isolate_confirm_yes
Type:- BOOL
Description:- Operator confirmed that WFI and PW line is disconnected.
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::9
--------------------------------------------------
Name:- prompt_isolate
Type:- BOOL
Description:- Prompt operator to disconnect WFI and PW line
ParameterInOut:- VAR


--------------------------------------------------
STEP::01
--------------------------------------------------
StepNo:- 01
Title:- PH_EMC3_ISOLATE : Isolate begin.
Description:- Log Isolate begin time.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Flow path of WFI line and PW line is isolated.
Action:- //Log ISOLATE operation begin time.
L "dbCONST".CHRONO.CPU_TIME;
T #_time_isolate_begin;

SET;
S #_log_time_isolate_begin;

Verification:- A "uncondJump";


--------------------------------------------------
TRANSITION::01
--------------------------------------------------
TRNNo:- 01
Title:- Unconditional Jump
EmptyTransition:- False
Description:- Jump
Condition:- A "uncondJump";


--------------------------------------------------
STEP::02
--------------------------------------------------
StepNo:- 02
Title:- PH_EMC3_ISOLATE: Prompt to disconnect WFI and PW supply
Description:- Prompt operator to disconnect WFI and PW supply and isolate the vessel inlet line.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Prompt operator to disconnect WFI and PW supply and isolate the vessel inlet line.
Action:- SET;
S #_prompt_isolate; //Prompt to isolate the PW & WFI line.
Verification:- A "uncondJump";


--------------------------------------------------
TRANSITION::02
--------------------------------------------------
TRNNo:- 02
Title:- Operator confirmation
EmptyTransition:- False
Description:- Wait for operator to confirm WFI and PW line connections have been removed.
Condition:- A #_prompt_isolate_confirm_yes;


--------------------------------------------------
STEP::03
--------------------------------------------------
StepNo:- 03
Title:- PH_EMC3_ISOLATE : Check connection
Description:- Log operator confirmation and continue to check connection.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Log operator confirmation.

Action:- SET;
S #_log_msg_isolate_confirm;
R #_prompt_isolate_confirm_yes;
Verification:- A "uncondJump";


--------------------------------------------------
TRANSITION::03
--------------------------------------------------
TRNNo:- 03
Title:- Connections removed
EmptyTransition:- False
Description:- Jump if ZSCx103 and ZSCx105 are removed
Condition:- //Check whether PW line connection sensor switch is off, or flowpath device is not in place, or wiring fault exists.    
 A(    ;
    L #_zsc_fppw_state; //PW and PW PS line is removed;
    L "dbCONST".BLK.ZSC2.STATE.OUT;
      ==I ;  
      )     ;
//Check whether WFI line connection sensor switch is off, or flowpath device is not in place, or wiring fault exists.    
 A(    ;
   L #_zsc_fpwfi_state; //WFI and WFI PS line is removed;
   L "dbCONST".BLK.ZSC2.STATE.OUT;
      ==I ;  
    )     ;


--------------------------------------------------
TRANSITION::04
--------------------------------------------------
TRNNo:- 04
Title:- Operator do not remove connections correctly
EmptyTransition:- False
Description:- Jump unconditionally, the connections have not been removed correctly
Condition:- A "uncondJump";


--------------------------------------------------
STEP::04
--------------------------------------------------
StepNo:- 4.0000
Title:- PH_EMC3_ISOLATE : Last Step
Description:- Log ISOLATE operation end time.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Log ISOLATE operation end time.
Action:- //Log ISOLATE operation end time.
L "dbCONST".CHRONO.CPU_TIME;
T #_time_isolate_end;

SET;
S #_log_time_isolate_end;
Verification:- A "uncondJump";

****************************************************************************************************
END SSS REPORT
****************************************************************************************************
