****************************************************************************************************
SEQUENCE STEP SCHEDULE
generated on 12/12/2018 12:34:17 PM by David Paspa
****************************************************************************************************





--------------------------------------------------
SEQUENCE
--------------------------------------------------

Name:- SIP_PULSE
Title:- PH_EMX1_SIP_PULSE
Description:- Open and close spray ball valves for specified duration.
Class:- EMX1
Level:- PH
STEP_LIST_FORMAT:- JU    S0@@STEP_NUM@@; // STEP-0@@STEP_NUM@@:
ACT_LIST_FORMAT:- JU    @@ACT_CODE@@@@STEP_NUM@@; //ACTION-@@ACT_NUM@@
HeaderName:- X1_PUL
Version:- 2.0
RevisionHistory:- // SFC Revision History:
// Rev By               Date        CC         Note
// 2.0 David Paspa      27-Nov-2018            Reboot for S7-1500
// 1.0 David Paspa      30-Nov-2018            SFC structural design
HMI_FORMAT:- @@STEP_NUM_INT@@,@@STEP_TITLE@@

--------------------------------------------------
PARAMETER::1
--------------------------------------------------
Name:- log_msg_pulse_begin
Type:- BOOL
Description:- Pulse begin time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::2
--------------------------------------------------
Name:- log_msg_pulse_end
Type:- BOOL
Description:- Pulse end time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::3
--------------------------------------------------
Name:- pos_filterinlet_state
Type:- INT
Description:- Drain Valve state
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::4
--------------------------------------------------
Name:- pos_filterinlet_cmd
Type:- INT
Description:- Drain Valve command
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::5
--------------------------------------------------
Name:- opened_time
Type:- TIME
Description:- Required open time for each inlet valve
ParameterInOut:- IN


--------------------------------------------------
STEP::01
--------------------------------------------------
StepNo:- 01
Title:- PH_EMX1_PULSE : PULSE begin
Description:- Log PULSE begin time.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Log PULSE begin time.
Action:- //Log PULSE begin time.
SET;
S #_log_msg_pulse_begin;
Verification:- A "uncondJump";


--------------------------------------------------
TRANSITION::01
--------------------------------------------------
TRNNo:- 01
Title:- Unconditional Jump
EmptyTransition:- False
Description:- Jump
Condition:- A "uncondJump";


--------------------------------------------------
STEP::02
--------------------------------------------------
StepNo:- 02
Title:- PH_EMX1_PULSE : Open drain valve
Description:- Open drain valve.
Start timer.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Open drain valve.
Action:- //Load setpoint for valve open duration.
L #_opened_time;
T #SQ_TIMER.PT;

//Open drain valve
L "dbCONST".BLK.POSx.CMD.OPEN;
T  #_pos_filterinlet_cmd;

//Start timer.
SET;
S #sqSeqTimerStart;
Verification:- //Valve opened.
A(;
L "dbCONST".BLK.POSx.STATE.OPENED;
L  #_pos_filterinlet_state;
==I;
);


--------------------------------------------------
TRANSITION::02
--------------------------------------------------
TRNNo:- 02
Title:- Wait until timer expired
EmptyTransition:- False
Description:- Wait until delay time expired
Condition:- //Continue the sequence after the time delay expired.
A #SQ_TIMER.Q;


--------------------------------------------------
STEP::03
--------------------------------------------------
StepNo:- 03
Title:- PH_EMX1_PULSE : Close drain valve
Description:- Close drain valve.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Close drain valve.
Action:- SET;
R #sqSeqTimerStart;

//Close drain valve
L "dbCONST".BLK.POSx.CMD.CLOSE;
T  #_pos_filterinlet_cmd;
Verification:- //Drain Valve closed.
A(;
L  "dbCONST".BLK.POSx.STATE.CLOSED;
L #_pos_filterinlet_state;
==I;
);


--------------------------------------------------
TRANSITION::03
--------------------------------------------------
TRNNo:- 03
Title:- Unconditional Jump
EmptyTransition:- False
Description:- Unconditional Jump
Condition:- A "uncondJump";


--------------------------------------------------
STEP::04
--------------------------------------------------
StepNo:- 04
Title:- PH_EMX1_PULSE : Start timer
Description:- Start timer

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Start timer
Action:- //Start timer
SET;
S #sqSeqTimerStart;
Verification:- A "uncondJump";


--------------------------------------------------
TRANSITION::04
--------------------------------------------------
TRNNo:- 04
Title:- Placeholder transition
EmptyTransition:- False
Description:- Never jump
Condition:- AN "uncondJump";


--------------------------------------------------
TRANSITION::05
--------------------------------------------------
TRNNo:- 05
Title:- Wait until timer expired
EmptyTransition:- False
Description:- Wait until delay time expired
Condition:- A #SQ_TIMER.Q; 


--------------------------------------------------
STEP::05
--------------------------------------------------
StepNo:- 05
Title:- PH_EMX1_PULSE : Last Step
Description:- Leave drain valve opened.
Log PULSE operation end time.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Open drain valve.
Log PULSE operation end time.
Action:- SET;
R #sqSeqTimerStart;

//Close valve.
L "dbCONST".BLK.POSx.CMD.OPEN;
T  #_pos_filterinlet_cmd;

//Log PULSE operation end time.
SET;
S #_log_msg_pulse_end;
Verification:- A "uncondJump";


--------------------------------------------------
STEP::06
--------------------------------------------------
StepNo:- 6.0000
Title:- PH_EMX1_PULSE : Reset timer
Description:- Reset timer

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Last Step
Action:- SET;
R #sqSeqTimerStart;
Verification:- A "uncondJump";


--------------------------------------------------
TRANSITION::06
--------------------------------------------------
TRNNo:- 06
Title:- Unconditional Jump
EmptyTransition:- False
Description:- Unconditional Jump
Condition:- A "uncondJump";

****************************************************************************************************
END SSS REPORT
****************************************************************************************************
