****************************************************************************************************
SEQUENCE STEP SCHEDULE
generated on 31/08/2018 10:39:32 PM by David Paspa
****************************************************************************************************





--------------------------------------------------
SEQUENCE
--------------------------------------------------

SFCNo:- 0
Title:- UO_MX_SIP
Description:- Sequence for Mx sterilise in place operation
Name:- SIP
Class:- MX
Level:- UO
STEP_LIST_FORMAT:- JU    S0@@STEP_NUM@@; // STEP-0@@STEP_NUM@@:
ACT_LIST_FORMAT:- JU    @@ACT_CODE@@@@STEP_NUM@@; //ACTION-@@ACT_NUM@@
HeaderName:- MUSIP
Version:- 0.3
RevisionHistory:- // SFC Revision History:
// Rev By               Date        CC         Note
// 0.3 Srinivas Nimmala  19-May-2010  Wong(Changed Cooling-Preempt)
// 0.2 David Paspa      26-Oct-2009            Added synch flags
// 0.1 Gerald Kontriner 09-Sep-2009            SFC structural design
HMI_FORMAT:- @@STEP_NUM_INT@@,@@STEP_TITLE@@

--------------------------------------------------
PARAMETER::1
--------------------------------------------------
Name:- vessel_mx
Type:- INT
Description:- Manufacturing vessel selection M1 or M2
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::2
--------------------------------------------------
Name:- prompt_try_again
Type:- BOOL
Description:- UO_MX_SIP Operator to confirm to retry or abort
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::3
--------------------------------------------------
Name:- prompt_try_again_confirm_no
Type:- BOOL
Description:- UO_MX_SIP Operator to confirm to retry or abort confirmed abort
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::4
--------------------------------------------------
Name:- prompt_try_again_confirm_yes
Type:- BOOL
Description:- UO_MX_SIP Operator to confirm to retry or abort confirmed retry
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::5
--------------------------------------------------
Name:- log_real_emg_ti_vent_pv
Type:- BOOL
Description:- UO_MX_SIP Vent filter temperature PV
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::6
--------------------------------------------------
Name:- log_real_emg_ti_drain_pv
Type:- BOOL
Description:- UO_MX_SIP Vent filter drain temperature PV
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::7
--------------------------------------------------
Name:- log_real_emv_ti_vessel_pv
Type:- BOOL
Description:- UO_MX_SIP Vessel temperature PV
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::8
--------------------------------------------------
Name:- log_real_emx_ti_drain_pv
Type:- BOOL
Description:- UO_MX_SIP Transfer line drain temperature PV
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::9
--------------------------------------------------
Name:- real_emg_ti_vent_pv
Type:- REAL
Description:- UO_MX_SIP Vent filter temperature PV
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::10
--------------------------------------------------
Name:- real_emg_ti_drain_pv
Type:- REAL
Description:- UO_MX_SIP Vent filter drain temperature PV
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::11
--------------------------------------------------
Name:- real_emv_ti_vessel_pv
Type:- REAL
Description:- UO_MX_SIP Vessel temperature PV
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::12
--------------------------------------------------
Name:- real_emx_ti_drain_pv
Type:- REAL
Description:- UO_MX_SIP Transfer line drain temperature PV
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::13
--------------------------------------------------
Name:- log_msg_pres_blow_reached
Type:- BOOL
Description:- UO_MX_SIP Time when HPCA BLOW pressure reached
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::14
--------------------------------------------------
Name:- log_msg_pres_leave_reached
Type:- BOOL
Description:- UO_MX_SIP Time when HPCA LEAVE pressure reached
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::15
--------------------------------------------------
Name:- log_msg_sip_timer_reset
Type:- BOOL
Description:- UO_MX_SIP Sterilisation timer reset
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::16
--------------------------------------------------
Name:- log_msg_sip_start
Type:- BOOL
Description:- UO_MX_SIP Sterilisation begin time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::17
--------------------------------------------------
Name:- log_msg_sip_abort
Type:- BOOL
Description:- UO_MX_SIP SIP automatic abort due to too many fails
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::18
--------------------------------------------------
Name:- log_msg_vacuum_fail_abort
Type:- BOOL
Description:- UO_MX_SIP Operator confirmed to abort when sterilisation vacuum failed
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::19
--------------------------------------------------
Name:- log_msg_vacuum_fail_repeat
Type:- BOOL
Description:- UO_MX_SIP Operator confirmed to retry when sterilisation vacuum failed
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::20
--------------------------------------------------
Name:- log_msg_vacuum_fail
Type:- BOOL
Description:- UO_MX_SIP Sterilisation vacuum failed
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::21
--------------------------------------------------
Name:- log_msg_steam_closed
Type:- BOOL
Description:- UO_MX_SIP Steam closed time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::22
--------------------------------------------------
Name:- log_real_positive_pressure
Type:- BOOL
Description:- UO_MX_SIP Positive pressure reached
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::23
--------------------------------------------------
Name:- log_msg_steam_open
Type:- BOOL
Description:- UO_MX_SIP Steam opened time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::24
--------------------------------------------------
Name:- log_msg_vacuum_begin
Type:- BOOL
Description:- UO_MX_SIP Vacuum begin time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::25
--------------------------------------------------
Name:- log_msg_sip_begin
Type:- BOOL
Description:- UO_MX_SIP begin time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::26
--------------------------------------------------
Name:- log_msg_sip_end
Type:- BOOL
Description:- UO_MX_SIP end time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::27
--------------------------------------------------
Name:- log_msg_sip_complete
Type:- BOOL
Description:- UO_MX_SIP Sterilisation end time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::28
--------------------------------------------------
Name:- emc_gas_pi_vessel_pv
Type:- REAL
Description:- Vessel pressure
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::29
--------------------------------------------------
Name:- r_pulse_number
Type:- INT
Description:- Number of valve pulsing times
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::30
--------------------------------------------------
Name:- pulse_counter
Type:- INT
Description:- counter pulse_vlv
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::31
--------------------------------------------------
Name:- r_num_sip_abort
Type:- INT
Description:- number of SIP abort times
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::32
--------------------------------------------------
Name:- ctr_sip_abort
Type:- INT
Description:- counter of SIP abort times
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::33
--------------------------------------------------
Name:- r_time_sip
Type:- TIME
Description:- Description
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::34
--------------------------------------------------
Name:- sip_timer_started
Type:- BOOL
Description:- sip_timer_started
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::35
--------------------------------------------------
Name:- r_time_sip_abort
Type:- TIME
Description:- time_sip_abort
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::36
--------------------------------------------------
Name:- r_time_stm_drain_mx
Type:- TIME
Description:- time_stm_drain_mx
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::37
--------------------------------------------------
Name:- emx_drain_cmd
Type:- INT
Description:- Command to emx_drain
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::38
--------------------------------------------------
Name:- emx_drain_subs
Type:- INT
Description:- Substate selection to emx_drain
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::39
--------------------------------------------------
Name:- emx_drain_state
Type:- INT
Description:- Device state of emx_drain
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::40
--------------------------------------------------
Name:- r_time_eject
Type:- TIME
Description:- Vacuum eject time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::41
--------------------------------------------------
Name:- r_pres_vac
Type:- REAL
Description:- vacuum pressure
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::42
--------------------------------------------------
Name:- ema_vessel_cmd
Type:- INT
Description:- Command to ema_vessel
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::43
--------------------------------------------------
Name:- ema_vessel_subs
Type:- INT
Description:- Substate selection to ema_vessel
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::44
--------------------------------------------------
Name:- ema_vessel_state
Type:- INT
Description:- Device State of ema_vessel
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::45
--------------------------------------------------
Name:- emx_mmfl_cmd
Type:- INT
Description:- Command to emx_mmfl
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::46
--------------------------------------------------
Name:- emx_mmfl_subs
Type:- INT
Description:- Substate selection to emx_mmfl
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::47
--------------------------------------------------
Name:- emx_mmfl_state
Type:- INT
Description:- Device state of emx_mmfl
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::48
--------------------------------------------------
Name:- r_temp_sip
Type:- REAL
Description:- SIP temperature
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::49
--------------------------------------------------
Name:- r_temp_sip_vent
Type:- REAL
Description:- VENT valve SIP temperature
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::50
--------------------------------------------------
Name:- emv_vessel_ti_vessel_pv
Type:- REAL
Description:- TIn105 Vessel Temperature
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::51
--------------------------------------------------
Name:- emg_filter_ti_drain_pv
Type:- REAL
Description:- TIn103 Vent Filter Top Outlet Temperature
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::52
--------------------------------------------------
Name:- emg_filter_ti_vent_pv
Type:- REAL
Description:- TIn101 Vent Filter Temperature
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::53
--------------------------------------------------
Name:- emx_drain_ti_drain_pv
Type:- REAL
Description:- TIn107 Drain Temperature
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::54
--------------------------------------------------
Name:- log_disconnect
Type:- BOOL
Description:- UO_MX_SIP Operator confirmed all vessel pipe entries are disconnected.
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::55
--------------------------------------------------
Name:- real_positive_pressure
Type:- REAL
Description:- UO_MX_SIP Positive pressure reached
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::56
--------------------------------------------------
Name:- emc_water_cmd
Type:- INT
Description:- Command to emc_water
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::57
--------------------------------------------------
Name:- emc_water_subs
Type:- INT
Description:- Substate selection to emc_water
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::58
--------------------------------------------------
Name:- emc_water_medium_liquid
Type:- INT
Description:- Medium selection to emc_water
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::59
--------------------------------------------------
Name:- emc_gas_setpoint
Type:- REAL
Description:- emc_gas pressure setpoint
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::60
--------------------------------------------------
Name:- emg_filter_state
Type:- INT
Description:- Device State of emg_filter
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::61
--------------------------------------------------
Name:- emc_water_state
Type:- INT
Description:- Device State of emc_water
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::62
--------------------------------------------------
Name:- emg_filter_subs
Type:- INT
Description:- Substate selection to emg_filter
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::63
--------------------------------------------------
Name:- emg_filter_cmd
Type:- INT
Description:- Command to emg_filter
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::64
--------------------------------------------------
Name:- emc_gas_medium_gas
Type:- INT
Description:- emc_gas_medium
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::65
--------------------------------------------------
Name:- emc_gas_subs
Type:- INT
Description:- Substate selection to emc_gas
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::66
--------------------------------------------------
Name:- emv_vessel_subs
Type:- INT
Description:- Substate selection to emv_vessel
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::67
--------------------------------------------------
Name:- emv_vessel_cmd
Type:- INT
Description:- Command to emv_vessel
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::68
--------------------------------------------------
Name:- emc_gas_state
Type:- INT
Description:- Device State of emc_gas
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::69
--------------------------------------------------
Name:- emc_gas_cmd
Type:- INT
Description:- Command to emc_gas
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::70
--------------------------------------------------
Name:- r_time_drain_pulse
Type:- TIME
Description:- Time for drain pulsing.
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::71
--------------------------------------------------
Name:- r_pres_hpca_leave
Type:- REAL
Description:- HPCA pressure to leave 
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::72
--------------------------------------------------
Name:- r_pres_hpca_blow
Type:- REAL
Description:- Pressure
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::73
--------------------------------------------------
Name:- r_pres_lpca_blank
Type:- REAL
Description:- LPCA blanket pressure
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::74
--------------------------------------------------
Name:- r_pres_stm_pos
Type:- REAL
Description:- Positive steam pressure threshold
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::75
--------------------------------------------------
Name:- emv_vessel_state
Type:- INT
Description:- Device state of emv_vessel
ParameterInOut:- IN


--------------------------------------------------
STEP::01
--------------------------------------------------
StepNo:- 01
Title:- UO_MX_SIP : Unit operation started
Description:- Log SIP operation begin time.
Open valves on Mx to Drain flow path.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Log SIP operation begin time.
Open Mx outlet valve.
Start emx_mmfl SIP.
Action:- //Log SIP operation begin time.
SET;
S #_log_msg_sip_begin;

//Open Mx outlet valve.
L "dbCONST".BLK.EMV1.SUBS.DISCHARGE;
T #_emv_vessel_subs;
L "dbCONST".BLK.CMD.START;
T #_emv_vessel_cmd;

//Start emx_mmfl SIP.
L "dbCONST".BLK.EMX1.SUBS.SIP;
T #_emx_mmfl_subs;
L "dbCONST".BLK.CMD.START;
T #_emx_mmfl_cmd;
Verification:- A(;
L #_emv_vessel_subs;
L "dbCONST".BLK.EMV1.SUBS.DISCHARGE;
==I;
);


--------------------------------------------------
STEP::02
--------------------------------------------------
StepNo:- 02
Title:- UO_MX_SIP : Vacuum Operation Commenced
Description:- Set other Mx equipments to SAFE state.

Enable vacuum and start vacuum timer(time_eject). Log vacuum start time

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Set other Mx equipment to SAFE state.
Action:- L "dbCONST".BLK.SAFE.CMD;
T  #_ema_vessel_subs;
L "dbCONST".BLK.CMD.STOP;
T  #_ema_vessel_cmd;

L "dbCONST".BLK.SAFE.CMD;
T  #_emc_gas_subs;
L "dbCONST".BLK.CMD.STOP;
T  #_emc_gas_cmd;

L "dbCONST".BLK.SAFE.CMD;
T  #_emc_water_subs;
L "dbCONST".BLK.CMD.STOP;
T  #_emc_water_cmd;
Verification:- A(;
L #_ema_vessel_state;
L "dbCONST".BLK.STATE.STOPPED;
==I;
);
A(;
L #_emc_gas_state;
L "dbCONST".BLK.STATE.STOPPED;
==I;
);
A(;
L #_emc_water_state;
L "dbCONST".BLK.STATE.STOPPED;
==I;
);

--------------------------------------------------
ACTION::02
--------------------------------------------------
Description:- Enable vacuum and start vacuum timer. Log Vacuum begin time
Action:- //Enable vacuum.
L "dbCONST".SEL.GAS.VACUUM;
T #_emc_gas_medium_gas;
L "dbCONST".BLK.EMC1.SUBS.VALVE;
T #_emc_gas_subs;
L "dbCONST".BLK.CMD.START;
T #_emc_gas_cmd;

// Start vacuum timer
A #SQ_TIMER.Q;
R #sqSeqTimerStart;

AN #SQ_TIMER.Q;
S #sqSeqTimerStart;
L #_r_time_eject;
T #SQ_TIMER.PT;

//Log vacuum begin time.
SET;
S #_log_msg_vacuum_begin;
Verification:- A #sqSeqTimerStart;


--------------------------------------------------
TRANSITION::02
--------------------------------------------------
TRNNo:- 02
Title:- Pressure below setpoint?
EmptyTransition:- False
Description:- Pressure reduced below PRES_VAC.
Condition:- A(;
L #_emc_gas_pi_vessel_pv;
L #_r_pres_vac;
<R;
);


--------------------------------------------------
TRANSITION::03
--------------------------------------------------
TRNNo:- 03
Title:- Timer expired?
EmptyTransition:- False
Description:- Vacuum timer expired.
Condition:- A #SQ_TIMER.Q;


--------------------------------------------------
STEP::03
--------------------------------------------------
StepNo:- 03
Title:- UO_MX_SIP : Evacuation failed
Description:- Raise vacuum failed message.
Log vacuum time failed.
Prompt operator to confirm to try again.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Raise vacuum failed message.
Log vacuum time failed.
Prompt operator to confirm to try again.
Action:- //Log time vacuum failed
SET;
S #_log_msg_vacuum_fail;
S #_prompt_try_again;
Verification:- A "uncondJump";


--------------------------------------------------
TRANSITION::04
--------------------------------------------------
TRNNo:- 04
Title:- Try again?
EmptyTransition:- False
Description:- Operator want to try again.
Condition:- A #_prompt_try_again_confirm_yes;


--------------------------------------------------
TRANSITION::05
--------------------------------------------------
TRNNo:- 05
Title:- No try?
EmptyTransition:- False
Description:- Operator don't want to try again.
Condition:- A #_prompt_try_again_confirm_no;


--------------------------------------------------
STEP::04
--------------------------------------------------
StepNo:- 04
Title:- UO_MX_SIP : Vacuum operation finished.
Description:- Close Mx vacuum valves.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Close Mx Vacuum Valve.
Action:- //Disable vacuum.
L "dbCONST".BLK.SAFE.CMD;
T  #_emc_gas_subs;
L "dbCONST".BLK.CMD.STOP;
T  #_emc_gas_cmd;

// Stop timer
SET;
R #sqSeqTimerStart;
Verification:- A "uncondJump";


--------------------------------------------------
TRANSITION::06
--------------------------------------------------
TRNNo:- 6.0000
Title:- All Vacuum operations complete
EmptyTransition:- False
Description:- Vacuum valve closed.
Condition:- A(;
L 	#_emc_gas_state;
L 	"dbCONST".BLK.STATE.STOPPED;
==I;
);


--------------------------------------------------
STEP::05
--------------------------------------------------
StepNo:- 05
Title:- UO_MX_SIP : Log Operator Repeat
Description:- Log operator repeat.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Log operator repeat.
Action:- //Log operator repeat.
SET;
S #_log_msg_vacuum_fail_repeat;
R #_prompt_try_again_confirm_yes;
Verification:- A "uncondJump";


--------------------------------------------------
STEP::06
--------------------------------------------------
StepNo:- 06
Title:- UO_MX_SIP : Log Operator Abort
Description:- Log operator abort.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Log operator abort.
Action:- //Log operator abort.
SET;
S #_log_msg_vacuum_fail_abort;
R #_prompt_try_again_confirm_no;
Verification:- A "uncondJump";


--------------------------------------------------
TRANSITION::07
--------------------------------------------------
TRNNo:- 07
Title:- Empty Transition
EmptyTransition:- False
Description:- Empty Transition
Condition:- A "uncondJump";


--------------------------------------------------
STEP::07
--------------------------------------------------
StepNo:- 07
Title:- UO_MX_SIP : Initiate MX and MMFLx SIP Operations
Description:- Open Mx steam supply on WFI/PS lines.

Log steam opened time.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Open Mx steam supply on WFI/PS lines.

Log steam opened time.
Action:- //Set emc_water to substate FLUSH and open WFI/PS supply valve.
L "dbCONST".SEL.LIQUID.PSWFI;
T #_emc_water_medium_liquid;
L "dbCONST".BLK.EMC2.SUBS.FLUSH;
T #_emc_water_subs;
L "dbCONST".BLK.CMD.START;
T #_emc_water_cmd;


//Log steam opened time.
SET;
S #_log_msg_steam_open;
Verification:- //Verify if emc_water changed to substate FLUSH.
A(;
L   #_emc_water_subs;
L   "dbCONST".BLK.EMC2.SUBS.FLUSH;
==I;
);


--------------------------------------------------
TRANSITION::08
--------------------------------------------------
TRNNo:- 08
Title:- Pressure check
EmptyTransition:- False
Description:- Pressure increased above PRES_STM_POS. PCx013> PRES_STM_POS
Condition:- A(;
L 	#_emc_gas_pi_vessel_pv;
L 	#_r_pres_stm_pos;
>R;
);


--------------------------------------------------
STEP::08
--------------------------------------------------
StepNo:- 08
Title:- UO_MX_SIP : Positive pressure. 
Description:- Positive pressure has been achieved.
Log actual positive pressure.

Open Mx SIP condensate drain valve and vent filter drain valve.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Log actual positive pressure.
Open Mx SIP condensate drain valve and vent filter drain valve.
Action:- //Log actual positive pressure.
L #_emc_gas_pi_vessel_pv;
T #_real_positive_pressure;

SET;
S #_log_real_positive_pressure;

//Start EMX4_SIP.
L "dbCONST".BLK.EMX4.SUBS.SIP;
T #_emx_drain_subs;
L "dbCONST".BLK.CMD.START;
T #_emx_drain_cmd;

// Set vessel VENT filter EM to substate SIP
L "dbCONST".BLK.EMG1.SUBS.SIP;
T #_emg_filter_subs;
L "dbCONST".BLK.CMD.START;
T #_emg_filter_cmd;
Verification:- A(;
L #_emx_drain_subs;
L "dbCONST".BLK.EMX4.SUBS.SIP;
==I;
);
A(;
L #_emg_filter_subs;
L "dbCONST".BLK.EMG1.SUBS.SIP;
==I;
);


--------------------------------------------------
TRANSITION::09
--------------------------------------------------
TRNNo:- 09
Title:- Empty Transition
EmptyTransition:- False
Description:- Empty Transition
Condition:- A "uncondJump";


--------------------------------------------------
STEP::09
--------------------------------------------------
StepNo:- 09
Title:- UO_MX_SIP : Wait for free steaming timer
Description:- Start timer TIME_STM_DRAIN_Mx

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Start timer TIME_STM_DRAIN_Mx
Action:- //Start Timer for steaming
A #SQ_TIMER.Q;
R #sqSeqTimerStart;

AN #SQ_TIMER.Q;
S #sqSeqTimerStart;
L #_r_time_stm_drain_mx;
T #SQ_TIMER.PT;
Verification:- A #sqSeqTimerStart;


--------------------------------------------------
TRANSITION::10
--------------------------------------------------
TRNNo:- 10
Title:- Timer expired
EmptyTransition:- False
Description:- Timer TIME_STM_DRAIN_Mx expired?
Condition:- A #SQ_TIMER.Q;


--------------------------------------------------
STEP::10
--------------------------------------------------
StepNo:- 10
Title:- UO_MX_SIP : Free steam complete. 
Description:- Log closed system steaming start time

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Log closed system start time

Action:- //Log closed system start time.
SET;
S #_log_msg_steam_closed;
Verification:- A "uncondJump";


--------------------------------------------------
TRANSITION::11
--------------------------------------------------
TRNNo:- 11
Title:- Empty Transition
EmptyTransition:- False
Description:- Empty Transition
Condition:- A "uncondJump";


--------------------------------------------------
STEP::11
--------------------------------------------------
StepNo:- 11
Title:- UO_MX_SIP : SIP Started
Description:- Skip timer for SIP_ABORT if sip_timer_started=FALSE.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Skip timer for SIP_ABORT if sip_timer_started=FALSE.
Action:- //Skip timer for SIP_ABORT if sip_timer_started=FALSE.
A #_sip_timer_started;
JC tsi1;

// Start SIP ABORT timer
A #SQ_TIMER3.Q;
R #sqSeqTimerStart3;

AN #SQ_TIMER3.Q;
S #sqSeqTimerStart3;
L #_r_time_sip_abort;
T #SQ_TIMER3.PT;


tsi1: NOP 0;
//SIP started.

Verification:- A "uncondJump";


--------------------------------------------------
TRANSITION::12
--------------------------------------------------
TRNNo:- 12
Title:- Empty Transition
EmptyTransition:- False
Description:- Empty Transition
Condition:- A "uncondJump";


--------------------------------------------------
STEP::12
--------------------------------------------------
StepNo:- 12
Title:- UO_MX_SIP : Sequence reentry point

--------------------------------------------------
ACTION::01
--------------------------------------------------

--------------------------------------------------
TRANSITION::13
--------------------------------------------------
TRNNo:- 13.0000
Title:- Empty Transition
EmptyTransition:- False
Description:- Empty Transition
Condition:- A "uncondJump";


--------------------------------------------------
STEP::13
--------------------------------------------------
StepNo:- 13
Title:- UO_MX_SIP : Monitor MX SIP Temperatures
Description:- Log all Mx vessel temperatures every 30sec.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Log all Mx vessel temperatures  every 30sec. 
Action:- //Log all temperatures
SET;
R #sqSeqTimerStart2;
L #_emg_filter_ti_vent_pv;
T #_real_emg_ti_vent_pv;
L #_emg_filter_ti_drain_pv;
T #_real_emg_ti_drain_pv;
L #_emv_vessel_ti_vessel_pv;
T #_real_emv_ti_vessel_pv;
L #_emx_drain_ti_drain_pv;
T #_real_emx_ti_drain_pv;

SET;
S #_log_real_emg_ti_vent_pv;
S #_log_real_emg_ti_drain_pv;
S #_log_real_emv_ti_vessel_pv;
S #_log_real_emx_ti_drain_pv;


AN #SQ_TIMER2.Q;
S #sqSeqTimerStart2;
L T#30S;
T #SQ_TIMER2.PT;
Verification:- A "uncondJump";


--------------------------------------------------
TRANSITION::14
--------------------------------------------------
TRNNo:- 14
Title:- Temperature below setpoint
EmptyTransition:- False
Description:- SIP timer running and any temperature below TEMP_SIP or the vent filter inlet temperature below TEMP_SIP_VENT?
Condition:- A #_sip_timer_started;
A(;
//TIn101
O(;
L 	#_emg_filter_ti_vent_pv;
L 	#_r_temp_sip_vent;
<R;
);
//TIn103
O(;
L              #_emg_filter_ti_drain_pv;
L 	#_r_temp_sip_vent;
<R;
);
//TIn105
O(;
L              #_emv_vessel_ti_vessel_pv;
L 	#_r_temp_sip;
<R;
);
//TIn107.
O(;
L              #_emx_drain_ti_drain_pv;
L 	#_r_temp_sip;
<R;
);
);


--------------------------------------------------
TRANSITION::15
--------------------------------------------------
TRNNo:- 15
Title:- All temperatures above setpoint.
EmptyTransition:- False
Description:- All SIP temperatures above TEMP_SIP °C and the vent filter inlet temperature above TEMP_SIP_VENT?
and SIP timer not running? 
Mx Gas Filter TI_x101, Mx vent line TI_x103, Mx Vessel TI_x105, MFLx Filtration Line TI_x107 & Mx Drain TI_x109.
Condition:- AN #_sip_timer_started;
AN #SQ_TIMER.Q;

//TIn101
A(;
L 	#_emg_filter_ti_vent_pv;
L 	#_r_temp_sip_vent;
>R;
);
//TIn103
A(;
L              #_emg_filter_ti_drain_pv;
L 	#_r_temp_sip_vent;
>R;
);
//TIn105
A(;
L              #_emv_vessel_ti_vessel_pv;
L 	#_r_temp_sip;
>R;
);
//TIn107.
A(;
L              #_emx_drain_ti_drain_pv;
L 	#_r_temp_sip;
>R;
);


--------------------------------------------------
TRANSITION::16
--------------------------------------------------
TRNNo:- 16
Title:- Temperature logging timer expired
EmptyTransition:- False
Description:- 30 seconds expired.
Condition:- A #SQ_TIMER2.Q;


--------------------------------------------------
TRANSITION::17
--------------------------------------------------
TRNNo:- 17.0000
Title:- SIP Timer Expired
EmptyTransition:- False
Description:- Timer TIME_SIP expired.
Condition:- A #SQ_TIMER.Q;
A #_sip_timer_started;


--------------------------------------------------
TRANSITION::18
--------------------------------------------------
TRNNo:- 18
Title:- Abort timer expired
EmptyTransition:- False
Description:- Timer TIME_SIP_ABORT is expired.
Condition:- A #SQ_TIMER3.Q;
AN #_sip_timer_started;


--------------------------------------------------
STEP::14
--------------------------------------------------
StepNo:- 14
Title:- UO_MX_SIP : Start MX SIP timer 
Description:- Start SIP timer TIME_SIP.
Set sip_timer_started.
Log SIP start time.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Start SIP timer TIME_SIP.
Log SIP start time and Set sip_timer_started.
Action:- A #SQ_TIMER.Q;
R #sqSeqTimerStart;

AN #SQ_TIMER.Q;
S #sqSeqTimerStart;
L #_r_time_sip;
T #SQ_TIMER.PT;

//Log SIP start time.
SET;
S #_log_msg_sip_start;
//SIP timer started
S #_sip_timer_started;
Verification:- A #sqSeqTimerStart;


--------------------------------------------------
TRANSITION::19
--------------------------------------------------
TRNNo:- 19.0000
Title:- SIP Timer Expired
EmptyTransition:- False
Description:- Timer TIME_SIP not yet expired.
Condition:- AN #SQ_TIMER.Q;


--------------------------------------------------
STEP::15
--------------------------------------------------
StepNo:- 15
Title:- UO_MX_SIP : Low MX temperature during SIP
Description:- Reset sip_timer_started and log timer RESET.
Increase counter.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Reset sip_timer_started and log timer RESET.
Increase counter.
Action:- A #SQ_TIMER.Q;
R #sqSeqTimerStart;

//Reset flag.
SET;
R #_sip_timer_started;
S #_log_msg_sip_timer_reset;

//Increase counter.
L #_ctr_sip_abort;
INC 1;
T #_ctr_sip_abort;
Verification:- A "uncondJump";


--------------------------------------------------
TRANSITION::20
--------------------------------------------------
TRNNo:- 20
Title:- Retry SIP again
EmptyTransition:- False
Description:- Temperature has dropped less than 'NUM_SIP_ABORT' times
Condition:- A(;
L 	#_ctr_sip_abort;
L 	#_r_num_sip_abort;
<I;
);


--------------------------------------------------
TRANSITION::21
--------------------------------------------------
TRNNo:- 21
Title:- Abort SIP
EmptyTransition:- False
Description:- Temperature has dropped 'NUM_SIP_ABORT' times.
Condition:- //ABORT timer expired.
O #SQ_TIMER3.Q;
//Temperature has dropped NUM_SIP_ABORT times.
O(;
L 	#_ctr_sip_abort;
L 	#_r_num_sip_abort;
>=I;
);




--------------------------------------------------
STEP::16
--------------------------------------------------
StepNo:- 16
Title:- UO_MX_SIP : MX complete
Description:- Log SIP completion time.
Clear pulse_counter.
Close Mx steam supply on WFI/PS.
Log all temperatures.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Log SIP completion time.
Clear counter CTR_PULSE_VLV.
Close Mx steam supply on WFI/PS.
Log all temperatures.
Action:- //Log SIP completion time
SET;
S #_log_msg_sip_complete;

//Clear counter
L 0;
T #_pulse_counter; 

L "dbCONST".BLK.SAFE.CMD;
T  #_emc_water_subs;
L "dbCONST".BLK.CMD.STOP;
T  #_emc_water_cmd;

//Log all temperatures.
SET;
R #sqSeqTimerStart2;
L #_emg_filter_ti_vent_pv;
T #_real_emg_ti_vent_pv;
L #_emg_filter_ti_drain_pv;
T #_real_emg_ti_drain_pv;
L #_emv_vessel_ti_vessel_pv;
T #_real_emv_ti_vessel_pv;
L #_emx_drain_ti_drain_pv;
T #_real_emx_ti_drain_pv;

SET;
S #_log_real_emg_ti_vent_pv;
S #_log_real_emg_ti_drain_pv;
S #_log_real_emv_ti_vessel_pv;
S #_log_real_emx_ti_drain_pv;
Verification:- A(;
L #_emc_water_state;
L "dbCONST".BLK.STATE.STOPPED;
==I;
);


--------------------------------------------------
TRANSITION::23
--------------------------------------------------
TRNNo:- 23
Title:- Pressure dopped below PRES_HPCA_BLOW.
EmptyTransition:- False
Description:- Pressure dropped to PRES_HPCA_BLOW. PIC-x103 <= PRES_HPCA_BLOW
Condition:- A(;
L 	#_emc_gas_pi_vessel_pv;
L 	#_r_pres_hpca_blow;
<=R;
);


--------------------------------------------------
STEP::17
--------------------------------------------------
StepNo:- 17.0000
Title:- UO_MX_SIP : Automatic MX SIP ABORT
Description:- Log automatic ABORT.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Log automatic ABORT.
Action:- SET;
S #_log_msg_sip_abort;
Verification:- A "uncondJump";


--------------------------------------------------
TRANSITION::22
--------------------------------------------------
TRNNo:- 22.0000
Title:- Always High
EmptyTransition:- False
Description:- Always High
Condition:- A "uncondJump";


--------------------------------------------------
STEP::18
--------------------------------------------------
StepNo:- 18
Title:- UO_MX_SIP : Start HPCA pressure control
Description:- Log time when pressure reached.
Enable Mx HPCA pressure control at setpoint PRES_HPCA_BLOW.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Log time when pressure reached
Start HPCA pressure control at setpoint pres_hpca_blow.

Action:- //Log time when pressure reached
SET;
S #_log_msg_pres_blow_reached;

// Enable Mx HPCA pressure control at setpoint PRES_HPCA_BLOW.
L #_r_pres_hpca_blow;
T #_emc_gas_setpoint;
L "dbCONST".SEL.GAS.HPCA;
T #_emc_gas_medium_gas;
L "dbCONST".BLK.EMC1.SUBS.PRESSURE;
T #_emc_gas_subs;
L "dbCONST".BLK.CMD.START;
T #_emc_gas_cmd;
Verification:- A(;
L #_emc_gas_subs;
L "dbCONST".BLK.EMC1.SUBS.PRESSURE;
==I;
);


--------------------------------------------------
TRANSITION::24
--------------------------------------------------
TRNNo:- 24.0000
Title:- Empty transition.
EmptyTransition:- False
Description:- Empty transition.
Condition:- A "uncondJump";


--------------------------------------------------
STEP::19
--------------------------------------------------
StepNo:- 19
Title:- UO_MX_SIP : Wait for HPCA blow complete or to pulse drain
Description:- Start MX Drain valve pulse timer (time_drain_pulse)

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Start MX Drain valve pulse timer.
Action:- // Start vacuum timer
A #SQ_TIMER.Q;
R #sqSeqTimerStart;

AN #SQ_TIMER.Q;
S #sqSeqTimerStart;
L #_r_time_drain_pulse;
T #SQ_TIMER.PT;
Verification:- A #sqSeqTimerStart;


--------------------------------------------------
TRANSITION::25
--------------------------------------------------
TRNNo:- 25
Title:- Finished pulsing drain valves?
EmptyTransition:- False
Description:- Drain valves pulsed pulse_number times
Condition:- A(;
L 	#_pulse_counter;
L 	#_r_pulse_number;
>=I;
);



--------------------------------------------------
STEP::20
--------------------------------------------------
StepNo:- 20
Title:- UO_MX_SIP : Pulse SIP drain valve opened
Description:- Close valves on Sy, SMFLx and FLz path to Drain flow path, SIP condensate drain valve and vent filter drain valve.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Close valves on Sy, SMFLx and FLz path to Drain flow path, SIP condensate drain valve and vent filter drain valve.
Action:- L "dbCONST".BLK.SAFE.CMD;
T  #_emx_drain_subs;
L "dbCONST".BLK.CMD.STOP;
T  #_emx_drain_cmd;

L "dbCONST".BLK.SAFE.CMD;
T  #_emg_filter_subs;
L "dbCONST".BLK.CMD.STOP;
T  #_emg_filter_cmd;

L "dbCONST".BLK.SAFE.CMD;
T  #_emx_mmfl_subs;
L "dbCONST".BLK.CMD.STOP;
T  #_emx_mmfl_cmd;

Verification:- A(;
L #_emx_drain_state;
L "dbCONST".BLK.STATE.STOPPED;
==I;
);
A(;
L #_emg_filter_state;
L "dbCONST".BLK.STATE.STOPPED;
==I;
);
A(;
L #_emx_mmfl_state;
L "dbCONST".BLK.STATE.STOPPED;
==I;
);

--------------------------------------------------
ACTION::02
--------------------------------------------------
Description:- Timer
Action:- //Start Timer
A #SQ_TIMER.Q;
R #sqSeqTimerStart;

AN #SQ_TIMER.Q;
S #sqSeqTimerStart;
L #_r_time_drain_pulse;
T #SQ_TIMER.PT;
Verification:- A #sqSeqTimerStart;


--------------------------------------------------
TRANSITION::27
--------------------------------------------------
TRNNo:- 27.0000
Title:- Timer expired?
EmptyTransition:- False
Description:- Time for drain pulsing TIME_DRAIN_PULSE expired.
Condition:- A #SQ_TIMER.Q;


--------------------------------------------------
STEP::21
--------------------------------------------------
StepNo:- 21
Title:- UO_MX_SIP : Wait for time to pulse drain valve
Description:- Increment pulse_counter.
Open valves on Sy, SMFLx and FLz path to Drain flow path, SIP condensate drain valve and vent filter drain valve.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Increment pulse_counter
Stop EM to be able to apply start same substate with different settings
Action:- //Counter
L #_pulse_counter;
INC 1;
T #_pulse_counter;
Verification:- A "uncondJump";

--------------------------------------------------
ACTION::02
--------------------------------------------------
Description:- Open valves on Sy, SMFLx and FLz path to Drain flow path.
Start EMX6_SIP, EMX2_SIP, EMX4_SIP.
Open SIP condensate drain valve and vent filter drain valve.
Action:- //Start emx_mmfl SIP.
L "dbCONST".BLK.EMX1.SUBS.SIP;
T #_emx_mmfl_subs;
L "dbCONST".BLK.CMD.START;
T #_emx_mmfl_cmd;

//Start EMX4_SIP.
L "dbCONST".BLK.EMX4.SUBS.SIP;
T #_emx_drain_subs;
L "dbCONST".BLK.CMD.START;
T #_emx_drain_cmd;

// Set vessel VENT filter EM to substate SIP
L "dbCONST".BLK.EMG1.SUBS.SIP;
T #_emg_filter_subs;
L "dbCONST".BLK.CMD.START;
T #_emg_filter_cmd;

Verification:- A(;
L #_emx_drain_subs;
L "dbCONST".BLK.EMX4.SUBS.SIP;
==I;
);
A(;
L #_emg_filter_subs;
L "dbCONST".BLK.EMG1.SUBS.SIP;
==I;
);
A(;
L #_emx_mmfl_subs;
L "dbCONST".BLK.EMX1.SUBS.SIP;
==I;
);

--------------------------------------------------
ACTION::03
--------------------------------------------------
Description:- Timer
Action:- //Start Timer
A #SQ_TIMER.Q;
R #sqSeqTimerStart;

AN #SQ_TIMER.Q;
S #sqSeqTimerStart;
L #_r_time_drain_pulse;
T #SQ_TIMER.PT;
Verification:- A #sqSeqTimerStart;


--------------------------------------------------
TRANSITION::28
--------------------------------------------------
TRNNo:- 28
Title:- Finished pulsing drain valves after repeats.
EmptyTransition:- False
Description:- Drain valves pulsed pulse_number times after delay OR pulse wait time expired
Condition:- A(;
O(;
L 	#_pulse_counter;
L 	#_r_pulse_number;
>=I;
);
O #SQ_TIMER.Q;
);


--------------------------------------------------
STEP::22
--------------------------------------------------
StepNo:- 22.0000
Title:- UO_MX_SIP : Disable HPCA and wait for reduced pressure
Description:- Disable Mx HPCA pressure control.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Stop Mx HPCA pressure control.
Action:- //Stop Mx HPCA pressure control
L "dbCONST".BLK.SAFE.CMD;
T  #_emc_gas_subs;
L "dbCONST".BLK.CMD.STOP;
T  #_emc_gas_cmd;
Verification:- A(;
L 	#_emc_gas_state;
L 	"dbCONST".BLK.STATE.STOPPED;
==I;
);


--------------------------------------------------
TRANSITION::29
--------------------------------------------------
TRNNo:- 29
Title:- HPCA pressure below PRES_HPCA_LEAVE.
EmptyTransition:- False
Description:- Pressure below PRES_HPCA_LEAVE. PIC_x103 <= PRES_HPCA_LEAVE
Condition:- A(;
L 	#_emc_gas_pi_vessel_pv;
L 	#_r_pres_hpca_leave;
<=R;
);


--------------------------------------------------
STEP::23
--------------------------------------------------
StepNo:- 23.0000
Title:- UO_MX_SIP : Pressure reduced. Wait to close vessel outlet valve
Description:- Log time when pressure reached.
Close Mx vent filter drain valve and valves on Mx to Drain flow path sequentially backwards until Mx vessel outlet valve.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Log time when pressure reached.

Action:- //Log time when pressure reached.
SET;
S #_log_msg_pres_leave_reached;

L "dbCONST".BLK.SAFE.CMD;
T  #_emx_drain_subs;
L "dbCONST".BLK.CMD.STOP;
T  #_emx_drain_cmd;

L "dbCONST".BLK.SAFE.CMD;
T  #_emg_filter_subs;
L "dbCONST".BLK.CMD.STOP;
T  #_emg_filter_cmd;

L "dbCONST".BLK.SAFE.CMD;
T  #_emx_mmfl_subs;
L "dbCONST".BLK.CMD.STOP;
T  #_emx_mmfl_cmd;

L "dbCONST".BLK.SAFE.CMD;
T  #_emv_vessel_subs;
L "dbCONST".BLK.CMD.STOP;
T  #_emv_vessel_cmd;
Verification:- A(;
L #_emx_drain_state;
L "dbCONST".BLK.STATE.STOPPED;
==I;
);
A(;
L #_emg_filter_state;
L "dbCONST".BLK.STATE.STOPPED;
==I;
);
A(;
L #_emx_mmfl_state;
L "dbCONST".BLK.STATE.STOPPED;
==I;
);
A(;
L #_emv_vessel_state;
L "dbCONST".BLK.STATE.STOPPED;
==I;
);


--------------------------------------------------
TRANSITION::30
--------------------------------------------------
TRNNo:- 30.0000
Title:- Empty transition.
EmptyTransition:- False
Description:- Unconditional jump
Condition:- A "uncondJump";


--------------------------------------------------
STEP::24
--------------------------------------------------
StepNo:- 24
Title:- UO_MX_SIP : Start LPCA blanketing and open vent valve
Description:- Enable Mx LPCA pressure control at setpoint PRES_LPCA_BLANK.
Open vent valve.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Enable Mx LPCA pressure control at setpoint PRES_LPCA_BLANK.
Open vent valve.
Action:- // Enable Mx LPCA pressure control and open Vent valve.
L #_r_pres_lpca_blank;
T #_emc_gas_setpoint;
L "dbCONST".SEL.GAS.LPCA;
T #_emc_gas_medium_gas;
L "dbCONST".BLK.EMC1.SUBS.PRESSURE;
T #_emc_gas_subs;
L "dbCONST".BLK.CMD.START;
T #_emc_gas_cmd;


Verification:- //Verify LCPA pressure control enabled.
A(;
L #_emc_gas_subs;
L "dbCONST".BLK.EMC1.SUBS.PRESSURE;
==I;
);


--------------------------------------------------
TRANSITION::31
--------------------------------------------------
TRNNo:- 31.0000
Title:- Empty transition.
EmptyTransition:- False
Description:- Unconditional jump
Condition:- A "uncondJump";


--------------------------------------------------
STEP::25
--------------------------------------------------
StepNo:- 25
Title:- UO_MX_SIP : Unit Operation Completed
Description:- Set equipment to SAFE state.
Log SIP operation end time.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Set equipment to SAFE state.
Log SIP operation end time.
Action:- L "dbCONST".BLK.SAFE.CMD;
T  #_emc_water_subs;
L "dbCONST".BLK.CMD.STOP;
T  #_emc_water_cmd;

//Log SIP operation end time.
SET;
S #_log_msg_sip_end;
Verification:- A "uncondJump";

****************************************************************************************************
END SSS REPORT
****************************************************************************************************
