****************************************************************************************************
SEQUENCE STEP SCHEDULE
generated on 19/11/2018 11:36:41 AM by David Paspa
****************************************************************************************************





--------------------------------------------------
SEQUENCE
--------------------------------------------------

SFCNo:- 4
Title:- UO_MX_FILTER
Description:- Manufacturing Vessel Mx filtration to Storage Vessel Sy. Sequence for Filtration from Manufacturing Vessel Mx to Storage Vessel Sy.
Name:- FILTER
Class:- MX
Level:- UO
STEP_LIST_FORMAT:- JU    S0@@STEP_NUM@@; // STEP-0@@STEP_NUM@@:
ACT_LIST_FORMAT:- JU    @@ACT_CODE@@@@STEP_NUM@@; //ACTION-@@ACT_NUM@@
HeaderName:- MUFILT
Version:- 0.1
RevisionHistory:- // SFC Revision History:
// Rev By               Date        CC         Note
// 0.1 Gerald Kontriner 10-Sep-2009            SFC structural design
HMI_FORMAT:- @@STEP_NUM_INT@@,@@STEP_TITLE@@

--------------------------------------------------
PARAMETER::1
--------------------------------------------------
Name:- r_pres_lpca_blanket
Type:- REAL
Description:- MX FILTER LPCA blanket pressure
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::2
--------------------------------------------------
Name:- prompt_abort
Type:- BOOL
Description:- UO_MX_FILTER Operator to confirm abort due to invalid Hygiene Status
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::3
--------------------------------------------------
Name:- prompt_abort_confirm_yes
Type:- BOOL
Description:- UO_MX_FILTER Operator confirmed to abort due to invalid Hygiene Status
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::4
--------------------------------------------------
Name:- log_msg_wrong_hygiene
Type:- BOOL
Description:- UO_MX_FILTER Unit has incorrect Hygiene Status
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::5
--------------------------------------------------
Name:- emx_smfldrn_hygiene
Type:- INT
Description:- Description
ParameterInOut:- IN_OUT

--------------------------------------------------
PARAMETER::6
--------------------------------------------------
Name:- emx_smfl_hygiene
Type:- INT
Description:- Description
ParameterInOut:- IN_OUT

--------------------------------------------------
PARAMETER::7
--------------------------------------------------
Name:- emx_transfer_hygiene
Type:- INT
Description:- Description
ParameterInOut:- IN_OUT

--------------------------------------------------
PARAMETER::8
--------------------------------------------------
Name:- log_real_throttled_vessel_mass
Type:- BOOL
Description:- UO_MX_FILTER throttled vessel mass
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::9
--------------------------------------------------
Name:- real_throttled_vessel_mass
Type:- REAL
Description:- UO_MX_FILTER throttled vessel mass
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::10
--------------------------------------------------
Name:- real_hihi_temperature
Type:- REAL
Description:- UO_MX_FILTER Vessel temperature reached High High setpoint
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::11
--------------------------------------------------
Name:- real_hi_temperature
Type:- REAL
Description:- UO_MX_FILTER Vessel temperature reached High setpoint
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::12
--------------------------------------------------
Name:- real_reduced_vessel_mass
Type:- REAL
Description:- UO_MX_FILTER Vessel mass not reduced enough in time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::13
--------------------------------------------------
Name:- prompt_filt_completed
Type:- BOOL
Description:- UO_MX_FILTER Operator to confirm filtration completed 
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::14
--------------------------------------------------
Name:- emt_hex_setpoint
Type:- REAL
Description:- Heat exchanger temperature controller temperature setpoint
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::15
--------------------------------------------------
Name:- vessel_mx
Type:- INT
Description:- Manufacturing vessel selection M1 or M2
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::16
--------------------------------------------------
Name:- vessel_sy
Type:- INT
Description:- Storage vessel selection S1 or S2
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::17
--------------------------------------------------
Name:- log_msg_temperature_abort
Type:- BOOL
Description:- UO_MX_FILTER Operation aborted due to HiHi temperature
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::18
--------------------------------------------------
Name:- log_real_hihi_temperature
Type:- BOOL
Description:- UO_MX_FILTER Vessel temperature reached High High setpoint
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::19
--------------------------------------------------
Name:- r_mass_expect_reduced
Type:- REAL
Description:- MX FILTER Expected mass value to be reduced in MX during filtration
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::20
--------------------------------------------------
Name:- emv_vessel_ti_vessel_pv
Type:- REAL
Description:- Mx temperature indicator
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::21
--------------------------------------------------
Name:- r_temp_limit_h
Type:- REAL
Description:- MX FILTER Vessel temperature high limit
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::22
--------------------------------------------------
Name:- r_temp_limit_hh
Type:- REAL
Description:- MX FILTER Vessel temperature high high limit
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::23
--------------------------------------------------
Name:- vessel_mass_alarm
Type:- BOOL
Description:- Internal vessel mass alarm flag
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::24
--------------------------------------------------
Name:- hi_temperature_alarm
Type:- BOOL
Description:- Internal vessel temperature alarm flag
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::25
--------------------------------------------------
Name:- r_time_mass_reduce
Type:- TIME
Description:- MX FILTER Time to check if MX mass not reducing during filtration
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::26
--------------------------------------------------
Name:- mass_prod_initial
Type:- REAL
Description:- Initial Mx vessel mass
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::27
--------------------------------------------------
Name:- log_real_reduced_vessel_mass
Type:- BOOL
Description:- UO_MX_FILTER Vessel mass not reduced enough in time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::28
--------------------------------------------------
Name:- log_real_hi_temperature
Type:- BOOL
Description:- UO_MX_FILTER Vessel temperature reached High setpoint
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::29
--------------------------------------------------
Name:- log_msg_filtration_end
Type:- BOOL
Description:- UO_MX_FILTER Filtration end time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::30
--------------------------------------------------
Name:- log_msg_filter_end
Type:- BOOL
Description:- UO_MX_FILTER end time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::31
--------------------------------------------------
Name:- log_msg_filter_begin
Type:- BOOL
Description:- UO_MX_FILTER begin time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::32
--------------------------------------------------
Name:- emm_vessel_mass_nett
Type:- REAL
Description:- Mx mass indicator
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::33
--------------------------------------------------
Name:- emv_vessel_subs
Type:- INT
Description:- Substate selection of emv_vessel
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::34
--------------------------------------------------
Name:- emv_vessel_cmd
Type:- INT
Description:- Command to emv_vessel
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::35
--------------------------------------------------
Name:- emv_vessel_state
Type:- INT
Description:- Device State of emv_vessel
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::36
--------------------------------------------------
Name:- emt_hex_subs
Type:- INT
Description:- Substate selection of emt_hex
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::37
--------------------------------------------------
Name:- emt_hex_state
Type:- INT
Description:- Device State of emt_hex
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::38
--------------------------------------------------
Name:- emt_hex_cmd
Type:- INT
Description:- Command to emt_hex
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::39
--------------------------------------------------
Name:- prompt_filtration
Type:- BOOL
Description:- UO_MX_FILTER Operator to confirm to start filtration
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::40
--------------------------------------------------
Name:- prompt_filtration_confirm_yes
Type:- BOOL
Description:- UO_MX_FILTER Operator to confirm to start filtration confirmed yes
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::41
--------------------------------------------------
Name:- temp_filt
Type:- REAL
Description:- Filter temperature setpoint
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::42
--------------------------------------------------
Name:- emx_smfl_state
Type:- INT
Description:- Device State of emx_smfl
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::43
--------------------------------------------------
Name:- emx_transfer_state
Type:- INT
Description:- Device State of emx_transfer
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::44
--------------------------------------------------
Name:- emx_smfl_cmd
Type:- INT
Description:- Command to emx_smfl
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::45
--------------------------------------------------
Name:- emx_smfl_subs
Type:- INT
Description:- Substate selection of emx_smfl
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::46
--------------------------------------------------
Name:- emx_transfer_cmd
Type:- INT
Description:- Command to emx_transfer
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::47
--------------------------------------------------
Name:- emx_transfer_subs
Type:- INT
Description:- Substate selection of emx_transfer
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::48
--------------------------------------------------
Name:- log_msg_filtration_complete
Type:- BOOL
Description:- UO_MX_FILTER Operator confirmed filtration completed 
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::49
--------------------------------------------------
Name:- prompt_filt_completed_confirm_yes
Type:- BOOL
Description:- UO_MX_FILTER Operator to confirm filtration completed confirmed yes
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::50
--------------------------------------------------
Name:- r_mass_throttle_mx
Type:- REAL
Description:- MX FILTER Mass nearing the end of transfer to reduce pressure
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::51
--------------------------------------------------
Name:- r_pres_hpca_filt2
Type:- REAL
Description:- MX FILTER HCPA Near filtration end reduced pressure setpoint
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::52
--------------------------------------------------
Name:- sync_read_start_hpca
Type:- BOOL
Description:- UO_MX_FILTER Sync flag to start HPCA supply
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::53
--------------------------------------------------
Name:- emx_mmfl_cmd
Type:- INT
Description:- Command emx_mmfl
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::54
--------------------------------------------------
Name:- emx_mmfl_subs
Type:- INT
Description:- Substate selection of emx_mmfl
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::55
--------------------------------------------------
Name:- emc_gas_state
Type:- INT
Description:- Device State of emc_gas
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::56
--------------------------------------------------
Name:- emc_gas_subs
Type:- INT
Description:- Substate selection to emc_gas
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::57
--------------------------------------------------
Name:- emc_water_state
Type:- INT
Description:- Device state of emc_water
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::58
--------------------------------------------------
Name:- emc_water_subs
Type:- INT
Description:- Substate selection to emc_water
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::59
--------------------------------------------------
Name:- emc_gas_setpoint
Type:- REAL
Description:- emc_gas_setpoint
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::60
--------------------------------------------------
Name:- emx_mmfl_state
Type:- INT
Description:- Device State of emx_mmfl
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::61
--------------------------------------------------
Name:- emc_water_cmd
Type:- INT
Description:- Command to emc_water
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::62
--------------------------------------------------
Name:- emc_gas_cmd
Type:- INT
Description:- Command to emc_gas
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::63
--------------------------------------------------
Name:- emc_gas_medium_gas
Type:- INT
Description:- emc_gas_medium
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::64
--------------------------------------------------
Name:- ema_vessel_state
Type:- INT
Description:- Device State of ema_vessel
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::65
--------------------------------------------------
Name:- ema_vessel_subs
Type:- INT
Description:- Substate selection to ema_vessel
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::66
--------------------------------------------------
Name:- ema_vessel_cmd
Type:- INT
Description:- ema_vessel_cmd
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::67
--------------------------------------------------
Name:- sync_write_ready_hpca
Type:- BOOL
Description:- UO_MX_FILTER Sync flag ready to start HPN2 supply
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::68
--------------------------------------------------
Name:- sync_read_filtration_complete
Type:- BOOL
Description:- UO_MX_FILTER Sync flag to start transfer
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::69
--------------------------------------------------
Name:- r_pres_hpca_filt
Type:- REAL
Description:- MX FILTER HCPA Filtration pressure setpoint
ParameterInOut:- VAR


--------------------------------------------------
STEP::01
--------------------------------------------------
StepNo:- 01
Title:- UO_MX_FILTER : Filtration Unit Operation Commenced
Description:- Log Mx Filter operation begin time.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Log Mx Filter operation begin time.
Action:- //Log Mx Filter operation begin time.
SET;
S #_log_msg_filter_begin;


--------------------------------------------------
TRANSITION::01
--------------------------------------------------
TRNNo:- 1.0000
Title:- Incorrect Hygiene Status
EmptyTransition:- False
Description:- Empty Transition
Condition:- A "uncondJump";


--------------------------------------------------
TRANSITION::02
--------------------------------------------------
TRNNo:- 2.0000
Title:- Check Hygiene Status
EmptyTransition:- False
Description:- SMFL and SVT are in Hygiene status STERILE?
Condition:- A(;
L  "dbCONST".BLK.HYGIENE.STERILE;
L #_emx_transfer_hygiene;
==I;
);
A(;
L  "dbCONST".BLK.HYGIENE.STERILE;
L #_emx_smfl_hygiene;
==I;
);
A(;
L  "dbCONST".BLK.HYGIENE.STERILE;
L #_emx_smfldrn_hygiene;
==I;
);


--------------------------------------------------
STEP::02
--------------------------------------------------
StepNo:- 02
Title:- UO_MX_FILTER : Incorrect Hygiene Status
Description:- Log equipment is not in Hygiene status USED.
Prompt operator to confirm abort.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Log equipment is not in Hygiene status USED.
Send message to HMI
Action:- //Log time if one or more units not in correct Hygiene status USED
SET;
S #_log_msg_wrong_hygiene;
S #_prompt_abort;
Verification:- A "uncondJump";


--------------------------------------------------
TRANSITION::03
--------------------------------------------------
TRNNo:- 03
Title:- Confirm Abort (Incorrect Hygiene Status)
EmptyTransition:- False
Description:- Confirm Abort (Incorrect Hygiene Status)
Condition:- A #_prompt_abort_confirm_yes;


--------------------------------------------------
STEP::03
--------------------------------------------------
StepNo:- 03
Title:- UO_MX_FILTER : Connect Pre Filter to to Flow Plate FPx1.
Description:- Connect Pre Filter to to Flow Plate FPx1.
Set SMFL and SVT hygiene status to BATCH.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Reset mmfl EM
Action:- L "dbCONST".BLK.CMD.STOP;
T #_emx_mmfl_cmd;
Verification:- A(;
L   #_emx_mmfl_state;
L   "dbCONST".BLK.STATE.STOPPED;
==I;
);

--------------------------------------------------
ACTION::02
--------------------------------------------------
Description:- Prompt operator to confirm Pre-Filter is connected to FPn1 ZSCn113 by starting EMX1_SETUP_FILTER.
Set SMFL and SVT hygiene status to BATCH.
Action:- //Start EMX1_SETUP_FILTER.
L "dbCONST".BLK.EMX1.SUBS.SETUP_FILTER;
T #_emx_mmfl_subs;
L "dbCONST".BLK.CMD.START;
T #_emx_mmfl_cmd;

//Set SMFL and SVT hygiene status to BATCH.
L  "dbCONST".BLK.HYGIENE.BATCH;
T #_emx_transfer_hygiene;
T #_emx_smfl_hygiene;
T #_emx_smfldrn_hygiene;
Verification:- A(;
L #_emx_mmfl_subs;
L "dbCONST".BLK.EMX1.SUBS.SETUP_FILTER;
==I;
);


--------------------------------------------------
TRANSITION::04
--------------------------------------------------
TRNNo:- 04
Title:- Confirmation Received
EmptyTransition:- False
Description:- Confirmation from the Operator Received
Condition:- //EMX1 Filter Setup completed.
A(;
L  #_emx_mmfl_state;
L  "dbCONST".BLK.STATE.COMPLETED;
==I;
);


--------------------------------------------------
STEP::04
--------------------------------------------------
StepNo:- 04
Title:- UO_MX_FILTER : Start filtration.
Description:- Set all Mx equipment to safe state with Mx LPCA control enabled and vent valve closed.

Store current vessel mass.
Prompt operator to start filtration.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Reset gas EM
Action:- L "dbCONST".BLK.CMD.STOP;
T #_emc_gas_cmd;
Verification:- A(;
L   #_emc_gas_state;
L   "dbCONST".BLK.STATE.STOPPED;
==I;
);

--------------------------------------------------
ACTION::02
--------------------------------------------------
Description:- Set all Mx equipment to safe state with Mx LCPA control enabled and vent valve closed.

Action:- // Enable Mx LPCA pressure control.
L #_r_pres_lpca_blanket;
T #_emc_gas_setpoint;
L "dbCONST".SEL.GAS.LPCA;
T #_emc_gas_medium_gas;
L "dbCONST".BLK.EMC1.SUBS.PRESSURE;
T #_emc_gas_subs;
L  "dbCONST".BLK.CMD.START;
T #_emc_gas_cmd;

//Set all Mx equipment to safe state.
L "dbCONST".BLK.CMD.STOP;
T  #_ema_vessel_cmd;

L "dbCONST".BLK.CMD.STOP;
T  #_emc_water_cmd;

L "dbCONST".BLK.CMD.STOP;
T  #_emv_vessel_cmd;

Verification:- A(;
L #_emc_gas_subs;
L "dbCONST".BLK.EMC1.SUBS.PRESSURE;  
==I;
);
A(;
L #_emc_water_state;
L "dbCONST".BLK.STATE.STOPPED;
==I;
);
A(;
L #_emv_vessel_state;
L "dbCONST".BLK.STATE.STOPPED;
==I;
);


--------------------------------------------------
ACTION::03
--------------------------------------------------
Description:- Fetch the current vessel mass and store in mass_prod_initial.
Prompt operator to start filtration and reset flags.
Start TIME_MASS_REDUCE.
Action:- //Clear out mass_prod_initial.
L     0.000000e+000; 
T     #_mass_prod_initial; 

SET;
S #_prompt_filtration;
R #_sync_write_ready_hpca;
R #_vessel_mass_alarm;
R #_hi_temperature_alarm;

//Store current mass to initial mass.
L     #_emm_vessel_mass_nett;
T     #_mass_prod_initial; 

//Start Timer for TIME_MASS_REDUCE .
A #SQ_TIMER2.Q;
R #sqSeqTimerStart2;

AN #SQ_TIMER2.Q;
S #sqSeqTimerStart2;
L #_r_time_mass_reduce;
T #SQ_TIMER2.PT;
Verification:- A "uncondJump";


--------------------------------------------------
STEP::05
--------------------------------------------------
StepNo:- 05
Title:- UO_MX_FILTER : Filtration Unit Operation Commenced
Description:- Enable HEX Temperature control with TEMP_FILT setpoint.

Set Mx LPCA valve fully open.
Set Mx Outlet valve open (DISCHARGE).
Open MMFLx and SMFLx transfer path to Sy. (FILTER & FILTER_BLEED)

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Reset EMs
Action:- L "dbCONST".BLK.CMD.STOP;
T  #_emt_hex_cmd;
T #_emx_mmfl_cmd;
T #_emx_smfl_cmd;
T #_emx_transfer_cmd;
T #_emv_vessel_cmd;
T #_emc_gas_cmd;
Verification:- A(;
L   #_emt_hex_state;
L   "dbCONST".BLK.STATE.STOPPED;
==I;
);
A(;
L   #_emx_mmfl_state;
L   "dbCONST".BLK.STATE.STOPPED;
==I;
);
A(;
L   #_emx_smfl_state;
L   "dbCONST".BLK.STATE.STOPPED;
==I;
);
A(;
L   #_emx_transfer_state;
L   "dbCONST".BLK.STATE.STOPPED;
==I;
);
A(;
L   #_emv_vessel_state;
L   "dbCONST".BLK.STATE.STOPPED;
==I;
);
A(;
L   #_emc_gas_state;
L   "dbCONST".BLK.STATE.STOPPED;
==I;
);

--------------------------------------------------
ACTION::02
--------------------------------------------------
Description:- Enable HEX Temperature control with TEMP_FILT setpoint.
Action:- L  #_temp_filt;
T  #_emt_hex_setpoint;

//Start EMT_PREEMPT.
L  "dbCONST".BLK.EMT1.SUBS.PREEMPT;
T  #_emt_hex_subs;
L  "dbCONST".BLK.CMD.START;
T  #_emt_hex_cmd;

SET;
R #_prompt_filtration_confirm_yes;
Verification:- //Verify if emt_hex changed to substate PREEMPT.
A(;
L #_emt_hex_subs;
L  "dbCONST".BLK.EMT1.SUBS.PREEMPT;
==I;
);

--------------------------------------------------
ACTION::03
--------------------------------------------------
Description:- Open Mx outlet valve (STATE=DISCHARGE) and fully open LPCA valve.
Open MMFLx and SMFLx transfer path to Sy. 
Action:- //Open Mx outlet valve.
L "dbCONST".BLK.EMV1.SUBS.DISCHARGE;
T #_emv_vessel_subs;
L "dbCONST".BLK.CMD.START;
T #_emv_vessel_cmd;

//Fully open LPCA valve 
L "dbCONST".SEL.GAS.LPCA;
T #_emc_gas_medium_gas;
L "dbCONST".BLK.EMC1.SUBS.VALVE;
T #_emc_gas_subs;
L  "dbCONST".BLK.CMD.START;
T #_emc_gas_cmd;

//Start FILTER.
L "dbCONST".BLK.EMX1.SUBS.FILTER; 
T #_emx_mmfl_subs;
L "dbCONST".BLK.CMD.START;
T #_emx_mmfl_cmd;

L "dbCONST".BLK.EMX2.SUBS.FILTER; 
T #_emx_transfer_subs;
L "dbCONST".BLK.CMD.START;
T #_emx_transfer_cmd;

L "dbCONST".BLK.EMX6.SUBS.FILTER_BLEED; 
T #_emx_smfl_subs;
L "dbCONST".BLK.CMD.START;
T #_emx_smfl_cmd;
Verification:- A(;
L #_emv_vessel_subs;
L "dbCONST".BLK.EMV1.SUBS.DISCHARGE;
==I;
);
A(;
L #_emc_gas_subs;
L "dbCONST".BLK.EMC1.SUBS.VALVE;
==I;
);
A(;
L #_emx_mmfl_subs;
L  "dbCONST".BLK.EMX1.SUBS.FILTER;
==I;
);
A(;
L #_emx_transfer_subs;
L  "dbCONST".BLK.EMX2.SUBS.FILTER;
==I;
);
A(;
L #_emx_smfl_subs;
L  "dbCONST".BLK.EMX6.SUBS.FILTER_BLEED;
==I;
);


--------------------------------------------------
TRANSITION::06
--------------------------------------------------
TRNNo:- 06
Title:- Emx_smfl completed.
EmptyTransition:- False
Description:- Emx_smfl completed.
Condition:- A(;
L   #_emt_hex_state;
L   "dbCONST".BLK.STATE.COMPLETED;
==I;
);
A(;
L   #_emx_mmfl_state;
L   "dbCONST".BLK.STATE.COMPLETED;
==I;
);
A(;
L   #_emx_smfl_state;
L   "dbCONST".BLK.STATE.COMPLETED;
==I;
);
A(;
L   #_emx_transfer_state;
L   "dbCONST".BLK.STATE.COMPLETED;
==I;
);
A(;
L   #_emv_vessel_state;
L   "dbCONST".BLK.STATE.COMPLETED;
==I;
);
A(;
L   #_emc_gas_state;
L   "dbCONST".BLK.STATE.COMPLETED;
==I;
);


--------------------------------------------------
STEP::06
--------------------------------------------------
StepNo:- 06
Title:- UO_MX_FILTER : Open filter outlet valve.
Description:- Open filter outlet valve.

Set flag ready_HPCA indicating ready to start HPCA supply.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Reset EMs
Action:- L "dbCONST".BLK.CMD.STOP;
T  #_emt_hex_cmd;
T #_emx_smfl_cmd;
Verification:- A(;
L   #_emt_hex_state;
L   "dbCONST".BLK.STATE.COMPLETED;
==I;
);
A(;
L   #_emx_smfl_state;
L   "dbCONST".BLK.STATE.COMPLETED;
==I;
);

--------------------------------------------------
ACTION::02
--------------------------------------------------
Description:- Open filter outlet valve, DVx137.
Action:- //Set emx_smfl to substate FILTER.
L  "dbCONST".BLK.EMX6.SUBS.FILTER;
T  #_emx_smfl_subs;
L  "dbCONST".BLK.CMD.START;
T  #_emx_smfl_cmd;

//Set emt_hex to substate COOL.
L  "dbCONST".BLK.EMT1.SUBS.COOL;
T  #_emt_hex_subs;
L  "dbCONST".BLK.CMD.START;
T  #_emt_hex_cmd;
Verification:- //Verify if Emx_smfl changed to substate FILTER.
A(;
L  #_emx_smfl_subs;
L  "dbCONST".BLK.EMX6.SUBS.FILTER;
==I;
);
//Verify if emt_hex changed to substate COOL
A(;
L  #_emt_hex_subs;
L  "dbCONST".BLK.EMT1.SUBS.COOL;
==I;
);

--------------------------------------------------
ACTION::03
--------------------------------------------------
Description:- Set flag ready_HPCA
Action:- SET;
S #_sync_write_ready_hpca;
Verification:- A "uncondJump";


--------------------------------------------------
TRANSITION::07
--------------------------------------------------
TRNNo:- 07
Title:- Parent set start flag?
EmptyTransition:- False
Description:- Wait for parent to indicate ready for HPCA.
Condition:- A #_sync_read_start_hpca;


--------------------------------------------------
STEP::07
--------------------------------------------------
StepNo:- 07
Title:- UO_MX_FILTER : Enable HPCA pressure control and wait for complete
Description:- Set Mx HPCA pressure control at setpoint PRES_HPCA_FILT.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Reset gas EM
Action:- L "dbCONST".BLK.CMD.STOP;
T #_emc_gas_cmd;
Verification:- A(;
L   #_emc_gas_state;
L   "dbCONST".BLK.STATE.STOPPED;
==I;
);

--------------------------------------------------
ACTION::02
--------------------------------------------------
Description:- HPCA pressure control at setpoint PRES_HPCA_FILT.
Action:- // Enable Mx HPCA pressure control at setpoint PRES_HPCA_FILT.
L  #_r_pres_hpca_filt;
T  #_emc_gas_setpoint;
L  "dbCONST".SEL.GAS.HPCA;
T  #_emc_gas_medium_gas;
L  "dbCONST".BLK.EMC1.SUBS.PRESSURE;
T  #_emc_gas_subs;
L  "dbCONST".BLK.CMD.START;
T  #_emc_gas_cmd;
Verification:- A(;
L #_emc_gas_subs;
L "dbCONST".BLK.EMC1.SUBS.PRESSURE;
==I;
);


--------------------------------------------------
TRANSITION::08
--------------------------------------------------
TRNNo:- 08
Title:- Mx temperature exceeds HiHi limit setpoint
EmptyTransition:- False
Description:- Mx temperature exceeds HiHi limit setpoint
Condition:- A(;
L #_emv_vessel_ti_vessel_pv;
L #_r_temp_limit_hh;
>R;
);


--------------------------------------------------
TRANSITION::09
--------------------------------------------------
TRNNo:- 09
Title:- Mass of Vessel has reach throttled mass
EmptyTransition:- False
Description:- Jump if Mass_Throttle_Mx has reach set point.
Condition:- A(;
L #_emm_vessel_mass_nett;
L #_r_mass_throttle_mx;
<=R;
);


--------------------------------------------------
TRANSITION::10
--------------------------------------------------
TRNNo:- 10
Title:- Wait for mass endpoint
EmptyTransition:- False
Description:- Jump if mass difference is less than mass setpoint after TIME_MASS_REDUCE timer expired
Condition:- A #SQ_TIMER2.Q;
AN #_vessel_mass_alarm;
A(;
L #_mass_prod_initial;
L #_emm_vessel_mass_nett;
-R;
L #_r_mass_expect_reduced;
<R;
);


--------------------------------------------------
TRANSITION::11
--------------------------------------------------
TRNNo:- 11
Title:- Mx temperature exceeds Hi limit setpoint
EmptyTransition:- False
Description:- Mx temperature exceeds Hi limit setpoint
Condition:- AN #_hi_temperature_alarm;
A(;
L #_emv_vessel_ti_vessel_pv;
L #_r_temp_limit_h;
>R;
);


--------------------------------------------------
STEP::08
--------------------------------------------------
StepNo:- 08
Title:- UO_MX_FILTER : Automatic abort
Description:- Raise High High temperature alarm message.
Log automatic ABORT.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Raise High High temperature alarm message.
Log automatic ABORT.
Action:- SET;
S #_log_real_hihi_temperature;
S #_log_msg_temperature_abort;

//Log High High temperature.
L #_emv_vessel_ti_vessel_pv;
T #_real_hihi_temperature;
Verification:- A "uncondJump";


--------------------------------------------------
TRANSITION::14
--------------------------------------------------
TRNNo:- 14.0000
Title:- Always High
EmptyTransition:- False
Description:- Always High
Condition:- A "uncondJump";


--------------------------------------------------
STEP::09
--------------------------------------------------
StepNo:- 09
Title:- UO_MX_FILTER : Mass reduced slow
Description:- Raise vessel mass alarm message.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Raise vessel mass alarm message.
Action:- //Raise vessel mass alarm message.
SET;
S #_vessel_mass_alarm;
S #_log_real_reduced_vessel_mass;


//Log reduced vessel mass.
L #_mass_prod_initial;
L #_emm_vessel_mass_nett;
-R;
T #_real_reduced_vessel_mass;
Verification:- A "uncondJump";


--------------------------------------------------
TRANSITION::12
--------------------------------------------------
TRNNo:- 12.0000
Title:- Always High
EmptyTransition:- False
Description:- Always High
Condition:- A "uncondJump";


--------------------------------------------------
STEP::10
--------------------------------------------------
StepNo:- 10
Title:- UO_MX_FILTER : High temperature
Description:- Raise High temperature alarm message.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Raise High temperature alarm message.
Action:- // Raise High temperature alarm message.
SET;
S #_log_real_hi_temperature;
S #_hi_temperature_alarm;

//Log high temperature.
L #_emv_vessel_ti_vessel_pv;
T #_real_hi_temperature;
Verification:- A "uncondJump";


--------------------------------------------------
TRANSITION::13
--------------------------------------------------
TRNNo:- 13.0000
Title:- Always High
EmptyTransition:- False
Description:- Always High
Condition:- A "uncondJump";


--------------------------------------------------
STEP::11
--------------------------------------------------
StepNo:- 11
Title:- UO_MX_FILTER : Enable HPCA pressure control for new set point.
Description:- Set Mx HPCA pressure control at setpoint PRES_HPCA_FILT set point 2.
Log throttled vessel mass.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- HPCA pressure control at setpoint 2, PRES_HPCA_FILT2.
Log throttled vessel mass.
Action:- // Set HPCA valve pressure control at setpoint 2
L #_r_pres_hpca_filt2;
T #_emc_gas_setpoint;

SET;
R #_sync_write_ready_hpca;
S #_prompt_filt_completed;
S #_log_real_throttled_vessel_mass;


//Log throttled vessel mass.
L #_emm_vessel_mass_nett;
T #_real_throttled_vessel_mass;
Verification:- A "uncondJump";


--------------------------------------------------
TRANSITION::15
--------------------------------------------------
TRNNo:- 15
Title:- Filtration complete?
EmptyTransition:- False
Description:- Wait for operator to confirm filtration is complete.
Condition:- A #_prompt_filt_completed_confirm_yes;


--------------------------------------------------
STEP::12
--------------------------------------------------
StepNo:- 12
Title:- UO_MX_FILTER : Filtration completed.
Description:- Log operator confirmation transfer complete and filtration operation end time.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Log operator confirmation transfer complete and filtration operation end time.
Action:- //Log operator confirmation transfer complete 
SET;
S #_log_msg_filtration_complete;
R #_prompt_filt_completed_confirm_yes;

//Log FILTRATION operation end time
S #_log_msg_filtration_end;
Verification:- A "uncondJump";


--------------------------------------------------
TRANSITION::16
--------------------------------------------------
TRNNo:- 16
Title:- Transfer is complete?
EmptyTransition:- False
Description:- Wait for parent to indicate transfer is complete when flag filtration_complete is set by the parent.
Condition:- A #_sync_read_filtration_complete;


--------------------------------------------------
STEP::13
--------------------------------------------------
StepNo:- 13
Title:- UO_MX_FILTER : Disable HPCA control
Description:- Disable HEX Temperature control and Mx HPCA control.

Close sterile filter outlet valve and path sequentially up to including Sy outlet valve.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Disable HEX temperature control, HPCA control and stop filter.
Action:- L "dbCONST".BLK.CMD.STOP;
T  #_emt_hex_cmd;    //Stop heat exchanger cooling
T  #_emc_gas_cmd;     //Disable HPCA control.
T #_emx_mmfl_cmd;    //Stop FILTER.
T #_emx_transfer_cmd;
T #_emx_smfl_cmd;
T #_emv_vessel_cmd;
Verification:- A(;
L #_emt_hex_state;
L "dbCONST".BLK.STATE.STOPPED;
==I;
);
A(;
L #_emc_gas_state;
L "dbCONST".BLK.STATE.STOPPED;
==I;
);
A(;
L #_emx_mmfl_state;
L "dbCONST".BLK.STATE.STOPPED;
==I;
);
A(;
L #_emx_transfer_state;
L "dbCONST".BLK.STATE.STOPPED;
==I;
);
A(;
L #_emx_smfl_state;
L "dbCONST".BLK.STATE.STOPPED;
==I;
);
A(;
L #_emv_vessel_state;
L "dbCONST".BLK.STATE.STOPPED;
==I;
);


--------------------------------------------------
TRANSITION::17
--------------------------------------------------
TRNNo:- 17
Title:- Empty transition.
EmptyTransition:- False
Description:- Unconditional jump
Condition:- A "uncondJump";


--------------------------------------------------
STEP::14
--------------------------------------------------
StepNo:- 14
Title:- UO_MX_FILTER : Filtration Unit Operation Completed
Description:- Disable Mx manway alarm and low pressure alarm.
Log Mx Filter operation end time.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Disable Mx manway alarm and low pressure alarm.
Log Mx Filter operation end time.
Action:- //Set emv_vessel to substate MANWAY and start it to disable Manway alarm.
L "dbCONST".BLK.EMV1.SUBS.MANWAY;
T #_emv_vessel_subs;
L "dbCONST".BLK.CMD.START;
T #_emv_vessel_cmd;

//Log Mx Filter operation end time.
SET;
S #_log_msg_filter_end;
R #_prompt_abort_confirm_yes;
Verification:- A(;
L #_emv_vessel_subs;
L "dbCONST".BLK.EMV1.SUBS.MANWAY;
==I;
);


****************************************************************************************************
END SSS REPORT
****************************************************************************************************
