****************************************************************************************************
SEQUENCE STEP SCHEDULE
generated on 7/09/2018 3:15:42 PM by David Paspa
****************************************************************************************************





--------------------------------------------------
SEQUENCE
--------------------------------------------------

SFCNo:- 003
Title:- UO_MX_MAKE
Description:- Sequence for Product Manufacture
Name:- MAKE
Class:- MX
Level:- UO
STEP_LIST_FORMAT:- JU    S0@@STEP_NUM@@; // STEP-0@@STEP_NUM@@:
ACT_LIST_FORMAT:- JU    @@ACT_CODE@@@@STEP_NUM@@; //ACTION-@@ACT_NUM@@
HeaderName:- MUMAKE
Version:- 0.2
RevisionHistory:- // SFC Revision History:
// Rev By               Date        CC         Note
// 0.2 Gerald Kontriner 10-Oct-2009            Logic design change
// 0.1 Gerald Kontriner 17-Sep-2009            SFC structural design
HMI_FORMAT:- @@STEP_NUM_INT@@,@@STEP_TITLE@@

--------------------------------------------------
PARAMETER::1
--------------------------------------------------
Name:- make_active
Type:- BOOL
Description:- Flags that manual make operations are active

ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::2
--------------------------------------------------
Name:- emm_vessel_mass_nett
Type:- REAL
Description:- Mx vessel mass
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::3
--------------------------------------------------
Name:- cmd_complete
Type:- BOOL
Description:- Manufacturing complete button
ParameterInOut:- IN_OUT

--------------------------------------------------
PARAMETER::4
--------------------------------------------------
Name:- prompt_tare
Type:- BOOL
Description:- UO_MX_MAKE Operator to confirm Mixing vessel ready for tare 
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::5
--------------------------------------------------
Name:- prompt_tare_confirm_yes
Type:- BOOL
Description:- UO_MX_MAKE Operator to confirm Mixing vessel ready for tare confirmed yes
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::6
--------------------------------------------------
Name:- vessel_mx
Type:- INT
Description:- Manufacturing vessel selection M1 or M2
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::7
--------------------------------------------------
Name:- emc_gas_setpoint
Type:- REAL
Description:- Description
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::8
--------------------------------------------------
Name:- r_pres_lpca_make
Type:- REAL
Description:- Air pressure during make operation
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::9
--------------------------------------------------
Name:- log_msg_pmo_complete
Type:- BOOL
Description:- UO_MX_MAKE Time when operator confirmed that manufacturing is complete
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::10
--------------------------------------------------
Name:- emc_water_timeout
Type:- TIME
Description:- Description
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::11
--------------------------------------------------
Name:- log_msg_make_end
Type:- BOOL
Description:- UO_MX_MAKE end time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::12
--------------------------------------------------
Name:- log_msg_make_begin
Type:- BOOL
Description:- UO_MX_MAKE begin time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::13
--------------------------------------------------
Name:- emm_vessel_state
Type:- INT
Description:- Device State of emm_vessel
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::14
--------------------------------------------------
Name:- emm_vessel_subs
Type:- INT
Description:- Substate selection to emm_vessel
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::15
--------------------------------------------------
Name:- emm_vessel_cmd
Type:- INT
Description:- Command to emm_vessel
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::16
--------------------------------------------------
Name:- ema_vessel_state
Type:- INT
Description:- Substate selection to ema_vessel
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::17
--------------------------------------------------
Name:- ema_vessel_subs
Type:- INT
Description:- Command to ema_vessel
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::18
--------------------------------------------------
Name:- ema_vessel_cmd
Type:- INT
Description:- Command to ema_vessel
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::19
--------------------------------------------------
Name:- prompt_manway_complete_confirm_yes
Type:- BOOL
Description:- UO_MX_MAKE Operator to confirm when manual additions complete confirmed yes
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::20
--------------------------------------------------
Name:- prompt_manway_complete
Type:- BOOL
Description:- UO_MX_MAKE Operator to confirm when manual additions complete
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::21
--------------------------------------------------
Name:- emv_vessel_state
Type:- INT
Description:- Device State of emv_vessel
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::22
--------------------------------------------------
Name:- emv_vessel_subs
Type:- INT
Description:- Substate selection to emv_vessel
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::23
--------------------------------------------------
Name:- emv_vessel_cmd
Type:- INT
Description:- Command to emv_vessel
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::24
--------------------------------------------------
Name:- cmd_manway
Type:- BOOL
Description:- Command to enable Manway
ParameterInOut:- IN_OUT

--------------------------------------------------
PARAMETER::25
--------------------------------------------------
Name:- wfi_added
Type:- BOOL
Description:- Flag set after first adding of WFI
ParameterInOut:- IN_OUT

--------------------------------------------------
PARAMETER::26
--------------------------------------------------
Name:- fp_time_make_agit_h
Type:- INT
Description:- Agitator runtime (Hours) from MAKE faceplate
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::27
--------------------------------------------------
Name:- fp_time_make_agit_m
Type:- INT
Description:- Agitator runtime (Minutes) from MAKE faceplate
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::28
--------------------------------------------------
Name:- fp_time_make_agit_s
Type:- INT
Description:- Agitator runtime (Seconds) from MAKE faceplate
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::29
--------------------------------------------------
Name:- prompt_pmo_confirm_yes
Type:- BOOL
Description:- UO_MX_MAKE Operator to select Manufacturing Operation confirmed yes
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::30
--------------------------------------------------
Name:- fp_speed_setpoint
Type:- REAL
Description:- Agitator speed setpoint from MAKE faceplate
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::31
--------------------------------------------------
Name:- fp_charge_wfi_make
Type:- REAL
Description:- Value of Mass to be charged from MAKE faceplate
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::32
--------------------------------------------------
Name:- cmd_charge
Type:- BOOL
Description:- Charge additional WFI mass
ParameterInOut:- IN_OUT

--------------------------------------------------
PARAMETER::33
--------------------------------------------------
Name:- cmd_mix
Type:- BOOL
Description:- Enable Agitation of Vessel content
ParameterInOut:- IN_OUT

--------------------------------------------------
PARAMETER::34
--------------------------------------------------
Name:- cmd_measure
Type:- BOOL
Description:- Command to process correct mass measurement of vessel
ParameterInOut:- IN_OUT

--------------------------------------------------
PARAMETER::35
--------------------------------------------------
Name:- ema_vessel_runtime_h
Type:- INT
Description:- Agitator run time Hours for ema_vessel
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::36
--------------------------------------------------
Name:- ema_vessel_runtime_s
Type:- INT
Description:- Agitator run time Seconds for ema_vessel
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::37
--------------------------------------------------
Name:- ema_vessel_runtime_m
Type:- INT
Description:- Agitator run time Minutes for ema_vessel
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::38
--------------------------------------------------
Name:- ema_vessel_setpoint
Type:- REAL
Description:- Agitator speed setpoint
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::39
--------------------------------------------------
Name:- emc_water_state
Type:- INT
Description:- Device State of emc_water
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::40
--------------------------------------------------
Name:- emc_water_mass_charge
Type:- REAL
Description:- Mass to charge emc_water
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::41
--------------------------------------------------
Name:- emc_water_medium_liquid
Type:- INT
Description:- Medium selection emc_water
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::42
--------------------------------------------------
Name:- emc_water_subs
Type:- INT
Description:- Substate selection to emc_water
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::43
--------------------------------------------------
Name:- emc_water_cmd
Type:- INT
Description:- Command to emc_water
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::44
--------------------------------------------------
Name:- prompt_pmo
Type:- BOOL
Description:- UO_MX_MAKE Operator to select Manufacturing Operation
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::45
--------------------------------------------------
Name:- emc_gas_medium_gas
Type:- INT
Description:- Medium selection of emc_gas
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::46
--------------------------------------------------
Name:- emc_gas_subs
Type:- INT
Description:- Substate selection to emc_gas
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::47
--------------------------------------------------
Name:- emc_gas_state
Type:- INT
Description:- Device State of emc_gas
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::48
--------------------------------------------------
Name:- emc_gas_cmd
Type:- INT
Description:- Command to emc_gas
ParameterInOut:- OUT


--------------------------------------------------
STEP::01
--------------------------------------------------
StepNo:- 01
Title:- UO_MX_MAKE : Manufacturing Unit Operation Commenced
Description:- Log Mx Make operation begin time.
Set all Mx equipment to SAFE state (Set before sequence starts).
Load operator settings into the sequence memory.

Enable LPCA control at PRES_LPCA_MAKE.
Prompt operator to confirm Mx vessel ready for tare.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Set all Mx equipment to SAFE state (Set before sequence starts).
Enable LPCA control at PRES_LPCA_MAKE.
Prompt operator to confirm Mx vessel ready for tare.
Action:- L "dbCONST".BLK.SAFE.CMD;
T  #_emc_water_subs;
L "dbCONST".BLK.CMD.STOP;
T  #_emc_water_cmd;

L "dbCONST".BLK.SAFE.CMD;
T  #_emm_vessel_subs;
L "dbCONST".BLK.CMD.STOP;
T  #_emm_vessel_cmd;

L "dbCONST".BLK.SAFE.CMD;
T  #_emv_vessel_subs;
L "dbCONST".BLK.CMD.STOP;
T  #_emv_vessel_cmd;

//Log MAKE operation begin
SET;
S #_log_msg_make_begin;

// Enable LPCA control.
L #_r_pres_lpca_make;
T #_emc_gas_setpoint;
L "dbCONST".SEL.GAS.LPCA;
T #_emc_gas_medium_gas;
L "dbCONST".BLK.EMC1.SUBS.PRESSURE;
T #_emc_gas_subs;
L "dbCONST".BLK.CMD.START;
T #_emc_gas_cmd;

SET;
S #_prompt_tare;
Verification:- A(;
L #_emc_gas_subs;
L "dbCONST".BLK.EMC1.SUBS.PRESSURE;
==I;
);


--------------------------------------------------
TRANSITION::01
--------------------------------------------------
TRNNo:- 01
Title:- Vessel ready for TARE
EmptyTransition:- False
Description:- Operator confirms Mx vessel ready for tare.
Condition:- A #_prompt_tare_confirm_yes;


--------------------------------------------------
STEP::02
--------------------------------------------------
StepNo:- 02
Title:- UO_MX_MAKE : Tare vessel
Description:- Set emm_vessel to substate TARE.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Set substate to safe state and stop emm_vessel.
Action:- R #_prompt_tare_confirm_yes;

// Set emm_vessel to safe state.
L "dbCONST".BLK.SAFE.CMD;
T  #_emm_vessel_subs;
L "dbCONST".BLK.CMD.STOP;
T  #_emm_vessel_cmd;
Verification:- //Verify emm_vessel stopped.
A(;
L #_emm_vessel_state;
L "dbCONST".BLK.STATE.STOPPED;
==I;
);

--------------------------------------------------
ACTION::02
--------------------------------------------------
Description:- Set emm_vessel to substate TARE and start it.
Action:- // Set substate TARE.
L "dbCONST".BLK.EMM1.SUBS.TARE;
T #_emm_vessel_subs;
L "dbCONST".BLK.CMD.START;
T #_emm_vessel_cmd;
Verification:- //Verify current substate changed to TARE.
A(;
L #_emm_vessel_subs;
L "dbCONST".BLK.EMM1.SUBS.TARE;
==I;
);


--------------------------------------------------
TRANSITION::02
--------------------------------------------------
TRNNo:- 02
Title:- Substate TARE complete
EmptyTransition:- False
Description:- Check if substate TARE is complete.
Condition:- A(;
L   #_emm_vessel_state;
L   "dbCONST".BLK.STATE.COMPLETED;
==I;
);


--------------------------------------------------
STEP::03
--------------------------------------------------
StepNo:- 03
Title:- UO_MX_MAKE : Manufacturing operations selection
Description:- Prompt operator to select Manufacturing Operations.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Prompt operator to select Manufacturing Operations.
Action:- //Prompt operator to select Manufacturing Operations.
SET;
S #_prompt_pmo;
S #_make_active;
Verification:- A "uncondJump";


--------------------------------------------------
TRANSITION::03
--------------------------------------------------
TRNNo:- 03
Title:- Manufacturing complete?
EmptyTransition:- False
Description:- Operator confirms manufacturing  is complete.
Condition:- A #_cmd_complete;
A #_prompt_pmo_confirm_yes;


--------------------------------------------------
TRANSITION::04
--------------------------------------------------
TRNNo:- 04
Title:- MEASURE selected?
EmptyTransition:- False
Description:- Operator selects MEASURE button
Condition:- //Check whether Measure operation command given.
A #_cmd_measure;


--------------------------------------------------
TRANSITION::05
--------------------------------------------------
TRNNo:- 05
Title:- CHARGE selected?
EmptyTransition:- False
Description:- Operator selects CHARGE button
Condition:- //Check whether Charge operation command given.
A #_cmd_charge;
AN(;
L #_emv_vessel_state;
L "dbCONST".BLK.EMV1.SUBS.MANWAY;
==I;
);




--------------------------------------------------
TRANSITION::06
--------------------------------------------------
TRNNo:- 06
Title:- MIX selected?
EmptyTransition:- False
Description:- Operator selects MIX button
Condition:- //Check whether Mix operation command given.
A #_cmd_mix;
AN(;
L #_emv_vessel_state;
L "dbCONST".BLK.EMV1.SUBS.MANWAY;
==I;
);


--------------------------------------------------
TRANSITION::07
--------------------------------------------------
TRNNo:- 07
Title:- MANWAY selected?
EmptyTransition:- False
Description:- Operator selects MANWAY button
Condition:- //Check whether Manway operation command given.
A #_cmd_manway;


--------------------------------------------------
STEP::04
--------------------------------------------------
StepNo:- 04
Title:- UO_MX_MAKE : Measure vessel mass
Description:- Set emm_vessel to substate MEASURE.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Set substate to safe state and stop emm_vessel.
Action:- L "dbCONST".BLK.SAFE.CMD;
T  #_emm_vessel_subs;
L "dbCONST".BLK.CMD.STOP;
T  #_emm_vessel_cmd;
Verification:- //Verify emm_vessel stopped.
A(;
L #_emm_vessel_state;
L "dbCONST".BLK.STATE.STOPPED;
==I;
);

--------------------------------------------------
ACTION::02
--------------------------------------------------
Description:- Set emm_vessel to substate MEASURE and start it.
Action:- L "dbCONST".BLK.EMM1.SUBS.MEASURE; 
T #_emm_vessel_subs;
L "dbCONST".BLK.CMD.START;
T #_emm_vessel_cmd;
Verification:- //Verify current substate changed to MEASURE.
A(;
L #_emm_vessel_subs;
L "dbCONST".BLK.EMM1.SUBS.MEASURE; 
==I;
);


--------------------------------------------------
TRANSITION::08
--------------------------------------------------
TRNNo:- 08
Title:- Substate MEASURE complete
EmptyTransition:- False
Description:- Check if substate MEASURE is complete.
Condition:- A(;
L   #_emm_vessel_state;
L   "dbCONST".BLK.STATE.COMPLETED;
==I;
);


--------------------------------------------------
STEP::05
--------------------------------------------------
StepNo:- 05
Title:- UO_MX_MAKE : Reset command
Description:- Reset MEASURE command.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Reset MEASURE command.
Action:- // Reset flag.
SET;
R #_cmd_measure;
Verification:- A "uncondJump";


--------------------------------------------------
TRANSITION::09
--------------------------------------------------
TRNNo:- 09
Title:- Empty Transition
EmptyTransition:- False
Description:- Jump
Condition:- A "uncondJump";


--------------------------------------------------
STEP::06
--------------------------------------------------
StepNo:- 06
Title:- UO_MX_MAKE : Charging with WFI
Description:- Set emc_water to substate CHARGE and select WFI and amount of mass to charge, charge_wfi_make.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Set emc_water to substate CHARGE and select WFI and amount of mass to charge.
Action:- L T#10M;
T #_emc_water_timeout;

//Load Mass to charge Mx.
L #_fp_charge_wfi_make;
T #_emc_water_mass_charge;

//Select WFI medium.
L "dbCONST".SEL.LIQUID.WFI;
T #_emc_water_medium_liquid;

//Start Charge
L "dbCONST".BLK.EMC2.SUBS.CHARGE;
T #_emc_water_subs;
L "dbCONST".BLK.CMD.START;
T #_emc_water_cmd;


SET;
S #_wfi_added;
Verification:- //Verify current substate.
A(;
L #_emc_water_subs;
L "dbCONST".BLK.EMC2.SUBS.CHARGE;
==I;
);


--------------------------------------------------
TRANSITION::10
--------------------------------------------------
TRNNo:- 10
Title:- Charge WFI complete?
EmptyTransition:- False
Description:- Check if charging WFI is completed.
Condition:- A(;
L   #_emc_water_state;
L   "dbCONST".BLK.STATE.COMPLETED;
==I;
);


--------------------------------------------------
STEP::07
--------------------------------------------------
StepNo:- 07
Title:- UO_MX_MAKE : Reset command
Description:- Reset CHARGE command.
Log Mx vessel weight.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Reset CHARGE command.
Action:- // Reset flag.
SET;
R #_cmd_charge;
Verification:- A "uncondJump";


--------------------------------------------------
TRANSITION::11
--------------------------------------------------
TRNNo:- 11
Title:- Empty Transition
EmptyTransition:- False
Description:- Jump
Condition:- A "uncondJump";


--------------------------------------------------
STEP::08
--------------------------------------------------
StepNo:- 08
Title:- UO_MX_MAKE : MIXING vessel contents
Description:- Set ema_vessel to substate MIX with pre-selected runtime and speed.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Set substate to safe state and stop ema_vessel.
Action:- L "dbCONST".BLK.SAFE.CMD;
T  #_ema_vessel_subs;
L "dbCONST".BLK.CMD.STOP;
T  #_ema_vessel_cmd;
Verification:- //Verify ema_vessel stopped status.
A(;
L #_ema_vessel_state;
L "dbCONST".BLK.STATE.STOPPED;
==I;
);

--------------------------------------------------
ACTION::02
--------------------------------------------------
Description:- Set ema_vessel to substate MIX with pre-selected timeout and speed.
Action:- //Transfer input parameter from HMI to EM
//Load Agitator speed setpoint.
L #_fp_speed_setpoint;
T #_ema_vessel_setpoint;
//Load Agitator runtime.
L #_fp_time_make_agit_h;
T #_ema_vessel_runtime_h;
L #_fp_time_make_agit_m;
T #_ema_vessel_runtime_m;
L #_fp_time_make_agit_s;
T #_ema_vessel_runtime_s;

// Start Agitator 
L "dbCONST".BLK.EMA1.SUBS.MIX;
T #_ema_vessel_subs;
L "dbCONST".BLK.CMD.START;
T #_ema_vessel_cmd;
Verification:- //Substate changed to Mix.
A(;
L #_ema_vessel_subs;
L "dbCONST".BLK.EMA1.SUBS.MIX;
==I;
);


--------------------------------------------------
TRANSITION::12
--------------------------------------------------
TRNNo:- 12
Title:- Mixing complete?
EmptyTransition:- False
Description:- Check if Mixing is completed.
Condition:- A(;
L   #_ema_vessel_state;
L   "dbCONST".BLK.STATE.COMPLETED;
==I;
);


--------------------------------------------------
STEP::09
--------------------------------------------------
StepNo:- 09
Title:- UO_MX_MAKE : Reset MIX command.
Description:- Reset MIX command.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Reset CHARGE command.
Action:- // Reset flag.
SET;
R #_cmd_mix;
Verification:- A "uncondJump";


--------------------------------------------------
TRANSITION::13
--------------------------------------------------
TRNNo:- 13
Title:- Empty Transition
EmptyTransition:- False
Description:- Jump
Condition:- A "uncondJump";


--------------------------------------------------
STEP::10
--------------------------------------------------
StepNo:- 10
Title:- UO_MX_MAKE : Disabling manway alarm
Description:- Disable Mx Low and LowLow Pressure Alarm.
Disable Mx manway alarm.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Close LPCA valve
Action:- //Set substate to safe state and stop emc_gas.
L "dbCONST".BLK.SAFE.CMD;
T #_emc_gas_subs;
L "dbCONST".BLK.CMD.STOP;
T  #_emc_gas_cmd;
Verification:- //Verify emc_gas stopped.
A(;
L #_emc_gas_state;
L "dbCONST".BLK.STATE.STOPPED;
==I;
);

--------------------------------------------------
ACTION::02
--------------------------------------------------
Description:- Disable Mx Low and LowLow Pressure Alarm.
Disable Mx manway alarm and prompt operator to confirm when MANWAY disabling finished.
Action:- //Set emv_vessel to substate MANWAY and start it to disable Manway alarm.
L "dbCONST".BLK.EMV1.SUBS.MANWAY;
T #_emv_vessel_subs;
L "dbCONST".BLK.CMD.START;
T #_emv_vessel_cmd;


SET;
S #_prompt_manway_complete;
Verification:- //Verify emv_vessel changed to substate MANWAY.
A(;
L #_emv_vessel_subs;
L "dbCONST".BLK.EMV1.SUBS.MANWAY;
==I;
);


--------------------------------------------------
TRANSITION::14
--------------------------------------------------
TRNNo:- 14
Title:- Complete with MANWAY charges?
EmptyTransition:- False
Description:- Operator confirm charges via MANWAY are completed.
Condition:- A #_prompt_manway_complete_confirm_yes;


--------------------------------------------------
STEP::11
--------------------------------------------------
StepNo:- 11
Title:- UO_MX_MAKE : Reset command
Description:- Enable MANWAY alarm and reset MANWAY command.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Reset MANWAY command.
Action:- //Stop emv_vessel.
L "dbCONST".BLK.SAFE.CMD;
T #_emv_vessel_subs;
L "dbCONST".BLK.CMD.STOP;
T #_emv_vessel_cmd;


// Reset flags
SET;
R #_cmd_manway;
R #_prompt_manway_complete_confirm_yes;
Verification:- A "uncondJump";


--------------------------------------------------
TRANSITION::15
--------------------------------------------------
TRNNo:- 15
Title:- Empty Transition
EmptyTransition:- False
Description:- Jump
Condition:- A "uncondJump";


--------------------------------------------------
STEP::12
--------------------------------------------------
StepNo:- 12
Title:- UO_MX_MAKE : Isolate WFI and vessel.
Description:- Log operator confirmation.
Isolate WFI and vessel.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Log time when operator confirmed manufacturing complete, start timer and isolate WFI.
Action:- //Log time when operator confirmed manufacturing complete.
SET;
S #_log_msg_pmo_complete;
R #_prompt_pmo_confirm_yes;
R #_make_active;
// Isolate WFI
L "dbCONST".BLK.EMC2.SUBS.ISOLATE;
T #_emc_water_subs;
L "dbCONST".BLK.CMD.START;
T #_emc_water_cmd;
Verification:- //Verify if emc_water changed to substate ISOLATE.
A(;
L #_emc_water_subs;
L "dbCONST".BLK.EMC2.SUBS.ISOLATE;
==I;
);

--------------------------------------------------
ACTION::02
--------------------------------------------------
Description:- Isolate Vessel
Action:- // Isolate Vessel
L     "dbCONST".BLK.EMV1.SUBS.ISOLATE;
T     #_emv_vessel_subs; 
L     "dbCONST".BLK.CMD.START;
T     #_emv_vessel_cmd; 
Verification:- A(; 
L     #_emv_vessel_subs; 
L     "dbCONST".BLK.EMV1.SUBS.ISOLATE;
==I; 
); 


--------------------------------------------------
TRANSITION::16
--------------------------------------------------
TRNNo:- 16
Title:- WFI and Vessel isolated?
EmptyTransition:- False
Description:- WFI and Vessel isolated.
Condition:- A(; 
L     #_emc_water_state; 
L   "dbCONST".BLK.STATE.COMPLETED;
==I; 
); 
A(; 
L    #_emv_vessel_state; 
L   "dbCONST".BLK.STATE.COMPLETED;
==I; 
); 


--------------------------------------------------
STEP::13
--------------------------------------------------
StepNo:- 13
Title:- UO_MX_MAKE : Manufacturing Unit Operation Completed
Description:- Enable LPCA pressure control and enable Mx Manway alarm.
Enable Mx Low and LowLow Pressure Alarm.
Set other equipment to safe state.
Log Mx Make operation end time.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Enable LPCA pressure control and enable Mx Manway alarm.
Action:- //Stop emv_vessel.
L "dbCONST".BLK.SAFE.CMD;
T #_emv_vessel_subs;
L "dbCONST".BLK.CMD.STOP;
T #_emv_vessel_cmd;

//Enable LPCA pressure control.
L "dbCONST".BLK.EMC1.SUBS.PRESSURE;
T #_emc_gas_subs;
L "dbCONST".BLK.CMD.START;
T #_emc_gas_cmd;
Verification:- //Verify emv_vessel stopped.
A(;
L #_emv_vessel_state;
L "dbCONST".BLK.STATE.STOPPED;
==I;
);

--------------------------------------------------
ACTION::02
--------------------------------------------------
Description:- Set other equipment to safe state and reset flags.
Log Mx Make operation end time.
Action:- //Set substate to safe state and stop equipments..
L "dbCONST".BLK.SAFE.CMD;
T  #_emc_water_subs;
L "dbCONST".BLK.CMD.STOP;
T  #_emc_water_cmd;

L "dbCONST".BLK.SAFE.CMD;
T  #_ema_vessel_subs;
L "dbCONST".BLK.CMD.STOP;
T  #_ema_vessel_cmd;

L "dbCONST".BLK.SAFE.CMD;
T  #_emv_vessel_subs;
L "dbCONST".BLK.CMD.STOP;
T  #_emv_vessel_cmd;

L "dbCONST".BLK.SAFE.CMD;
T  #_emm_vessel_subs;
L "dbCONST".BLK.CMD.STOP;
T  #_emm_vessel_cmd;

//Reset flags.
R #_cmd_measure;
R #_cmd_charge;
R #_cmd_mix;
R #_cmd_manway;
R #_cmd_complete;

//Log MAKE operation end time.
SET;
S #_log_msg_make_end;
Verification:- A(;
L #_emc_water_state;
L "dbCONST".BLK.STATE.STOPPED;
==I;
);
A(;
L #_ema_vessel_state;
L "dbCONST".BLK.STATE.STOPPED;
==I;
);
A(;
L #_emv_vessel_state;
L "dbCONST".BLK.STATE.STOPPED;
==I;
);
A(;
L #_emm_vessel_state;
L "dbCONST".BLK.STATE.STOPPED;
==I;
);

****************************************************************************************************
END SSS REPORT
****************************************************************************************************
