****************************************************************************************************
SEQUENCE STEP SCHEDULE
generated on 31/07/2018 5:46:37 PM by David Paspa
****************************************************************************************************





--------------------------------------------------
SEQUENCE
--------------------------------------------------

Name:- MEASURE
Title:- PH_MEASURE
Description:- Settles the vessel contents for a more accurate mass measurement
Class:- EMM1
Level:- PH
STEP_LIST_FORMAT:- JU    S0@@STEP_NUM@@; // STEP-0@@STEP_NUM@@:
ACT_LIST_FORMAT:- JU    @@ACT_CODE@@@@STEP_NUM@@; //ACTION-@@ACT_NUM@@
HeaderName:- M1PMEAS
Version:- 0.5
RevisionHistory:- // SFC Revision History:
// Rev By               Date        CC         Note
// 0.5 Khairul Basar    29-Sep-2009 CC-09/023  Agitator command deleted,agitator inturrupt 
//                                             flag added.
// 0.4 Khairul Basar    20-Sep-2009 CC-09/023  SQ_TIMER is removed from Visio variable list.
// 0.3 Khairul Basar    25-Aug-2009 CC-09/023  Change in Verific,& TRN code OR to AND
//                                             Change in the Last step.SQ_TIMER added as VAR
//                                             DataQuality parameter & code in last step 
//                                             verification added.
// 0.2 Khairul Basar    18-Aug-2009            Added logic code
// 0.1 David Paspa      13-Jul-2009            SFC structural design
HMI_FORMAT:- @@STEP_NUM_INT@@,@@STEP_TITLE@@

--------------------------------------------------
PARAMETER::1
--------------------------------------------------
Name:- sic_agit_state_peer
Type:- INT
Description:- Agitator peer running status
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::2
--------------------------------------------------
Name:- sic_agit_cmd_peer
Type:- INT
Description:- Peer command to agitator
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::3
--------------------------------------------------
Name:- mi_vessel_pv
Type:- REAL
Description:- Current mass
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::4
--------------------------------------------------
Name:- time_measure_begin
Type:- TOD
Description:- PH_EMM1_MEASURE begin time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::5
--------------------------------------------------
Name:- log_time_measure_begin
Type:- BOOL
Description:- PH_EMM1_MEASURE begin time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::6
--------------------------------------------------
Name:- time_measure_end
Type:- TOD
Description:- PH_EMM1_MEASURE end time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::7
--------------------------------------------------
Name:- log_time_measure_end
Type:- BOOL
Description:- PH_EMM1_MEASURE end time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::8
--------------------------------------------------
Name:- mass_tare
Type:- REAL
Description:- Tare mass
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::9
--------------------------------------------------
Name:- mass_nett
Type:- REAL
Description:- Nett Mass
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::10
--------------------------------------------------
Name:- settling_time
Type:- TIME
Description:- Settling time for disturbance
ParameterInOut:- IN


--------------------------------------------------
STEP::01
--------------------------------------------------
StepNo:- 01
Title:- PH_EMM1_MEASURE : Log MEASURE operation begin time.
Description:- Log MEASURE operation begin time.
Request agitator to stop.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Log MEASURE operation begin time.
Request agitator to stop.
Action:- //Log MEASURE operation begin time.
L "dbCONST".CHRONO.CPU_TIME;
T #_time_measure_begin;

SET;
S #_log_time_measure_begin;

//Request agitator state to be stopped.
L "dbCONST".BLK.SIC1.STATE.STOPPED;
T #_sic_agit_cmd_peer;
Verification:- A "uncondJump";


--------------------------------------------------
TRANSITION::01
--------------------------------------------------
TRNNo:- 01
Title:- SIC Disabled
EmptyTransition:- False
Description:- Proceed if agitator stopped.
Condition:- A(;
L "dbCONST".BLK.SIC1.STATE.STOPPED;
L #_sic_agit_state_peer;
==I;
);


--------------------------------------------------
STEP::02
--------------------------------------------------
StepNo:- 02
Title:- PH_EMM1_MEASURE : Wait Settle Time
Description:- Wait to allow the contents to settle. 

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- The settling time is loaded to allow the contents to settle. 
Action:- //Load the settling time
L #_settling_time;
T #SQ_TIMER.PT;

SET;
S #sqSeqTimerStart;
Verification:- A "uncondJump";


--------------------------------------------------
TRANSITION::02
--------------------------------------------------
TRNNo:- 02
Title:- Wait until settling time expired
EmptyTransition:- False
Description:- Wait until timer settling time expired
Condition:- //Continue the sequence after the time delay expired
A #SQ_TIMER.Q;


--------------------------------------------------
STEP::03
--------------------------------------------------
StepNo:- 03
Title:- PH_EMM1_MEASURE : Update Net Mass
Description:- Calculate the net mass value from current and tare mass difference.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Save Current mass field value into Current mass parameter for users reference.
Update Nett Mass= Current Mass - Tare mass.
Note: If the agitator was ON at the beginning of the Phase then re-enable it to leave it in the same state as found.
Action:- L #_mi_vessel_pv;
L #_mass_tare;
-R;
T  #_mass_nett;
Verification:- A "uncondJump";


--------------------------------------------------
TRANSITION::03
--------------------------------------------------
TRNNo:- 03
Title:- Phase Finish Normal
EmptyTransition:- False
Description:- Phase Finish Normal
Condition:- A "uncondJump";


--------------------------------------------------
STEP::04
--------------------------------------------------
StepNo:- 04
Title:- PH_EMM1_MEASURE : Last Step
Description:- Reset request agitator to stop.
Log MEASURE operation end time.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Reset request agitator to stop and the timer input.
Log MEASURE operation end time.
Action:- SET;
R #sqSeqTimerStart;

// Advise agitator state may run
L "dbCONST".BLK.SIC1.STATE.RUNNING;
T #_sic_agit_cmd_peer;

//Log MEASURE operation end time.
L "dbCONST".CHRONO.CPU_TIME;
T #_time_measure_end;

SET;
S #_log_time_measure_end;
Verification:- A "uncondJump";

****************************************************************************************************
END SSS REPORT
****************************************************************************************************
