****************************************************************************************************
SEQUENCE STEP SCHEDULE
generated on 26/07/2018 5:18:29 PM by David Paspa
****************************************************************************************************





--------------------------------------------------
SEQUENCE
--------------------------------------------------

SFCNo:- 0
Title:- UO_SY_SIP
Description:- Sequence for Sy sterilise in place operation
Name:- SIP
Class:- SY
Level:- UO
STEP_LIST_FORMAT:- JU    S0@@STEP_NUM@@; // STEP-0@@STEP_NUM@@:
ACT_LIST_FORMAT:- JU    @@ACT_CODE@@@@STEP_NUM@@; //ACTION-@@ACT_NUM@@
HeaderName:- MUSIP
Version:- 0.3
RevisionHistory:- // SFC Revision History:
// Rev By               Date        CC         Note
// 0.3 Srinivas Nimmala  19-May-2010  Wong(Changed Cooling-Preempt)
// 0.2 David Paspa      26-Oct-2009            Added synch flags
// 0.1 Gerald Kontriner 09-Sep-2009            SFC structural design
HMI_FORMAT:- @@STEP_NUM_INT@@,@@STEP_TITLE@@

--------------------------------------------------
PARAMETER::1
--------------------------------------------------
Name:- vessel_sy
Type:- INT
Description:- Storage vessel selection S1 or S2
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::2
--------------------------------------------------
Name:- fill_flz
Type:- INT
Description:- Filling line selection FL1 or FL2
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::3
--------------------------------------------------
Name:- vessel_mx
Type:- INT
Description:- Manufacturing vessel selection M1 or M2
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::4
--------------------------------------------------
Name:- r_time_sip
Type:- TIME
Description:- SIP timer
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::5
--------------------------------------------------
Name:- prompt_try_again
Type:- BOOL
Description:- UO_SY_SIP Operator to confirm to retry or abort
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::6
--------------------------------------------------
Name:- prompt_try_again_confirm_yes
Type:- BOOL
Description:- UO_SY_SIP Operator confirm to retry
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::7
--------------------------------------------------
Name:- prompt_try_again_confirm_no
Type:- BOOL
Description:- UO_SY_SIP Operator confirm to abort
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::8
--------------------------------------------------
Name:- ABORT_TIMER
Type:- "TON"
Description:- Timer for TIME_SIP_ABORT
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::9
--------------------------------------------------
Name:- log_real_emx_11_ti_drain_pv
Type:- BOOL
Description:- UO_SY_SIP Vessels transfer line temperature
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::10
--------------------------------------------------
Name:- log_real_emx_6_ti_drain_pv
Type:- BOOL
Description:- UO_SY_SIP MX transfer line temperature
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::11
--------------------------------------------------
Name:- real_emx_11_ti_drain_pv
Type:- REAL
Description:- UO_SY_SIP Vessels transfer line temperature
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::12
--------------------------------------------------
Name:- real_emx_6_ti_drain_pv
Type:- REAL
Description:- UO_SY_SIP MX transfer line temperature
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::13
--------------------------------------------------
Name:- real_emv_ti_vessel_pv
Type:- REAL
Description:- UO_SY_SIP Vessel temperature
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::14
--------------------------------------------------
Name:- real_emg_ti_drain_pv
Type:- REAL
Description:- UO_SY_SIP Vent filter drain line temperature
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::15
--------------------------------------------------
Name:- real_emg_ti_vent_pv
Type:- REAL
Description:- UO_SY_SIP Vent filter temperature
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::16
--------------------------------------------------
Name:- log_real_emv_ti_vessel_pv
Type:- BOOL
Description:- UO_SY_SIP Vessel temperature
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::17
--------------------------------------------------
Name:- log_real_emg_ti_drain_pv
Type:- BOOL
Description:- UO_SY_SIP Vent filter drain line temperature
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::18
--------------------------------------------------
Name:- log_real_emg_ti_vent_pv
Type:- BOOL
Description:- UO_SY_SIP Vent filter temperature
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::19
--------------------------------------------------
Name:- TEMP_TIMER
Type:- "TON"
Description:- Description
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::20
--------------------------------------------------
Name:- time_steam_open
Type:- TOD
Description:- UO_SY_SIP Steam opened time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::21
--------------------------------------------------
Name:- log_time_steam_open
Type:- BOOL
Description:- UO_SY_SIP Steam opened time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::22
--------------------------------------------------
Name:- time_steam_closed
Type:- TOD
Description:- UO_SY_SIP Steam closed time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::23
--------------------------------------------------
Name:- log_time_steam_closed
Type:- BOOL
Description:- UO_SY_SIP Steam closed time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::24
--------------------------------------------------
Name:- log_msg_pres_leave_reached
Type:- BOOL
Description:- UO_SY_SIP HPCA LEAVE pressure reached
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::25
--------------------------------------------------
Name:- log_msg_pres_blow_reached
Type:- BOOL
Description:- UO_SY_SIP HPCA BLOW pressure reached
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::26
--------------------------------------------------
Name:- log_msg_sip_timer_reset
Type:- BOOL
Description:- UO_SY_SIP Sterilisation timer reset
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::27
--------------------------------------------------
Name:- time_vacuum_begin
Type:- TOD
Description:- UO_SY_SIP Vacuum begin time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::28
--------------------------------------------------
Name:- log_time_vacuum_begin
Type:- BOOL
Description:- UO_SY_SIP Vacuum begin time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::29
--------------------------------------------------
Name:- log_time_sip_start
Type:- BOOL
Description:- UO_SY_SIP Sterilisation begin time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::30
--------------------------------------------------
Name:- time_sip_start
Type:- TOD
Description:- UO_SY_SIP Sterilisation begin time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::31
--------------------------------------------------
Name:- time_sip_complete
Type:- TOD
Description:- UO_SY_SIP Sterilisation end time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::32
--------------------------------------------------
Name:- log_time_sip_complete
Type:- BOOL
Description:- UO_SY_SIP Sterilisation end time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::33
--------------------------------------------------
Name:- log_msg_vacuum_fail
Type:- BOOL
Description:- UO_SY_SIP Vacuum failed
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::34
--------------------------------------------------
Name:- log_time_vacuum_fail
Type:- BOOL
Description:- UO_SY_SIP Vacuum failed time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::35
--------------------------------------------------
Name:- time_vacuum_fail
Type:- TOD
Description:- UO_SY_SIP Vacuum failed time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::36
--------------------------------------------------
Name:- log_msg_vacuum_fail_abort
Type:- BOOL
Description:- UO_SY_SIP Operator confirmed to abort when vacuum time failed
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::37
--------------------------------------------------
Name:- log_msg_vacuum_fail_repeat
Type:- BOOL
Description:- UO_SY_SIP Operator confirmed to retry when vacuum time failed
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::38
--------------------------------------------------
Name:- log_msg_sip_abort
Type:- BOOL
Description:- UO_SY_SIP Automatic abort due to too many failures
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::39
--------------------------------------------------
Name:- log_real_positive_pressure
Type:- BOOL
Description:- UO_SY_SIP Positive pressure 
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::40
--------------------------------------------------
Name:- log_time_sip_begin
Type:- BOOL
Description:- UO_SY_SIP begin time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::41
--------------------------------------------------
Name:- time_sip_begin
Type:- TOD
Description:- UO_SY_SIP begin time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::42
--------------------------------------------------
Name:- log_time_sip_end
Type:- BOOL
Description:- UO_SY_SIP end time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::43
--------------------------------------------------
Name:- time_sip_end
Type:- TOD
Description:- UO_SY_SIP end time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::44
--------------------------------------------------
Name:- r_temp_sip_vent
Type:- REAL
Description:- VENT valve SIP temperature
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::45
--------------------------------------------------
Name:- r_temp_sip
Type:- REAL
Description:- SIP temperature
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::46
--------------------------------------------------
Name:- emx_11_ti_drain_pv
Type:- REAL
Description:- SMFL Drain temperature
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::47
--------------------------------------------------
Name:- emx_6_ti_drain_pv
Type:- REAL
Description:- Drain temperature
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::48
--------------------------------------------------
Name:- emv_ti_vessel_pv
Type:- REAL
Description:- Vessel temperature
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::49
--------------------------------------------------
Name:- emg_ti_drain_pv
Type:- REAL
Description:- Vent filter top outlet temperature
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::50
--------------------------------------------------
Name:- emg_ti_vent_pv
Type:- REAL
Description:- Vent filter temperature
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::51
--------------------------------------------------
Name:- emc_gas_pv
Type:- REAL
Description:- Sy vessel pressure
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::52
--------------------------------------------------
Name:- r_pres_vac
Type:- REAL
Description:- Setpoint for vacuum pressure
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::53
--------------------------------------------------
Name:- pulse_counter
Type:- INT
Description:- CTR_PULSE_VLV
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::54
--------------------------------------------------
Name:- r_pulse_number
Type:- INT
Description:- Number of pulse times
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::55
--------------------------------------------------
Name:- ctr_sip_abort
Type:- INT
Description:- counter of SIP abort times
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::56
--------------------------------------------------
Name:- r_num_sip_abort
Type:- INT
Description:- number of SIP abort times
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::57
--------------------------------------------------
Name:- sip_timer_started
Type:- BOOL
Description:- sip timer started flag
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::58
--------------------------------------------------
Name:- r_time_sip_abort
Type:- TIME
Description:- Time to abort SIP
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::59
--------------------------------------------------
Name:- sip_path
Type:- INT
Description:- sip path selection
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::60
--------------------------------------------------
Name:- concurrent_path_sip
Type:- BOOL
Description:- concurrent path sip flag from parent
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::61
--------------------------------------------------
Name:- r_time_eject
Type:- TIME
Description:- Vacuum eject timer
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::62
--------------------------------------------------
Name:- emx_transfer_cmd
Type:- INT
Description:- Command to emx_smfl
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::63
--------------------------------------------------
Name:- emx_transfer_subs
Type:- INT
Description:- Substate selection to emx_smfl
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::64
--------------------------------------------------
Name:- emx_transfer_state
Type:- INT
Description:- Device state of emx_smfl
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::65
--------------------------------------------------
Name:- emx_drain_state
Type:- INT
Description:- Device state of emx_drain
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::66
--------------------------------------------------
Name:- emx_drain_cmd
Type:- INT
Description:- Command to emx_drain
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::67
--------------------------------------------------
Name:- emx_drain_subs
Type:- INT
Description:- Substate selection to emx_drain
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::68
--------------------------------------------------
Name:- emx_smfl_cmd
Type:- INT
Description:- Command to emx_smfl
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::69
--------------------------------------------------
Name:- emx_smfl_subs
Type:- INT
Description:- Substate selection to emx_smfl
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::70
--------------------------------------------------
Name:- emx_smfl_state
Type:- INT
Description:- Device state of emx_smfl
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::71
--------------------------------------------------
Name:- log_disconnect
Type:- BOOL
Description:- UO_SY_SIP Operator confirmed all vessel pipe entries are disconnected
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::72
--------------------------------------------------
Name:- real_positive_pressure
Type:- REAL
Description:- UO_SY_SIP Positive pressure 
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::73
--------------------------------------------------
Name:- emc_water_sy_cmd
Type:- INT
Description:- Command to ECn002
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::74
--------------------------------------------------
Name:- emc_water_sy_subs
Type:- INT
Description:- Substate selection to ECn002
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::75
--------------------------------------------------
Name:- emc_water_sy_medium_liquid
Type:- INT
Description:- Medium selection to ECn002
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::76
--------------------------------------------------
Name:- emc_gas_setpoint
Type:- REAL
Description:- PID Pressure Setpoint
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::77
--------------------------------------------------
Name:- emg_filter_state
Type:- INT
Description:- Device State of emg_filter
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::78
--------------------------------------------------
Name:- emc_water_sy_state
Type:- INT
Description:- Device State of ECn002
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::79
--------------------------------------------------
Name:- emg_filter_subs
Type:- INT
Description:- Substate selection to emg_filter
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::80
--------------------------------------------------
Name:- emg_filter_cmd
Type:- INT
Description:- Command to emg_filter
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::81
--------------------------------------------------
Name:- emc_gas_medium_gas
Type:- INT
Description:- emc_gas_medium
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::82
--------------------------------------------------
Name:- emc_gas_subs
Type:- INT
Description:- Substate selection to emc_gas
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::83
--------------------------------------------------
Name:- emv_vessel_subs
Type:- INT
Description:- Substate selection to emv_vessel
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::84
--------------------------------------------------
Name:- emv_vessel_cmd
Type:- INT
Description:- Command to emv_vessel
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::85
--------------------------------------------------
Name:- emc_gas_state
Type:- INT
Description:- Device State of ECn001
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::86
--------------------------------------------------
Name:- emc_gas_cmd
Type:- INT
Description:- Command to emc_gas
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::87
--------------------------------------------------
Name:- r_time_drain_pulse
Type:- TIME
Description:- Time for drain pulsing.
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::88
--------------------------------------------------
Name:- positive_pressure
Type:- BOOL
Description:- Parent synchronisation flag indicating positive steam pressure has been reached.
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::89
--------------------------------------------------
Name:- r_pres_hpca_leave
Type:- REAL
Description:- HPCA pressure to leave 
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::90
--------------------------------------------------
Name:- sip_complete
Type:- BOOL
Description:- Set by parent to indicate steaming is complete.
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::91
--------------------------------------------------
Name:- r_time_stm_drain_sy
Type:- TIME
Description:- Time to steam the vent line
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::92
--------------------------------------------------
Name:- r_pres_hpca_blow
Type:- REAL
Description:- Pressure
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::93
--------------------------------------------------
Name:- r_pres_lpca_blank
Type:- REAL
Description:- lpca blanket pressure
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::94
--------------------------------------------------
Name:- r_pres_stm_pos
Type:- REAL
Description:- Positive steam pressure threshold
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::95
--------------------------------------------------
Name:- emv_vessel_state
Type:- INT
Description:- Device state of emv_vessel
ParameterInOut:- IN


--------------------------------------------------
STEP::01
--------------------------------------------------
StepNo:- 01
Title:- UO_SY_SIP : Connect Sterile Filter to to Spool Piece SPx2.
Description:- Log SIP operation begin time.
Prompt Operator to connect Sterile Filter to SPx1 ZSCx109. 

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Log SIP operation begin time.
Prompt Operator to connect Sterile Filter to SPx1 ZSCx109. 
Action:- //Log SIP operation begin.
L "dbCONST".CHRONO.CPU_TIME;
T #_time_sip_begin;

SET;
S #_log_time_sip_begin;

//Start SIP_SETUP.
L "dbCONST".BLK.EMX6.SUBS.SETUP_SIP;
T #_emx_smfl_subs;
L "dbCONST".BLK.CMD.START;
T #_emx_smfl_cmd;
Verification:- A(;
L #_emx_smfl_subs;
L "dbCONST".BLK.EMX6.SUBS.SETUP_SIP;
==I;
);


--------------------------------------------------
STEP::02
--------------------------------------------------
StepNo:- 02
Title:- UO_SY_SIP : Unit Operation Commenced
Description:- Open valves on Sy, SMFLx and FLz path to Drain flow path.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Open valves on Sy, SMFLx and FLz path to Drain flow path.
Start EMX6_SIP, EMX2_SIP, EMX4_SIP.
Action:- //Start EMX6_SIP.
L "dbCONST".BLK.EMX6.SUBS.SIP;
T #_emx_smfl_subs;
L "dbCONST".BLK.CMD.START;
T #_emx_smfl_cmd;

//Start EMX2_SIP.
L "dbCONST".BLK.EMX2.SUBS.SIP;
T #_emx_transfer_subs;
L "dbCONST".BLK.CMD.START;
T #_emx_transfer_cmd;

//Open Sy outlet valve.
L "dbCONST".BLK.EMV1.SUBS.DISCHARGE;
T #_emv_vessel_subs;
L "dbCONST".BLK.CMD.START;
T #_emv_vessel_cmd;
Verification:- A(;
L #_emx_smfl_subs;
L "dbCONST".BLK.EMX6.SUBS.SIP;
==I;
);
A(;
L #_emx_transfer_subs;
L "dbCONST".BLK.EMX2.SUBS.SIP;
==I;
);


--------------------------------------------------
TRANSITION::02
--------------------------------------------------
TRNNo:- 02
Title:- Empty transition
EmptyTransition:- False
Description:- Jump
Condition:- A "uncondJump";


--------------------------------------------------
STEP::03
--------------------------------------------------
StepNo:- 03
Title:- UO_SY_SIP : Start Vacuum
Description:- Enable vacuum. 
Enable vacuum and start vacuum timer(time_eject). Log vacuum start time

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Enable vacuum and start vacuum timer. Log Vacuum begin time
Action:- //Enable vacuum.
L "dbCONST".SEL.GAS.VACUUM;
T #_emc_gas_medium_gas;
L "dbCONST".BLK.EMC1.SUBS.VALVE;
T #_emc_gas_subs;
L "dbCONST".BLK.CMD.START;
T #_emc_gas_cmd;

// Start vacuum timer
A #SQ_TIMER.Q;
R #sqSeqTimerStart;

AN #SQ_TIMER.Q;
S #sqSeqTimerStart;
L #_r_time_eject;
T #SQ_TIMER.PT;

//Log vacuum begin time.
L "dbCONST".CHRONO.CPU_TIME;
T #_time_vacuum_begin;

SET;
S #_log_time_vacuum_begin;
Verification:- A #sqSeqTimerStart;


--------------------------------------------------
TRANSITION::03
--------------------------------------------------
TRNNo:- 03
Title:- Pressure below setpoint?
EmptyTransition:- False
Description:- Pressure reduced below PRES_VAC.
Condition:- A(;
L #_emc_gas_pv;
L #_r_pres_vac;
<R;
);


--------------------------------------------------
TRANSITION::04
--------------------------------------------------
TRNNo:- 04
Title:- Timer expired?
EmptyTransition:- False
Description:- Vacuum timer expired.
Condition:- A #SQ_TIMER.Q;


--------------------------------------------------
STEP::04
--------------------------------------------------
StepNo:- 04
Title:- UO_SY_SIP : Evacuation failed
Description:- Raise vacuum failed message.
Log vacuum time failed.
Prompt operator to confirm to try again.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Raise vacuum failed message.
Log vacuum time failed.
Prompt operator to confirm to try again.
Action:- //Log time vacuum failed
L "dbCONST".CHRONO.CPU_TIME;
T #_time_vacuum_fail;

SET;
S #_log_time_vacuum_fail;
S #_log_msg_vacuum_fail;
S #_prompt_try_again;
Verification:- A "uncondJump";


--------------------------------------------------
TRANSITION::05
--------------------------------------------------
TRNNo:- 05
Title:- Try again?
EmptyTransition:- False
Description:- Operator want to try again.
Condition:- A #_prompt_try_again_confirm_yes;


--------------------------------------------------
TRANSITION::06
--------------------------------------------------
TRNNo:- 6.0000
Title:- No try?
EmptyTransition:- False
Description:- Operator don't want to try again.
Condition:- A #_prompt_try_again_confirm_no;


--------------------------------------------------
STEP::05
--------------------------------------------------
StepNo:- 05
Title:- UO_SY_SIP : Log Operator Repeat
Description:- Log operator repeat.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Log operator repeat.
Action:- //Log operator repeat.
SET;
S #_log_msg_vacuum_fail_repeat;
R #_prompt_try_again_confirm_yes;
Verification:- A "uncondJump";


--------------------------------------------------
TRANSITION::07
--------------------------------------------------
TRNNo:- 07
Title:- Empty transition
EmptyTransition:- False
Description:- Jump
Condition:- A "uncondJump";


--------------------------------------------------
STEP::06
--------------------------------------------------
StepNo:- 06
Title:- UO_SY_SIP : Sy evacuation finished
Description:- Vacuum finished.
Close Sy Vacuum Valve.
Reset Flags.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Vacuum finished.
Close Sy Vacuum Valve.
Reset Flags.
Action:- // Stop timer
SET;
R #sqSeqTimerStart;

L "dbCONST".BLK.CMD.STOP;
T #_emc_gas_cmd;
L "dbCONST".BLK.SAFE.CMD;
T #_emc_gas_subs;
Verification:- A(;
L #_emc_gas_state;
L "dbCONST".BLK.STATE.STOPPED;
==I;
);


--------------------------------------------------
TRANSITION::08
--------------------------------------------------
TRNNo:- 08
Title:- Empty transition
EmptyTransition:- False
Description:- Jump
Condition:- A "uncondJump";


--------------------------------------------------
STEP::07
--------------------------------------------------
StepNo:- 07
Title:- UO_MX_SIP : Log Operator Abort
Description:- Log operator abort.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Log operator abort.
Action:- //Log operator abort.
SET;
S #_log_msg_vacuum_fail_abort;
R #_prompt_try_again_confirm_no;
Verification:- A "uncondJump";


--------------------------------------------------
TRANSITION::09
--------------------------------------------------
TRNNo:- 09
Title:- Empty Transition
EmptyTransition:- False
Description:- Empty Transition
Condition:- A "uncondJump";


--------------------------------------------------
STEP::08
--------------------------------------------------
StepNo:- 08
Title:- UO_SY_SIP : Open SY steam supply
Description:- Open Sy steam supply on WFI/PS.
Log steam open time.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Open Sy steam supply on WFI/PS.
Log steam open time.
Action:- //Open WFI line PS supply valve
L "dbCONST".SEL.LIQUID.PSWFI;
T #_emc_water_sy_medium_liquid;
L "dbCONST".BLK.EMC3.SUBS.FLUSH;
T #_emc_water_sy_subs;
L "dbCONST".BLK.CMD.START;
T #_emc_water_sy_cmd;

//Log steam opened time.
L "dbCONST".CHRONO.CPU_TIME;
T #_time_steam_open;

SET;
S #_log_time_steam_open;
Verification:- //Verify if emc_water changed to substate FLUSH.
A(;
L   #_emc_water_sy_subs;
L   "dbCONST".BLK.EMC2.SUBS.FLUSH;
==I;
);


--------------------------------------------------
TRANSITION::10
--------------------------------------------------
TRNNo:- 10
Title:- Check pressure
EmptyTransition:- False
Description:- Pressure increased above PRES_STM_POS. 
PI_y103 > PRES_STM_POS

Condition:- A(;
L 	#_emc_gas_pv;
L 	#_r_pres_stm_pos;
>R;
);


--------------------------------------------------
STEP::09
--------------------------------------------------
StepNo:- 09
Title:- UO_SY_SIP : Positive pressure. Open SY VENT valve for free steaming
Description:- Flag positive pressure has been achieved.
Log actual positive pressure.
Continue Steam Supply.

Open SIP condensate drain valve and vent filter drain valve.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Flag positive pressure has been achieved.
Log actual positive pressure.
Continue Steam Supply.

Action:- SET;
S #_positive_pressure;

//Log actual positive pressure
L #_emc_gas_pv;
T #_real_positive_pressure;

SET;
S #_log_real_positive_pressure;

--------------------------------------------------
ACTION::02
--------------------------------------------------
Description:- Open SIP condensate drain valve and vent filter drain valve.
Start timer time_stm_drain_sy.
Action:- //Start EMX4_SIP.
L "dbCONST".BLK.EMX4.SUBS.SIP;
T #_emx_drain_subs;
L "dbCONST".BLK.CMD.START;
T #_emx_drain_cmd;

// Set vessel VENT filter EM to substate SIP
L "dbCONST".BLK.EMG1.SUBS.SIP;
T #_emg_filter_subs;
L "dbCONST".BLK.CMD.START;
T #_emg_filter_cmd;

//Start Timer for venting
A #SQ_TIMER.Q;
R #sqSeqTimerStart;

AN #SQ_TIMER.Q;
S #sqSeqTimerStart;
L #_r_time_stm_drain_sy;
T #SQ_TIMER.PT;

Verification:- A(;
L #_emx_drain_subs;
L "dbCONST".BLK.EMX4.SUBS.SIP;
==I;
);
A(;
L #_emg_filter_subs;
L "dbCONST".BLK.EMG1.SUBS.SIP;
==I;
);
A #sqSeqTimerStart;


--------------------------------------------------
TRANSITION::11
--------------------------------------------------
TRNNo:- 11
Title:- Timer expired?
EmptyTransition:- False
Description:- Timer TIME_STM_DRAIN_Sy expired?
Condition:- A #SQ_TIMER.Q;


--------------------------------------------------
STEP::10
--------------------------------------------------
StepNo:- 10
Title:- UO_SY_SIP : Check for concurrent path
Description:- Reset timer

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Reset timer
Action:- A #SQ_TIMER.Q;
R #sqSeqTimerStart;
Verification:- A "uncondJump";


--------------------------------------------------
TRANSITION::12
--------------------------------------------------
TRNNo:- 12
Title:- Concurrent path not required
EmptyTransition:- False
Description:- Concurrent path not required
Condition:- AN #_concurrent_path_sip;


--------------------------------------------------
TRANSITION::13
--------------------------------------------------
TRNNo:- 13
Title:- Concurrent path required
EmptyTransition:- False
Description:- Concurrent path 1
Condition:- A #_concurrent_path_sip;
A(;
L #_sip_path;
L 1;
==I;
);



--------------------------------------------------
TRANSITION::14
--------------------------------------------------
TRNNo:- 14
Title:- Concurrent path required
EmptyTransition:- False
Description:- Concurrent path 2
Condition:- A #_concurrent_path_sip;
A(;
L #_sip_path;
L 2;
==I;
);



--------------------------------------------------
TRANSITION::15
--------------------------------------------------
TRNNo:- 15
Title:- Concurrent path required
EmptyTransition:- False
Description:- Concurrent path 3
Condition:- A #_concurrent_path_sip;
A(;
L #_sip_path;
L 3;
==I;
);



--------------------------------------------------
STEP::11
--------------------------------------------------
StepNo:- 11
Title:- UO_SY_SIP : Set SIP Path to Drain
Description:- Set SIP Path to Drain.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Set SIP Path to Drain.
Action:- //Change emx_transfer to CIP_SY substate and start it.
L "dbCONST".BLK.EMX2.SUBS.CIP_SY;
T #_emx_transfer_subs;
L "dbCONST".BLK.CMD.START;
T #_emx_transfer_cmd;
Verification:- A(;
L #_emx_transfer_subs;
L "dbCONST".BLK.EMX2.SUBS.CIP_SY;
==I;
);


--------------------------------------------------
TRANSITION::16
--------------------------------------------------
TRNNo:- 16
Title:- Empty transition
EmptyTransition:- False
Description:- Jump
Condition:- A "uncondJump";


--------------------------------------------------
STEP::12
--------------------------------------------------
StepNo:- 12
Title:- UO_SY_SIP : Set SIP Path to FLz
Description:- Set SIP Path to FLz.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Set SIP Path to FLz.
Action:- //Change emx_transfer to FILL_SY substate and start it.
L "dbCONST".BLK.EMX2.SUBS.FILL_SY;
T #_emx_transfer_subs;
L "dbCONST".BLK.CMD.START;
T #_emx_transfer_cmd;
Verification:- A(;
L #_emx_transfer_subs;
L "dbCONST".BLK.EMX2.SUBS.FILL_SY;
==I;
);


--------------------------------------------------
TRANSITION::17
--------------------------------------------------
TRNNo:- 17
Title:- Empty transition
EmptyTransition:- False
Description:- Jump
Condition:- A "uncondJump";


--------------------------------------------------
STEP::13
--------------------------------------------------
StepNo:- 13
Title:- UO_SY_SIP : Set SIP Path to SMFLx
Description:- Set SIP Path to SMFLx.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Set SIP Path to SMFLx.
Action:- //Change emx_transfer to FILTER substate and start it.
L "dbCONST".BLK.EMX2.SUBS.FILTER;
T #_emx_transfer_subs;
L "dbCONST".BLK.CMD.START;
T #_emx_transfer_cmd;
Verification:- A(;
L #_emx_transfer_subs;
L "dbCONST".BLK.EMX2.SUBS.FILTER;
==I;
);


--------------------------------------------------
TRANSITION::18
--------------------------------------------------
TRNNo:- 18
Title:- Empty transition
EmptyTransition:- False
Description:- Jump
Condition:- A "uncondJump";


--------------------------------------------------
STEP::14
--------------------------------------------------
StepNo:- 14
Title:- UO_SY_SIP : Closed system steaming start
Description:- Log closed system steaming start time.
Start TIME_SIP_ABORT timer.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Log closed system steaming start time.
Start TIME_SIP_ABORT timer.
Action:- //Log closed system start time.
L "dbCONST".CHRONO.CPU_TIME;
T #_time_steam_closed;

SET;
S #_log_time_steam_closed;

Verification:- A #sqSeqTimerStart;

--------------------------------------------------
ACTION::02
--------------------------------------------------
Description:- Start TIME_SIP_ABORT timer.
Action:- //Skip timer for SIP_ABORT if sip_timer_started=FALSE.
A #_sip_timer_started;
JC tsi1;

// Start SIP ABORT timer
A #_ABORT_TIMER.Q;
R #_ABORT_TIMER.IN;

AN #_ABORT_TIMER.Q;
S #_ABORT_TIMER.IN;
L #_r_time_sip_abort;
T #_ABORT_TIMER.PT;

tsi1: NOP 0;
Verification:- A "uncondJump";


--------------------------------------------------
TRANSITION::19
--------------------------------------------------
TRNNo:- 19
Title:- Empty transition
EmptyTransition:- False
Description:- Jump
Condition:- A "uncondJump";


--------------------------------------------------
STEP::15
--------------------------------------------------
StepNo:- 15.0000
Title:- Sequence reentry point

--------------------------------------------------
ACTION::01
--------------------------------------------------

--------------------------------------------------
TRANSITION::20
--------------------------------------------------
TRNNo:- 20.0000
Title:- Empty Transition
EmptyTransition:- False
Description:- Empty Transition
Condition:- A "uncondJump";


--------------------------------------------------
STEP::16
--------------------------------------------------
StepNo:- 16.0000
Title:- UO_SY_SIP : Log Sy, SMFLx and FLz SIP Temperatures
Description:- Log Sy, SMFLx and FLz SIP Temperatures every 30 seconds.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Log all Mx vessel temperatures every 30sec. 
Action:- //Log temperatures.
SET;
R #_TEMP_TIMER.IN;
L #_emx_11_ti_drain_pv;
T #_real_emx_11_ti_drain_pv;
L #_emx_6_ti_drain_pv;
T #_real_emx_6_ti_drain_pv;
L #_emv_ti_vessel_pv;
T #_real_emv_ti_vessel_pv;
L #_emg_ti_drain_pv;
T #_real_emg_ti_drain_pv;
L #_emg_ti_vent_pv;
T #_real_emg_ti_vent_pv;

SET;
S #_log_real_emx_11_ti_drain_pv;
S #_log_real_emx_6_ti_drain_pv;
S #_log_real_emv_ti_vessel_pv;
S #_log_real_emg_ti_drain_pv;
S #_log_real_emg_ti_vent_pv;

AN #_TEMP_TIMER.Q;
S #_TEMP_TIMER.IN;
L T#30S;
T #_TEMP_TIMER.PT;
Verification:- A #_TEMP_TIMER.IN;


--------------------------------------------------
TRANSITION::21
--------------------------------------------------
TRNNo:- 21
Title:- Temperature below setpoint
EmptyTransition:- False
Description:- SIP timer running and any temperature below TEMP_SIP or the vent filter inlet temperature below TEMP_SIP_VENT?
Condition:- A #_sip_timer_started;
A(;
//TIn101.
O(;
  L 	#_emg_ti_vent_pv;
  L 	#_r_temp_sip_vent; 
  <R;
);
//TIn103.
O(;
  L            #_emg_ti_drain_pv;
  L 	#_r_temp_sip_vent;
  <R;
  );
//TIn105.
O(;
  L            #_emv_ti_vessel_pv;
  L 	#_r_temp_sip;
  <R;
);
//TIn107.
O(;
  L              #_emx_6_ti_drain_pv;
  L 	#_r_temp_sip;
  <R;
);
//TIn111.
O(;
  L              #_emx_11_ti_drain_pv;
  L 	#_r_temp_sip;
  <R;
);
);


--------------------------------------------------
TRANSITION::22
--------------------------------------------------
TRNNo:- 22
Title:- All temperatures above setpoint.
EmptyTransition:- False
Description:- All SIP temperatures above TEMP_SIP °C and the vent filter inlet temperature above TEMP_SIP_VENT and SIP timer not running? 
Sy Vessel TIn105; 
Sy gas vent drain TIn103; 
Sy Wash drain TIn107;
Sy vent filter TIn101;
SMFLx  drain TIn111
Condition:- AN #_sip_timer_started;

//TIn101.
A(;
  L 	#_emg_ti_vent_pv;
  L 	#_r_temp_sip_vent; 
  >R;
);
//TIn103.
A(;
  L            #_emg_ti_drain_pv;
  L 	#_r_temp_sip_vent;
  >R;
  );
//TIn105.
A(;
  L            #_emv_ti_vessel_pv;
  L 	#_r_temp_sip;
  >R;
);
//TIn107.
A(;
  L              #_emx_6_ti_drain_pv;
  L 	#_r_temp_sip;
  >R;
);
//TIn111.
A(;
  L              #_emx_11_ti_drain_pv;
  L 	#_r_temp_sip;
  >R;
);



--------------------------------------------------
TRANSITION::23
--------------------------------------------------
TRNNo:- 23.0000
Title:- SIP Timer Expired
EmptyTransition:- False
Description:- Timer TIME_SIP expired.
Condition:- A #SQ_TIMER.Q;
A #_sip_timer_started;


--------------------------------------------------
TRANSITION::24
--------------------------------------------------
TRNNo:- 24.0000
Title:- Temperature logging timer expired
EmptyTransition:- False
Description:- 30 seconds expired.
Condition:- A #_TEMP_TIMER.Q;


--------------------------------------------------
TRANSITION::25
--------------------------------------------------
TRNNo:- 25.0000
Title:- Abort timer expired
EmptyTransition:- False
Description:- Timer TIME_SIP_ABORT is expired.
Condition:- A #_ABORT_TIMER.Q;
AN #_sip_timer_started;


--------------------------------------------------
STEP::17
--------------------------------------------------
StepNo:- 17
Title:- UO_SY_SIP : Start Sy SIP timer 
Description:- Start SIP timer TIME_SIP.

Log SIP start time.
Set sip_timer_started flag.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Start SIP timer TIME_SIP.
Set sip_timer_started flag.
Action:- A #SQ_TIMER.Q;
R #sqSeqTimerStart;

AN #SQ_TIMER.Q;
S #sqSeqTimerStart;
L #_r_time_sip;
T #SQ_TIMER.PT;

//Log SIP start time.
L "dbCONST".CHRONO.CPU_TIME;
T #_time_sip_start;

//SIP timer started
SET;
S #_log_time_sip_start;
S #_sip_timer_started;
Verification:- A #sqSeqTimerStart;


--------------------------------------------------
TRANSITION::26
--------------------------------------------------
TRNNo:- 26.0000
Title:- Timer Reset
EmptyTransition:- False
Description:- Jump
Condition:- AN #SQ_TIMER.Q;


--------------------------------------------------
STEP::18
--------------------------------------------------
StepNo:- 18
Title:- UO_SY_SIP : Low Sy temperature during SIP
Description:- Reset sip_timer_started and log timer RESET.
Increase counter.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Reset sip_timer_started and log timer RESET.
Increase counter.
Action:- A #SQ_TIMER.Q;
R #sqSeqTimerStart;

//Reset flag.
SET;
R #_sip_timer_started;
S #_log_msg_sip_timer_reset;

//Increase counter.
L #_ctr_sip_abort;
INC 1;
T #_ctr_sip_abort;
Verification:- A "uncondJump";


--------------------------------------------------
TRANSITION::27
--------------------------------------------------
TRNNo:- 27
Title:- Retry SIP again
EmptyTransition:- False
Description:- Temperature has dropped less than NUM_SIP_ABORT times
Condition:- A(;
L 	#_ctr_sip_abort;
L 	#_r_num_sip_abort;
<I;
);


--------------------------------------------------
TRANSITION::28
--------------------------------------------------
TRNNo:- 28
Title:- Abort SIP
EmptyTransition:- False
Description:- Temperature has dropped NUM_SIP_ABORT times.
Condition:- //ABORT timer expired.
O #_ABORT_TIMER.Q;
//Temperature has dropped NUM_SIP_ABORT times.
O(;
L 	#_ctr_sip_abort;
L 	#_r_num_sip_abort;
>=I;
);




--------------------------------------------------
STEP::19
--------------------------------------------------
StepNo:- 19.0000
Title:- UO_SY_SIP : Sy SIP complete
Description:- Log SIP completion time.
Clear pulse_counter.
Log all temperatures.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Log SIP completion time.
Set Sy sip_complete flag and clear counter.
Log all temperatures.
Action:- //Log SIP completion time
L "dbCONST".CHRONO.CPU_TIME;
T #_time_sip_complete;

SET;
S #_log_time_sip_complete;

//Clear counter
L 0;
T #_pulse_counter;


//Log all temperatures.
SET;
R #_TEMP_TIMER.IN;
L #_emx_11_ti_drain_pv;
T #_real_emx_11_ti_drain_pv;
L #_emx_6_ti_drain_pv;
T #_real_emx_6_ti_drain_pv;
L #_emv_ti_vessel_pv;
T #_real_emv_ti_vessel_pv;
L #_emg_ti_drain_pv;
T #_real_emg_ti_drain_pv;
L #_emg_ti_vent_pv;
T #_real_emg_ti_vent_pv;

SET;
S #_log_real_emx_11_ti_drain_pv;
S #_log_real_emx_6_ti_drain_pv;
S #_log_real_emv_ti_vessel_pv;
S #_log_real_emg_ti_drain_pv;
S #_log_real_emg_ti_vent_pv;
Verification:- A "uncondJump";


--------------------------------------------------
TRANSITION::29
--------------------------------------------------
TRNNo:- 29.0000
Title:- Concurrent SIP required
EmptyTransition:- False
Description:- Continue if concurrent SIP required.
Condition:- A #_concurrent_path_sip;


--------------------------------------------------
TRANSITION::30
--------------------------------------------------
TRNNo:- 30.0000
Title:- Concurrent SIP not required
EmptyTransition:- False
Description:- Continue if concurrent SIP not required or concurrent SIP path required but all path completed.

Condition:- //Check if concurrent SIP path not required.
AN #_concurrent_path_sip;
//Check if concurrent SIP path required but all path completed.
O(;
A #_concurrent_path_sip;
A(;
L #_sip_path;
L 3;
==I;
);
);


--------------------------------------------------
STEP::20
--------------------------------------------------
StepNo:- 20.0000
Title:- UO_SY_SIP : Automatic Sy SIP ABORT
Description:- Log automatic ABORT.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Log automatic ABORT.
Action:- SET;
S #_log_msg_sip_abort;
Verification:- A "uncondJump";


--------------------------------------------------
TRANSITION::31
--------------------------------------------------
TRNNo:- 31.0000
Title:- Unconditional jump
EmptyTransition:- False
Description:- Unconditional jump
Condition:- A "uncondJump";


--------------------------------------------------
STEP::21
--------------------------------------------------
StepNo:- 21.0000
Title:- UO_SY_SIP : Increment SIP_PATH
Description:- Increment SIP_PATH.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Increment SIP_PATH.
Action:- L #_sip_path;
INC 1;
T #_sip_path;
Verification:- A "uncondJump";


--------------------------------------------------
TRANSITION::32
--------------------------------------------------
TRNNo:- 32.0000
Title:- Unconditional jump
EmptyTransition:- False
Description:- Unconditional jump
Condition:- A "uncondJump";


--------------------------------------------------
STEP::22
--------------------------------------------------
StepNo:- 22
Title:- UO_SY_SIP : Close Sy steam supply on WFI/PS
Description:- Close Sy steam supply on WFI/PS

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Close Sy steam supply on WFI/PS
Action:- L "dbCONST".BLK.SAFE.CMD;
T  #_emc_water_sy_subs;
L "dbCONST".BLK.CMD.STOP;
T  #_emc_water_sy_cmd;
Verification:- A(;
L #_emc_water_sy_state;
L "dbCONST".BLK.STATE.STOPPED;
==I;
);


--------------------------------------------------
TRANSITION::33
--------------------------------------------------
TRNNo:- 33
Title:- Pressure below PRES_HPCA_BLOW?
EmptyTransition:- False
Description:- Pressure dropped to PRES_HPCA_BLOW. PI-xy10 <= PRES_HPCA_BLOW
Condition:- A(;
L 	#_emc_gas_pv;
L 	#_r_pres_hpca_blow;
<=R;
);


--------------------------------------------------
STEP::23
--------------------------------------------------
StepNo:- 23
Title:- UO_SY_SIP : Enable HPCA pressure control
Description:- Log time when pressure reached.

Enable Sy HPCA pressure control at setpoint PRES_HPCA_BLOW.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Log time when pressure reached.
Action:- //Log time when pressure reached
SET;
S #_log_msg_pres_blow_reached;

//Stop emc_gas to be able to apply start of substate with different settings
L "dbCONST".BLK.SAFE.CMD;
T  #_emc_gas_subs;
L "dbCONST".BLK.CMD.STOP;
T  #_emc_gas_cmd;
Verification:- A(;
L #_emc_gas_state;
L "dbCONST".BLK.STATE.STOPPED;
==I;
);

--------------------------------------------------
ACTION::02
--------------------------------------------------
Description:- Enable Sy HPCA pressure control at setpoint pres_hpca_blow.
Action:- // Open Sy HPCA pressure control at setpoint PRES_HPCA_BLOW
L #_r_pres_hpca_blow;
T #_emc_gas_setpoint;
L "dbCONST".SEL.GAS.HPCA;
T #_emc_gas_medium_gas;
L "dbCONST".BLK.EMC1.SUBS.PRESSURE;
T #_emc_gas_subs;
L "dbCONST".BLK.CMD.START;
T #_emc_gas_cmd;
Verification:- A(;
L #_emc_gas_subs;
L "dbCONST".BLK.EMC1.SUBS.PRESSURE;
==I;
);


--------------------------------------------------
TRANSITION::34
--------------------------------------------------
TRNNo:- 34.0000
Title:- Empty transition.
EmptyTransition:- False
Description:- Empty transition.
Condition:- A "uncondJump";


--------------------------------------------------
STEP::24
--------------------------------------------------
StepNo:- 24
Title:- UO_SY_SIP : Start Sy, SMFLx and FLz Drain valve pulse timer
Description:- Start timer

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Start timer
Action:- // Start vacuum timer
A #SQ_TIMER.Q;
R #sqSeqTimerStart;

AN #SQ_TIMER.Q;
S #sqSeqTimerStart;
L #_r_time_drain_pulse;
T #SQ_TIMER.PT;
Verification:- A #sqSeqTimerStart;


--------------------------------------------------
TRANSITION::36
--------------------------------------------------
TRNNo:- 36.0000
Title:- Pulse drain valve
EmptyTransition:- False
Description:- Drain valve pulse increment time expired
Condition:- A #SQ_TIMER.Q;


--------------------------------------------------
STEP::25
--------------------------------------------------
StepNo:- 25
Title:- UO_SY_SIP : Pulse SIP drain valve opened
Description:- Close valves on Sy, SMFLx and FLz path to Drain flow path, SIP condensate drain valve and vent filter drain valve.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Close valves on Sy, SMFLx and FLz path to Drain flow path, SIP condensate drain valve and vent filter drain valve.
Action:- L "dbCONST".BLK.SAFE.CMD;
T  #_emx_smfl_subs;
L "dbCONST".BLK.CMD.STOP;
T  #_emx_smfl_cmd;

L "dbCONST".BLK.SAFE.CMD;
T  #_emx_transfer_subs;
L "dbCONST".BLK.CMD.STOP;
T  #_emx_transfer_cmd;

L "dbCONST".BLK.SAFE.CMD;
T  #_emv_vessel_subs;
L "dbCONST".BLK.CMD.STOP;
T  #_emv_vessel_cmd;

L "dbCONST".BLK.SAFE.CMD;
T  #_emx_drain_subs;
L "dbCONST".BLK.CMD.STOP;
T  #_emx_drain_cmd;

L "dbCONST".BLK.SAFE.CMD;
T  #_emg_filter_subs;
L "dbCONST".BLK.CMD.STOP;
T  #_emg_filter_cmd;
Verification:- A(;
L #_emc_gas_state;
L "dbCONST".BLK.STATE.STOPPED;
==I;
);

--------------------------------------------------
ACTION::02
--------------------------------------------------
Description:- Timer
Action:- //Start Timer
A #SQ_TIMER.Q;
R #sqSeqTimerStart;

AN #SQ_TIMER.Q;
S #sqSeqTimerStart;
L #_r_time_drain_pulse;
T #SQ_TIMER.PT;
Verification:- A #sqSeqTimerStart;


--------------------------------------------------
TRANSITION::37
--------------------------------------------------
TRNNo:- 37.0000
Title:- Timer expired?
EmptyTransition:- False
Description:- Time for drain pulsing TIME_DRAIN_PULSE expired.
Condition:- A #SQ_TIMER.Q;


--------------------------------------------------
STEP::26
--------------------------------------------------
StepNo:- 26
Title:- UO_SY_SIP : Wait for time to pulse drain valve
Description:- Increment pulse_counter.
Open valves on Sy, SMFLx and FLz path to Drain flow path, SIP condensate drain valve and vent filter drain valve.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Increment pulse_counter
Stop EM to be able to apply start same substate with different settings
Action:- //Counter
L #_pulse_counter;
INC 1;
T #_pulse_counter;
Verification:- A "uncondJump";

--------------------------------------------------
ACTION::02
--------------------------------------------------
Description:- Open valves on Sy, SMFLx and FLz path to Drain flow path.
Start EMX6_SIP, EMX2_SIP, EMX4_SIP.
Open SIP condensate drain valve and vent filter drain valve.
Action:- //Start EMX6_SIP.
L "dbCONST".BLK.EMX6.SUBS.SIP;
T #_emx_smfl_subs;
L "dbCONST".BLK.CMD.START;
T #_emx_smfl_cmd;

//Start EMX2_SIP.
L "dbCONST".BLK.EMX2.SUBS.SIP;
T #_emx_transfer_subs;
L "dbCONST".BLK.CMD.START;
T #_emx_transfer_cmd;

//Open Sy outlet valve.
L "dbCONST".BLK.EMV1.SUBS.DISCHARGE;
T #_emv_vessel_subs;
L "dbCONST".BLK.CMD.START;
T #_emv_vessel_cmd;

//Start EMX4_SIP.
L "dbCONST".BLK.EMX4.SUBS.SIP;
T #_emx_drain_subs;
L "dbCONST".BLK.CMD.START;
T #_emx_drain_cmd;

// Set vessel VENT filter EM to substate SIP
L "dbCONST".BLK.EMG1.SUBS.SIP;
T #_emg_filter_subs;
L "dbCONST".BLK.CMD.START;
T #_emg_filter_cmd;

Verification:- A(;
L #_emv_vessel_subs;
L "dbCONST".BLK.EMV1.SUBS.DISCHARGE;
==I;
);
A(;
L #_emx_smfl_subs;
L "dbCONST".BLK.EMX6.SUBS.SIP;
==I;
);
A(;
L #_emx_transfer_subs;
L "dbCONST".BLK.EMX2.SUBS.SIP;
==I;
);
A(;
L #_emx_drain_subs;
L "dbCONST".BLK.EMX4.SUBS.SIP;
==I;
);
A(;
L #_emg_filter_subs;
L "dbCONST".BLK.EMG1.SUBS.SIP;
==I;
);

--------------------------------------------------
ACTION::03
--------------------------------------------------
Description:- Timer
Action:- //Start Timer
A #SQ_TIMER.Q;
R #sqSeqTimerStart;

AN #SQ_TIMER.Q;
S #sqSeqTimerStart;
L #_r_time_drain_pulse;
T #SQ_TIMER.PT;
Verification:- A #sqSeqTimerStart;


--------------------------------------------------
TRANSITION::38
--------------------------------------------------
TRNNo:- 38
Title:- Finished pulsing drain valves after repeats.
EmptyTransition:- False
Description:- Drain valves pulsed PULSE_NUMBER times after delay OR TIME_DRAIN_PULSE expired
Condition:- A(;
O(;
L 	#_pulse_counter;
L 	#_r_pulse_number;
>=I;
);
O #SQ_TIMER.Q;
);


--------------------------------------------------
STEP::27
--------------------------------------------------
StepNo:- 27.0000
Title:- UO_SY_SIP : Disable HPCA.
Description:- Disable Sy HPCA pressure control.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Disable Sy HPCA pressure control.
Action:- //Disable Sy HPCA pressure control.
L "dbCONST".BLK.SAFE.CMD;
T  #_emc_gas_subs;
L "dbCONST".BLK.CMD.STOP;
T  #_emc_gas_cmd;
Verification:- A(;
L #_emc_gas_state;
L "dbCONST".BLK.STATE.STOPPED;
==I;
);


--------------------------------------------------
TRANSITION::39
--------------------------------------------------
TRNNo:- 39
Title:- Pressure below PRES_HPCA_LEAVE
EmptyTransition:- False
Description:- Pressure below PRES_HPCA_LEAVE. PI_xy10 <= PRES_HPCA_LEAVE
Condition:- A(;
L 	#_emc_gas_pv;
L 	#_r_pres_hpca_leave;
<=R;
);


--------------------------------------------------
STEP::28
--------------------------------------------------
StepNo:- 28.0000
Title:- UO_SY_SIP : Pressure reduced. Wait to close vessel outlet valve
Description:- Log time pressure reached.

Close vent filter drain valve.
Close Sy, SMFLx and FLxz drain path sequentially backwards to Sy vessel outlet valve.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Log time pressure reached.

Close Sy vent filter drain valve.
Close Sy, SMFLx and FLxz drain path sequentially backwards to Sy vessel outlet valve.
Action:- //Log time when pressure reached.
SET;
S #_log_msg_pres_leave_reached;


//Close Sy vent filter drain valve
L "dbCONST".BLK.SAFE.CMD;
T  #_emg_filter_subs;
L "dbCONST".BLK.CMD.STOP;
T  #_emg_filter_cmd;

L "dbCONST".BLK.SAFE.CMD;
T  #_emx_smfl_subs;
L "dbCONST".BLK.CMD.STOP;
T  #_emx_smfl_cmd;

L "dbCONST".BLK.SAFE.CMD;
T  #_emx_transfer_subs;
L "dbCONST".BLK.CMD.STOP;
T  #_emx_transfer_cmd;

L "dbCONST".BLK.SAFE.CMD;
T  #_emv_vessel_subs;
L "dbCONST".BLK.CMD.STOP;
T  #_emv_vessel_cmd;

L "dbCONST".BLK.SAFE.CMD;
T  #_emx_drain_subs;
L "dbCONST".BLK.CMD.STOP;
T  #_emx_drain_cmd;
Verification:- A(;
L #_emc_gas_state;
L "dbCONST".BLK.STATE.STOPPED;
==I;
);


--------------------------------------------------
TRANSITION::40
--------------------------------------------------
TRNNo:- 40.0000
Title:- Empty transition.
EmptyTransition:- False
Description:- Empty transition.
Condition:- A "uncondJump";


--------------------------------------------------
STEP::29
--------------------------------------------------
StepNo:- 29
Title:- UO_SY_SIP : Close outlet valve and start LPCA blanketing
Description:- Enable Sy LPCA pressure control at setpoint PRES_LPCA_BLANK.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Enable Sy LPCA pressure control at setpoint PRES_LPCA_BLANK with VENT valve closed.
Action:- // Enable Sy LPCA pressure control at setpoint PRES_LPCA_BLANK.
L #_r_pres_lpca_blank;
T #_emc_gas_setpoint;
L "dbCONST".SEL.GAS.LPCA;
T #_emc_gas_medium_gas;
L "dbCONST".BLK.EMC1.SUBS.PRESSURE;
T #_emc_gas_subs;
L "dbCONST".BLK.CMD.START;
T #_emc_gas_cmd;
Verification:- A(;
L #_emc_gas_subs;
L "dbCONST".BLK.EMC1.SUBS.PRESSURE;
==I;
);


--------------------------------------------------
TRANSITION::41
--------------------------------------------------
TRNNo:- 41.0000
Title:- Empty transition
EmptyTransition:- False
Description:- Unconditional jump
Condition:- A "uncondJump";


--------------------------------------------------
STEP::30
--------------------------------------------------
StepNo:- 30
Title:- UO_SY_SIP : Wait for OPER to isolate vessel SY
Description:- Prompt operator to disconnect all vessel utility pipe entry.
Set emv_vessel & emc_water to substate ISOLATE.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Prompt operator to disconnect all vessel utility pipe entry.
Action:- //Remove all connections
L "dbCONST".BLK.EMV1.SUBS.ISOLATE;
T #_emv_vessel_subs;
L "dbCONST".BLK.CMD.START;
T #_emv_vessel_cmd;

L "dbCONST".BLK.EMC3.SUBS.ISOLATE;
T #_emc_water_sy_subs;  //SUB_ECxy03
L "dbCONST".BLK.CMD.START;
T #_emc_water_sy_cmd;
Verification:- A(;
L #_emv_vessel_subs;
L "dbCONST".BLK.EMV1.SUBS.ISOLATE;
==I;
);
A(;
L #_emc_water_sy_subs;
L "dbCONST".BLK.EMC3.SUBS.ISOLATE;
==I;
);


--------------------------------------------------
TRANSITION::42
--------------------------------------------------
TRNNo:- 42
Title:- Empty transition.
EmptyTransition:- False
Description:- Unconditional jump
Condition:- A(;
L   #_emv_vessel_state;
L   "dbCONST".BLK.STATE.COMPLETED;
==I;
);
A(;
L   #_emc_water_sy_state;
L   "dbCONST".BLK.STATE.COMPLETED;
==I;
);



--------------------------------------------------
STEP::31
--------------------------------------------------
StepNo:- 31
Title:- UO_SY_SIP : Unit Operation Completed
Description:- Set equipment to SAFE state.
Log SIP operation end time.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Set equipment to SAFE state.
Log SIP operation end time.
Action:- // Set safe state
L "dbCONST".BLK.SAFE.CMD;
T  #_emx_smfl_subs;
L "dbCONST".BLK.CMD.STOP;
T  #_emx_smfl_cmd;

L "dbCONST".BLK.SAFE.CMD;
T  #_emx_transfer_subs;
L "dbCONST".BLK.CMD.STOP;
T  #_emx_transfer_cmd;

L "dbCONST".BLK.SAFE.CMD;
T  #_emv_vessel_subs;
L "dbCONST".BLK.CMD.STOP;
T  #_emv_vessel_cmd;

L "dbCONST".BLK.SAFE.CMD;
T  #_emx_drain_subs;
L "dbCONST".BLK.CMD.STOP;
T  #_emx_drain_cmd;

L "dbCONST".BLK.SAFE.CMD;
T  #_emc_water_sy_subs;
L "dbCONST".BLK.CMD.STOP;
T  #_emc_water_sy_cmd;

L "dbCONST".BLK.SAFE.CMD;
T  #_emc_gas_subs;
L "dbCONST".BLK.CMD.STOP;
T  #_emc_gas_cmd;

L "dbCONST".BLK.SAFE.CMD;
T  #_emg_filter_subs;
L "dbCONST".BLK.CMD.STOP;
T  #_emg_filter_cmd;

//Log SIP operation end time.
L "dbCONST".CHRONO.CPU_TIME;
T #_time_sip_end;

SET;
S #_log_time_sip_end;
Verification:- A "uncondJump";

****************************************************************************************************
END SSS REPORT
****************************************************************************************************
