****************************************************************************************************
SEQUENCE STEP SCHEDULE
generated on 31/07/2018 5:59:35 PM by David Paspa
****************************************************************************************************





--------------------------------------------------
SEQUENCE
--------------------------------------------------

SFCNo:- 4
Title:- RP_PCMX_FILTER
Description:- Recipe procedure sequence for Filtration from Manufacturing Vessel Mx to Storage Vessel Sy.
Name:- FILTER
Class:- PCMX
Level:- RP
STEP_LIST_FORMAT:- JU    S0@@STEP_NUM@@; // STEP-0@@STEP_NUM@@:
ACT_LIST_FORMAT:- JU    @@ACT_CODE@@@@STEP_NUM@@; //ACTION-@@ACT_NUM@@
HeaderName:- PCFILT
Version:- 0.1
RevisionHistory:- // SFC Revision History:
// Rev By               Date        CC         Note
// 0.1 Gerald Kontriner 18-Sep-2009            SFC structural design
HMI_FORMAT:- @@STEP_NUM_INT@@,@@STEP_TITLE@@

--------------------------------------------------
PARAMETER::1
--------------------------------------------------
Name:- vessel_mx
Type:- INT
Description:- Manufacturing vessel selection M1 or M2
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::2
--------------------------------------------------
Name:- vessel_sy
Type:- INT
Description:- Storage vessel selection S1 or S2
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::3
--------------------------------------------------
Name:- filt_comp_mx
Type:- BOOL
Description:- Mx filtration complete flag
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::4
--------------------------------------------------
Name:- log_time_wrong_hygiene
Type:- BOOL
Description:- RP_PCMX_FILTER Mx or MFL or Sy have incorrect Hygiene Status
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::5
--------------------------------------------------
Name:- log_time_filter_end
Type:- BOOL
Description:- RP_PCMX_FILTER end time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::6
--------------------------------------------------
Name:- log_time_filter_begin
Type:- BOOL
Description:- RP_PCMX_FILTER begin time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::7
--------------------------------------------------
Name:- Report_End
Type:- BOOL
Description:- Reort end event flag
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::8
--------------------------------------------------
Name:- start_hpca_mx
Type:- BOOL
Description:- Mx start to supply HPN2
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::9
--------------------------------------------------
Name:- prompt_abort_confirm_yes
Type:- BOOL
Description:- RP_PCMX_FILTER Operator confirmed to abort due to invalid Hygiene Status
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::10
--------------------------------------------------
Name:- prompt_abort
Type:- BOOL
Description:- RP_PCMX_FILTER Operator to confirm to abort due to invalid Hygiene Status
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::11
--------------------------------------------------
Name:- log_msg_wrong_hygiene
Type:- BOOL
Description:- RP_PCMX_FILTER Mx or MFL or Sy have incorrect Hygiene Status
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::12
--------------------------------------------------
Name:- filtration_complete_sy
Type:- BOOL
Description:- Sy Filtration complete
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::13
--------------------------------------------------
Name:- filtration_complete_mx
Type:- BOOL
Description:- Mx Filtration complete
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::14
--------------------------------------------------
Name:- ready_hpca_mx
Type:- BOOL
Description:- Mx is ready to supply HPCA
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::15
--------------------------------------------------
Name:- path_ready_sy
Type:- BOOL
Description:- Sy path is ready
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::16
--------------------------------------------------
Name:- time_wrong_hygiene
Type:- TOD
Description:- RP_PCMX_FILTER Mx or MFL or Sy have incorrect Hygiene Status
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::17
--------------------------------------------------
Name:- sy_vessel_hygiene
Type:- INT
Description:- Hygiene Status of unit Sy
ParameterInOut:- IN_OUT

--------------------------------------------------
PARAMETER::18
--------------------------------------------------
Name:- mx_vessel_hygiene
Type:- INT
Description:- Hygiene Status of unit Mx
ParameterInOut:- IN_OUT

--------------------------------------------------
PARAMETER::19
--------------------------------------------------
Name:- time_filter_end
Type:- TOD
Description:- RP_PCMX_FILTER end time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::20
--------------------------------------------------
Name:- time_filter_begin
Type:- TOD
Description:- RP_PCMX_FILTER begin time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::21
--------------------------------------------------
Name:- toggle_mode
Type:- BOOL
Description:- Toggle mode of all used units
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::22
--------------------------------------------------
Name:- sy_vessel_cmd
Type:- INT
Description:- Command to unit Sy
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::23
--------------------------------------------------
Name:- sy_vessel_subs
Type:- INT
Description:- Substate selection to unit Sy
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::24
--------------------------------------------------
Name:- mx_vessel_state
Type:- INT
Description:- Device State of unit Mx
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::25
--------------------------------------------------
Name:- sy_vessel_state
Type:- INT
Description:- Device state of unit Sy
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::26
--------------------------------------------------
Name:- mx_vessel_cmd
Type:- INT
Description:- Command to unit Mx
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::27
--------------------------------------------------
Name:- mx_vessel_subs
Type:- INT
Description:- Substate selection to unit Mx
ParameterInOut:- OUT


--------------------------------------------------
STEP::01
--------------------------------------------------
StepNo:- 01
Title:- RP_PCMX_FILTER : Recipe Procedure Commenced
Description:- Log Mx Filtration to Sy operation begin time.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Log Mx Filtration to Sy operation begin time.
Action:- //Log Mx filtration to Sy operation begin
L "dbCONST".CHRONO.CPU_TIME;
T #_time_filter_begin;

SET;
S #_log_time_filter_begin;
R #_filtration_complete_sy;
R #_filtration_complete_mx;
R #_prompt_abort;
R #_Report_End; //REPORT END FLAG
Verification:- A "uncondJump";


--------------------------------------------------
TRANSITION::01
--------------------------------------------------
TRNNo:- 01
Title:- Check Hygiene Status
EmptyTransition:- False
Description:- Selected Sy is  in Hygiene status STERILE? Selected Mx is in Hygiene status BATCH?
Condition:- A(;
L "dbCONST".BLK.HYGIENE.STERILE;
L #_sy_vessel_hygiene;
==I;
);
A(;
L "dbCONST".BLK.HYGIENE.BATCH;
L #_mx_vessel_hygiene;
==I;
);


--------------------------------------------------
TRANSITION::02
--------------------------------------------------
TRNNo:- 02
Title:- Incorrect Hygiene Status
EmptyTransition:- False
Description:- Empty Transition
Condition:- A "uncondJump";


--------------------------------------------------
STEP::02
--------------------------------------------------
StepNo:- 02
Title:- RP_PCMX_FILTER : Incorrect Hygiene Status
Description:- Log that either Sy is not in Hygiene status STERILE or Mx is not in Hygiene status BATCH?
Prompt operator to confirm abort.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Log that either MFL or Sy are not in Hygiene status STERILE or Mx is not in Hygiene status BATCH?
Action:- //Log time if either Mx or Sy are not in correct Hygiene status
L "dbCONST".CHRONO.CPU_TIME;
T #_time_wrong_hygiene;

SET;
S #_log_time_wrong_hygiene;
S #_log_msg_wrong_hygiene;
S #_prompt_abort;
Verification:- A "uncondJump";


--------------------------------------------------
TRANSITION::03
--------------------------------------------------
TRNNo:- 03
Title:- Confirm Abort (Incorrect Hygiene Status)
EmptyTransition:- False
Description:- Confirm Abort (Incorrect Hygiene Status)
Condition:- A #_prompt_abort_confirm_yes;


--------------------------------------------------
STEP::03
--------------------------------------------------
StepNo:- 03
Title:- RP_PCMX_FILTER : Initiate Sy FILTRATION Unit Operation
Description:- Set Sy Hygiene Status to BATCH.

Toggle all Units From Manual to Auto. This will cascade down to make sure all equipment is in Auto.

Set Unit Sy to state FILTER.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Set Sy Hygiene Status to BATCH.

Toggle all Units From Manual to Auto. This will cascade down to make sure all equipment is in Auto.

Set Unit SY to state FILTER
Action:- //Set Sy Hygiene Status to BATCH.
L "dbCONST".BLK.HYGIENE.BATCH;
T #_sy_vessel_hygiene;

//Toggle all Units From Manual to Auto. This will cascade down to make sure all equipment is in Auto.
SET;
S #_toggle_mode;

//Set Unit SY to state FILTER
L "dbCONST".BLK.SY.SUBS.FILTER;
T #_sy_vessel_subs;
L "dbCONST".BLK.CMD.START;
T #_sy_vessel_cmd;
Verification:- A(;
L 	#_sy_vessel_subs;
L 	"dbCONST".BLK.SY.SUBS.FILTER;
==I;
);


--------------------------------------------------
TRANSITION::04
--------------------------------------------------
TRNNo:- 04
Title:- Sy and FLz path ready?
EmptyTransition:- False
Description:- Check if Sy and FLz path is ready. 
If all path_ready flags have been set.
Condition:- A #_path_ready_sy;


--------------------------------------------------
STEP::04
--------------------------------------------------
StepNo:- 04
Title:- RP_PCMX_FILTER : Initiate MX FILTRATION Unit Operation
Description:- Set Unit MX to state FILTER

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Set Unit MX to state FILTER
Action:- //Set Unit Mx to state FILTER
L "dbCONST".BLK.MX.SUBS.FILTER;
T #_mx_vessel_subs;
L "dbCONST".BLK.MX.CMD.START;
T #_mx_vessel_cmd;

//Toggle all Units From Manual to Auto. This will cascade down to make sure all equipment is in Auto.
SET;
R #_toggle_mode;
Verification:- A(;
L 	#_mx_vessel_subs;
L 	"dbCONST".BLK.MX.SUBS.FILTER;
==I;
);


--------------------------------------------------
TRANSITION::05
--------------------------------------------------
TRNNo:- 05
Title:- HPCA ready?
EmptyTransition:- False
Description:- Check if SMFLx and MMFLx has flagged it is ready for HPCA
Condition:- A #_ready_hpca_mx;


--------------------------------------------------
STEP::05
--------------------------------------------------
StepNo:- 05
Title:- RP_PCMX_FILTER : Wait for filtration to complete
Description:- Set MX ready_hpCA flag.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Set MX ready_hpn2 flag.
Action:- SET;
S #_start_hpca_mx;
Verification:- A "uncondJump";


--------------------------------------------------
TRANSITION::06
--------------------------------------------------
TRNNo:- 06
Title:- Empty Transition
EmptyTransition:- False
Description:- Empty Transition
Condition:- A "uncondJump";


--------------------------------------------------
STEP::06
--------------------------------------------------
StepNo:- 06
Title:- RP_PCMX_FILTER : Wait for MX and Sy Filtration operations to complete
Description:- Set SY flag filtration_complete
Set MX flag filtration_complete

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Set SY flag filtration_complete
Set MX flag filtration_complete
Action:- SET;
S #_filtration_complete_mx;
S #_filtration_complete_sy;
R #_start_hpca_mx;
Verification:- A "uncondJump";


--------------------------------------------------
TRANSITION::07
--------------------------------------------------
TRNNo:- 07
Title:- Unit Mx and Sy filtration complete?
EmptyTransition:- False
Description:- Wait for Mx and SY state FILTER complete.
Condition:- A(;
L 	#_mx_vessel_state;
L 	"dbCONST".BLK.STATE.COMPLETED;
==I;
);
A(;
L 	#_sy_vessel_state;
L 	"dbCONST".BLK.STATE.COMPLETED;
==I;
);


--------------------------------------------------
STEP::07
--------------------------------------------------
StepNo:- 07
Title:- RP_PCMX_FILTER : Recipe Procedure Completed
Description:- Set Mx Hygiene Status to USED.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Set Mx Hygiene Status to USED.
Action:- A #_filt_comp_mx;
//Set Mx hygiene status to USED
L "dbCONST".BLK.HYGIENE.USED;
T #_mx_vessel_hygiene;

//SET REPORT END FLAG
S #_Report_End; 
Verification:- A "uncondJump";


--------------------------------------------------
TRANSITION::08
--------------------------------------------------
TRNNo:- 08
Title:- Empty Transition
EmptyTransition:- False
Description:- Empty Transition
Condition:- A "uncondJump";


--------------------------------------------------
STEP::08
--------------------------------------------------
StepNo:- 08
Title:- RP_PCMX_FILTER : Recipe Procedure End Step
Description:- Procedure End Step
Log product filtration operation end time.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Set Mx Hygiene Status to USED.
Log FILTRATION operation end time.
Action:- //Stop Mx Unit Operation
L "dbCONST".BLK.CMD.STOP;
T #_mx_vessel_cmd;
L "dbCONST".BLK.SAFE.CMD;
T #_mx_vessel_subs;


//Log Filteration operation end time.
L "dbCONST".CHRONO.CPU_TIME;
T #_time_filter_end;

SET;
S #_log_time_filter_end;

//Clear used flags
R #_toggle_mode;
R #_start_hpca_mx;
R #_filtration_complete_mx;
R #_filtration_complete_sy;
R #_prompt_abort_confirm_yes;
R #_Report_End; 
Verification:- A "uncondJump";

****************************************************************************************************
END SSS REPORT
****************************************************************************************************
