****************************************************************************************************
SEQUENCE STEP SCHEDULE
generated on 31/08/2018 10:47:52 PM by David Paspa
****************************************************************************************************





--------------------------------------------------
SEQUENCE
--------------------------------------------------

SFCNo:- 3
Title:- RP_PCMX_MAKE
Description:- Recipe Procedure for Product Manufacture
Name:- MAKE
Class:- PCMX
Level:- RP
STEP_LIST_FORMAT:- JU    S0@@STEP_NUM@@; // STEP-0@@STEP_NUM@@:
ACT_LIST_FORMAT:- JU    @@ACT_CODE@@@@STEP_NUM@@; //ACTION-@@ACT_NUM@@
HeaderName:- PCMAKE
Version:- 0.1
RevisionHistory:- // SFC Revision History:
// Rev By               Date        CC         Note
// 0.1 Gerald Kontriner 18-Sep-2009            SFC structural design
HMI_FORMAT:- @@STEP_NUM_INT@@,@@STEP_TITLE@@

--------------------------------------------------
PARAMETER::1
--------------------------------------------------
Name:- vessel_mx
Type:- INT
Description:- Manufacturing vessel selection M1 or M2
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::2
--------------------------------------------------
Name:- log_msg_make_end
Type:- BOOL
Description:- RP_PCMX_MAKE end time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::3
--------------------------------------------------
Name:- log_msg_make_begin
Type:- BOOL
Description:- RP_PCMX_MAKE begin time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::4
--------------------------------------------------
Name:- Release_Water_System_Mx
Type:- BOOL
Description:- Release the water sytem of Mx
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::5
--------------------------------------------------
Name:- prompt_abort_confirm_yes
Type:- BOOL
Description:- RP_PCMX_MAKE Operator confirmed to abort due to invalid Hygiene Status
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::6
--------------------------------------------------
Name:- prompt_abort
Type:- BOOL
Description:- RP_PCMX_MAKE Operator to confirm to abort due to invalid Hygiene Status
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::7
--------------------------------------------------
Name:- log_msg_wrong_hygiene
Type:- BOOL
Description:- RP_PCMX_MAKE Mixing vessel unit has wrong Hygiene Status
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::8
--------------------------------------------------
Name:- toggle_mode
Type:- BOOL
Description:- Toggle mode of all used units
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::9
--------------------------------------------------
Name:- mx_vessel_hygiene
Type:- INT
Description:- Hygiene Status of unit Mx
ParameterInOut:- IN_OUT

--------------------------------------------------
PARAMETER::10
--------------------------------------------------
Name:- mx_vessel_cmd
Type:- INT
Description:- Command to unit Mx
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::11
--------------------------------------------------
Name:- mx_vessel_state
Type:- INT
Description:- Device State of unit Mx
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::12
--------------------------------------------------
Name:- mx_vessel_subs
Type:- INT
Description:- Substate selection to unit Mx
ParameterInOut:- OUT


--------------------------------------------------
STEP::01
--------------------------------------------------
StepNo:- 01
Title:- RP_PCMX_MAKE : Recipe Procedure Commenced
Description:- Log product manufacture operation begin time.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Log product manufacture operation begin time.
Action:- //Log product manufacture operation begin
SET;
S #_log_msg_make_begin;

// Reset used flags
SET;
R #_toggle_mode;
R #_prompt_abort;
Verification:- A "uncondJump";


--------------------------------------------------
TRANSITION::01
--------------------------------------------------
TRNNo:- 01
Title:- Check Hygiene Status
EmptyTransition:- False
Description:- Selected Mx is in Hygiene status STERILE?
Condition:- A(;
L "dbCONST".BLK.HYGIENE.STERILE;
L #_mx_vessel_hygiene;
==I;
);


--------------------------------------------------
TRANSITION::02
--------------------------------------------------
TRNNo:- 02
Title:- Incorrect Hygiene Status
EmptyTransition:- False
Description:- Empty Transition
Condition:- A "uncondJump";


--------------------------------------------------
STEP::02
--------------------------------------------------
StepNo:- 02
Title:- RP_PCMX_MAKE : Incorrect Hygiene Status
Description:- Log that Mx is not in Hygiene status STERILE.
Prompt operator to confirm abort.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Log that Mx is not in Hygiene status STERILE.
Action:- //Log time if Mx not in correct Hygiene status STERILE
SET;
S #_log_msg_wrong_hygiene;
S #_prompt_abort;
Verification:- A "uncondJump";


--------------------------------------------------
TRANSITION::03
--------------------------------------------------
TRNNo:- 03
Title:- Confirm Abort (Incorrect Hygiene Status)
EmptyTransition:- False
Description:- Confirm Abort (Incorrect Hygiene Status)
Condition:- A #_prompt_abort_confirm_yes;


--------------------------------------------------
STEP::03
--------------------------------------------------
StepNo:- 03
Title:- RP_PCMX_MAKE : Initiate MAKE Unit Operation
Description:- Set Mx Hygiene Status to BATCH.

Toggle all Units From Manual to Auto. This will cascade down to make sure all equipment is in Auto.

Initiate MX STATE=MAKE Unit Operation

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Set Mx Hygiene Status to BATCH.

Toggle all Units From Manual to Auto. This will cascade down to make sure all equipment is in Auto.

Initiate MX STATE=MAKE Unit Operation
Action:- //Set Mx Hygiene Status to BATCH.
L "dbCONST".BLK.HYGIENE.BATCH;
T #_mx_vessel_hygiene;

//Toggle all Units From Manual to Auto. This will cascade down to make sure all equipment is in Auto.
SET;
S #_toggle_mode;

//Initiate MX STATE=MAKE Unit Operation
L "dbCONST".BLK.MX.SUBS.MAKE;
T #_mx_vessel_subs; 
L "dbCONST".BLK.MX.CMD.START;
T #_mx_vessel_cmd;
Verification:- A(;
L #_mx_vessel_subs;
L "dbCONST".BLK.MX.SUBS.MAKE;
==I;
);


--------------------------------------------------
TRANSITION::04
--------------------------------------------------
TRNNo:- 04
Title:- MAKE operation complete?
EmptyTransition:- False
Description:- MX MAKE operation is complete
Condition:- A(;
L 	#_mx_vessel_state;
L 	"dbCONST".BLK.MX.STATE.COMPLETED;
==I;
);


--------------------------------------------------
STEP::04
--------------------------------------------------
StepNo:- 04
Title:- RP_PCMX_MAKE : Release the water system
Description:- Toggle all Units From Manual to Auto.
Release the water system

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Toggle all Units From Manual to Auto. This will cascade down to make sure all equipment is in Auto.
Release Water System of Mx
Action:- //Toggle all Units From Manual to Auto. This will cascade down to make sure all equipment is in Auto.
SET;
R #_toggle_mode;

//Release the water system
S #_Release_Water_System_Mx;
Verification:- A "uncondJump";


--------------------------------------------------
TRANSITION::05
--------------------------------------------------
TRNNo:- 05
Title:- Empty Transition
EmptyTransition:- False
Description:- Empty Transition
Condition:- A "uncondJump";


--------------------------------------------------
STEP::05
--------------------------------------------------
StepNo:- 05
Title:- RP_PCMX_MAKE : Recipe Procedure Completed
Description:- Stop Mx unit operation
Log product manufacture operation end time.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Stop Mx unit operation.
Log product manufacture operation end time.
Action:- //Stop MX Unit Operation
L "dbCONST".BLK.CMD.STOP;
T #_mx_vessel_cmd;
L "dbCONST".BLK.SAFE.CMD;
T #_mx_vessel_subs;


//Log Make operation end time.
SET;
S #_log_msg_make_end;
R #_prompt_abort_confirm_yes;
Verification:- A "uncondJump";

****************************************************************************************************
END SSS REPORT
****************************************************************************************************
