****************************************************************************************************
SEQUENCE STEP SCHEDULE
generated on 7/04/2018 11:23:17 AM by David Paspa
****************************************************************************************************





--------------------------------------------------
SEQUENCE
--------------------------------------------------

SFCNo:- 0
Title:- UO_SIP
Description:- Sequence for Mx sterilise in place operation
Name:- SIP
Class:- MX
Level:- UO
STEP_LIST_FORMAT:- JU    S0@@STEP_NUM@@; // STEP-0@@STEP_NUM@@:
ACT_LIST_FORMAT:- JU    @@ACT_CODE@@@@STEP_NUM@@; //ACTION-@@ACT_NUM@@
HeaderName:- MUSIP
Version:- 0.3
RevisionHistory:- // SFC Revision History:
// Rev By               Date        CC         Note
// 0.3 Srinivas Nimmala  19-May-2010  Wong(Changed Cooling-Preempt)
// 0.2 David Paspa      26-Oct-2009            Added synch flags
// 0.1 Gerald Kontriner 09-Sep-2009            SFC structural design
HMI_FORMAT:- @@STEP_NUM_INT@@,@@STEP_TITLE@@

--------------------------------------------------
PARAMETER::1
--------------------------------------------------
Name:- log_OperatorAbort
Type:- TOD
Description:- Logging operator abortion time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::2
--------------------------------------------------
Name:- TEMP_SIP
Type:- REAL
Description:- SIP temperature
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::3
--------------------------------------------------
Name:- TEMP_SIP_VENT
Type:- REAL
Description:- VENT valve SIP temperature
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::4
--------------------------------------------------
Name:- ti_vessel
Type:- REAL
Description:- TIn105 Vessel Temperature
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::5
--------------------------------------------------
Name:- ti_drain
Type:- REAL
Description:- TIn103 Vent Filter Top Outlet Temperature
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::6
--------------------------------------------------
Name:- ti_vent
Type:- REAL
Description:- TIn101 Vent Filter Temperature
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::7
--------------------------------------------------
Name:- ti_drain2
Type:- REAL
Description:- TIn107 Drain Temperature
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::8
--------------------------------------------------
Name:- ti_hex
Type:- REAL
Description:- TIn109 MFL Heat Exchanger Temperature
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::9
--------------------------------------------------
Name:- pulse_drain_complete
Type:- BOOL
Description:- Pulsing of the drains has completed
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::10
--------------------------------------------------
Name:- HPCA_blow_complete
Type:- BOOL
Description:- Parent synchronisation flag indicating HPCA blowing is complete
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::11
--------------------------------------------------
Name:- pressure_proceed
Type:- BOOL
Description:- Proceed after reaching positive pressure
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::12
--------------------------------------------------
Name:- log_disconnect
Type:- BOOL
Description:- Logging operator confirmed all vessel utility at pipe entry are disconnected.
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::13
--------------------------------------------------
Name:- log_LowPres_reached
Type:- TOD
Description:- Logging time when low pressure reached.
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::14
--------------------------------------------------
Name:- close_outlet
Type:- BOOL
Description:- Parent synchronisation flag to close the vessel outlet valve
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::15
--------------------------------------------------
Name:- pulse_drain
Type:- BOOL
Description:- Parent synchronisation flag indicating to pulse steam trap drain valves.
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::16
--------------------------------------------------
Name:- log_pressure_reached
Type:- TOD
Description:- Logging time when pressure reached.
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::17
--------------------------------------------------
Name:- log_ClosedSystem
Type:- TOD
Description:- Logging closed system start time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::18
--------------------------------------------------
Name:- log_PositivePressure
Type:- REAL
Description:- Logging positive pressure measurment.
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::19
--------------------------------------------------
Name:- log_MxSIPEnd
Type:- TOD
Description:- Logging Mx SIP Operation End Time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::20
--------------------------------------------------
Name:- log_MxSteamOpen
Type:- TOD
Description:- Logging Steam Opened Time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::21
--------------------------------------------------
Name:- AUXDRAIN_ECn001
Type:- BOOL
Description:- AUXDRAIN selection in ECn001
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::22
--------------------------------------------------
Name:- CMD_ECn002
Type:- INT
Description:- Command to ECn002
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::23
--------------------------------------------------
Name:- SUB_ECn002
Type:- INT
Description:- Substate selection to ECn002
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::24
--------------------------------------------------
Name:- MEASURE_ECn001
Type:- REAL
Description:- Measured Pressure from PI1
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::25
--------------------------------------------------
Name:- MEDIUM_ECn002
Type:- INT
Description:- Medium selection to ECn002
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::26
--------------------------------------------------
Name:- SETPOINT_ECn001
Type:- REAL
Description:- PID Pressure Setpoint
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::27
--------------------------------------------------
Name:- DEV_STATE_EGn005
Type:- INT
Description:- Device State of EGn005
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::28
--------------------------------------------------
Name:- DEV_STATE_ECn002
Type:- INT
Description:- Device State of ECn002
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::29
--------------------------------------------------
Name:- SUB_EJn003
Type:- INT
Description:- Substate selection to EJn003
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::30
--------------------------------------------------
Name:- SUB_EGn005
Type:- INT
Description:- Substate selection to EGn005
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::31
--------------------------------------------------
Name:- AUXVENT_ECn001
Type:- BOOL
Description:- AUXVENT selection in ECn001
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::32
--------------------------------------------------
Name:- DEV_STATE_EJn003
Type:- INT
Description:- Device state of EJn003
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::33
--------------------------------------------------
Name:- CMD_EGn005
Type:- INT
Description:- Command to EGn005
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::34
--------------------------------------------------
Name:- SETPOINT_EJn003
Type:- REAL
Description:- PID Temperature Setpoint
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::35
--------------------------------------------------
Name:- CMD_EJn003
Type:- INT
Description:- Command to EJn003
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::36
--------------------------------------------------
Name:- VALVE_ECn001
Type:- INT
Description:- Valve Selection ECn001
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::37
--------------------------------------------------
Name:- SUB_ECn001
Type:- INT
Description:- Substate selection to ECn001
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::38
--------------------------------------------------
Name:- SUB_EVn004
Type:- INT
Description:- Substate selection to EVn004
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::39
--------------------------------------------------
Name:- CMD_EVn004
Type:- INT
Description:- COmmand to EVn004
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::40
--------------------------------------------------
Name:- DEV_STATE_ECn001
Type:- INT
Description:- Device State of ECn001
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::41
--------------------------------------------------
Name:- CMD_ECn001
Type:- INT
Description:- Command to ECn001
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::42
--------------------------------------------------
Name:- TIME_DRAIN_PULSE
Type:- TIME
Description:- Time for drain pulsing.
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::43
--------------------------------------------------
Name:- HPCA_blow
Type:- BOOL
Description:- Parent synchronisation flag indicating HPCA blowing is underway
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::44
--------------------------------------------------
Name:- positive_pressure
Type:- BOOL
Description:- Parent synchronisation flag indicating positive steam pressure has been reached.
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::45
--------------------------------------------------
Name:- PRES_HPCA_LEAVE
Type:- REAL
Description:- HPCA pressure to leave 
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::46
--------------------------------------------------
Name:- sip_complete
Type:- BOOL
Description:- Set by parent to indicate steaming is complete.
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::47
--------------------------------------------------
Name:- TIME_STM_VENT
Type:- TIME
Description:- Time to steam the vent line
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::48
--------------------------------------------------
Name:- PRES_HCPA_BLOW
Type:- REAL
Description:- Pressure
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::49
--------------------------------------------------
Name:- PRES_LPCA_BLANK
Type:- REAL
Description:- LPCA blanket pressure
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::50
--------------------------------------------------
Name:- TEMP_COOL_SIP
Type:- REAL
Description:- Temperature to cool MX after SIP
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::51
--------------------------------------------------
Name:- PRES_STM_POS
Type:- REAL
Description:- Positive steam pressure threshold
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::52
--------------------------------------------------
Name:- DEV_STATE_EVn004
Type:- INT
Description:- Device state of EVn004
ParameterInOut:- IN


--------------------------------------------------
STEP::01
--------------------------------------------------
StepNo:- 01
Title:- UO_MX_SIP : Unit operation started
Description:- Unit operation started

--------------------------------------------------
ACTION::01
--------------------------------------------------
Action:- //Open Discharge
      L     "dbCONST_VAL".EM.EMV1.SUBS.DISCHARGE
      T     #_SUB_EVn004
      L     "dbCONST_VAL".EM.CMD.START
      T     #_CMD_EVn004

 //Command MFL drain line open
SET   
S     #_ready_drain


--------------------------------------------------
STEP::02
--------------------------------------------------
StepNo:- 2.0000
Title:- MX_UO_VACUUM : Vacuum Unit Operation Commenced
Description:- Open Mx outlet valve.
EVx004 STATE=DISCHARGE.
Set all other Mx equipment to SAFE state.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Set EVn004 to substate DISCHARGE and other Mx equipment to SAFE state.
Action:- L "dbCONST_VAL".EM.EMV1.SUBS.DISCHARGE; 
T #_SUB_EVn004;
L "dbCONST_VAL".EM.CMD.START; 
T #_CMD_EVn004;

L "dbCONST_VAL".EM.CMD.STOP; 
T #_CMD_EAn010;
L "dbCONST_VAL".EM.SUBSTATE.ZERO;
T #_SUB_EAn010;

L "dbCONST_VAL".EM.CMD.STOP; 
T #_CMD_ECn001;
L "dbCONST_VAL".EM.SUBSTATE.ZERO;
T #_SUB_ECn001;

L "dbCONST_VAL".EM.CMD.STOP; 
T #_CMD_ECn002;
L "dbCONST_VAL".EM.SUBSTATE.ZERO;
T #_SUB_ECn002;
Verification:- A M1.1; //Always High flag


--------------------------------------------------
TRANSITION::02
--------------------------------------------------
TRNNo:- 2.0000
Title:- Equipment safe state & DISCHARGE confirmed.
EmptyTransition:- False
Description:- Check if all Mx equipment are in safe state: EAn010, ECn001, ECn002. 
Mx outlet valve open: EVn004 substate DISCHARGE confirmed.
Condition:- A(;
L 	#_DEV_STATE_EAn010;
L 	"dbCONST_VAL".EM.DEV_STATE.STOPPED;
==I;
);

A(;
L 	#_DEV_STATE_ECn001;
L 	"dbCONST_VAL".EM.DEV_STATE.STOPPED;
==I;
);

A(;
L 	#_DEV_STATE_ECn002;
L 	"dbCONST_VAL".EM.DEV_STATE.STOPPED;
==I;
);
//EVn004 changed to substate DISCHARGE.
A(;
L 	#_DEV_STATE_EVn004;
L 	"dbCONST_VAL".EM.EMV1.SUBS.DISCHARGE; 
==I;
);


--------------------------------------------------
STEP::03
--------------------------------------------------
StepNo:- 3.0000
Title:- RP_CIPSIP : Start MX evacuation timer
Description:- Start vacuum timer. Log Vacuum begin time

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Start vacuum timer. Log Vacuum begin time
Action:- // Start vacuum timer
A #SQ_TIMER.Q;
R #SQ_TIMER.IN;

AN #SQ_TIMER.Q;
S #SQ_TIMER.IN;
L #_TIME_VACUUM;
T #SQ_TIMER.PT;

//Log vacuum begin time
L "dbCONST_VAL".CPU_TIME;
T #_log_VacuumBegin2;

// Reset flags
SET;
R #_prompt_try_again;
R #_confirm_try_again;
R #_confirm_no_try;
R #_msg_VacuumFail;

//Report Event Set
SET;
S #_Report_Evnt_017;

//Report Event reset
SET;
R #_Report_Evnt_018;
Verification:- A #SQ_TIMER.IN;


--------------------------------------------------
STEP::04
--------------------------------------------------
StepNo:- 4.0000
Title:- MX_UO_VACUUM : Wait for vacuum to complete
Description:- Open Mx gas vent line vacuum.
ECx001 STATE=VALVE_OPENED VALVE=VACUUM;

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Set VALVE to VACUUM. Set ECn001 to substate VALVE_OPENED.
Action:- SET;
R #_RUNtoTIME_ECn001;
R #_AUXDRAIN_ECn001;
R #_AUXVENT_ECn001;
R #_ready_vacuum;

L "dbCONST_VAL".EM.EMC1.VALVE.VACUUM; 
T #_VALVE_ECn001;
L "dbCONST_VAL".EM.EMC1.SUBS.VALVE_OPENED;
T #_SUB_ECn001;
L "dbCONST_VAL".EM.CMD.START;
T #_CMD_ECn001;

Verification:- A(;
L #_DEV_STATE_ECn001;
L "dbCONST_VAL".EM.EMC1.SUBS.VALVE_OPENED;
==I;
);


--------------------------------------------------
TRANSITION::04
--------------------------------------------------
TRNNo:- 4.0000
Title:- Pressure below setpoint?
EmptyTransition:- False
Description:- Pressure reduced below PRES_VAC.
Condition:- A(;
L #_MEASURE_ECn001_Mx;
L #_PRES_VAC;
<R;
);


--------------------------------------------------
TRANSITION::05
--------------------------------------------------
TRNNo:- 5.0000
Title:- Timer expired?
EmptyTransition:- False
Description:- Vacuum timer expired.


Condition:- A #SQ_TIMER.Q;


--------------------------------------------------
STEP::05
--------------------------------------------------
StepNo:- 5.0000
Title:- RP_CIPSIP : Evacuation failed
Description:- Raise vacuum failed message.

Log vacuum time failed.

Prompt operator to confirm to try again.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Raise vacuum failed message.

Log vacuum time failed.

Prompt operator to confirm to try again.
Action:- //Set flag to raise vacuum failed message
SET;
S #_msg_VacuumFail;

//Log time vacuum failed
L "dbCONST_VAL".CPU_TIME;
T #_log_VacuumFail1;

SET;
S #_prompt_try_again;

//Stop Mx Unit Operation
L "dbCONST_VAL".UNIT.CMD.STOP;
T #_CMD_Mx;
L "dbCONST_VAL".UNIT.SUBSTATE.ZERO;
T #_SUB_Mx;

SET;
R #_proceed_vacuum_Mx;
R #_proceed_vacuum_Sy;

//Report Event reset
SET;
R #_Report_Evnt_017;

//Report Event Set
SET;
S #_Report_Evnt_018;
Verification:- A M1.1; //Always High flag


--------------------------------------------------
TRANSITION::06
--------------------------------------------------
TRNNo:- 6.0000
Title:- Try again?
EmptyTransition:- False
Description:- Operator want to try again.
Condition:- A #_confirm_try_again;


--------------------------------------------------
STEP::06
--------------------------------------------------
StepNo:- 6.0000
Title:- RP_CIPSIP : MX evacuation finished
Description:- Vacuum operation finished.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Close Mx Vacuum Valve.
Action:- L "dbCONST_VAL".EM.CMD.STOP; 
T #_CMD_EAn010;
L "dbCONST_VAL".EM.SUBSTATE.ZERO;
T #_SUB_EAn010;

L "dbCONST_VAL".EM.CMD.STOP; 
T #_CMD_ECn001;
L "dbCONST_VAL".EM.SUBSTATE.ZERO;
T #_SUB_ECn001;

L "dbCONST_VAL".EM.CMD.STOP; 
T #_CMD_ECn002;
L "dbCONST_VAL".EM.SUBSTATE.ZERO;
T #_SUB_ECn002;


//L "dbCONST_VAL".UNIT.CMD.STOP;
//T #_CMD_MFL;
// Stop timer
SET;
R #SQ_TIMER.IN;

//Report Event Set
SET;
S #_Report_Evnt_018;
Verification:- A M1.1; //Always High flag


--------------------------------------------------
TRANSITION::08
--------------------------------------------------
TRNNo:- 8.0000
Title:- All Vacuum operations complete
EmptyTransition:- False
Description:- All vacuum operations complete 
MX STATE=VACUUM; MMFLx STATE=VACUUM
Condition:- A(;
L 	#_DEV_STATE_Mx;
L 	"dbCONST_VAL".UNIT.DEV_STATE.COMPLETE;
==I;
);


--------------------------------------------------
STEP::07
--------------------------------------------------
StepNo:- 7.0000
Title:- RP_CIPSIP : Log Operator Abort
Description:- Log operator abort.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Log operator abort.
Action:- //Log operator abort.
L "dbCONST_VAL".CPU_TIME;
T #_log_OperatorAbort;
Verification:- A M1.1; //Always High flag


--------------------------------------------------
TRANSITION::09
--------------------------------------------------
TRNNo:- 9.0000
Title:- Empty Transition
EmptyTransition:- False
Description:- Empty Transition
Condition:- A M1.1; //Always High flag


--------------------------------------------------
STEP::08
--------------------------------------------------
StepNo:- 8.0000
Title:- RP_CIPSIP : Initiate MX and MMFLx SIP Operations
Description:- Initiate MX SIP Operations.
MX STATE=SIP
MMFLx STATE=SIP_MX

Set MX and MFL Hygiene Status to SIP.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Initiate MX SIP Operations.
MX STATE=SIP
MFL STATE=SIP_MX

Set MX and MFL Hygiene Status to SIP.
Action:- 
SET;
S #_EXx007_COND;

L "dbCONST_VAL".UNIT.MFL.SUBS.SIP_MX;
T #_SUB_MFL;
L "dbCONST_VAL".UNIT.CMD.START;
T #_CMD_MFL;

//Set Mx and MFL hygiene status to SIP
L "dbCONST_VAL".UNIT.HYGIENE_STATE.SIP;
T #_HYG_STATE_Mx;
T #_HYG_STATE_MFL;
Verification:- A(;
L #_DEV_STATE_MX;
L "dbCONST_VAL".UNIT.MX.SUBS.SIP;
==I;
);
A(;
L #_DEV_STATE_MFL;
L "dbCONST_VAL".UNIT.MFL.SUBS.SIP_MX;
==I;
);


--------------------------------------------------
TRANSITION::10
--------------------------------------------------
TRNNo:- 10.0000
Title:- Empty Transition
EmptyTransition:- False
Description:- Empty Transition
Condition:- A M1.1; //Always High flag


--------------------------------------------------
STEP::09
--------------------------------------------------
StepNo:- 9.0000
Title:- MX_UO_SIP : Open Mx steam supply on WFI/CS lines.
Description:- Open Mx steam supply on WFI/CS lines.
ECn002 STATE=FLUSH MEDIUM=CS(WFI)

Log steam opened time.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Open Mx steam supply on WFI/CS(FLUSH) lines.
Action:- // Open CS steam supply valve
L "dbCONST_VAL".EM.EMC1.VALVE.CS;
T #_VALVE_ECn001;
SET;
R #_AUXDRAIN_ECn001;
R #_AUXVENT_ECn001;

L "dbCONST_VAL".EM.EMC1.SUBS.VALVE_OPENED;
T #_SUB_ECn001;
L "dbCONST_VAL".EM.CMD.START;
T #_CMD_ECn001;

//Open WFI line CS supply valve
L "dbCONST_VAL".EM.EMC2.MEDIUM.CS_WFI;
T #_MEDIUM_ECn002;
L "dbCONST_VAL".EM.EMC2.SUBS.FLUSH;
T #_SUB_ECn002;
L "dbCONST_VAL".EM.CMD.START;
T #_CMD_ECn002;

//Log steam opened time
L "dbCONST_VAL".CPU_TIME;
T #_log_MxSteamOpen;
Verification:- //Verify if CS steam supply valve opened.
A(;
L #_DEV_STATE_ECn001;
L "dbCONST_VAL".EM.EMC1.SUBS.VALVE_OPENED;
==I;
);
//Verify if ECn002 changed to substate FLUSH.
A(;
L #_DEV_STATE_ECn002;
L "dbCONST_VAL".EM.EMC2.SUBS.FLUSH;
==I;
);


--------------------------------------------------
TRANSITION::11
--------------------------------------------------
TRNNo:- 11.0000
Title:- Pressure check
EmptyTransition:- False
Description:- Pressure increased above PRES_STM_POS. PCx013> PRES_STM_POS
Condition:- A(;
L 	#_MEASURE_ECn001;
L 	#_PRES_STM_POS;
>R;
);


--------------------------------------------------
STEP::10
--------------------------------------------------
StepNo:- 10.0000
Title:- MX_UO_SIP : Positive pressure. 
Description:- Positive pressure has been achieved.
Log actual positive pressure.

Open Mx stean trap valve????
Open vent filter drain valve and vacuum drain line valve.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Log actual positive pressure.
Open Mx stean trap valve????
Open vent filter drain valve and vacuum drain line valve.

Action:- //Log actual positive pressure.
L #_MEASURE_ECn001;
T #_log_PositivePressure;

//Open vent filter drain valve.
L "dbCONST_VAL".EM.EMG1.SUBS.SIP; 
T #_SUB_EGn005;
L "dbCONST_VAL".EM.CMD.START;
T #_CMD_EGn005;

//Open vacuum drain line valve.
L "dbCONST_VAL".EM.EMC1.VALVE.VACUUM; 
T #_VALVE_ECn001;
L "dbCONST_VAL".EM.EMC1.SUBS.VALVE_OPENED;
T #_SUB_ECn001;
L "dbCONST_VAL".EM.CMD.START;
T #_CMD_ECn001;
Verification:- A(;
L #_DEV_STATE_ECn001;
L "dbCONST_VAL".EM.EMC1.SUBS.VALVE_OPENED;
==I;
);


--------------------------------------------------
TRANSITION::12
--------------------------------------------------
TRNNo:- 12.0000
Title:- Empty Transition
EmptyTransition:- False
Description:- Empty Transition
Condition:- A M1.1; //Always High flag


--------------------------------------------------
STEP::11
--------------------------------------------------
StepNo:- 11.0000
Title:- MX_UO_SIP : Wait for free steaming timer
Description:- Start timer TIME_STM_DRAIN_Mx

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Start timer TIME_STM_DRAIN_Mx
Action:- //Start Timer for steaming
A #SQ_TIMER.Q;
R #SQ_TIMER.IN;

AN #SQ_TIMER.Q;
S #SQ_TIMER.IN;
L #_TIME_STM_DRAIN_Mx;
T #SQ_TIMER.PT;
Verification:- A #SQ_TIMER.IN;


--------------------------------------------------
TRANSITION::13
--------------------------------------------------
TRNNo:- 13.0000
Title:- Timer expired
EmptyTransition:- False
Description:- Timer TIME_STM_DRAIN_Mx expired?
Condition:- A #SQ_TIMER.Q;


--------------------------------------------------
STEP::12
--------------------------------------------------
StepNo:- 12.0000
Title:- MX_UO_SIP : Free steam complete. Wait for SIP to be complete
Description:- ECn001 STATE=VALVE_OPENED VALVE=CS AUX_VENT=False AUX_DRAIN=False

SET EGn005 (STATE=FILTER)
Log closed system steaming start time

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Set EGn005 to substate FILTER.
Close Mx VENT valve
Open Discharge
Log closed system start time

Action:- // Close Mx VENT valve
L "dbCONST_VAL".EM.EMC1.VALVE.CS;
T #_VALVE_ECn001;
SET;
S #_AUXDRAIN_ECn001;
R #_AUXVENT_ECn001;

L "dbCONST_VAL".EM.EMC1.SUBS.VALVE_OPENED;
T #_SUB_ECn001;
L "dbCONST_VAL".EM.CMD.START;
T #_CMD_ECn001;

//Set EGn005 to FILTER
L "dbCONST_VAL".EM.CMD.START;
T #_CMD_EGn005;
L "dbCONST_VAL".EM.EMG1.SUBS.SIP;
T #_SUB_EGn005;

//Open Discharge
L "dbCONST_VAL".EM.EMV1.SUBS.DISCHARGE;
T #_SUB_EVn004;
L "dbCONST_VAL".EM.CMD.START;
T #_CMD_EVn004;

//Log closed system start time
L "dbCONST_VAL".CPU_TIME;
T #_log_ClosedSystem;
Verification:- A(;
L #_DEV_STATE_ECn001;
L "dbCONST_VAL".EM.EMC1.SUBS.VALVE_OPENED;
==I;
);


--------------------------------------------------
STEP::13
--------------------------------------------------
StepNo:- 13.0000
Title:- RP_CIPSIP : Monitor MX SIP Temperatures
Description:- Set flags to log all Mx vessel temperatures every 30sec once SIP started first time. Logging of values done in HMI.
Start TIME_SIP_ABORT timer.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Skip timer for SIP_ABORT if sip_timer_started=FALSE.
Set flags to log all Mx vessel temperatures  every 30sec. Logging of values done in HMI.
Reset flags.
Action:- //Skip timer for SIP_ABORT if sip_timer_started=FALSE.
A #_sip_timer_started;
JC tsi1;

// Start SIP ABORT timer
A #SQ_TIMER.Q;
R #SQ_TIMER.IN;

AN #SQ_TIMER.Q;
S #SQ_TIMER.IN;
L #_TIME_SIP_ABORT;
T #SQ_TIMER.PT;


tsi1: NOP 0;
//SIP started.
//Log all temperatures
SET;
S #_log_Temp_TI_x010;
S #_log_Temp_TI_x012;
S #_log_Temp_TI_n062;


// Clear log flag for low temperature
SET;
R #_log_TIx062low;
R #_log_TIx012low;
R #_log_TIx010low;
R M5.2; //Message deactivate


SET;
R #_prompt_try_again;
R #_confirm_try_again;

//Report Event Set
SET;
S #_Report_Evnt_019;

//Report Event Reset
SET;
R #_Report_Evnt_020;
Verification:- A M1.1; //Always High flag


--------------------------------------------------
TRANSITION::15
--------------------------------------------------
TRNNo:- 15.0000
Title:- Temperature below setpoint
EmptyTransition:- False
Description:- SIP timer running and any temperature below TEMP_SIP or the vent filter inlet temperature below TEMP_SIP_VENT?
Condition:- A #_sip_timer_started;
A(;
L 	#_ti_vent;
L 	#_TEMP_SIP_VENT;
<R;
);

A(;
L              #_ti_drain;
L 	#_TEMP_SIP_VENT;
<R;
);

A(;
L              #_ti_vessel;
L 	#_TEMP_SIP;
<R;
);

A(;
L              #_ti_drain2;
L 	#_TEMP_SIP;
<R;
);

A(;
L              #_ti_hex;
L 	#_TEMP_SIP;
<R;
);



--------------------------------------------------
TRANSITION::16
--------------------------------------------------
TRNNo:- 16.0000
Title:- All temperatures above setpoint.
EmptyTransition:- False
Description:- All SIP temperatures above TEMP_SIP °C and the vent filter inlet temperature above TEMP_SIP_VENT?
and SIP timer not running? 
Mx Gas Filter TI_x101, Mx vent line TI_x103, Mx Vessel TI_x105, MFLx Filtration Line TI_x107 & Mx Drain TI_x109.
Condition:- AN #_sip_timer_started;
AN #SQ_TIMER.Q;

A(;
L 	#_ti_vent;
L 	#_TEMP_SIP_VENT;
>R;
);

A(;
L              #_ti_drain;
L 	#_TEMP_SIP_VENT;
>R;
);

A(;
L              #_ti_vessel;
L 	#_TEMP_SIP;
>R;
);

A(;
L              #_ti_drain2;
L 	#_TEMP_SIP;
>R;
);

A(;
L              #_ti_hex;
L 	#_TEMP_SIP;
>R;
);


--------------------------------------------------
TRANSITION::17
--------------------------------------------------
TRNNo:- 17.0000
Title:- SIP Timer Expired
EmptyTransition:- False
Description:- Timer TIME_SIP expired.
Condition:- A #SQ_TIMER.Q;
A #_sip_timer_started;


--------------------------------------------------
TRANSITION::18
--------------------------------------------------
TRNNo:- 18.0000
Title:- Abort timer expired
EmptyTransition:- False
Description:- Timer TIME_SIP_ABORT is expired.
Condition:- A #SQ_TIMER.Q;
AN #_sip_timer_started;


--------------------------------------------------
STEP::14
--------------------------------------------------
StepNo:- 14.0000
Title:- RP_CIPSIP : Reset SIP timeout timer 
Description:- Reset timer.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Action Description
Action:- SET;
R #SQ_TIMER.IN;

//Report Event Reset
SET;
R #_Report_Evnt_019;
Verification:- AN #SQ_TIMER.IN;


--------------------------------------------------
TRANSITION::19
--------------------------------------------------
TRNNo:- 19.0000
Title:- Empty Transition
EmptyTransition:- False
Description:- Timer Reset
Condition:- AN #SQ_TIMER.Q;


--------------------------------------------------
STEP::15
--------------------------------------------------
StepNo:- 15.0000
Title:- RP_CIPSIP : Start MX SIP timer 
Description:- Start SIP timer TIME_SIP.
Set sip_timer_started.
Log SIP start time.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Start SIP timer TIME_SIP.
Log SIP begin time and Set sip_timer_started.
Action:- SET;
S #SQ_TIMER.IN;
L #_TIME_SIP;
T #SQ_TIMER.PT;

//Log SIP begin time
L "dbCONST_VAL".CPU_TIME;
T #_log_SIPBegin;

//SIP timer started
SET;
S #_sip_timer_started;
Verification:- A #SQ_TIMER.IN;


--------------------------------------------------
TRANSITION::20
--------------------------------------------------
TRNNo:- 20.0000
Title:- SIP Timer Expired
EmptyTransition:- False
Description:- Timer TIME_SIP not yet expired.
Condition:- AN #SQ_TIMER.Q;


--------------------------------------------------
STEP::16
--------------------------------------------------
StepNo:- 16.0000
Title:- RP_CIPSIP : Low MX temperature during SIP
Description:- Log temperature that lower than TEMP_SIP. Reset sip_timer_started and log timer RESET. Increase counter.

If CTR less than NUM, then prompt to try again and start ABORT Timer. Else, generate abort message and start timer for 1 minute.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Log temperature that lower than TEMP_SIP.
Reset sip_timer_started and log timer RESET.
Increase counter.
Action:- //If TI_VENT less than TEMP_SIP_VENT, log the temperature. Else, check other temperature value.
A(;
L 	#_ti_vent
L 	#_TEMP_SIP_VENT;
<R;
);
JCN S341;
SET;
S #_log_TIx062low;

S341: NOP 0;
//If TI_DRAIN less than TEMP_SIP_VENT, log the temperature. Else, check other temperature value.
A(;
L              #_ti_drain;
L 	#_TEMP_SIP_VENT;
<R;
);
JCN S342;
SET;
S #_log_TIx010low;

S342: NOP 0;
//If TI_VESSEL less than TEMP_SIP, log the temperature.
A(;
L              #_ti_vessel;
L 	#_TEMP_SIP;
<R;
);
JCN S343;
SET;
S #_log_TIx012low;

S343: NOP 0;
//If TI_DRAIN2 less than TEMP_SIP, log the temperature.
A(;
L              #_ti_drain2;
L 	#_TEMP_SIP;
<R;
);
JCN S344;
SET;
S #_log_TIx012low;

S344: NOP 0;
//If TI_HEX less than TEMP_SIP, log the temperature.
A(;
L              #_ti_hex;
L 	#_TEMP_SIP;
<R;
);
JCN S345;
SET;
S #_log_TIx012low;



S345: NOP 0;
//Reset flag.
SET;
R #_sip_timer_started;

//Log SIP timer reset.
L "dbCONST_VAL".CPU_TIME;
T #_log_SIPTimerReset;

//Increase counter.
L #_CTR_SIP_ABORT;
INC 1;
T #_CTR_SIP_ABORT;

//Report Event Reset
SET;
R #_Report_Evnt_019;

//Report Event Set
SET;
S #_Report_Evnt_020;
Verification:- A M1.1; //Always High flag

--------------------------------------------------
ACTION::02
--------------------------------------------------
Description:- If CTR less than NUM, then prompt to try again and start ABORT Timer. Else, generate abort message and start timer for 1 minute.
Action:- //  Check no of repetition.
 A(;
L 	#_CTR_SIP_ABORT;
L 	#_NUM_SIP_ABORT;
>=I;
);
JC NOTS;

//If CTR<NUM, then prompt to try again and start ABORT Timer.
SET;
S #_prompt_try_again;

A #SQ_TIMER.Q;
R #SQ_TIMER.IN;

AN #SQ_TIMER.Q;
S #SQ_TIMER.IN;
L #_TIME_SIP_ABORT;
T #SQ_TIMER.PT;
JU NOER;

//If CTR greater or equal to NUM, then generate abort message and start timer for 1 minute.
NOTS: NOP 0;
SET;
S #_Abort_messg;

// Start timer for 1 minute.
A #SQ_TIMER.Q;
R #SQ_TIMER.IN;

AN #SQ_TIMER.Q;
S #SQ_TIMER.IN;
L T#1M;
T #SQ_TIMER.PT;

NOER:NOP 0;
Verification:- A M1.1;


--------------------------------------------------
TRANSITION::21
--------------------------------------------------
TRNNo:- 21.0000
Title:- Retry SIP again
EmptyTransition:- False
Description:- Temperature has dropped less than 'NUM_SIP_ABORT' times
Condition:- A(;
L 	#_CTR_SIP_ABORT;
L 	#_NUM_SIP_ABORT;
<I;
);
A #_confirm_try_again;


--------------------------------------------------
TRANSITION::22
--------------------------------------------------
TRNNo:- 22.0000
Title:- Abort SIP
EmptyTransition:- False
Description:- Temperature has dropped 'NUM_SIP_ABORT' times.
Condition:- //ABORT timer or 1 minute delay expired.
A #SQ_TIMER.Q;


--------------------------------------------------
STEP::17
--------------------------------------------------
StepNo:- 17.0000
Title:- RP_CIPSIP : MX and MMFLx SIP complete
Description:- Log SIP completion time.
Set MX sip_complete flag
Set MMFLx sip_complete flag
Clear counter CTR_PULSE_VLV.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Action Description
Action:- //Stop logging all temperatures
SET;
R #_log_Temp_TI_x010;
R #_log_Temp_TI_x012;
R #_log_Temp_TI_n062;
R #_sip_timer_started;

SET;
S #_sip_mx_complete;
S#_SIP_timer_complete_Mx;

//Clear counter
L 0;
T #_CTR_PULSE_VLV;
Verification:- A M1.1; //Always High flag


--------------------------------------------------
TRANSITION::24
--------------------------------------------------
TRNNo:- 24.0000
Title:- SIP complete?
EmptyTransition:- False
Description:- Wait for parent to indicate SIP is complete when it sets the sip_complete flag.
Condition:- A #_sip_complete;


--------------------------------------------------
STEP::18
--------------------------------------------------
StepNo:- 18.0000
Title:- RP_CIPSIP : Automatic MX SIP ABORT
Description:- Log automatic ABORT.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Log automatic ABORT.
Action:- //Log automatic ABORT
L "dbCONST_VAL".CPU_TIME;
T #_log_SIPAbort;

//Report Event Reset
SET;
R #_Report_Evnt_019;

//Report Event Set
SET;
S #_Report_Evnt_020;

SET;
R #SQ_TIMER.IN;
R #_Abort_messg; 
Verification:- A M1.1; //Always High flag


--------------------------------------------------
TRANSITION::23
--------------------------------------------------
TRNNo:- 23.0000
Title:- Always High
EmptyTransition:- False
Description:- Always High
Condition:- A M1.1;


--------------------------------------------------
STEP::19
--------------------------------------------------
StepNo:- 19.0000
Title:- MX_UO_SIP : Close steam supply.
Description:- Close Mx steam supply on WFI/CS.
ECn001, ECn002 STATE=STOPPED

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Close steam supply WFI/CS, LPCA/CS.
Action:- //Close MX steam supply on WFI/CS
L "dbCONST_VAL".EM.CMD.STOP;
T #_CMD_ECn001;
L "dbCONST_VAL".EM.SUBSTATE.ZERO;
T #_SUB_ECn001;

//Close MX steam supply on LPCA/CS
L "dbCONST_VAL".EM.CMD.STOP;
T #_CMD_ECn002;
L "dbCONST_VAL".EM.SUBSTATE.ZERO;
T #_SUB_ECn002;
Verification:- A(;
L 	#_DEV_STATE_ECn001;
L 	"dbCONST_VAL".EM.DEV_STATE.STOPPED;
==I;
);
A(;
L 	#_DEV_STATE_ECn002;
L 	"dbCONST_VAL".EM.DEV_STATE.STOPPED;
==I;
);


--------------------------------------------------
TRANSITION::25
--------------------------------------------------
TRNNo:- 25.0000
Title:- Pressure dopped below PRES_HPCA_BLOW.
EmptyTransition:- False
Description:- Pressure dropped to PRES_HPCA_BLOW. PIC-x103 <= PRES_HPCA_BLOW
Condition:- A(;
L 	#_MEASURE_ECn001;
L 	#_PRES_HCPA_BLOW;
<=R;
);


--------------------------------------------------
STEP::20
--------------------------------------------------
StepNo:- 20.0000
Title:- MX_UO_SIP : Start HPCA pressure control
Description:- Log time when pressure reached.
Enable Mx HPCA pressure control at setpoint PRES_HPCA_BLOW.
Set HPCA_blow flag to indicate HPCA blowing now under way.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Log time when pressure reached
Start HPCA pressure control. 
(ECn001 STATE=PRESSURE_CONTROL, VALVE= HPCA, SETPOINT= PRES_HPCA_BLOW AUXVENT=TRUE AUXDRAIN=FALSE)
Set EGn005 to FILTER

Action:- //Log time when pressure reached
L "dbCONST_VAL".CPU_TIME;
T #_log_pressure_reached;

// Enable Mx HPCA pressure control
L "dbCONST_VAL".EM.EMC1.VALVE.HPCA;
T #_VALVE_ECn001;
L #_PRES_HPCA_BLOW;
T #_SETPOINT_ECn001;
SET;
R #_AUXDRAIN_ECn001;
R #_AUXVENT_ECn001;

L "dbCONST_VAL".EM.EMC1.SUBS.PRESSURE_CONTROL;
T #_SUB_ECn001;
L "dbCONST_VAL".EM.CMD.START;
T #_CMD_ECn001;

//Set EGn005 to FILTER
L "dbCONST_VAL".EM.EMG1.SUBS.FILTER;
T #_SUB_EGn005;
L "dbCONST_VAL".EM.CMD.START;
T #_CMD_EGn005;

Verification:- A(;
L #_DEV_STATE_ECn001;
L "dbCONST_VAL".EM.EMC1.SUBS.PRESSURE_CONTROL;
==I;
);

--------------------------------------------------
ACTION::02
--------------------------------------------------
Description:- Set HPCA_blow flag to indicate HCPA blowing now under way.
Action:- SET;
S #_HPCA_blow;
Verification:- A M1.1;


--------------------------------------------------
TRANSITION::26
--------------------------------------------------
TRNNo:- 26.0000
Title:- Empty transition.
EmptyTransition:- False
Description:- Empty transition.
Condition:- A M1.1; //Always High flag


--------------------------------------------------
STEP::21
--------------------------------------------------
StepNo:- 21.0000
Title:- MX_UO_SIP : Wait for HPCA blow complete or to pulse drain
Description:- Start MX Drain valve pulse timer (TIME_PULSE)

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Reset flag.
Start MX Drain valve pulse timer.
Action:- SET;
R #_pulse_drain_complete;
R #_pulse_drain_MX;

// Start vacuum timer
A #SQ_TIMER.Q;
R #SQ_TIMER.IN;

AN #SQ_TIMER.Q;
S #SQ_TIMER.IN;
L #_TIME_PULSE;
T #SQ_TIMER.PT;
Verification:- A M1.1; //Always High flag

A #SQ_TIMER.IN;


--------------------------------------------------
TRANSITION::28
--------------------------------------------------
TRNNo:- 28.0000
Title:- Finished pulsing drain valves?
EmptyTransition:- False
Description:- Drain valves pulsed NUM_PULSE_VLV times
Condition:- A(;
L 	#_CTR_PULSE_VLV;
L 	#_NUM_PULSE_VLV;
>=I;
);



--------------------------------------------------
TRANSITION::29
--------------------------------------------------
TRNNo:- 29.0000
Title:- Empty transition
EmptyTransition:- False
Description:- Empty transition.
Condition:- A M1.1; //Always High flag


--------------------------------------------------
STEP::22
--------------------------------------------------
StepNo:- 22.0000
Title:- RP_CIPSIP : Start Pulse MX drain valve
Description:- CTR_PULSE_VLV + 1.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Increase Counter
Action:- //Counter
L #_CTR_PULSE_VLV;
INC 1;
T #_CTR_PULSE_VLV;
Verification:- A M1.1; //Always High flag


--------------------------------------------------
STEP::23
--------------------------------------------------
StepNo:- 23.0000
Title:- RP_CIPSIP : MX HPCA blowing and steaming complete
Description:- Flag MX that HPCA blowing is now complete by setting the Mx_HPCA_blow_complete flag.


--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Flag MX that N2 blowing is now complete by setting the n2_blow_complete flag.

Flag MFL that steaming is now complete by setting the steaming_complete flag.
Action:- SET;
R #_pulse_drain_Mx;
S #_n2_blow_complete_Mx;
S #_steam_compl_MFL_Mx;
Verification:- A M1.1; //Always High flag


--------------------------------------------------
TRANSITION::30
--------------------------------------------------
TRNNo:- 30.0000
Title:- HPCA blowing confimed.
EmptyTransition:- False
Description:- Wait for parent to confirm HPCA blowing is complete when parent sets the HPCA_blow_complete flag.
Condition:- A #_HPCA_blow_complete;


--------------------------------------------------
STEP::24
--------------------------------------------------
StepNo:- 24.0000
Title:- MX_UO_SIP : Wait for time to pulse drain valve
Description:- Enable Mx HPCA pressure control at setpoint PRES_HPCA_BLOW.
Start timer for drain pulsing (TIME_DRAIN_PULSE).
AUXVENT=TRUE, AUXDRAIN=FALSE

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Stop ECn001 to be able to apply start same substate with different settings
Action:- L "dbCONST_VAL".EM.CMD.STOP;
T #_CMD_ECn001;
Verification:- A(;
L #_DEV_STATE_ECn001;
L "dbCONST_VAL".EM.DEV_STATE.STOPPED;
==I;
);

--------------------------------------------------
ACTION::02
--------------------------------------------------
Description:- High Pressure CA valve and VENT valve open, DRAIN valve closed.
ECn001 STATE=PRESSURE_CONTROL, VALVE= HPCA, SETPOINT= PRES_HPCA_BLOW, AUXVENT=TRUE, AUXDRAIN=FALSE
Action:- // Enable Mx HPCA pressure control
L "dbCONST_VAL".EM.EMC1.VALVE.HPCA;
T #_VALVE_ECn001;
L #_PRES_HPCA_BLOW;
T #_SETPOINT_ECn001;
SET;
R #_AUXDRAIN_ECn001;
S #_AUXVENT_ECn001;

L "dbCONST_VAL".EM.EMC1.SUBS.PRESSURE_CONTROL;
T #_SUB_ECn001;
L "dbCONST_VAL".EM.CMD.START;
T #_CMD_ECn001;
Verification:- A(;
L #_DEV_STATE_ECn001;
L "dbCONST_VAL".EM.EMC1.SUBS.PRESSURE_CONTROL;
==I;
);

--------------------------------------------------
ACTION::03
--------------------------------------------------
Description:- Start timer for drain pulsing (TIME_DRAIN_PULSE).
Action:- //Start Timer
A #SQ_TIMER.Q;
R #SQ_TIMER.IN;

AN #SQ_TIMER.Q;
S #SQ_TIMER.IN;
L #_TIME_DRAIN_PULSE;
T #SQ_TIMER.PT;
Verification:- S #SQ_TIMER.IN;


--------------------------------------------------
TRANSITION::31
--------------------------------------------------
TRNNo:- 31.0000
Title:- Timer expired?
EmptyTransition:- False
Description:- Time for drain pulsing TIME_DRAIN_PULSE expired.
Condition:- A #SQ_TIMER.Q;


--------------------------------------------------
STEP::25
--------------------------------------------------
StepNo:- 25.0000
Title:- MX_UO_SIP : Pulse SIP drain valve opened
Description:- Enable Mx HPCA pressure control at setpoint PRES_HPCA_BLOW.
Start timer for drain pulsing (TIME_DRAIN_PULSE).
AUXVENT=FALSE AUXDRAIN=TRUE

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Stop ECn001 to be able to apply start same substate with different settings
Action:- L "dbCONST_VAL".EM.CMD.STOP;
T #_CMD_ECn001;
Verification:- A(;
L #_DEV_STATE_ECn001;
L "dbCONST_VAL".EM.DEV_STATE.STOPPED;
==I;
);

--------------------------------------------------
ACTION::02
--------------------------------------------------
Description:- High Pressure CA valve and DRAIN valve open, VENT valve closed.
ECn001 STATE=PRESSURE_CONTROL, VALVE= HPCA, SETPOINT= PRES_HPCA_BLOW AUXVENT=FALSE AUXDRAIN=TRUE
Action:- // Enable Mx HPCA pressure control
L "dbCONST_VAL".EM.EMC1.VALVE.HPCA;
T #_VALVE_ECn001;
L #_PRES_HPCA_BLOW;
T #_SETPOINT_ECn001;
SET;
S #_AUXDRAIN_ECn001;
R #_AUXVENT_ECn001;

L "dbCONST_VAL".EM.EMC1.SUBS.PRESSURE_CONTROL;
T #_SUB_ECn001;
L "dbCONST_VAL".EM.CMD.START;
T #_CMD_ECn001;

Verification:- A(;
L 	#_DEV_STATE_ECn001;
L "dbCONST_VAL".EM.EMC1.SUBS.PRESSURE_CONTROL;
==I;
);

--------------------------------------------------
ACTION::03
--------------------------------------------------
Description:- Start timer for drain pulsing (TIME_DRAIN_PULSE).
Action:- //Start Timer
A #SQ_TIMER.Q;
R #SQ_TIMER.IN;

AN #SQ_TIMER.Q;
S #SQ_TIMER.IN;
L #_TIME_DRAIN_PULSE;
T #SQ_TIMER.PT;
Verification:- A #SQ_TIMER.IN;


--------------------------------------------------
TRANSITION::32
--------------------------------------------------
TRNNo:- 32.0000
Title:- Timer expired?
EmptyTransition:- False
Description:- Time for drain pulsing TIME_DRAIN_PULSE expired.
Condition:- A #SQ_TIMER.Q;


--------------------------------------------------
STEP::26
--------------------------------------------------
StepNo:- 26.0000
Title:- MX_UO_SIP : Finish drain pulsing and open VENT valve
Description:- Enable Mx HPCA pressure control at setpoint PRES_HPCA_BLOW.
SET EGn005 (STATE = SIP)
Start timer for drain pulsing (TIME_DRAIN_PULSE).
AUXVENT=FALSE AUXDRAIN=FALSE

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Stop ECn001 to be able to apply start same substate with different settings
Action:- L "dbCONST_VAL".EM.CMD.STOP;
T #_CMD_ECn001;
Verification:- A(;
L #_DEV_STATE_ECn001;
L "dbCONST_VAL".EM.DEV_STATE.STOPPED;
==I;
);

--------------------------------------------------
ACTION::02
--------------------------------------------------
Description:- High Pressure CA valve open and VENT & DRAIN valve closed.
ECn001 STATE=PRESSURE_CONTROL, VALVE= HPCA, SETPOINT= PRES_HPCA_BLOW AUXVENT=FALSE AUXDRAIN=FALSE
SET EGn005 to substate SIP to open vent filter drain valve.
Action:- // Enable Mx HPCA pressure control
L "dbCONST_VAL".EM.EMC1.VALVE.HPCA;
T #_VALVE_ECn001;
L #_PRES_HPCA_BLOW;
T #_SETPOINT_ECn001;
SET;
R #_AUXDRAIN_ECn001;
R #_AUXVENT_ECn001;

L "dbCONST_VAL".EM.EMC1.SUBS.PRESSURE_CONTROL;
T #_SUB_ECn001;
L "dbCONST_VAL".EM.CMD.START;
T #_CMD_ECn001;

// Set vessel VENT filter EM to substate SIP.
L "dbCONST_VAL".EM.EMG1.SUBS.SIP; 
T #_SUB_EGn005;
L "dbCONST_VAL".EM.CMD.START;
T #_CMD_EGn005;
Verification:- A(;
L #_DEV_STATE_ECn001;
L "dbCONST_VAL".EM.EMC1.SUBS.PRESSURE_CONTROL;
==I;
);
A(;
L #_DEV_STATE_EGn005;
L "dbCONST_VAL".EM.EMG1.SUBS.SIP; 
==I;
);

--------------------------------------------------
ACTION::03
--------------------------------------------------
Description:- Start timer for drain pulsing (TIME_DRAIN_PULSE).
Action:- //Start Timer
A #SQ_TIMER.Q;
R #SQ_TIMER.IN;

AN #SQ_TIMER.Q;
S #SQ_TIMER.IN;
L #_TIME_DRAIN_PULSE;
T #SQ_TIMER.PT;

Verification:- A #SQ_TIMER.IN;


--------------------------------------------------
TRANSITION::33
--------------------------------------------------
TRNNo:- 33.0000
Title:- Timer expired?
EmptyTransition:- False
Description:- Time for drain pulsing TIME_DRAIN_PULSE expired.
Condition:- A #SQ_TIMER.Q;


--------------------------------------------------
STEP::27
--------------------------------------------------
StepNo:- 27.0000
Title:- MX_UO_SIP : Pulse drain completed.
Description:- Close VENT filter line SIP drain valve. (EGn005 STATE = FILTER)

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Close vent filter drain valve. (Set EGn005 to FILTER)
Action:- //Set EGn005 to FILTER
L "dbCONST_VAL".EM.CMD.START;
T #_CMD_EGn005;
L "dbCONST_VAL".EM.EMG1.SUBS.FILTER;
T #_SUB_EGn005;
Verification:- A(;
L #_DEV_STATE_EGn005;
L "dbCONST_VAL".EM.EMG1.SUBS.FILTER;
==I;
);

--------------------------------------------------
ACTION::02
--------------------------------------------------
Description:- Start timer for drain pulsing (TIME_DRAIN_PULSE).
Action:- // Start vacuum timer
A #SQ_TIMER.Q;
R #SQ_TIMER.IN;

AN #SQ_TIMER.Q;
S #SQ_TIMER.IN;
L #_TIME_DRAIN_PULSE
T #SQ_TIMER.PT;

SET;
R #_pulse_drain_MX;
Verification:- A #SQ_TIMER.IN;


--------------------------------------------------
TRANSITION::34
--------------------------------------------------
TRNNo:- 34.0000
Title:- Finished pulsing drain valves after repeats.
EmptyTransition:- False
Description:- Drain valves pulsed NUM_PULSE_VLV times after delay OR pulse wait time expired
Condition:- A(;
O(;
L 	#_CTR_PULSE_VLV;
L 	#_NUM_PULSE_VLV;
>=I;
);
O #SQ_TIMER.Q;
);


--------------------------------------------------
STEP::28
--------------------------------------------------
StepNo:- 28.0000
Title:- MX_UO_SIP : Disable HPCA and wait for reduced pressure
Description:- Disable Mx HPCA pressure control.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Stop Mx HPCA pressure control.
Action:- //Stop Mx HPCA pressure control
L "dbCONST_VAL".EM.CMD.STOP;
T #_CMD_ECn001;
L "dbCONST_VAL".EM.SUBSTATE.ZERO;
T #_SUB_ECn001;

Verification:- A(;
L 	#_DEV_STATE_ECn001;
L 	"dbCONST_VAL".EM.DEV_STATE.STOPPED;
==I;
);


--------------------------------------------------
TRANSITION::35
--------------------------------------------------
TRNNo:- 35.0000
Title:- HPCA pressure below PRES_HPCA_LEAVE.
EmptyTransition:- False
Description:- Pressure below PRES_HPCA_LEAVE. PIC_x103 <= PRES_HPCA_LEAVE
Condition:- A(;
L 	#_MEASURE_ECn001;
L 	#_PRES_HPCA_LEAVE;
<=R;
);


--------------------------------------------------
STEP::29
--------------------------------------------------
StepNo:- 29.0000
Title:- MX_UO_SIP : Disable HPCA and wait for reduced pressure
Description:- Disable Mx HPCA pressure control.
Open Vent valve.??

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Stop Mx HPCA pressure control.
Action:- //Stop Mx HPCA pressure control
L "dbCONST_VAL".EM.CMD.STOP;
T #_CMD_ECn001;
L "dbCONST_VAL".EM.SUBSTATE.ZERO;
T #_SUB_ECn001;

Verification:- A(;
L 	#_DEV_STATE_ECn001;
L 	"dbCONST_VAL".EM.DEV_STATE.STOPPED;
==I;
);

--------------------------------------------------
ACTION::02
--------------------------------------------------
Description:- Open Vent valve.
Action:- L "dbCONST_VAL".EM.EMC1.VALVE.VENT;
T #_VALVE_ECn001;
SET;
R #_AUXDRAIN_ECn001;
R #_AUXVENT_ECn001;

L "dbCONST_VAL".EM.EMC1.SUBS.VALVE_OPENED;
T #_SUB_ECn001;
L "dbCONST_VAL".EM.CMD.START;
T #_CMD_ECn001;
Verification:- A(;
L #_DEV_STATE_ECn001;
L "dbCONST_VAL".EM.EMC1.SUBS.VALVE_OPENED;
==I;
);


--------------------------------------------------
STEP::30
--------------------------------------------------
StepNo:- 30.0000
Title:- MX_UO_SIP : Pressure reduced. Wait to close vessel outlet valve
Description:- Log time when pressure reached.
Close Mx vent filter drain valve and vacuum drain line valve.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Log time when pressure reached.
Set EGn005 to FILTER substate to close vent filter drain valve.
Close vacuum drain line valve.
Action:- //Log time when pressure reached
L "dbCONST_VAL".CPU_TIME;
T #_log_LowPres_reached;

//Set EGn005 to FILTER substate.
L "dbCONST_VAL".EM.EMG1.SUBS.FILTER;
T #_SUB_EGn005;
L "dbCONST_VAL".EM.CMD.START;
T #_CMD_EGn005;

//Close vacuum drain line valve.
L "dbCONST_VAL".EM.EMC1.VALVE.VACUUM; 
T #_VALVE_ECn001;
L "dbCONST_VAL".EM.EMC1.SUBS.PRESSURE_CONTROL
T #_SUB_ECn001;
L "dbCONST_VAL".EM.CMD.START;
T #_CMD_ECn001;
Verification:- A(;
L #_DEV_STATE_EGn005;
L "dbCONST_VAL".EM.EMG1.SUBS.FILTER;
==I;
);
A(;
L #_DEV_STATE_ECn001;
L "dbCONST_VAL".EM.EMC1.SUBS.VALVE_CLOSED;
==I;
);


--------------------------------------------------
TRANSITION::36
--------------------------------------------------
TRNNo:- 36.0000
Title:- Empty transition.
EmptyTransition:- False
Description:- Continue to close the MX tank outlet valve.
Condition:- A M1.1; //Always High flag


--------------------------------------------------
STEP::31
--------------------------------------------------
StepNo:- 31.0000
Title:- MX_UO_SIP : Start LPCA blanketing and open vent valve
Description:- Enable Mx LPCA pressure control at setpoint PRES_LPCA_BLANK.
Open vent valve.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Start low pressure CA blanketing.
EVn004 STATE=STOPPED
ECx001 STATE=PRESSURE_CONTROL, VALVE=LPCA, SP=PRES_LPCA_BLANK, AUXVENT=true
Action:- // Enable Mx LPCA pressure control and open Vent valve.
L "dbCONST_VAL".EM.EMC1.VALVE.LPCA;
T #_VALVE_ECn001;
L #_PRES_LPCA_BLANK;
T #_SETPOINT_ECn001;
SET;
R #_AUXDRAIN_ECn001;
S #_AUXVENT_ECn001;

L "dbCONST_VAL".EM.EMC1.SUBS.PRESSURE_CONTROL;
T #_SUB_ECn001;
L "dbCONST_VAL".EM.CMD.START;
T #_CMD_ECn001;
Verification:- A(;
L #_DEV_STATE_ECn001;
L "dbCONST_VAL".EM.EMC1.SUBS.PRESSURE_CONTROL;
==I;
);



--------------------------------------------------
TRANSITION::37
--------------------------------------------------
TRNNo:- 37.0000
Title:- Verify LPCA blanketing started.
EmptyTransition:- False
Description:- Verify LCPA pressure control enabled.
Condition:- A(;
L #_DEV_STATE_ECn001;
L "dbCONST_VAL".EM.EMC1.SUBS.PRESSURE_CONTROL;
==I;
);


--------------------------------------------------
STEP::32
--------------------------------------------------
StepNo:- 32.0000
Title:- RP_CIPSIP : Set SY Sterile. Isolate SY.
Description:- Release Sy water charge system.

Set SY, MFL and FCZ Hygiene Status to STERILE.
Log Sy SIP operation end time.

Set MFL STATE=SIP_BLK
Set FCZ STATE=STOPPED

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Release Sy water charge system.

Set SY, MFL and FCZ Hygiene Status to STERILE.
Log Sy SIP operation end time.

Set MFL STATE=STOPPED
Set FCZ STATE=STOPPED
Action:- //Set SY, MFL and FCZ unit to Hygiene Status to STERILE
L "dbCONST_VAL".UNIT.HYGIENE_STATE.STERILE; 
T #_HYG_STATE_Sy;
T #_HYG_STATE_MFL;
T #_HYG_STATE_FCZ;

//Log SIP end time
L "dbCONST_VAL".CPU_TIME;
T #_log_SIPEnd;


L "dbCONST_VAL".UNIT.CMD.STOP;
T #_CMD_MFL;

L "dbCONST_VAL".UNIT.CMD.STOP;
T #_CMD_FCZ;

//Release Water System Acquired by the SY Unit
SET;
S #_Release_Water_System_Sy;
Verification:- A M1.1; //Always High flag


--------------------------------------------------
STEP::33
--------------------------------------------------
StepNo:- 33.0000
Title:- MX_UO_SIP : Log completion time
Description:- Set Mx and MMFLx Hygiene status to STERILE.
Log Mx SIP operation end time.
Release Mx and MMFLx????

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Set Mx and MMFLx Hygiene Status to STERILE.
Log SIP end time.
Action:- //Set SY, MFL and FCZ unit to Hygiene Status to STERILE
L "dbCONST_VAL".UNIT.HYGIENE_STATE.STERILE; 
T #_HYG_STATE_Mx;
T #_HYG_STATE_MMFLx;

// Log Mx SIP operation end time.
L "dbCONST_VAL".CPU_TIME;
T #_log_MxSIPEnd;

........................................................................................
//Release Water System Acquired by the SY Unit
SET;
S #_Release_Water_System_Sy; RP_CIPSIP
Verification:- A M1.1;


--------------------------------------------------
TRANSITION::38
--------------------------------------------------
TRNNo:- 38.0000
Title:- Empty transition.
EmptyTransition:- False
Description:- Unconditional jump
Condition:- A M1.1; //Always High flag


--------------------------------------------------
STEP::34
--------------------------------------------------
StepNo:- 34.0000
Title:- MX_UO_SIP : Connect Pre Filter to to Flow Plate FPx1.
Description:- Prompt Operator to connect Flowplate FPx1 ZSCx113. 

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- PH_EMX1_FILTER_SETUP
Action:- //Start EMX1_FILTER_SETUP
L 	"dbCONST_VAL".EM.EMV1.SUBS.FILTER_SETUP;
T 	#_SUB_EXn014;
L 	"dbCONST_VAL".EM.CMD.START; 
T 	#_CMD_EXn014;

Verification:- A M1.1;


--------------------------------------------------
STEP::35
--------------------------------------------------
StepNo:- 35.0000
Title:- MX_UO_SIP : Unit Operation Completed
Description:- Set equipment to SAFE state.
Log operator confirmation.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Set equipment to SAFE state.
Action:- L "dbCONST_VAL".EM.CMD.STOP;
T #_CMD_ECn002;
L "dbCONST_VAL".EM.SUBSTATE.ZERO;
T #_SUB_ECn002;

L "dbCONST_VAL".EM.CMD.STOP;
T #_CMD_EJn003;
L "dbCONST_VAL".EM.SUBSTATE.ZERO;
T #_SUB_EJn003;

L "dbCONST_VAL".EM.CMD.STOP;
T #_CMD_EVn004;
L "dbCONST_VAL".EM.SUBSTATE.ZERO;
T #_SUB_EVn004;


//Clear used flags
SET;
R #_positive_pressure;
R #_HPCA_blow;
R #_pulse_drain_complete;
R #_HPCA_blow_complete;

//Log operator confirmation
L "dbCONST_VAL".CPU_TIME;
T #_log_confirmation;
Verification:- A M1.1;

****************************************************************************************************
END SSS REPORT
****************************************************************************************************
