****************************************************************************************************
SEQUENCE STEP SCHEDULE
generated on 12/12/2018 4:39:18 PM by David Paspa
****************************************************************************************************





--------------------------------------------------
SEQUENCE
--------------------------------------------------

SFCNo:- 4
Title:- UO_MX_FILTER
Description:- Manufacturing Vessel Mx filtration to Storage Vessel Sy. Sequence for Filtration from Manufacturing Vessel Mx to Storage Vessel Sy.
Name:- FILL
Class:- MX
Level:- UO
STEP_LIST_FORMAT:- JU    S0@@STEP_NUM@@; // STEP-0@@STEP_NUM@@:
ACT_LIST_FORMAT:- JU    @@ACT_CODE@@@@STEP_NUM@@; //ACTION-@@ACT_NUM@@
HeaderName:- MUFILL
Version:- 2.0
RevisionHistory:- // SFC Revision History:
// Rev By               Date        CC         Note
// 2.0 David Paspa      27-Nov-2018            Reboot for S7-1500
// 0.1 Gerald Kontriner 10-Sep-2009            SFC structural design
HMI_FORMAT:- @@STEP_NUM_INT@@,@@STEP_TITLE@@
Name:- emt_hex_setpoint
Type:- REAL
Description:- Heat exchanger temperature controller temperature setpoint
ParameterInOut:- OUT
Name:- vessel_mx
Type:- INT
Description:- Manufacturing vessel selection M1 or M2
ParameterInOut:- IN
Name:- vessel_sy
Type:- INT
Description:- Storage vessel selection S1 or S2
ParameterInOut:- IN
Name:- fill_flz
Type:- INT
Description:- Filling line selection FL1 or FL2
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::1
--------------------------------------------------
Name:- log_msg_filling_paused
Type:- BOOL
Description:- UO_MX_FILL User pressed the pause button
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::2
--------------------------------------------------
Name:- log_msg_reset_button_abort
Type:- BOOL
Description:- UO_MX_FILL Operator abort after filling was paused
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::3
--------------------------------------------------
Name:- log_msg_reset_button_retry
Type:- BOOL
Description:- UO_MX_FILL Operator to retry after filling was paused
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::4
--------------------------------------------------
Name:- r_pos_fill_mod_local
Type:- REAL
Description:- MX FILL HEX modulating valve position
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::5
--------------------------------------------------
Name:- emt_hex_pos_local
Type:- REAL
Description:- Heat exchanger temperature control modulating valve local position
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::6
--------------------------------------------------
Name:- prompt_reset_button_confirm_no
Type:- BOOL
Description:- UO_MX_FILL Operator to confirm to RESET Filling Paused button confirmed no
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::7
--------------------------------------------------
Name:- prompt_reset_button_confirm_yes
Type:- BOOL
Description:- UO_MX_FILL Operator to confirm to RESET Filling Paused button confirmed yes
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::8
--------------------------------------------------
Name:- prompt_reset_button
Type:- BOOL
Description:- UO_MX_FILL Operator to confirm to RESET Filling Paused button or ABORT
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::9
--------------------------------------------------
Name:- emx_fill_sync_write_fill_resume
Type:- BOOL
Description:- Filling pause button resumed synchronisation flag
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::10
--------------------------------------------------
Name:- emx_fill_sync_write_fill_pause
Type:- BOOL
Description:- Filling pause button pressed synchronisation flag
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::11
--------------------------------------------------
Name:- prompt_transfer_complete_confirm_yes
Type:- BOOL
Description:- UO_MX_FILL Operator to confirm when filling complete confirm yes
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::12
--------------------------------------------------
Name:- prompt_transfer_complete
Type:- BOOL
Description:- UO_MX_FILL Operator to confirm when filling complete
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::13
--------------------------------------------------
Name:- r_pres_lpca_blanket
Type:- REAL
Description:- MX FILL LPCA blanket pressure
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::14
--------------------------------------------------
Name:- prompt_abort
Type:- BOOL
Description:- UO_MX_FILL Operator to confirm abort due to invalid Hygiene Status
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::15
--------------------------------------------------
Name:- prompt_abort_confirm_yes
Type:- BOOL
Description:- UO_MX_FILL Operator confirmed to abort due to invalid Hygiene Status
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::16
--------------------------------------------------
Name:- log_msg_wrong_hygiene
Type:- BOOL
Description:- UO_MX_FILL Unit has incorrect Hygiene Status
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::17
--------------------------------------------------
Name:- emx_smfl_hygiene
Type:- INT
Description:- Description
ParameterInOut:- IN_OUT

--------------------------------------------------
PARAMETER::18
--------------------------------------------------
Name:- emx_transfer_hygiene
Type:- INT
Description:- Description
ParameterInOut:- IN_OUT

--------------------------------------------------
PARAMETER::19
--------------------------------------------------
Name:- emx_fill_hygiene
Type:- INT
Description:- Description
ParameterInOut:- IN_OUT

--------------------------------------------------
PARAMETER::20
--------------------------------------------------
Name:- emx_fill_cmd
Type:- INT
Description:- Command for filling line
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::21
--------------------------------------------------
Name:- emx_fill_subs
Type:- INT
Description:- Substate selection for filling line
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::22
--------------------------------------------------
Name:- emx_fill_state
Type:- INT
Description:- Device state for filling line
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::23
--------------------------------------------------
Name:- emt_hex_setpoint
Type:- REAL
Description:- Heat exchanger temperature controller temperature setpoint
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::24
--------------------------------------------------
Name:- vessel_mx
Type:- INT
Description:- Manufacturing vessel selection M1 or M2
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::25
--------------------------------------------------
Name:- fill_flz
Type:- INT
Description:- Filling line selection FL1 or FL2
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::26
--------------------------------------------------
Name:- vessel_sy
Type:- INT
Description:- Storage vessel selection S1 or S2
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::27
--------------------------------------------------
Name:- log_msg_filtration_end
Type:- BOOL
Description:- UO_MX_FILL Filtration end time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::28
--------------------------------------------------
Name:- log_msg_filtration_start
Type:- BOOL
Description:- UO_MX_FILL Filtration begin time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::29
--------------------------------------------------
Name:- log_msg_fill_begin
Type:- BOOL
Description:- UO_MX_FILL begin time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::30
--------------------------------------------------
Name:- log_msg_fill_end
Type:- BOOL
Description:- UO_MX_FILL end time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::31
--------------------------------------------------
Name:- emm_vessel_mass_nett
Type:- REAL
Description:- Vessel mass
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::32
--------------------------------------------------
Name:- emv_vessel_subs
Type:- INT
Description:- Substate selection of emv_vessel
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::33
--------------------------------------------------
Name:- emv_vessel_cmd
Type:- INT
Description:- Command to emv_vessel
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::34
--------------------------------------------------
Name:- emv_vessel_state
Type:- INT
Description:- Device State of emv_vessel
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::35
--------------------------------------------------
Name:- emt_hex_subs
Type:- INT
Description:- Substate selection of emt_hex
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::36
--------------------------------------------------
Name:- emt_hex_state
Type:- INT
Description:- Device State of emt_hex
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::37
--------------------------------------------------
Name:- emt_hex_cmd
Type:- INT
Description:- Command to emt_hex
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::38
--------------------------------------------------
Name:- prompt_filtration
Type:- BOOL
Description:- UO_MX_FILL Operator to confirm when ready to start filtration
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::39
--------------------------------------------------
Name:- prompt_filtration_confirm_yes
Type:- BOOL
Description:- UO_MX_FILL Operator to confirm when ready to start filtration confirmed yes
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::40
--------------------------------------------------
Name:- emx_smfl_state
Type:- INT
Description:- Device State of emx_smfl
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::41
--------------------------------------------------
Name:- emx_transfer_state
Type:- INT
Description:- Device State of emx_transfer
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::42
--------------------------------------------------
Name:- emx_smfl_cmd
Type:- INT
Description:- Command to emx_smfl
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::43
--------------------------------------------------
Name:- emx_smfl_subs
Type:- INT
Description:- Substate selection of emx_smfl
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::44
--------------------------------------------------
Name:- emx_transfer_cmd
Type:- INT
Description:- Command to emx_transfer
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::45
--------------------------------------------------
Name:- emx_transfer_subs
Type:- INT
Description:- Substate selection of emx_transfer
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::46
--------------------------------------------------
Name:- log_msg_filtration_complete
Type:- BOOL
Description:- UO_MX_FILL Filtration is complete
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::47
--------------------------------------------------
Name:- r_mass_throttle
Type:- REAL
Description:- MX FILL Mass to reduce pressure near the end of filling
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::48
--------------------------------------------------
Name:- r_pres_hpca_filt2
Type:- REAL
Description:- MX FILL Reduced HPCA pressure near the end of filling
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::49
--------------------------------------------------
Name:- emx_mmfl_cmd
Type:- INT
Description:- Command to emx_mmfl
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::50
--------------------------------------------------
Name:- emx_mmfl_subs
Type:- INT
Description:- Substate selection of emx_mmfl
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::51
--------------------------------------------------
Name:- emc_gas_state
Type:- INT
Description:- Device State of emc_gas
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::52
--------------------------------------------------
Name:- emc_gas_subs
Type:- INT
Description:- Substate selection to emc_gas
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::53
--------------------------------------------------
Name:- emc_water_state
Type:- INT
Description:- Device state of emc_water
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::54
--------------------------------------------------
Name:- emc_water_subs
Type:- INT
Description:- Substate selection to emc_water
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::55
--------------------------------------------------
Name:- emc_gas_setpoint
Type:- REAL
Description:- emc_gas_setpoint
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::56
--------------------------------------------------
Name:- emx_mmfl_state
Type:- INT
Description:- Device State of emx_mmfl
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::57
--------------------------------------------------
Name:- emc_water_cmd
Type:- INT
Description:- Command to emc_water
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::58
--------------------------------------------------
Name:- emc_gas_cmd
Type:- INT
Description:- Command to emc_gas
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::59
--------------------------------------------------
Name:- emc_gas_medium_gas
Type:- INT
Description:- emc_gas_medium
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::60
--------------------------------------------------
Name:- ema_vessel_state
Type:- INT
Description:- Device State of ema_vessel
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::61
--------------------------------------------------
Name:- ema_vessel_subs
Type:- INT
Description:- Substate selection to ema_vessel
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::62
--------------------------------------------------
Name:- ema_vessel_cmd
Type:- INT
Description:- ema_vessel_cmd
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::63
--------------------------------------------------
Name:- r_pres_hpca_filt
Type:- REAL
Description:- MX FILL HPCA pressure for filling
ParameterInOut:- VAR


--------------------------------------------------
STEP::01
--------------------------------------------------
StepNo:- 01
Title:- UO_MX_FILL : Mx Filtration to FLz Unit Operation Commenced
Description:- Log Mx Fill operation begin time.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Log Mx Fill operation begin time.
Action:- //Log Mx Fill operation begin time.
SET;
S #_log_msg_fill_begin;


--------------------------------------------------
TRANSITION::01
--------------------------------------------------
TRNNo:- 01
Title:- Check Hygiene Status
EmptyTransition:- False
Description:- SMFL, SVT and FLZ are in Hygiene status STERILE?
Condition:- A(;
L  "dbCONST".BLK.HYGIENE.STERILE;
L #_emx_fill_hygiene;
==I;
);	
A(;
L  "dbCONST".BLK.HYGIENE.STERILE;
L #_emx_transfer_hygiene;
==I;
);
A(;
L  "dbCONST".BLK.HYGIENE.STERILE;
L #_emx_smfl_hygiene;
==I;
);


--------------------------------------------------
TRANSITION::02
--------------------------------------------------
TRNNo:- 02
Title:- Incorrect Hygiene Status
EmptyTransition:- False
Description:- Empty Transition
Condition:- A "uncondJump";


--------------------------------------------------
STEP::02
--------------------------------------------------
StepNo:- 02
Title:- UO_MX_FILL : Incorrect Hygiene Status
Description:- Log equipment is not in Hygiene status USED.
Prompt operator to confirm abort.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Log equipment is not in Hygiene status USED.
Send message to HMI
Action:- //Log time if one or more units not in correct Hygiene status USED
SET;
S #_log_msg_wrong_hygiene;
S #_prompt_abort;
S #smc.ABORTED;
Verification:- A "uncondJump";


--------------------------------------------------
TRANSITION::03
--------------------------------------------------
TRNNo:- 3.0000
Title:- Confirm Abort (Incorrect Hygiene Status)
EmptyTransition:- False
Description:- Confirm Abort (Incorrect Hygiene Status)
Condition:- A #_prompt_abort_confirm_yes;


--------------------------------------------------
STEP::03
--------------------------------------------------
StepNo:- 3.0000
Title:- UO_MX_FILL : Connect Pre Filter to to Flow Plate FPx1.
Description:- Prompt operator to confirm Pre-Filter is connected to FPn1 ZSCn113 by starting EMX1_SETUP_FILTER.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Reset MMFL EM.
Action:- L "dbCONST".BLK.CMD.STOP;
T #_emx_mmfl_cmd;
Verification:- A(;
L   #_emx_mmfl_state;
L   "dbCONST".BLK.STATE.STOPPED;
==I;
);

--------------------------------------------------
ACTION::02
--------------------------------------------------
Description:- Prompt operator to confirm Pre-Filter is connected to FPn1 ZSCn113 by starting EMX1_SETUP_FILTER.
Action:- //Start EMX1_SETUP_FILTER.
L "dbCONST".BLK.EMX1.SUBS.SETUP_FILTER;
T #_emx_mmfl_subs;
L "dbCONST".BLK.CMD.START;
T #_emx_mmfl_cmd;
Verification:- A(;
L #_emx_mmfl_subs;
L "dbCONST".BLK.EMX1.SUBS.SETUP_FILTER;
==I;
);


--------------------------------------------------
TRANSITION::04
--------------------------------------------------
TRNNo:- 4.0000
Title:- Confirmation Received
EmptyTransition:- False
Description:- Confirmation from the Operator Received
Condition:- //EMX1 Filter Setup completed.
A(;
L  #_emx_mmfl_state;
L  "dbCONST".BLK.STATE.COMPLETED;
==I;
);


--------------------------------------------------
STEP::04
--------------------------------------------------
StepNo:- 04
Title:- UO_MX_FILL : Start filtration.
Description:- Set all Mx equipment to safe state with Mx LCPA control enabled and vent valve closed.

Prompt operator to start filtration.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Set all Mx equipment to safe state with Mx LCPA control enabled and vent valve closed.

Action:- // Enable Mx LPCA pressure control.
L "dbCONST".SEL.GAS.LPCA;
T #_emc_gas_medium_gas;
L  #_r_pres_lpca_blanket;
T  #_emc_gas_setpoint;
L "dbCONST".BLK.EMC1.SUBS.PRESSURE;
T #_emc_gas_subs;
L  "dbCONST".BLK.CMD.RESTART;
T #_emc_gas_cmd;

//Set all Mx equipment to safe state.
L "dbCONST".BLK.CMD.STOP;
T  #_ema_vessel_cmd;
T  #_emc_water_cmd;
T  #_emv_vessel_cmd;
T  #_emx_transfer_cmd;
Verification:- A(;
L #_emc_gas_state;
L "dbCONST".BLK.STATE.COMPLETED;
==I;
);
A(;
L #_emc_water_state;
L "dbCONST".BLK.STATE.STOPPED;
==I;
);
A(;
L #_emv_vessel_state;
L "dbCONST".BLK.STATE.STOPPED;
==I;
);
A(;
L #_emx_transfer_state;
L "dbCONST".BLK.STATE.STOPPED;
==I;
);


--------------------------------------------------
ACTION::02
--------------------------------------------------
Description:- Prompt operator to start filtration and reset flags.
Action:- // Clear gas restart command
L  "dbCONST".BLK.CMD.START;
T #_emc_gas_cmd;

SET;
S #_prompt_filtration;
Verification:- A "uncondJump";


--------------------------------------------------
TRANSITION::05
--------------------------------------------------
TRNNo:- 05
Title:- Operator confirmation
EmptyTransition:- False
Description:- Wait for operator confirmation to start filtration
Condition:- A #_prompt_filtration_confirm_yes;


--------------------------------------------------
STEP::05
--------------------------------------------------
StepNo:- 05
Title:- UO_MX_FILL : Enable HEX Temperature control 
Description:- Log filtration start time.
Enable HEX Temperature control with TEMP_FILT setpoint.

Set Mx LPCA valve fully open.
Set Mx Outlet valve open (DISCHARGE).
Open MMFLx transfer path to FLz.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Reset EMs
Action:- L "dbCONST".BLK.CMD.STOP;
T  #_emt_hex_cmd;
T #_emx_mmfl_cmd;
T #_emx_smfl_cmd;
T #_emx_transfer_cmd;
T #_emv_vessel_cmd;
Verification:- A(;
L   #_emt_hex_state;
L   "dbCONST".BLK.STATE.STOPPED;
==I;
);
A(;
L   #_emx_mmfl_state;
L   "dbCONST".BLK.STATE.STOPPED;
==I;
);
A(;
L   #_emx_smfl_state;
L   "dbCONST".BLK.STATE.STOPPED;
==I;
);
A(;
L   #_emx_transfer_state;
L   "dbCONST".BLK.STATE.STOPPED;
==I;
);
A(;
L   #_emv_vessel_state;
L   "dbCONST".BLK.STATE.STOPPED;
==I;
);

--------------------------------------------------
ACTION::02
--------------------------------------------------
Description:- Log filtration start time.
Enable HEX Temperature control with TEMP_FILT setpoint.
Action:- //Log filtration start time.
SET;
S #_log_msg_filtration_start;

//Start EMT_PREEMPT.
L  100.0;
T  #_emt_hex_pos_local;
L  "dbCONST".BLK.EMT1.SUBS.PREEMPT;
T  #_emt_hex_subs;
L  "dbCONST".BLK.CMD.START;
T  #_emt_hex_cmd;
Verification:- //Verify if emt_hex changed to substate PREEMPT.
A(;
L #_emt_hex_subs;
L  "dbCONST".BLK.EMT1.SUBS.PREEMPT;
==I;
);

--------------------------------------------------
ACTION::03
--------------------------------------------------
Description:- Open Mx outlet valve (STATE=DISCHARGE) and fully open LPCA valve.
Open MMFLx transfer path to FLz.
Action:- //Open Mx outlet valve.
L "dbCONST".BLK.EMV1.SUBS.DISCHARGE;
T #_emv_vessel_subs;
L "dbCONST".BLK.CMD.START;
T #_emv_vessel_cmd;

//Fully open LPCA valve 
L "dbCONST".SEL.GAS.LPCA;
T #_emc_gas_medium_gas;
L "dbCONST".BLK.EMC1.SUBS.VALVE;
T #_emc_gas_subs;
L  "dbCONST".BLK.CMD.RESTART;
T #_emc_gas_cmd;

//Start FILTER.
L "dbCONST".BLK.EMX1.SUBS.FILTER; 
T #_emx_mmfl_subs;
L "dbCONST".BLK.CMD.START;
T #_emx_mmfl_cmd;

L "dbCONST".BLK.EMX6.SUBS.FILTER_BLEED; 
T #_emx_smfl_subs;
L "dbCONST".BLK.CMD.START;
T #_emx_smfl_cmd;

L "dbCONST".BLK.EMX2.SUBS.FILL_MX;
T #_emx_transfer_subs;
L "dbCONST".BLK.CMD.START;
T #_emx_transfer_cmd;
Verification:- A(;
L #_emv_vessel_subs;
L "dbCONST".BLK.EMV1.SUBS.DISCHARGE;
==I;
);
A(;
L #_emc_gas_subs;
L "dbCONST".BLK.EMC1.SUBS.VALVE;
==I;
);
A(;
L #_emx_mmfl_subs;
L  "dbCONST".BLK.EMX1.SUBS.FILTER;
==I;
);
A(;
L #_emx_transfer_subs;
L  "dbCONST".BLK.EMX2.SUBS.FILL_MX;
==I;
);
A(;
L #_emx_smfl_subs;
L  "dbCONST".BLK.EMX6.SUBS.FILTER_BLEED;
==I;
);

--------------------------------------------------
ACTION::04
--------------------------------------------------
Description:- Clear EMC gas restart ccommand
Action:- L  "dbCONST".BLK.CMD.START;
T #_emc_gas_cmd;


--------------------------------------------------
TRANSITION::06
--------------------------------------------------
TRNNo:- 06
Title:- Emx_smfl completed.
EmptyTransition:- False
Description:- Emx_smfl completed.
Condition:- A(;
L   #_emt_hex_state;
L   "dbCONST".BLK.STATE.COMPLETED;
==I;
);
A(;
L   #_emx_mmfl_state;
L   "dbCONST".BLK.STATE.COMPLETED;
==I;
);
A(;
L   #_emx_smfl_state;
L   "dbCONST".BLK.STATE.COMPLETED;
==I;
);
A(;
L   #_emx_transfer_state;
L   "dbCONST".BLK.STATE.COMPLETED;
==I;
);
A(;
L   #_emv_vessel_state;
L   "dbCONST".BLK.STATE.COMPLETED;
==I;
);


--------------------------------------------------
STEP::06
--------------------------------------------------
StepNo:- 06
Title:- UO_MX_FILL : Open filter outlet valve.
Description:- Open filter outlet valve.

Close Mx LPCA valve.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Reset smfl and hex EMs
Action:- L "dbCONST".BLK.CMD.STOP;
T #_emx_smfl_cmd;
T #_emt_hex_cmd;
Verification:- A(;
L   #_emt_hex_state;
L   "dbCONST".BLK.STATE.STOPPED;
==I;
);
A(;
L   #_emx_smfl_state;
L   "dbCONST".BLK.STATE.STOPPED;
==I;
);

--------------------------------------------------
ACTION::02
--------------------------------------------------
Description:- Open filter outlet valve, DVx137.
Action:- //Set emx_smfl to substate FILTER.
L  "dbCONST".BLK.EMX6.SUBS.FILTER;
T  #_emx_smfl_subs;
L  "dbCONST".BLK.CMD.START;
T  #_emx_smfl_cmd;

//Set emt_hex to substate COOL.
L  "dbCONST".BLK.EMT1.SUBS.COOL;
T  #_emt_hex_subs;
L  "dbCONST".BLK.CMD.START;
T  #_emt_hex_cmd;
Verification:- //Verify if Emx_smfl changed to substate FILTER.
A(;
L  #_emx_smfl_subs;
L  "dbCONST".BLK.EMX6.SUBS.FILTER;
==I;
);
//Verify if emt_hex changed to substate COOL
A(;
L  #_emt_hex_subs;
L  "dbCONST".BLK.EMT1.SUBS.COOL;
==I;
);


--------------------------------------------------
TRANSITION::07
--------------------------------------------------
TRNNo:- 7.0000
Title:- Empty Transition
EmptyTransition:- False
Description:- Jump
Condition:- A "uncondJump";


--------------------------------------------------
STEP::07
--------------------------------------------------
StepNo:- 07
Title:- UO_MX_FILL : Enable HPCA pressure control and HEX filling
Description:- Set Mx HPCA pressure control at setpoint PRES_HPCA_FILT.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- HPCA pressure control at setpoint PRES_HPCA_FILT.
Action:- // Enable Mx HPCA pressure control at setpoint PRES_HPCA_FILT.
L  #_r_pres_hpca_filt;
T  #_emc_gas_setpoint;
L  "dbCONST".SEL.GAS.HPCA;
T  #_emc_gas_medium_gas;
L  "dbCONST".BLK.EMC1.SUBS.PRESSURE;
T  #_emc_gas_subs;
L  "dbCONST".BLK.CMD.RESTART;
T  #_emc_gas_cmd;
Verification:- A(;
L #_emc_gas_subs;
L "dbCONST".BLK.EMC1.SUBS.PRESSURE;
==I;
);

--------------------------------------------------
ACTION::02
--------------------------------------------------
Description:- Clear EMC restart command
Set HEX to filling position
Action:- L  "dbCONST".BLK.CMD.START;
T  #_emc_gas_cmd;

L  _r_pos_fill_mod_local;
T  #_emt_hex_pos_local;


--------------------------------------------------
TRANSITION::08
--------------------------------------------------
TRNNo:- 8.0000
Title:- Unconditional jump
EmptyTransition:- False
Description:- jump
Condition:- A "uncondJump";


--------------------------------------------------
STEP::08
--------------------------------------------------
StepNo:- 8.0000
Title:- UO_MX_FILL : Check for throttle mass or pause
Description:- Check for throttle or paused

--------------------------------------------------
ACTION::01
--------------------------------------------------

--------------------------------------------------
TRANSITION::09
--------------------------------------------------
TRNNo:- 9.0000
Title:- Mass of Vessel has reach throttled mass
EmptyTransition:- False
Description:- Mass_Throttle_Mx has reach set point.
Condition:- A(;
L #_r_mass_throttle;
L #_emm_vessel_mass_nett;
>=R;
);


--------------------------------------------------
TRANSITION::10
--------------------------------------------------
TRNNo:- 10.0000
Title:- Filling Pause Button is pressed.
EmptyTransition:- False
Description:- Filling Pause Button is pressed.
Condition:- A #_emx_fill_sync_write_fill_pause;


--------------------------------------------------
STEP::09
--------------------------------------------------
StepNo:- 9.0000
Title:- UO_MX_FILL : Wait for OPER to RESUME or ABORT
Description:- Raise Filling paused message.
Prompt Operator to RESET Filling Paused Button else ABORT the sequence.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Raise Filling paused message.
Prompt Operator to RESET Filling Paused Button else ABORT the sequence.
Action:- // Prompt Operator to RESET Filling Paused Button else ABORT the sequence.
SET;
S #_log_msg_filling_paused;
S #_prompt_reset_button;
Verification:- A "uncondJump";


--------------------------------------------------
TRANSITION::11
--------------------------------------------------
TRNNo:- 11.0000
Title:- ABORT Filling?
EmptyTransition:- False
Description:- Operator confirmed to ABORT filling.
Condition:- A #_prompt_reset_button_confirm_no;


--------------------------------------------------
TRANSITION::12
--------------------------------------------------
TRNNo:- 12.0000
Title:- Resume confirmed and NO pause button
EmptyTransition:- False
Description:- Operator confirmed to RESUME & Filling Pause Button is NOT pressed (RESET).
Condition:- A #_prompt_reset_button_confirm_yes;
A #_emx_fill_sync_write_fill_resume;


--------------------------------------------------
STEP::10
--------------------------------------------------
StepNo:- 10.0000
Title:- UO_MX_FILL : Log operator abort
Description:- Log operator abort.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Log operator abort.
Action:- //Log operator abort.
SET;
S #_log_msg_reset_button_abort;
S #smc.ABORTED;
Verification:- A "uncondJump";


--------------------------------------------------
TRANSITION::13
--------------------------------------------------
TRNNo:- 13.0000
Title:- Empty Transition
EmptyTransition:- False
Description:- Empty Transition
Condition:- A "uncondJump";


--------------------------------------------------
STEP::11
--------------------------------------------------
StepNo:- 11.0000
Title:- UO_MX_FILL : Log operator repeat
Description:- Log operator repeat

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Log operator repeat
Action:- //Log operator repeat.
SET;
S #_log_msg_reset_button_retry;
Verification:- A "uncondJump";


--------------------------------------------------
TRANSITION::14
--------------------------------------------------
TRNNo:- 14.0000
Title:- Empty Transition
EmptyTransition:- False
Description:- Empty Transition
Condition:- A "uncondJump";


--------------------------------------------------
STEP::12
--------------------------------------------------
StepNo:- 12.0000
Title:- UO_MX_FILL : Enable HPCA pressure control for new set point.
Description:- Set Mx HPCA pressure control at setpoint PRES_HPCA_FILT set point 2.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- HPCA pressure control at setpoint 2, PRES_HPCA_FILT2.
Action:- // Set HPCA valve pressure control at setpoint 2
SET;
S #_prompt_transfer_complete;
L #_r_pres_hpca_filt2;
T #_emc_gas_setpoint;
Verification:- A "uncondJump";


--------------------------------------------------
TRANSITION::15
--------------------------------------------------
TRNNo:- 15.0000
Title:- Unconditional jump
EmptyTransition:- False
Description:- jump
Condition:- A "uncondJump";


--------------------------------------------------
STEP::13
--------------------------------------------------
StepNo:- 13.0000
Title:- UO_MX_FILL : Check for filling completion or pause
Description:- Check for complete or paused

--------------------------------------------------
ACTION::01
--------------------------------------------------

--------------------------------------------------
TRANSITION::16
--------------------------------------------------
TRNNo:- 16.0000
Title:- Completion confirmed?
EmptyTransition:- False
Description:- Operator confirmed completion
Condition:- A #_prompt_transfer_complete_confirm_yes;


--------------------------------------------------
TRANSITION::17
--------------------------------------------------
TRNNo:- 17.0000
Title:- Filling Pause Button is pressed.
EmptyTransition:- False
Description:- Filling Pause Button is pressed.
Condition:- A #_emx_fill_sync_write_fill_pause;


--------------------------------------------------
STEP::14
--------------------------------------------------
StepNo:- 14.0000
Title:- UO_MX_FILL : Wait for OPER to RESUME or ABORT
Description:- Raise Filling paused message.
Prompt Operator to RESET Filling Paused Button else ABORT the sequence.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Raise Filling paused message.
Prompt Operator to RESET Filling Paused Button else ABORT the sequence.
Action:- // Prompt Operator to RESET Filling Paused Button else ABORT the sequence.
SET;
S #_log_msg_filling_paused;
S #_prompt_reset_button;
Verification:- A "uncondJump";


--------------------------------------------------
TRANSITION::18
--------------------------------------------------
TRNNo:- 18.0000
Title:- ABORT Filling?
EmptyTransition:- False
Description:- Operator confirmed to ABORT filling.
Condition:- A #_prompt_reset_button_confirm_no;


--------------------------------------------------
TRANSITION::19
--------------------------------------------------
TRNNo:- 19.0000
Title:- Resume confirmed and NO pause button
EmptyTransition:- False
Description:- Operator confirmed to RESUME & Filling Pause Button is NOT pressed (RESET).
Condition:- A #_prompt_reset_button_confirm_yes;
A #_emx_fill_sync_write_fill_resume;


--------------------------------------------------
STEP::15
--------------------------------------------------
StepNo:- 15.0000
Title:- UO_MX_FILL : Log operator abort
Description:- Log operator abort.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Log operator abort.
Action:- //Log operator abort.
SET;
S #_log_msg_reset_button_abort;
S #smc.ABORTED;
Verification:- A "uncondJump";


--------------------------------------------------
TRANSITION::20
--------------------------------------------------
TRNNo:- 20.0000
Title:- Empty Transition
EmptyTransition:- False
Description:- Empty Transition
Condition:- A "uncondJump";


--------------------------------------------------
STEP::16
--------------------------------------------------
StepNo:- 16.0000
Title:- UO_MX_FILL : Log operator repeat
Description:- Log operator repeat

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Log operator repeat
Action:- //Log operator repeat.
SET;
S #_log_msg_reset_button_retry;
Verification:- A "uncondJump";


--------------------------------------------------
TRANSITION::21
--------------------------------------------------
TRNNo:- 21.0000
Title:- Empty Transition
EmptyTransition:- False
Description:- Empty Transition
Condition:- A "uncondJump";


--------------------------------------------------
STEP::17
--------------------------------------------------
StepNo:- 17.0000
Title:- UO_MX_FILL : Filtration completed.
Description:- Log operator confirmation transfer complete and filtration operation end time.
Set SMFL, SVT and FLZ hygiene status to USED.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Log operator confirmation transfer complete and filtration operation end time.
Set SMFL, SVT and FLZ hygiene status to USED.
Action:- //Log operator confirmation transfer complete 
SET;
S #_log_msg_filtration_complete;

//Log FILTRATION operation end time
S #_log_msg_filtration_end;


//Set SMFL, SVT and FLZ hygiene status to USED.
L  "dbCONST".BLK.HYGIENE.USED;
T #_emx_fill_hygiene;
T #_emx_transfer_hygiene;
T #_emx_smfl_hygiene;
Verification:- A "uncondJump";


--------------------------------------------------
TRANSITION::22
--------------------------------------------------
TRNNo:- 22.0000
Title:- Empty Transition
EmptyTransition:- False
Description:- Jump
Condition:- A "uncondJump";


--------------------------------------------------
STEP::18
--------------------------------------------------
StepNo:- 18.0000
Title:- UO_MX_FILL : Disable HPCA control
Description:- Disable HEX Temperature control and Mx HPCA control.

Close sterile filter outlet valve and path sequentially up to including Sy outlet valve.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Disable HEX temperature control, HPCA control and stop filter.
Action:- //Stop all EMs
L "dbCONST".BLK.CMD.STOP;
T  #_emt_hex_cmd;
T  #_emc_gas_cmd;
T #_emx_mmfl_cmd;
T #_emx_transfer_cmd;
T #_emx_smfl_cmd;
Verification:- A(;
L #_emt_hex_state;
L "dbCONST".BLK.STATE.STOPPED;
==I;
);
A(;
L #_emc_gas_state;
L "dbCONST".BLK.STATE.STOPPED;
==I;
);
A(;
L #_emx_mmfl_state;
L "dbCONST".BLK.STATE.STOPPED;
==I;
);
A(;
L #_emx_transfer_state;
L "dbCONST".BLK.STATE.STOPPED;
==I;
);
A(;
L #_emx_smfl_state;
L "dbCONST".BLK.STATE.STOPPED;
==I;
);


--------------------------------------------------
TRANSITION::23
--------------------------------------------------
TRNNo:- 23.0000
Title:- Empty transition.
EmptyTransition:- False
Description:- Unconditional jump
Condition:- A "uncondJump";


--------------------------------------------------
STEP::19
--------------------------------------------------
StepNo:- 19.0000
Title:- UO_MX_FILL : Filling Unit Operation Completed
Description:- Disable Mx manway alarm and low pressure alarm.
Log Mx Fill operation end time.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Reset vessel EM
Action:- L "dbCONST".BLK.CMD.STOP;
T #_emv_vessel_cmd;
Verification:- A(;
L   #_emv_vessel_state;
L   "dbCONST".BLK.STATE.STOPPED;
==I;
);

--------------------------------------------------
ACTION::02
--------------------------------------------------
Description:- Disable Mx manway alarm and low pressure alarm.
Log Mx Fill operation end time.
Action:- //Set emv_vessel to substate MANWAY and start it to disable Manway alarm.
L "dbCONST".BLK.EMV1.SUBS.MANWAY;
T #_emv_vessel_subs;
L "dbCONST".BLK.CMD.START;
T #_emv_vessel_cmd;

//Log Mx Fill operation end time.
SET;
S #_log_msg_fill_end;
Verification:- A(;
L #_emv_vessel_subs;
L "dbCONST".BLK.EMV1.SUBS.MANWAY;
==I;
);


****************************************************************************************************
END SSS REPORT
****************************************************************************************************
