****************************************************************************************************
SEQUENCE STEP SCHEDULE
generated on 13/03/2019 4:00:51 PM by David Paspa
****************************************************************************************************





--------------------------------------------------
SEQUENCE
--------------------------------------------------

SFCNo:- 005
Title:- RP_PCSY_CIPSIP
Description:- Recipe Procedure Sequence for Storage Vessel Sy CIP and SIP
Name:- CIPSIP
Class:- PCSY
Level:- RP
STEP_LIST_FORMAT:- JU    S0@@STEP_NUM@@; // STEP-0@@STEP_NUM@@:
ACT_LIST_FORMAT:- JU    @@ACT_CODE@@@@STEP_NUM@@; //ACTION-@@ACT_NUM@@
HeaderName:- PCSYCIP
Version:- 2.0
RevisionHistory:- // SFC Revision History:
// Rev By               Date        CC         Note
// 2.0 David Paspa      27-Nov-2018            Reboot for S7-1500
// 0.4 Srinivas Nimmala 22-Jan-2010 CC-10/005  Added Hpn2 pulse delay timer
// 0.3 Srinivas Nimmala 22-Dec-2009 CC-09/071  Disable cooling after Hpn2 purge
// 0.3 Steve Linehan    22-Dec-2009 CC-09/070  Disable the agitator before empties the vessel
// 0.2 David Paspa      26-Oct-2009            Added synch flags
// 0.1 Gerald Kontriner 18-Sep-2009            SFC structural design
HMI_FORMAT:- @@STEP_NUM_INT@@,@@STEP_TITLE@@

--------------------------------------------------
PARAMETER::1
--------------------------------------------------
Name:- prompt_continue_sip_confirm_yes
Type:- BOOL
Description:- RP_PCSY_CIPSIP Operator to confirm to continue for SIP confirm yes
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::2
--------------------------------------------------
Name:- prompt_continue_sip
Type:- BOOL
Description:- RP_PCSY_CIPSIP Operator to confirm to continue for SIP
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::3
--------------------------------------------------
Name:- prompt_continue_sip_confirm_no
Type:- BOOL
Description:- RP_PCSY_CIPSIP Operator to confirm to continue for SIP confirm no
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::4
--------------------------------------------------
Name:- vessel_sy
Type:- INT
Description:- Storage vessel selection S1 or S2
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::5
--------------------------------------------------
Name:- vessel_mx
Type:- INT
Description:- Manufacturing vessel selection M1 or M2
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::6
--------------------------------------------------
Name:- fill_flz
Type:- INT
Description:- Filling line selection FL1 or FL2
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::7
--------------------------------------------------
Name:- release_sy
Type:- BOOL
Description:- Release Sy.
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::8
--------------------------------------------------
Name:- log_msg_cipsip_end
Type:- BOOL
Description:- RP_PCSY_CIPSIP end time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::9
--------------------------------------------------
Name:- log_msg_cipsip_begin
Type:- BOOL
Description:- RP_PCSY_CIPSIP begin time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::10
--------------------------------------------------
Name:- prompt_abort
Type:- BOOL
Description:- RP_PCSY_CIPSIP Operator to confirm to abort due to invalid Hygiene Status
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::11
--------------------------------------------------
Name:- prompt_abort_confirm_yes
Type:- BOOL
Description:- RP_PCSY_CIPSIP Operator confirmed to abort due to invalid Hygiene Status
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::12
--------------------------------------------------
Name:- log_msg_wrong_hygiene
Type:- BOOL
Description:- RP_PCSY_CIPSIP Storage vessel unit has wrong Hygiene Status
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::13
--------------------------------------------------
Name:- sy_vessel_hygiene
Type:- INT
Description:- Hygiene Status of unit Sy
ParameterInOut:- IN_OUT

--------------------------------------------------
PARAMETER::14
--------------------------------------------------
Name:- sy_vessel_state
Type:- INT
Description:- Device State of unit Sy
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::15
--------------------------------------------------
Name:- sy_vessel_subs
Type:- INT
Description:- Substate selection to unit Sy
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::16
--------------------------------------------------
Name:- sy_vessel_cmd
Type:- INT
Description:- Command to unit Sy
ParameterInOut:- OUT


--------------------------------------------------
STEP::01
--------------------------------------------------
StepNo:- 01
Title:- RP_PCSY_CIPSIP : Recipe Procedure Commenced
Description:- Log product manufacture operation begin time.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Log product manufacture operation begin time.
Action:- //Log CIPSIP operation begin
SET;
S #_log_msg_cipsip_begin;
Verification:- A "uncondJump";


--------------------------------------------------
TRANSITION::01
--------------------------------------------------
TRNNo:- 01
Title:- Check Hygiene Status
EmptyTransition:- False
Description:- SMS1 and selected Sy is in Hygiene status USED?
Condition:- A(;
L  "dbCONST".BLK.HYGIENE.USED;
L #_sy_vessel_hygiene;
==I;
);


--------------------------------------------------
TRANSITION::02
--------------------------------------------------
TRNNo:- 02
Title:- Incorrect Hygiene Status
EmptyTransition:- False
Description:- Empty Transition
Condition:- A "uncondJump";


--------------------------------------------------
STEP::02
--------------------------------------------------
StepNo:- 02
Title:- RP_PCSY_CIPSIP : Incorrect Hygiene Status
Description:- Log equipment is not in Hygiene status USED.
Prompt operator to confirm abort.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Log equipment is not in Hygiene status USED.
Send message to HMI
Action:- //Log time if one or more units not in correct Hygiene status USED
SET;
S #_log_msg_wrong_hygiene;
S #_prompt_abort;
S #smc.ABORTED;
Verification:- A "uncondJump";


--------------------------------------------------
TRANSITION::03
--------------------------------------------------
TRNNo:- 03
Title:- Confirm Abort (Incorrect Hygiene Status)
EmptyTransition:- False
Description:- Confirm Abort (Incorrect Hygiene Status)
Condition:- A #_prompt_abort_confirm_yes;


--------------------------------------------------
STEP::03
--------------------------------------------------
StepNo:- 03
Title:- RP_PCSY_CIPSIP : Initiate SETUP operations
Description:- Initiate Unit Operations
Sy STATE=SETUP

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Reset the Sy Unit.
Action:- L "dbCONST".BLK.CMD.STOP;
T #_sy_vessel_cmd;
Verification:- A(;
L #_sy_vessel_state;
L "dbCONST".BLK.STATE.STOPPED;
==I;
);

--------------------------------------------------
ACTION::02
--------------------------------------------------
Description:- Initiate Unit Operations
SY STATE=SETUP
Action:- //Initiate Unit Operation for unit Sy
L "dbCONST".BLK.SY.SUBS.SETUP;
T #_sy_vessel_subs;
L "dbCONST".BLK.CMD.START;
T #_sy_vessel_cmd;
Verification:- A(;
L #_sy_vessel_subs;
L "dbCONST".BLK.SY.SUBS.SETUP;
==I;
);


--------------------------------------------------
TRANSITION::04
--------------------------------------------------
TRNNo:- 04
Title:- SETUP operations complete?
EmptyTransition:- False
Description:- Sy SETUP operations are complete. 
Condition:- A(;
L 	#_sy_vessel_state;
L 	"dbCONST".BLK.STATE.COMPLETED;
==I;
);


--------------------------------------------------
STEP::04
--------------------------------------------------
StepNo:- 04
Title:- RP_PCSY_CIPSIP : Initiate Sy CIP Unit Operations
Description:- Set Sy equipment to Hygiene Status to CIP.
Initiate Unit Operation for Sy CIP.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Reset the Sy Unit.
Action:- L "dbCONST".BLK.CMD.STOP;
T #_sy_vessel_cmd;
Verification:- A(;
L #_sy_vessel_state;
L "dbCONST".BLK.STATE.STOPPED;
==I;
);

--------------------------------------------------
ACTION::02
--------------------------------------------------
Description:- Set Sy equipment to Hygiene Status to CIP.
Initiate Unit Operation for Sy CIP.
Action:- //Set Sy equipment to Hygiene Status to CIP.
L "dbCONST".BLK.HYGIENE.CIP;
T #_sy_vessel_hygiene;

//Initiate Unit Operation for Sy CIP.
L "dbCONST".BLK.SY.SUBS.CIP;
T #_sy_vessel_subs;
L "dbCONST".BLK.CMD.START;
T #_sy_vessel_cmd;
Verification:- A(;
L #_sy_vessel_subs;
L "dbCONST".BLK.SY.SUBS.CIP;
==I;
);


--------------------------------------------------
TRANSITION::05
--------------------------------------------------
TRNNo:- 05
Title:- Sy CIP operations complete
EmptyTransition:- False
Description:- Sy CIP operations complete 
Condition:- A(;
L #_sy_vessel_state;
L "dbCONST".BLK.STATE.COMPLETED;;
==I;
);


--------------------------------------------------
STEP::05
--------------------------------------------------
StepNo:- 05
Title:- RP_PCSY_CIPSIP : Set Sy Hygiene Status to CLEAN
Description:- Set Sy Hygiene status to CLEAN.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Set Sy Hygiene status to CLEAN.

Action:- //Set Sy hygiene status to CLEAN
SET;
S _prompt_continue_sip;
L "dbCONST".BLK.HYGIENE.CLEAN;
T #_sy_vessel_hygiene;
Verification:- A "uncondJump";


--------------------------------------------------
TRANSITION::06
--------------------------------------------------
TRNNo:- 06
Title:- Operator confirmed not to continue for SIP
EmptyTransition:- False
Description:- Operator confirms not to do SIP
Condition:- A #_prompt_continue_sip_confirm_no;


--------------------------------------------------
TRANSITION::07
--------------------------------------------------
TRNNo:- 7.0000
Title:- Operator confirmed to continue for SIP
EmptyTransition:- False
Description:- Operator confirms to do SIP
Condition:- A #_prompt_continue_sip_confirm_yes;


--------------------------------------------------
STEP::06
--------------------------------------------------
StepNo:- 06
Title:- RP_PCSY_CIPSIP : Initiate Sy SIP Operations
Description:- Initiate Sy SIP Operations.
Sy STATE=SIP

Set Sy Hygiene Status to SIP.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Reset the Sy Unit.
Action:- L "dbCONST".BLK.CMD.STOP;
T #_sy_vessel_cmd;
Verification:- A(;
L #_sy_vessel_state;
L "dbCONST".BLK.STATE.STOPPED;
==I;
);

--------------------------------------------------
ACTION::02
--------------------------------------------------
Description:- Initiate Sy SIP Operations.

Set Sy Hygiene Status to SIP.
Action:- //Initiate Sy SIP Operations.
L "dbCONST".BLK.SY.SUBS.SIP;
T #_sy_vessel_subs;
L "dbCONST".BLK.SY.CMD.START;
T #_sy_vessel_cmd;

//Set Sy equipment to Hygiene Status to SIP. 
L "dbCONST".BLK.HYGIENE.SIP;
T #_sy_vessel_hygiene;
Verification:- A(;
L #_sy_vessel_subs;
L "dbCONST".BLK.SY.SUBS.SIP;
==I;
);


--------------------------------------------------
TRANSITION::08
--------------------------------------------------
TRNNo:- 8.0000
Title:- Sy state SIP complete?
EmptyTransition:- False
Description:- Wait for Sy to complete.
Condition:- A(;
L   #_sy_vessel_state;
L   "dbCONST".BLK.STATE.COMPLETED;
==I;
);


--------------------------------------------------
STEP::07
--------------------------------------------------
StepNo:- 07
Title:- RP_PCSY_CIPSIP : Sy SIP complete
Description:- Set Sy Hygiene Status = STERILE
Release Sy.

Set End of the sip completion for batch report

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Set Sy Hygiene Status = STERILE
Release Sy.

Setting the event for the batch report
Action:- //Set Sy hygiene status to STERILE.
L "dbCONST".BLK.HYGIENE.STERILE;
T #_sy_vessel_hygiene;

//Release Sy.
SET;
S #_release_sy;
Verification:- A "uncondJump";


--------------------------------------------------
TRANSITION::09
--------------------------------------------------
TRNNo:- 9.0000
Title:- Empty Transition
EmptyTransition:- False
Description:- Empty Transition
Condition:- A "uncondJump";


--------------------------------------------------
STEP::08
--------------------------------------------------
StepNo:- 08
Title:- RP_PCSY_CIPSIP : Recipe Procedure Completed
Description:- Sequence END.
Log product manufacture operation end time.
Reset all used flags

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Reset all used flags
Action:- //Stop Sy Unit Operation
L "dbCONST".BLK.CMD.STOP;
T #_sy_vessel_cmd;

//Log CIPSIP operation end time.
SET;
S #_log_msg_cipsip_end;



//Clear used flags
SET;
R #_prompt_abort_confirm_yes;
Verification:- A "uncondJump";

****************************************************************************************************
END SSS REPORT
****************************************************************************************************
