****************************************************************************************************
SEQUENCE STEP SCHEDULE
generated on 31/08/2018 10:36:38 PM by David Paspa
****************************************************************************************************





--------------------------------------------------
SEQUENCE
--------------------------------------------------

Name:- SETUP_SIP
Title:- PH_EMX6_SETUP_SIP
Description:- Setup M1 Manufacturing Filtration line flowpath for SIP
Class:- EMX6
Level:- PH
STEP_LIST_FORMAT:- JU    S0@@STEP_NUM@@; // STEP-0@@STEP_NUM@@:
ACT_LIST_FORMAT:- JU    @@ACT_CODE@@@@STEP_NUM@@; //ACTION-@@ACT_NUM@@
HeaderName:- X1PSSET
Version:- 0.4
RevisionHistory:- // SFC Revision History:
// Rev By               Date        CC         Note
// 0.4 Khairul Basar    07-Sep-2009 CC-09/023  confirm_CIPinout flag is reset in Step1.
// 0.3 Khairul Basar    25-Aug-2009 CC-09/023  Change in Verific,& TRN code OR to AND
//                                             Change in the Last step.
// 0.2 Khairul Basar    18-Aug-2009            Added logic code
// 0.1 David Paspa      13-Jul-2009            SFC structural design
HMI_FORMAT:- @@STEP_NUM_INT@@,@@STEP_TITLE@@

--------------------------------------------------
PARAMETER::1
--------------------------------------------------
Name:- log_msg_confirm_connect
Type:- BOOL
Description:- PH_EMX6_SETUP_SIP Operator to confirm SIP path connected confirmed yes
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::2
--------------------------------------------------
Name:- log_msg_setup_sip_begin
Type:- BOOL
Description:- PH_EMX6_SETUP_SIP begin time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::3
--------------------------------------------------
Name:- log_msg_setup_sip_end
Type:- BOOL
Description:- PH_EMX6_SETUP_SIP end time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::4
--------------------------------------------------
Name:- zsc_filter_state
Type:- INT
Description:- SIP connection sensor switch.
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::5
--------------------------------------------------
Name:- prompt_connect_confirm_yes
Type:- BOOL
Description:- PH_EMX6_SETUP_SIP Operator to confirm SIP path connected confirmed yes
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::6
--------------------------------------------------
Name:- prompt_connect
Type:- BOOL
Description:- PH_EMX6_SETUP_SIP Operator to confirm SIP path connected
ParameterInOut:- VAR


--------------------------------------------------
STEP::01
--------------------------------------------------
StepNo:- 01
Title:- PH_EMX6_SETUP_SIP : SETUP SIP begin.
Description:- Log SETUP SIP begin time.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Log SETUP SIP begin time.
Action:- //Log SETUP SIP begin time.
SET;
S #_log_msg_setup_sip_begin;

Verification:- A "uncondJump";


--------------------------------------------------
TRANSITION::01
--------------------------------------------------
TRNNo:- 01
Title:- Unconditional Jump
EmptyTransition:- False
Description:- Jump
Condition:- A "uncondJump";


--------------------------------------------------
STEP::02
--------------------------------------------------
StepNo:- 02
Title:- PH_EMX6_SETUP_SIP : Prompt to connect SMFLx SIP flowpath 
Description:- Prompt Operator to connect SIP flowpath jumpers
MMFLx to SIP Drain: ZSCx109

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Prompt operator to connect SIP flowpath ZSCx109
Action:- //Prompt to connect SIP.
SET;
S #_prompt_connect;
Verification:- A "uncondJump";


--------------------------------------------------
TRANSITION::02
--------------------------------------------------
TRNNo:- 02
Title:- Operator confirmation
EmptyTransition:- False
Description:- Wait for operator to confirm connections has been made.
Condition:- A #_prompt_connect_confirm_yes;


--------------------------------------------------
STEP::03
--------------------------------------------------
StepNo:- 03
Title:- PH_EMX6_SETUP_SIP : Check connection
Description:- Log operator confirmation and continue to check connection.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Log operator confirmation and continue to check connection.
Action:- SET;
S #_log_msg_confirm_connect;
R  #_prompt_connect_confirm_yes;
Verification:- A "uncondJump";


--------------------------------------------------
TRANSITION::04
--------------------------------------------------
TRNNo:- 04
Title:- Operator not setup correctly
EmptyTransition:- False
Description:- Jump unconditionally, the connections are not made correctly
Condition:- A "uncondJump";


--------------------------------------------------
STEP::04
--------------------------------------------------
StepNo:- 04
Title:- PH_EMX6_SETUP_SIP : Last Step
Description:- Log SETUP SIP operation end time.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Log SETUP SIP operation end time.
Action:- //Log SETUP SIP operation end time.
SET;
S #_log_msg_setup_sip_end;
Verification:- A "uncondJump";

****************************************************************************************************
END SSS REPORT
****************************************************************************************************
