****************************************************************************************************
SEQUENCE STEP SCHEDULE
generated on 7/09/2018 2:27:44 PM by David Paspa
****************************************************************************************************





--------------------------------------------------
SEQUENCE
--------------------------------------------------

Name:- ISOLATE
Title:- PH_EMX2_ISOLATE
Description:- Remove filling machine connection flowpath
Class:- EMX2
Level:- PH
STEP_LIST_FORMAT:- JU    S0@@STEP_NUM@@; // STEP-0@@STEP_NUM@@:
ACT_LIST_FORMAT:- JU    @@ACT_CODE@@@@STEP_NUM@@; //ACTION-@@ACT_NUM@@
HeaderName:- X3PISOL
Version:- 0.4
RevisionHistory:- // SFC Revision History:
// Rev By               Date        CC         Note
// 0.4 Khairul Basar    09-Sep-2009 CC-09/023  In Last Step, Prompt & confirm flag 
//                                             reset code added.
// 0.3 Khairul Basar    25-Aug-2009 CC-09/023  Change in Verific,& TRN code OR to AND
//                                             Change in the Last step.
// 0.2 Khairul Basar    18-Aug-2009            Added logic code
// 0.1 David Paspa      13-Jul-2009            SFC structural design
HMI_FORMAT:- @@STEP_NUM_INT@@,@@STEP_TITLE@@

--------------------------------------------------
PARAMETER::1
--------------------------------------------------
Name:- zsc_smfl1_cmd
Type:- INT
Description:- Command to zsc_smfl1
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::2
--------------------------------------------------
Name:- zsc_smfl2_cmd
Type:- INT
Description:- Command to zsc_smfl2
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::3
--------------------------------------------------
Name:- zsc_bfs1_cmd
Type:- INT
Description:- Command to zsc_smfl2
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::4
--------------------------------------------------
Name:- zsc_bfs2_cmd
Type:- INT
Description:- Command to zsc_smfl2
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::5
--------------------------------------------------
Name:- log_msg_isolate_confirm
Type:- BOOL
Description:- PH_EMX2_ISOLATE Operator confirmed fill machine flowpath disconnected
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::6
--------------------------------------------------
Name:- log_msg_isolate_begin
Type:- BOOL
Description:- PH_EMX2_ISOLATE begin time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::7
--------------------------------------------------
Name:- log_msg_isolate_end
Type:- BOOL
Description:- PH_EMX2_ISOLATE end time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::8
--------------------------------------------------
Name:- zsc_bfs1_state
Type:- INT
Description:- S1 to F1P1 flowpath indicator
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::9
--------------------------------------------------
Name:- zsc_smfl2_state
Type:- INT
Description:- VTL1 to M2 flowpath indicator
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::10
--------------------------------------------------
Name:- zsc_bfs2_state
Type:- INT
Description:- S1 to F2P1 flowpath indicator
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::11
--------------------------------------------------
Name:- zsc_smfl1_state
Type:- INT
Description:- VTL1 to M1 flowpath indicator
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::12
--------------------------------------------------
Name:- prompt_isolate_confirm_yes
Type:- BOOL
Description:- PH_EMX2_ISOLATE Operator confirmed fill machine flowpath disconnected
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::13
--------------------------------------------------
Name:- prompt_isolate
Type:- BOOL
Description:- PH_EMX2_ISOLATE Operator to confirm filling machine flowpath disconnected
ParameterInOut:- VAR


--------------------------------------------------
STEP::01
--------------------------------------------------
StepNo:- 01
Title:- PH_EMX2_ISOLATE : Isolate begin.
Description:- Log Isolate begin time.
Send OUT command to zsc.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Log ISOLATE operation begin time.
Send OUT command to zsc.
Action:- //Log ISOLATE operation begin time.
SET;
S #_log_msg_isolate_begin;

// Send OUT command to zsc.
L "dbCONST".BLK.ZSC2.CMD.OUT;
T  #_zsc_smfl1_cmd;
T  #_zsc_smfl2_cmd;
T  #_zsc_bfs1_cmd;
T  #_zsc_bfs2_cmd;

Verification:- A "uncondJump";


--------------------------------------------------
TRANSITION::01
--------------------------------------------------
TRNNo:- 01
Title:- Unconditional Jump
EmptyTransition:- False
Description:- Jump
Condition:- A "uncondJump";


--------------------------------------------------
STEP::02
--------------------------------------------------
StepNo:- 02
Title:- PH_EMX2_ISOLATE : Prompt to remove filling machine flowpath
Description:- Prompt operator to remove filling machine flowpath

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Prompt operator to remove filling machine flowpath ZSC-4x30
Action:- SET;
S #_prompt_isolate; //Prompt to isolate the PW & WFI line
Verification:- A "uncondJump";


--------------------------------------------------
TRANSITION::02
--------------------------------------------------
TRNNo:- 02
Title:- Operator confirmation
EmptyTransition:- False
Description:- Wait for operator to confirm connections has been removed.
Condition:- A #_prompt_isolate_confirm_yes;


--------------------------------------------------
STEP::03
--------------------------------------------------
StepNo:- 03
Title:- PH_EMX2_ISOLATE : Check connection
Description:- Log operator confirmation and continue to check connection.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Log operator confirmation.

Action:- SET;
S #_log_msg_isolate_confirm;
R #_prompt_isolate_confirm_yes;
Verification:- A "uncondJump";


--------------------------------------------------
TRANSITION::03
--------------------------------------------------
TRNNo:- 03
Title:- Connections removed
EmptyTransition:- False
Description:- Jump if the connections is removed
Condition:- A(    ;
   L #_zsc_bfs1_state; 
   L "dbCONST".BLK.ZSC2.STATE.OUT;
      ==I ;  
    )     ;
A(    ;
   L #_zsc_bfs2_state;
   L "dbCONST".BLK.ZSC2.STATE.OUT;
      ==I ;  
    )     ;
A(    ;
   L #_zsc_smfl2_state; 
   L "dbCONST".BLK.ZSC2.STATE.OUT;
      ==I ;  
    )     ;
A(    ;
   L #_zsc_smfl1_state;
   L "dbCONST".BLK.ZSC2.STATE.OUT;
      ==I ;  
    )     ;



--------------------------------------------------
TRANSITION::04
--------------------------------------------------
TRNNo:- 04
Title:- Operator not removed correctly
EmptyTransition:- False
Description:- Jump unconditionally, the connections have not been removed correctly
Condition:- A "uncondJump";


--------------------------------------------------
STEP::04
--------------------------------------------------
StepNo:- 04
Title:- PH_EMX2_ISOLATE : Last Step
Description:- Log ISOLATE operation end time.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Log ISOLATE operation end time.
Action:- //Log ISOLATE operation end time.
SET;
S #_log_msg_isolate_end;
Verification:- A "uncondJump";

****************************************************************************************************
END SSS REPORT
****************************************************************************************************
