****************************************************************************************************
SEQUENCE STEP SCHEDULE
generated on 3/05/2018 5:39:10 PM by David Paspa
****************************************************************************************************





--------------------------------------------------
SEQUENCE
--------------------------------------------------

SFCNo:- 2
Title:- UO_SY_SETUP
Description:- Unit Operation for setup of storage vessel equipment.
Name:- SETUP
Class:- SY
Level:- UO
STEP_LIST_FORMAT:- JU    S0@@STEP_NUM@@; // STEP-0@@STEP_NUM@@:
ACT_LIST_FORMAT:- JU    @@ACT_CODE@@@@STEP_NUM@@; //ACTION-@@ACT_NUM@@
HeaderName:- MUSET
Version:- 0.1
RevisionHistory:- // SFC Revision History:
// Rev By               Date        CC         Note
// 0.1 Gerald Kontriner 14-Sep-2009            SFC structural design
HMI_FORMAT:- @@STEP_NUM_INT@@,@@STEP_TITLE@@

--------------------------------------------------
PARAMETER::1
--------------------------------------------------
Name:- real_pressure_sy
Type:- REAL
Description:- Sy vessel pressure
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::2
--------------------------------------------------
Name:- log_real_pressure_sy
Type:- BOOL
Description:- Flags HMI for vessel pressure logging
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::3
--------------------------------------------------
Name:- PRES_TIMER
Type:- "TON"
Description:- Timer for vessel pressure logging
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::4
--------------------------------------------------
Name:- Report_Evnt_001
Type:- BOOL
Description:- Description
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::5
--------------------------------------------------
Name:- Report_Evnt_002
Type:- BOOL
Description:- Description
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::6
--------------------------------------------------
Name:- pi_vessel_pv
Type:- REAL
Description:- Vessel pressure
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::7
--------------------------------------------------
Name:- emx_smfl_cmd
Type:- INT
Description:- Command to emx_smfl
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::8
--------------------------------------------------
Name:- emx_smfl_subs
Type:- INT
Description:- Substate selection to emx_smfl
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::9
--------------------------------------------------
Name:- emx_smfl_state
Type:- INT
Description:- Device State of emx_smfl
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::10
--------------------------------------------------
Name:- log_msg_not_held
Type:- BOOL
Description:- HMI msg: Vacuum hold pressure failed
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::11
--------------------------------------------------
Name:- vacuum_held_begin_time
Type:- TOD
Description:- vacuum hold begin time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::12
--------------------------------------------------
Name:- vacuum_held_end_time
Type:- TOD
Description:- vacuum hold end time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::13
--------------------------------------------------
Name:- time_act_vacuum_held
Type:- TIME
Description:- Logging actual vacuum held time.
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::14
--------------------------------------------------
Name:- log_time_act_vacuum_held
Type:- BOOL
Description:- Flags the HMI to log actual vacuum held time.
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::15
--------------------------------------------------
Name:- prompt_not_held
Type:- BOOL
Description:- Prompt operator to try again when vacuum pressure not held
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::16
--------------------------------------------------
Name:- prompt_not_held_confirm_yes
Type:- BOOL
Description:- Operator confirms to try again when vacuum pressure not held
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::17
--------------------------------------------------
Name:- prompt_not_held_confirm_no
Type:- BOOL
Description:- Operator confirms abort when vacuum pressure not held
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::18
--------------------------------------------------
Name:- log_msg_not_held_repeat
Type:- BOOL
Description:- HMI msg:Operator confirms to try again when vacuum pressure not held
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::19
--------------------------------------------------
Name:- log_msg_not_held_abort
Type:- BOOL
Description:- HMI msg:Operator abort to try again when vacuum pressure not held
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::20
--------------------------------------------------
Name:- prompt_not_reach
Type:- BOOL
Description:- Prompt operator to try again when vacuum pressure not reached setpoint
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::21
--------------------------------------------------
Name:- prompt_not_reach_confirm_yes
Type:- BOOL
Description:- Operator confirms to try again when vacuum pressure not reached setpoint
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::22
--------------------------------------------------
Name:- prompt_not_reach_confirm_no
Type:- BOOL
Description:- Operator confirms abort when vacuum pressure not reached setpoint
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::23
--------------------------------------------------
Name:- log_msg_not_reach_repeat
Type:- BOOL
Description:- HMI msg:Operator confirms to try again when vacuum pressure not reached setpoint
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::24
--------------------------------------------------
Name:- log_msg_not_reach_abort
Type:- BOOL
Description:- HMI msg:Operator abort to try again when vacuum pressure not reached setpoint
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::25
--------------------------------------------------
Name:- log_msg_vacuum_fail
Type:- BOOL
Description:- Flag raising vacuum failed message
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::26
--------------------------------------------------
Name:- log_time_vacuum_fail
Type:- BOOL
Description:- Flags the HMI to log vacuum failed time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::27
--------------------------------------------------
Name:- log_time_vacuum_begin
Type:- BOOL
Description:- Flags the HMI to log Vacuum begin time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::28
--------------------------------------------------
Name:- time_setup_begin
Type:- TOD
Description:- Logging SETUP operation start time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::29
--------------------------------------------------
Name:- log_time_setup_end
Type:- BOOL
Description:- Flags the HMI that SETUP ended
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::30
--------------------------------------------------
Name:- time_setup_end
Type:- TOD
Description:- Logging SETUP operation end time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::31
--------------------------------------------------
Name:- time_vacuum_fail
Type:- TOD
Description:- Logging vacuum failed time 
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::32
--------------------------------------------------
Name:- time_vacuum_begin
Type:- TOD
Description:- Vacuum begin time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::33
--------------------------------------------------
Name:- log_time_setup_begin
Type:- BOOL
Description:- Flags the HMI that SETUP started
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::34
--------------------------------------------------
Name:- pres_vac_fail
Type:- REAL
Description:- Vacuum hold fail pressure
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::35
--------------------------------------------------
Name:- pres_stm_pos
Type:- REAL
Description:- Positive steam pressure threshold setpoint
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::36
--------------------------------------------------
Name:- pres_vac
Type:- REAL
Description:- Setpoint for vacuum pressure
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::37
--------------------------------------------------
Name:- time_vac_hold
Type:- TIME
Description:- Vacuum Hold Timer
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::38
--------------------------------------------------
Name:- time_eject
Type:- TIME
Description:- Vacuum time
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::39
--------------------------------------------------
Name:- emc_gas_medium
Type:- INT
Description:- Medium selection for emc_gas
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::40
--------------------------------------------------
Name:- vacuum_hold_test
Type:- BOOL
Description:- Vacuum hold test enquiry
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::41
--------------------------------------------------
Name:- emm_vessel_cmd
Type:- INT
Description:- Command to emm_vessel
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::42
--------------------------------------------------
Name:- emm_vessel_subs
Type:- INT
Description:- Substate selection to emm_vessel
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::43
--------------------------------------------------
Name:- emm_vessel_state
Type:- INT
Description:- Device State of emm_vessel
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::44
--------------------------------------------------
Name:- emc_water_cmd
Type:- INT
Description:- Command to emc_water
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::45
--------------------------------------------------
Name:- emc_water_subs
Type:- INT
Description:- Substate selection to emc_water
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::46
--------------------------------------------------
Name:- emc_water_state
Type:- INT
Description:- Device State of emc_water
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::47
--------------------------------------------------
Name:- log_confirmation
Type:- TOD
Description:- Logging operator confirmation
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::48
--------------------------------------------------
Name:- prompt_connect_ok_confirm_yes
Type:- BOOL
Description:- Confirmation that all vessel connections are properly made.
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::49
--------------------------------------------------
Name:- prompt_connect_ok
Type:- BOOL
Description:- Prompt operator to confirm all vessel connections are properly made.
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::50
--------------------------------------------------
Name:- emc_water_medium
Type:- INT
Description:- Medium selection for emc_water
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::51
--------------------------------------------------
Name:- emx_mmfl_cmd
Type:- INT
Description:- Command to emx_mmfl
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::52
--------------------------------------------------
Name:- emx_mmfl_state
Type:- INT
Description:- Device State of emx_mmfl
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::53
--------------------------------------------------
Name:- emv_vessel_subs
Type:- INT
Description:- Substate selection to emv_vessel
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::54
--------------------------------------------------
Name:- emv_vessel_state
Type:- INT
Description:- Device State of emv_vessel
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::55
--------------------------------------------------
Name:- emx_mmfl_subs
Type:- INT
Description:- Substate selection to emx_mmfl
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::56
--------------------------------------------------
Name:- emv_vessel_cmd
Type:- INT
Description:- Command to emv_vessel
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::57
--------------------------------------------------
Name:- emg_filter_state
Type:- INT
Description:- Device State of emg_filter
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::58
--------------------------------------------------
Name:- emx_transfer_cmd
Type:- INT
Description:- Command to emx_transfer
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::59
--------------------------------------------------
Name:- emg_filter_cmd
Type:- INT
Description:- Command to emg_filter
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::60
--------------------------------------------------
Name:- emx_transfer_subs
Type:- INT
Description:- Substate selection to EXxy07
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::61
--------------------------------------------------
Name:- emx_transfer_state
Type:- INT
Description:- Device State of emx_transfer
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::62
--------------------------------------------------
Name:- emg_filter_subs
Type:- INT
Description:- Substate selection to emg_filter
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::63
--------------------------------------------------
Name:- emc_gas_state
Type:- INT
Description:- Device State of emc_gas
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::64
--------------------------------------------------
Name:- emc_gas_cmd
Type:- INT
Description:- Command to emc_gas
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::65
--------------------------------------------------
Name:- emc_gas_subs
Type:- INT
Description:- Substate selection to emc_gas
ParameterInOut:- OUT


--------------------------------------------------
STEP::01
--------------------------------------------------
StepNo:- 01
Title:- UO_SY_SETUP : Setup Unit Operation Commenced
Description:- Log Sy SETUP operation begin.
Prompt operator to confirm that all vessel connections, including the permanent flexible connections are properly made.

Set Sy equipments to SAFE state.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Log Sy SETUP operation begin.
Prompt operator to confirm correct vessel connections.

Set Sy equipments to SAFE state.
Action:- //Log Sy SETUP operation begin.
L "dbCONST".CHRONO.CPU_TIME;
T #_time_setup_begin;

SET;
S #_log_time_setup_begin;

SET;
S #_prompt_connect_ok;

//Set Sy equipments to SAFE state.
L "dbCONST".BLK.SAFE.CMD;
T  #_emc_gas_subs;
L "dbCONST".BLK.CMD.STOP;
T  #_emc_gas_cmd;

L "dbCONST".BLK.SAFE.CMD;
T  #_emm_vessel_subs;
L "dbCONST".BLK.CMD.STOP;
T  #_emm_vessel_cmd;

L "dbCONST".BLK.SAFE.CMD;
T  #_emv_vessel_subs;
L "dbCONST".BLK.CMD.STOP;
T  #_emv_vessel_cmd;

L "dbCONST".BLK.SAFE.CMD;
T  #_emc_water_subs;
L "dbCONST".BLK.CMD.STOP;
T  #_emc_water_cmd;
Verification:- A(;
L #_emc_gas_state;
L "dbCONST".BLK.STATE.STOPPED;
==I;
);
A(;
L #_emm_vessel_state;
L "dbCONST".BLK.STATE.STOPPED;
==I;
);
A(;
L #_emv_vessel_state;
L "dbCONST".BLK.STATE.STOPPED;
==I;
);
A(;
L #_emc_water_state;
L "dbCONST".BLK.STATE.STOPPED;
==I;
);


--------------------------------------------------
TRANSITION::01
--------------------------------------------------
TRNNo:- 01
Title:- Empty Transition
EmptyTransition:- False
Description:- Jump
Condition:- A #_prompt_connect_ok_confirm_yes;


--------------------------------------------------
STEP::02
--------------------------------------------------
StepNo:- 02
Title:- UO_SY_SETUP : Setup Unit Operation Commenced
Description:- Setup the following paths:
Spool piece SPx2 SMFLx to ZSCx111
Flowplate FP31 Mx to Sy/FLz ZSCn11y
Flowplate FP33 Sy to FLzZSC-zzyyy

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Setup the following path:
Spool piece SPx2 SMFLx to ZSCx111
Flowplate FP31 Mx to Sy/FLz ZSCn11y
Flowplate FP33 Sy to FLzZSC-zzyyy
Action:- // Start CIP_SETUP.
L "dbCONST".BLK.CMD.START;
T #_emx_smfl_cmd;
L "dbCONST".BLK.EMX6.SUBS.SETUP_CIP;
T #_emx_smfl_subs;

//Start EMX2 SETUP.
L "dbCONST".BLK.CMD.START;
T #_emx_transfer_cmd;
L "dbCONST".BLK.EMX2.SUBS.SETUP;
T #_emx_transfer_subs;
Verification:- A(;
L #_emx_smfl_state;
L "dbCONST".BLK.EMX6.SUBS.SETUP_CIP;
==I;
);
A(;
L #_emx_transfer_state;
L "dbCONST".BLK.EMX2.SUBS.SETUP;
==I;
);


--------------------------------------------------
TRANSITION::02
--------------------------------------------------
TRNNo:- 02
Title:- Empty Transition
EmptyTransition:- False
Description:- Jump
Condition:- A M1.1; //Always High flag


--------------------------------------------------
STEP::03
--------------------------------------------------
StepNo:- 03
Title:- UO_SY_SETUP : Unit Operation Commenced
Description:- Connect PW inlet line to Sy. Set emc_water to substate SETUP and MEDIUM=PW.
Connect Sy to manufacturing filtration line and Filling Drain.
Set emx_transfer to substate SETUP.
Set emv_vessel to substate DISCHARGE.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Set Sy equipment to requested states.
Connect PW inlet line to Sy. Set emc_water to substate SETUP and MEDIUM=PW.

Connect Sy to manufacturing filtration line and Filling Drain
Set emx_transfer to substate SETUP.
Set emv_vessel to substate DISCHARGE.
Action:- // Connect PW inlet line to Sy.
L "dbCONST".SEL.LIQUID.PW;
T #_emc_water_medium;
L "dbCONST".BLK.EMC3.SUBS.SETUP;
T #_emc_water_subs;
L "dbCONST".BLK.CMD.START;
T #_emc_water_cmd;

//Set emx_transfer to substate SETUP.
L "dbCONST".BLK.EMX2.SUBS.SETUP;
T #_emx_transfer_subs;
L "dbCONST".BLK.CMD.START;
T #_emx_transfer_cmd;


// Set emv_vessel to substate DISCHARGE.
L "dbCONST".BLK.EMV1.SUBS.DISCHARGE;
T #_emv_vessel_subs;
L "dbCONST".BLK.CMD.START;
T #_emv_vessel_cmd;
Verification:- A(;
L   #_emc_water_state;
L   "dbCONST".BLK.EMC3.SUBS.SETUP;
==I;
);


--------------------------------------------------
TRANSITION::03
--------------------------------------------------
TRNNo:- 03
Title:- SETUP Complete?
EmptyTransition:- False
Description:- Cointinue if SETUP completed
Condition:- A(;
L   #_emc_water_state;
L   "dbCONST".BLK.STATE.COMPLETED;
==I;
);
A(;
L   #_emx_transfer_state;
L   "dbCONST".BLK.STATE.COMPLETED;
==I;
);
A(;
L   #_emv_vessel_state;
L   "dbCONST".BLK.STATE.COMPLETED;
==I;
);


--------------------------------------------------
STEP::04
--------------------------------------------------
StepNo:- 04
Title:- UO_SY_SETUP : Unit Operation Completed
Description:- End of Setup

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Reset flags
Action:- //Clear used flags
SET;
R #_prompt_connect_ok;
Verification:- A M1.1; //Always High flag


--------------------------------------------------
STEP::05
--------------------------------------------------
StepNo:- 05
Title:- UO_SY_SETUP : Start Vacuum
Description:- Enable vacuum. 
Start vacuum timer(TIME_EJECT). 
Log Vacuum begin time

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Enable vacuum.
Start vacuum timer. Log Vacuum begin time
Action:- //Enable vacuum.
L "dbCONST".SEL.GAS.VACUUM;
T #_emc_gas_medium;
L "dbCONST".BLK.EMC1.SUBS.VALVE;
T #_emc_gas_subs;
L "dbCONST".BLK.CMD.START;
T #_emc_gas_cmd;

// Start vacuum timer
A #SQ_TIMER.Q;
R #SQ_TIMER.IN;

AN #SQ_TIMER.Q;
S #SQ_TIMER.IN;
L #_time_eject;
T #SQ_TIMER.PT;

//Log vacuum begin time
L "dbCONST".CHRONO.CPU_TIME;
T #_time_vacuum_begin;
SET;
S #_log_time_vacuum_begin;
Verification:- A #SQ_TIMER.IN;


--------------------------------------------------
TRANSITION::05
--------------------------------------------------
TRNNo:- 5.0000
Title:- Timer expired?
EmptyTransition:- False
Description:- Vacuum timer expired.
Condition:- A #SQ_TIMER.Q;


--------------------------------------------------
STEP::06
--------------------------------------------------
StepNo:- 06
Title:- UO_SY_SETUP : Vacuum hold evacuation failed 
Description:- Raise vacuum failed message.
Log vacuum ejector time failed.
Prompt operator to confirm to try again.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Raise vacuum failed message.
Log vacuum time failed.
Prompt operator to confirm to try again.
Action:- //Set flag to raise vacuum failed message
SET;
S #_log_msg_vacuum_fail;

//Log time vacuum failed.
L "dbCONST".CHRONO.CPU_TIME;
T #_time_vacuum_fail;

SET;
S #_log_time_vacuum_fail;
S #_prompt_not_reach;
Verification:- A M1.1; //Always High flag


--------------------------------------------------
TRANSITION::07
--------------------------------------------------
TRNNo:- 07
Title:- Try again?
EmptyTransition:- False
Description:- Operator want to try again.
Condition:- A #_prompt_not_reach_confirm_yes;


--------------------------------------------------
TRANSITION::08
--------------------------------------------------
TRNNo:- 08
Title:- No try?
EmptyTransition:- False
Description:- Operator don't want to try again.
Condition:- A #_prompt_not_reach_confirm_no;


--------------------------------------------------
STEP::07
--------------------------------------------------
StepNo:- 7.0000
Title:- UO_SY_SETUP : Start Vacuum Hold Timer
Description:- Close Mx vent line vacuum valves.
Start Vacuum  Hold Timer.
Store Vacuum Hold test begin time.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Close Mx vacuum valves.
Start Vacuum Hold Timer.
Store Vacuum Hold test begin time.
Action:- //Close Mx vacuum valves.
L "dbCONST".BLK.CMD.STOP;
T #_emc_gas_cmd;
L "dbCONST".BLK.SAFE.CMD;
T #_emc_gas_subs;

// Start vacuum hold timer
SET;
A #SQ_TIMER.Q;
R #SQ_TIMER.IN;

AN #SQ_TIMER.Q;
S #SQ_TIMER.IN;
L #_time_vac_hold;
T #SQ_TIMER.PT;


//Store Vacuum Hold test begin time.
L "dbCONST".CHRONO.CPU_TIME;
T #_vacuum_held_begin_time;
Verification:- A #SQ_TIMER.IN;


--------------------------------------------------
TRANSITION::09
--------------------------------------------------
TRNNo:- 9.0000
Title:- Empty Transition
EmptyTransition:- False
Description:- Empty Transition
Condition:- A M1.1; //Always High flag


--------------------------------------------------
STEP::08
--------------------------------------------------
StepNo:- 8.0000
Title:- UO_SY_SETUP : Log operator repeat
Description:- Log operator repeat.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Log operator repeat.
Action:- //Log operator repeat.
SET;
S #_log_msg_not_reach_repeat;
R #SQ_TIMER.IN;
Verification:- A M1.1; //Always High flag


--------------------------------------------------
TRANSITION::10
--------------------------------------------------
TRNNo:- 10.0000
Title:- Empty Transition
EmptyTransition:- False
Description:- Empty Transition
Condition:- A M1.1; //Always High flag


--------------------------------------------------
STEP::09
--------------------------------------------------
StepNo:- 9.0000
Title:- UO_SY_SETUP : Log operator ABORT
Description:- Log operator ABORT.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Log operator ABORT.
Action:- //Log operator abort.
SET;
S #_log_msg_not_reach_abort;
R #SQ_TIMER.IN;
Verification:- A M1.1; //Always High flag


--------------------------------------------------
TRANSITION::11
--------------------------------------------------
TRNNo:- 11.0000
Title:- Empty Transition
EmptyTransition:- False
Description:- Empty Transition
Condition:- A M1.1; //Always High flag


--------------------------------------------------
STEP::10
--------------------------------------------------
StepNo:- 10
Title:- UO_SY_SETUP : Vacuum Hold Test
Description:- Set flag to log vessel pressure at 30 second intervals. Logging of values done in HMI.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Set flags to log Sy vessel pressure.
Action:- //Log Sy vessel pressure.
L #_pi_vessel_pv;
T #_real_pressure_sy;

SET;
S #_log_real_pressure_sy;

AN #_PRES_TIMER.Q;
S #_PRES_TIMER.IN;
L T#30S;
T #_PRES_TIMER.PT;

//Report Event Set
SET;
S #_Report_Evnt_001;

//Report Evnt Reset
SET;
R #_Report_Evnt_002; 
Verification:- A M1.1; //Always High flag


--------------------------------------------------
TRANSITION::12
--------------------------------------------------
TRNNo:- 12
Title:- Timer Expired
EmptyTransition:- False
Description:- TIME_VAC_HOLD expired
Condition:- A #SQ_TIMER.Q;


--------------------------------------------------
TRANSITION::13
--------------------------------------------------
TRNNo:- 13
Title:- Pressure above setpoint
EmptyTransition:- False
Description:- Pressure increased above PRES_VAC_FAIL
Condition:- O(;
L #_pi_vessel_pv;
L #_pres_vac_fail;
>R;
);


--------------------------------------------------
STEP::11
--------------------------------------------------
StepNo:- 11
Title:- UO_SY_SETUP : Log actual time vacuum held.
Description:- Log actual time vacuum held.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Log actual time vacuum held.
Action:- //Store Vacuum Hold test end time.
L "dbCONST".CHRONO.CPU_TIME;
T #_vacuum_held_end_time;

//Log actual time vacuum held.
CALL T_DIFF
{date_type := 'Time_Of_Day', time_type := 'Time'}
(  IN1                         := #_vacuum_held_begin_time ,
   IN2                         := #_vacuum_held_end_time ,
  OUT                         := #_time_act_vacuum_held
);
SET;
S #_log_time_act_vacuum_held;


A #_PRES_TIMER.Q;
JCN NEXT;
SET;
R #_PRES_TIMER.IN;

//Log Sy vessel pressure.
L #_pi_vessel_pv;
T #_real_pressure_sy;

SET;
S #_log_real_pressure_sy;

NEXT: NOP 0;
AN #_PRES_TIMER.Q;
S #_PRES_TIMER.IN;
L T#30S;
T #_PRES_TIMER.PT;
Verification:- A M1.1; //Always High flag


--------------------------------------------------
TRANSITION::14
--------------------------------------------------
TRNNo:- 14.0000
Title:- Empty Transition
EmptyTransition:- False
Description:- Empty Transition
Condition:- A M1.1; //Always High flag


--------------------------------------------------
STEP::12
--------------------------------------------------
StepNo:- 12
Title:- UO_SY_SETUP : Vacuum Hold failed
Description:- Set flag to raise vacuum failed message and prompt operator.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Set flag to raise vacuum failed message and prompt operator.
Action:- //Set flag to raise vacuum failed message and prompt operator.
SET;
S #_log_msg_not_held;
S #_prompt_not_held;


// Stop timer
SET;
R #SQ_TIMER.IN;

//Report Evnt Reset
SET;
R #_Report_Evnt_001; 

//Report Event Set
SET;
S #_Report_Evnt_002;


A #_PRES_TIMER.Q;
JCN NEXT1;
SET;
R #_PRES_TIMER.IN;

//Log Sy vessel pressure.
L #_pi_vessel_pv;
T #_real_pressure_sy;

SET;
S #_log_real_pressure_sy;

NEXT1: NOP 0;
AN #_PRES_TIMER.Q;
S #_PRES_TIMER.IN;
L T#30S;
T #_PRES_TIMER.PT;
Verification:- A M1.1; //Always High flag


--------------------------------------------------
TRANSITION::15
--------------------------------------------------
TRNNo:- 15.0000
Title:- No try?
EmptyTransition:- False
Description:- Operator don't want to try again.
Condition:- A #_prompt_not_held_confirm_no;


--------------------------------------------------
TRANSITION::16
--------------------------------------------------
TRNNo:- 16.0000
Title:- Try again?
EmptyTransition:- False
Description:- Operator want to try again.
Condition:- A #_prompt_not_held_confirm_yes;


--------------------------------------------------
STEP::13
--------------------------------------------------
StepNo:- 13
Title:- UO_SY_SETUP : Log operator abort
Description:- Log operator abort.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Log operator abort.
Action:- //Log operator abort.
SET;
S #_log_msg_not_held_abort;
R #_prompt_not_held_confirm_no;


A #_PRES_TIMER.Q;
JCN NEXT2;
SET;
R #_PRES_TIMER.IN;

//Log Sy vessel pressure.
L #_pi_vessel_pv;
T #_real_pressure_sy;

SET;
S #_log_real_pressure_sy;

NEXT2: NOP 0;
AN #_PRES_TIMER.Q;
S #_PRES_TIMER.IN;
L T#30S;
T #_PRES_TIMER.PT;
Verification:- A M1.1; //Always High flag


--------------------------------------------------
STEP::14
--------------------------------------------------
StepNo:- 14
Title:- UO_SY_SETUP : Log operator repeat
Description:- Log operator repeat

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Log operator repeat
Action:- //Log operator repeat.
SET;
S #_log_msg_not_held_repeat;
R #_prompt_not_held_confirm_yes;

A #_PRES_TIMER.Q;
JCN NEXT3;
SET;
R #_PRES_TIMER.IN;

//Log Sy vessel pressure.
L #_pi_vessel_pv;
T #_real_pressure_sy;

SET;
S #_log_real_pressure_sy;

NEXT3: NOP 0;
AN #_PRES_TIMER.Q;
S #_PRES_TIMER.IN;
L T#30S;
T #_PRES_TIMER.PT;
Verification:- A M1.1; //Always High flag


--------------------------------------------------
TRANSITION::18
--------------------------------------------------
TRNNo:- 18.0000
Title:- Empty Transition
EmptyTransition:- False
Description:- Empty Transition
Condition:- A M1.1; //Always High flag


--------------------------------------------------
STEP::15
--------------------------------------------------
StepNo:- 15
Title:- UO_SY_SETUP : Setup Unit Operation Completed
Description:- Clear used flags.
Log Sy SETUP operation end time.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Clear used flags.
Log Sy SETUP operation end time.
Action:- //Clear used flags
SET;
R #_prompt_connect_ok_confirm_yes;

//Log SETUP operation end time.
L "dbCONST".CHRONO.CPU_TIME;
T #_time_setup_end;

SET;
S #_log_time_setup_end;
Verification:- A M1.1; //Always High flag

****************************************************************************************************
END SSS REPORT
****************************************************************************************************
