****************************************************************************************************
SEQUENCE STEP SCHEDULE
generated on 30/08/2018 12:22:14 PM by David Paspa
****************************************************************************************************





--------------------------------------------------
SEQUENCE
--------------------------------------------------

SFCNo:- 2
Title:- UO_MX_SETUP
Description:- Unit Operation for setup of equipment for manufacturing operations.
Name:- SETUP
Class:- MX
Level:- UO
STEP_LIST_FORMAT:- JU    S0@@STEP_NUM@@; // STEP-0@@STEP_NUM@@:
ACT_LIST_FORMAT:- JU    @@ACT_CODE@@@@STEP_NUM@@; //ACTION-@@ACT_NUM@@
HeaderName:- MUSET
Version:- 0.1
RevisionHistory:- // SFC Revision History:
// Rev By               Date        CC         Note
// 0.1 Gerald Kontriner 14-Sep-2009            SFC structural design
HMI_FORMAT:- @@STEP_NUM_INT@@,@@STEP_TITLE@@

--------------------------------------------------
PARAMETER::1
--------------------------------------------------
Name:- real_not_held
Type:- REAL
Description:- UO_MX_SETUP Vacuum pressure hold test failed
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::2
--------------------------------------------------
Name:- real_vacuum_fail
Type:- REAL
Description:- UO_MX_SETUP Vacuum failed pressure after vacuum timer expired
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::3
--------------------------------------------------
Name:- vessel_mx
Type:- INT
Description:- Manufacturing vessel selection M1 or M2
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::4
--------------------------------------------------
Name:- log_real_pressure_mx
Type:- BOOL
Description:- UO_MX_SETUP Vessel pressure
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::5
--------------------------------------------------
Name:- real_pressure_mx
Type:- REAL
Description:- UO_MX_SETUP Vessel pressure
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::6
--------------------------------------------------
Name:- emc_gas_pi_vessel_pv
Type:- REAL
Description:- Vessel pressure
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::7
--------------------------------------------------
Name:- log_real_not_held
Type:- BOOL
Description:- UO_MX_SETUP Vacuum pressure hold test failed
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::8
--------------------------------------------------
Name:- vacuum_held_begin_time
Type:- TOD
Description:- vacuum hold begin time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::9
--------------------------------------------------
Name:- vacuum_held_end_time
Type:- TOD
Description:- vacuum hold end time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::10
--------------------------------------------------
Name:- time_act_vacuum_held
Type:- TIME
Description:- UO_MX_SETUP Vacuum held time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::11
--------------------------------------------------
Name:- log_time_act_vacuum_held
Type:- BOOL
Description:- UO_MX_SETUP Vacuum held time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::12
--------------------------------------------------
Name:- prompt_not_held
Type:- BOOL
Description:- UO_MX_SETUP Operator to confirm to retry as vacuum pressure not held
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::13
--------------------------------------------------
Name:- prompt_not_held_confirm_yes
Type:- BOOL
Description:- UO_MX_SETUP Operator to confirm to retry vacuum pressure not held confirmed yes
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::14
--------------------------------------------------
Name:- prompt_not_held_confirm_no
Type:- BOOL
Description:- UO_MX_SETUP Operator to confirm to retry vacuum pressure not held confirmed no
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::15
--------------------------------------------------
Name:- log_msg_not_held_repeat
Type:- BOOL
Description:- UO_MX_SETUP Operator confirmed to retry when vacuum pressure not held
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::16
--------------------------------------------------
Name:- log_msg_not_held_abort
Type:- BOOL
Description:- UO_MX_SETUP Operator confirmed to abort when vacuum pressure not held
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::17
--------------------------------------------------
Name:- prompt_not_reach
Type:- BOOL
Description:- UO_MX_SETUP Operator to confirm retry when vacuum pressure not reached setpoint
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::18
--------------------------------------------------
Name:- prompt_not_reach_confirm_yes
Type:- BOOL
Description:- UO_MX_SETUP Operator confirmed retry when vacuum pressure not reached setpoint
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::19
--------------------------------------------------
Name:- prompt_not_reach_confirm_no
Type:- BOOL
Description:- UO_MX_SETUP Operator confirmed abort when vacuum pressure not reached setpoint
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::20
--------------------------------------------------
Name:- log_msg_not_reach_repeat
Type:- BOOL
Description:- UO_MX_SETUP Operator confirmed retry when vacuum pressure not reached setpoint
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::21
--------------------------------------------------
Name:- log_msg_not_reach_abort
Type:- BOOL
Description:- UO_MX_SETUP Operator confirmed abort when vacuum pressure not reached setpoint
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::22
--------------------------------------------------
Name:- log_real_vacuum_fail
Type:- BOOL
Description:- UO_MX_SETUP Vacuum failed after vacuum timer expired
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::23
--------------------------------------------------
Name:- log_msg_vacuum_begin
Type:- BOOL
Description:- UO_MX_SETUP Vacuum begin time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::24
--------------------------------------------------
Name:- log_msg_setup_end
Type:- BOOL
Description:- UO_MX_SETUP end time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::25
--------------------------------------------------
Name:- log_msg_setup_begin
Type:- BOOL
Description:- UO_MX_SETUP begin time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::26
--------------------------------------------------
Name:- r_pres_vac_fail
Type:- REAL
Description:- Vacuum hold fail pressure
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::27
--------------------------------------------------
Name:- r_pres_stm_pos
Type:- REAL
Description:- Positive steam pressure threshold setpoint
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::28
--------------------------------------------------
Name:- r_pres_vac
Type:- REAL
Description:- Setpoint for vacuum pressure
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::29
--------------------------------------------------
Name:- r_time_vac_hold
Type:- TIME
Description:- Vacuum Hold Timer
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::30
--------------------------------------------------
Name:- r_time_eject
Type:- TIME
Description:- Vacuum time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::31
--------------------------------------------------
Name:- emc_gas_medium_gas
Type:- INT
Description:- Medium selection for emc_gas
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::32
--------------------------------------------------
Name:- vacuum_hold_test
Type:- BOOL
Description:- Vacuum hold test enquiry
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::33
--------------------------------------------------
Name:- emm_vessel_cmd
Type:- INT
Description:- Command to emm_vessel
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::34
--------------------------------------------------
Name:- emm_vessel_subs
Type:- INT
Description:- Substate selection to emm_vessel
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::35
--------------------------------------------------
Name:- emm_vessel_state
Type:- INT
Description:- Device State of emm_vessel
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::36
--------------------------------------------------
Name:- emc_water_cmd
Type:- INT
Description:- Command to emc_water
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::37
--------------------------------------------------
Name:- emc_water_subs
Type:- INT
Description:- Substate selection to emc_water
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::38
--------------------------------------------------
Name:- emc_water_state
Type:- INT
Description:- Device State of emc_water
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::39
--------------------------------------------------
Name:- prompt_connect_ok_confirm_yes
Type:- BOOL
Description:- UO_MX_SETUP Operator confirm vessel connections made confirmed yes
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::40
--------------------------------------------------
Name:- prompt_connect_ok
Type:- BOOL
Description:- UO_MX_SETUP Operator to confirm all vessel connections are properly made
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::41
--------------------------------------------------
Name:- emc_water_medium_liquid
Type:- INT
Description:- Medium selection for emc_water
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::42
--------------------------------------------------
Name:- emx_mmfl_cmd
Type:- INT
Description:- Command to emx_mmfl
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::43
--------------------------------------------------
Name:- emx_mmfl_state
Type:- INT
Description:- Device State of emx_mmfl
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::44
--------------------------------------------------
Name:- emv_vessel_subs
Type:- INT
Description:- Substate selection to emv_vessel
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::45
--------------------------------------------------
Name:- emv_vessel_state
Type:- INT
Description:- Device State of EVxy04
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::46
--------------------------------------------------
Name:- emx_mmfl_subs
Type:- INT
Description:- Substate selection to emx_mmfl
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::47
--------------------------------------------------
Name:- emv_vessel_cmd
Type:- INT
Description:- Command to emv_vessel
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::48
--------------------------------------------------
Name:- emg_filter_state
Type:- INT
Description:- Device State of emg_filter
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::49
--------------------------------------------------
Name:- emx_transfer_cmd
Type:- INT
Description:- Command to emx_transfer
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::50
--------------------------------------------------
Name:- emg_filter_cmd
Type:- INT
Description:- Command to emg_filter
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::51
--------------------------------------------------
Name:- emx_transfer_subs
Type:- INT
Description:- Substate selection to EXxy07
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::52
--------------------------------------------------
Name:- emx_transfer_state
Type:- INT
Description:- Device State of emx_transfer
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::53
--------------------------------------------------
Name:- emg_filter_subs
Type:- INT
Description:- Substate selection to emg_filter
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::54
--------------------------------------------------
Name:- emc_gas_state
Type:- INT
Description:- Device State of emc_gas
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::55
--------------------------------------------------
Name:- emc_gas_cmd
Type:- INT
Description:- Command to emc_gas
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::56
--------------------------------------------------
Name:- emc_gas_subs
Type:- INT
Description:- Substate selection to emc_gas
ParameterInOut:- OUT


--------------------------------------------------
STEP::01
--------------------------------------------------
StepNo:- 01
Title:- UO_MX_SETUP : Setup Unit Operation Commenced
Description:- Log Mx SETUP operation begin time.
Prompt operator to confirm that all vessel connections, including the permanent flexible connections are properly made.

Start EMX1_SETUP_CIPSIP to connect MMFLx to Drain.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Log Mx SETUP operation begin time.
Prompt operator to confirm correct vessel connections.
Start EMX1_SETUP_CIPSIP
Action:- //Log CIPSIP operation begin
SET;
S #_log_msg_setup_begin;

SET;
S #_prompt_connect_ok;

//Start EMX1_CIPSIP_SETUP.
L "dbCONST".BLK.EMX1.SUBS.SETUP_CIPSIP;
T #_emx_mmfl_subs;
L "dbCONST".BLK.CMD.START;
T #_emx_mmfl_cmd;
Verification:- A(;
L #_emx_mmfl_subs;
L "dbCONST".BLK.EMX1.SUBS.SETUP_CIPSIP;
==I;
);


--------------------------------------------------
TRANSITION::01
--------------------------------------------------
TRNNo:- 01
Title:- Confirmation received.
EmptyTransition:- False
Description:- Confirmation from operator received and CIPSIP_SETUP finished.
Condition:- A #_prompt_connect_ok_confirm_yes;
A(;
L #_emx_mmfl_state;
L   "dbCONST".BLK.STATE.COMPLETED;
==I;
);


--------------------------------------------------
STEP::02
--------------------------------------------------
StepNo:- 02
Title:- UO_MX_SETUP : Setup for PW
Description:- Set emc_water to substate SETUP with MEDIUM PW.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Set emc_water to substate SETUP (Medium PW).

Action:- //Clear used flag
SET;
R #_prompt_connect_ok_confirm_yes;

//Set to Medium PW and start EMC2_SETUP.
L    "dbCONST".SEL.LIQUID.PW;
T    #_emc_water_medium_liquid;
L    "dbCONST".BLK.EMC2.SUBS.SETUP;
T    #_emc_water_subs;
L    "dbCONST".BLK.CMD.START;
T    #_emc_water_cmd;
Verification:- //Verify if current substate changed to SETUP.
A(;
L #_emc_water_subs;
L    "dbCONST".BLK.EMC2.SUBS.SETUP;
==I;
);


--------------------------------------------------
TRANSITION::02
--------------------------------------------------
TRNNo:- 02
Title:- emc_water substate SETUP complete.
EmptyTransition:- False
Description:- emc_water substate SETUP is complete.
Condition:- A(;
L   #_emc_water_state;
L   "dbCONST".BLK.STATE.COMPLETED;
==I;
);


--------------------------------------------------
STEP::03
--------------------------------------------------
StepNo:- 03
Title:- UO_MX_SETUP : Open valves on Mx to drain flow path.
Description:- Open Mx outlet and MMFL transfer line valves.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Open valves on Mx to drain flow path.
Clear used flags.
Action:- //Open Mx outlet valve.
L "dbCONST".BLK.EMV1.SUBS.DISCHARGE;
T #_emv_vessel_subs;
L "dbCONST".BLK.CMD.START;
T #_emv_vessel_cmd;

//Open MMFL valves.
L "dbCONST".BLK.EMX1.SUBS.CIP_MX;
T #_emx_mmfl_subs;
L "dbCONST".BLK.CMD.START;
T #_emx_mmfl_cmd;
Verification:- A(;
L #_emv_vessel_subs;
L "dbCONST".BLK.EMV1.SUBS.DISCHARGE;
==I;
);
A(;
L #_emx_mmfl_subs;
L "dbCONST".BLK.EMX1.SUBS.CIP_MX;
==I;
);



--------------------------------------------------
TRANSITION::03
--------------------------------------------------
TRNNo:- 03
Title:- Emx_mmfl valves opened
EmptyTransition:- False
Description:- emx_mmfl substate CIP_MX is complete.
Condition:- A(;
L   #_emx_mmfl_state;
L   "dbCONST".BLK.STATE.COMPLETED;
==I;
);


--------------------------------------------------
STEP::04
--------------------------------------------------
StepNo:- 04
Title:- UO_MX_SETUP : Start Vacuum
Description:- Enable vacuum. 
Start vacuum timer(TIME_EJECT). 
Log Vacuum begin time

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Enable vacuum.
Start vacuum timer. Log Vacuum begin time
Action:- //Enable vacuum.
L "dbCONST".SEL.GAS.VACUUM;
T #_emc_gas_medium_gas;
L "dbCONST".BLK.EMC1.SUBS.VALVE;
T #_emc_gas_subs;
L "dbCONST".BLK.CMD.START;
T #_emc_gas_cmd;

// Start vacuum timer
A #SQ_TIMER.Q;
R #sqSeqTimerStart;

AN #SQ_TIMER.Q;
S #sqSeqTimerStart;
L #_r_time_eject;
T #SQ_TIMER.PT;

//Log vacuum begin time
SET;
S #_log_msg_vacuum_begin;
Verification:- A #sqSeqTimerStart;


--------------------------------------------------
TRANSITION::04
--------------------------------------------------
TRNNo:- 4.0000
Title:- Timer expired?
EmptyTransition:- False
Description:- Vacuum timer expired.
Condition:- A #SQ_TIMER.Q;


--------------------------------------------------
TRANSITION::05
--------------------------------------------------
TRNNo:- 05
Title:- Pressure below setpoint?
EmptyTransition:- False
Description:- Pressure reduced below PRES_VAC.
Condition:- A(;
L #_emc_gas_pi_vessel_pv;
L #_r_pres_vac;
<R;
);


--------------------------------------------------
STEP::05
--------------------------------------------------
StepNo:- 05
Title:- UO_MX_SETUP : Vacuum hold evacuation failed 
Description:- Raise vacuum failed message.
Log vacuum ejector time failed.
Prompt operator to confirm to try again.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Raise vacuum failed message.
Log vacuum time failed.
Prompt operator to confirm to try again.
Action:- //Set flag to raise vacuum failed message
SET;
S #_log_real_vacuum_fail;
S #_prompt_not_reach;

//Log pressure after vacuum timer expired(TIME_EJECT failed).
L #_emc_gas_pi_vessel_pv;
T #_real_vacuum_fail;
Verification:- A "uncondJump";


--------------------------------------------------
TRANSITION::06
--------------------------------------------------
TRNNo:- 06
Title:- Try again?
EmptyTransition:- False
Description:- Operator want to try again.
Condition:- A #_prompt_not_reach_confirm_yes;


--------------------------------------------------
TRANSITION::07
--------------------------------------------------
TRNNo:- 07
Title:- No try?
EmptyTransition:- False
Description:- Operator don't want to try again.
Condition:- A #_prompt_not_reach_confirm_no;


--------------------------------------------------
STEP::06
--------------------------------------------------
StepNo:- 06
Title:- UO_MX_SETUP : Start Vacuum Hold Timer
Description:- Close Mx vent line vacuum valves.
Start Vacuum  Hold Timer.
Store Vacuum Hold test begin time.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Close Mx vacuum valves.
Start Vacuum Hold Timer.
Store Vacuum Hold test begin time.
Action:- //Close Mx vacuum valves.
L "dbCONST".BLK.CMD.STOP;
T #_emc_gas_cmd;
L "dbCONST".BLK.SAFE.CMD;
T #_emc_gas_subs;

// Start vacuum hold timer
SET;
A #SQ_TIMER.Q;
R #sqSeqTimerStart;

AN #SQ_TIMER.Q;
S #sqSeqTimerStart;
L #_r_time_vac_hold;
T #SQ_TIMER.PT;


//Store Vacuum Hold test begin time.
L "dbCONST".CHRONO.CPU_TIME;
T #_vacuum_held_begin_time;
Verification:- A #sqSeqTimerStart;


--------------------------------------------------
TRANSITION::08
--------------------------------------------------
TRNNo:- 08
Title:- Empty Transition
EmptyTransition:- False
Description:- Empty Transition
Condition:- A "uncondJump";


--------------------------------------------------
STEP::07
--------------------------------------------------
StepNo:- 07
Title:- UO_MX_SETUP : Log operator repeat
Description:- Log operator repeat.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Log operator repeat.
Action:- //Log operator repeat.
SET;
S #_log_msg_not_reach_repeat;
R #_prompt_not_reach_confirm_yes;
R #sqSeqTimerStart;
Verification:- A "uncondJump";


--------------------------------------------------
TRANSITION::09
--------------------------------------------------
TRNNo:- 09
Title:- Empty Transition
EmptyTransition:- False
Description:- Empty Transition
Condition:- A "uncondJump";


--------------------------------------------------
STEP::08
--------------------------------------------------
StepNo:- 08
Title:- UO_MX_SETUP : Log operator abort
Description:- Log operator abort.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Log operator ABORT.
Action:- //Log operator abort.
SET;
S #_log_msg_not_reach_abort;
R #_prompt_not_reach_confirm_no;
R #sqSeqTimerStart;
Verification:- A "uncondJump";


--------------------------------------------------
TRANSITION::10
--------------------------------------------------
TRNNo:- 10
Title:- Empty Transition
EmptyTransition:- False
Description:- Empty Transition
Condition:- A "uncondJump";


--------------------------------------------------
STEP::09
--------------------------------------------------
StepNo:- 09
Title:- UO_MX_SETUP: Sequence reentry point

--------------------------------------------------
ACTION::01
--------------------------------------------------

--------------------------------------------------
TRANSITION::11
--------------------------------------------------
TRNNo:- 11.0000
Title:- Empty Transition
EmptyTransition:- False
Description:- Empty Transition
Condition:- A "uncondJump";


--------------------------------------------------
STEP::10
--------------------------------------------------
StepNo:- 10
Title:- UO_MX_SETUP : Pressure logging
Description:- Log vessel pressure at 30 second intervals.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Set flags to log Sy vessel pressure.
Action:- //Log Mx vessel pressure.
L #_emc_gas_pi_vessel_pv;
T #_real_pressure_mx;

A #SQ_TIMER2.Q;
R #sqSeqTimerStart2;
R #_log_real_pressure_mx;

AN #SQ_TIMER2.Q;
S #sqSeqTimerStart2;
S #_log_real_pressure_mx;
L T#30S;
T #SQ_TIMER2.PT;
Verification:- A "uncondJump";


--------------------------------------------------
TRANSITION::12
--------------------------------------------------
TRNNo:- 12.0000
Title:- Timer Expired
EmptyTransition:- False
Description:- TIME_VAC_HOLD expired
Condition:- A #SQ_TIMER.Q;


--------------------------------------------------
TRANSITION::13
--------------------------------------------------
TRNNo:- 13
Title:- Pressure above setpoint
EmptyTransition:- False
Description:- Pressure increased above PRES_VAC_FAIL
Condition:- O(;
L #_emc_gas_pi_vessel_pv;
L #_r_pres_vac_fail;
>R;
);


--------------------------------------------------
TRANSITION::14
--------------------------------------------------
TRNNo:- 14
Title:- Pressure logging timer expired
EmptyTransition:- False
Description:- 30 seconds expired
Condition:-  A #SQ_TIMER2.Q;


--------------------------------------------------
STEP::11
--------------------------------------------------
StepNo:- 11
Title:- UO_MX_SETUP : Log actual time vacuum held.
Description:- Log actual time vacuum held.
Log Mx vessel pressure.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Log actual time vacuum held.
Log Mx vessel pressure.
Action:- //Store Vacuum Hold test end time.
L "dbCONST".CHRONO.CPU_TIME;
T #_vacuum_held_end_time;

//Log actual time vacuum held.
CALL T_DIFF
{date_type := 'Time_Of_Day', time_type := 'Time'}
(  IN1                         := #_vacuum_held_end_time ,
   IN2                         := #_vacuum_held_begin_time ,
  OUT                         := #_time_act_vacuum_held
);
SET;
S #_log_time_act_vacuum_held;
R #sqSeqTimerStart2;

//Log Mx vessel pressure.
L #_emc_gas_pi_vessel_pv;
T #_real_pressure_mx;

SET;
S #_log_real_pressure_mx;
Verification:- A "uncondJump";


--------------------------------------------------
TRANSITION::15
--------------------------------------------------
TRNNo:- 15.0000
Title:- Empty Transition
EmptyTransition:- False
Description:- Empty Transition
Condition:- A "uncondJump";


--------------------------------------------------
STEP::12
--------------------------------------------------
StepNo:- 12
Title:- UO_MX_SETUP : Vacuum Hold failed
Description:- Set flag to raise vacuum failed message and prompt operator.
Log Mx vessel pressure.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Set flag to raise vacuum failed message and prompt operator.
Log Mx vessel pressure.
Action:- //Set flag to raise vacuum failed message and prompt operator.
SET;
S #_log_real_not_held;
S #_prompt_not_held;


// Stop timer
SET;
R #sqSeqTimerStart;
R #sqSeqTimerStart2;

//Log Mx vessel pressure.
L #_emc_gas_pi_vessel_pv;
T #_real_not_held;
Verification:- A "uncondJump";


--------------------------------------------------
TRANSITION::16
--------------------------------------------------
TRNNo:- 16.0000
Title:- No try?
EmptyTransition:- False
Description:- Operator don't want to try again.
Condition:- A #_prompt_not_held_confirm_no;


--------------------------------------------------
TRANSITION::17
--------------------------------------------------
TRNNo:- 17.0000
Title:- Try again?
EmptyTransition:- False
Description:- Operator want to try again.
Condition:- A #_prompt_not_held_confirm_yes;


--------------------------------------------------
STEP::13
--------------------------------------------------
StepNo:- 13.0000
Title:- UO_MX_SETUP : Log operator abort
Description:- Log operator abort.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Log operator abort.
Action:- //Log operator abort.
SET;
S #_log_msg_not_held_abort;
R #_prompt_not_held_confirm_no;
Verification:- A "uncondJump";


--------------------------------------------------
TRANSITION::18
--------------------------------------------------
TRNNo:- 18.0000
Title:- Empty Transition
EmptyTransition:- False
Description:- Empty Transition
Condition:- A "uncondJump";


--------------------------------------------------
STEP::14
--------------------------------------------------
StepNo:- 14.0000
Title:- UO_MX_SETUP : Log operator repeat
Description:- Log operator repeat

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Log operator repeat
Action:- //Log operator repeat.
SET;
S #_log_msg_not_held_repeat;
R #_prompt_not_held_confirm_yes;
Verification:- A "uncondJump";


--------------------------------------------------
TRANSITION::19
--------------------------------------------------
TRNNo:- 19.0000
Title:- Empty Transition
EmptyTransition:- False
Description:- Empty Transition
Condition:- A "uncondJump";


--------------------------------------------------
STEP::15
--------------------------------------------------
StepNo:- 15
Title:- UO_MX_SETUP : Setup Unit Operation Completed
Description:- Clear used flags.
Log Mx SETUP operation end time.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Clear used flags.
Log Mx SETUP operation end time.
Action:- //Clear used flags
SET;
R #_prompt_connect_ok;
R #_prompt_connect_ok_confirm_yes;

//Log SETUP operation end time.
SET;
S #_log_msg_setup_end;
Verification:- A "uncondJump";

****************************************************************************************************
END SSS REPORT
****************************************************************************************************
