****************************************************************************************************
SEQUENCE STEP SCHEDULE
generated on 7/04/2018 11:33:07 AM by David Paspa
****************************************************************************************************





--------------------------------------------------
SEQUENCE
--------------------------------------------------

Name:- CIP_SETUP
Title:- PH_EMX6_SETUP_CIP
Description:- Setup M1 Manufacturing Filtration line flowpath for CIP
Class:- EMX6
Level:- PH
STEP_LIST_FORMAT:- JU    S0@@STEP_NUM@@; // STEP-0@@STEP_NUM@@:
ACT_LIST_FORMAT:- JU    @@ACT_CODE@@@@STEP_NUM@@; //ACTION-@@ACT_NUM@@
HeaderName:- X1PCSET
Version:- 0.4
RevisionHistory:- // SFC Revision History:
// Rev By               Date        CC         Note
// 0.4 Khairul Basar    07-Sep-2009 CC-09/023  confirm_CIPinout flag is reset in Step1.
// 0.3 Khairul Basar    25-Aug-2009 CC-09/023  Change in Verific,& TRN code OR to AND
//                                             Change in the Last step.
// 0.2 Khairul Basar    18-Aug-2009            Added logic code
// 0.1 David Paspa      13-Jul-2009            SFC structural design
HMI_FORMAT:- @@STEP_NUM_INT@@,@@STEP_TITLE@@

--------------------------------------------------
PARAMETER::1
--------------------------------------------------
Name:- SIP_Interlock_Armed
Type:- BOOL
Description:- Filter interlock armed flag
ParameterInOut:- IN_OUT

--------------------------------------------------
PARAMETER::2
--------------------------------------------------
Name:- CIP_Interlock_Armed
Type:- BOOL
Description:- CIP interlock armed flag
ParameterInOut:- IN_OUT

--------------------------------------------------
PARAMETER::3
--------------------------------------------------
Name:- zsc_smfl1_state
Type:- INT
Description:- CIP connection sensor switch.
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::4
--------------------------------------------------
Name:- confirm_CIP
Type:- BOOL
Description:- Confirm CIP path connection
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::5
--------------------------------------------------
Name:- prompt_CIP
Type:- BOOL
Description:- Prompt to connect CIP path
ParameterInOut:- VAR


--------------------------------------------------
STEP::01
--------------------------------------------------
StepNo:- 01
Title:- PH_EMX6_SETUP_CIP : Prompt to connect SMFLx CIP flowpath 
Description:- Prompt Operator to connect CIP flowpath jumpers
MMFLx to CIP Drain: ZSCx111

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Prompt operator to connect CIP flowpath ZSCx111
Action:- //Prompt to connect CIP.
SET;
S #_prompt_CIP;
R #_confirm_CIP;

//Reset SIP and CIP interlock flag
R #_CIP_Interlock_Armed;
R #_SIP_Interlock_Armed;
Verification:- A M1.1; //Always High flag


--------------------------------------------------
TRANSITION::01
--------------------------------------------------
TRNNo:- 01
Title:- Operator confirmation
EmptyTransition:- False
Description:- Wait for operator to confirm connections has been made.
Condition:- A #_confirm_CIP;


--------------------------------------------------
TRANSITION::03
--------------------------------------------------
TRNNo:- 03
Title:- Operator not setup correctly
EmptyTransition:- False
Description:- Jump unconditionally, the connections are not made correctly
Condition:- A M1.1; // Always High Bit


--------------------------------------------------
STEP::02
--------------------------------------------------
StepNo:- 02
Title:- PH_EMX6_SETUP_CIP : Check connection
Description:- Check connection

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Reset connection prompt .
Action:- SET;
R  #_prompt_CIP;
Verification:- A M1.1; //Always High flag


--------------------------------------------------
TRANSITION::02
--------------------------------------------------
TRNNo:- 02
Title:- Connection correctly inserted
EmptyTransition:- False
Description:- Jump if correct switch ZSCx111 connected
Condition:- //Verify the correct switch connected.
A(    ;
L #_zsc_smfl1_state;
L "dbCONST".CM.ZSC2_DEV_STATE.IN;
      ==I ;  
  )     ;


--------------------------------------------------
STEP::03
--------------------------------------------------
StepNo:- 03
Title:- PH_EMX6_SETUP_CIP : Setup Completed
Description:- Enable flowpath interlock armed flag.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Set the CIP interlock armed flag 
Action:- SET;
S #_CIP_Interlock_Armed;
Verification:- A M1.1; //Always High flag


--------------------------------------------------
TRANSITION::04
--------------------------------------------------
TRNNo:- 04
Title:- Phase Finish Normal
EmptyTransition:- False
Description:- Phase Finish Normal
Condition:- A M1.1; //Always High flag


--------------------------------------------------
STEP::04
--------------------------------------------------
StepNo:- 04
Title:- PH_EMX6_SETUP_CIP : Last Step
Description:- Last Step

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Last Step
Action:- SET;
R  #_confirm_CIP;
R  #_prompt_CIP;
Verification:- A M1.1; //Always High flag

****************************************************************************************************
END SSS REPORT
****************************************************************************************************
