****************************************************************************************************
SEQUENCE STEP SCHEDULE
generated on 29/11/2018 4:43:26 PM by David Paspa
****************************************************************************************************





--------------------------------------------------
SEQUENCE
--------------------------------------------------

SFCNo:- 4
Title:- UO_MX_FILTER
Description:- Manufacturing Vessel Mx filtration to Storage Vessel Sy. Sequence for Filtration from Manufacturing Vessel Mx to Storage Vessel Sy.
Name:- FILL
Class:- MX
Level:- UO
STEP_LIST_FORMAT:- JU    S0@@STEP_NUM@@; // STEP-0@@STEP_NUM@@:
ACT_LIST_FORMAT:- JU    @@ACT_CODE@@@@STEP_NUM@@; //ACTION-@@ACT_NUM@@
HeaderName:- MUFILL
Version:- 2.0
RevisionHistory:- // SFC Revision History:
// Rev By               Date        CC         Note
// 2.0 David Paspa      27-Nov-2018            Reboot for S7-1500
// 0.1 Gerald Kontriner 10-Sep-2009            SFC structural design
HMI_FORMAT:- @@STEP_NUM_INT@@,@@STEP_TITLE@@
Name:- emt_hex_setpoint
Type:- REAL
Description:- Heat exchanger temperature controller temperature setpoint
ParameterInOut:- OUT
Name:- vessel_mx
Type:- INT
Description:- Manufacturing vessel selection M1 or M2
ParameterInOut:- IN
Name:- vessel_sy
Type:- INT
Description:- Storage vessel selection S1 or S2
ParameterInOut:- IN
Name:- fill_flz
Type:- INT
Description:- Filling line selection FL1 or FL2
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::1
--------------------------------------------------
Name:- r_pres_lpca_blanket
Type:- REAL
Description:- MX FILL LPCA blanket pressure
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::2
--------------------------------------------------
Name:- prompt_abort
Type:- BOOL
Description:- UO_MX_FILL Operator to confirm abort due to invalid Hygiene Status
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::3
--------------------------------------------------
Name:- prompt_abort_confirm_yes
Type:- BOOL
Description:- UO_MX_FILL Operator confirmed to abort due to invalid Hygiene Status
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::4
--------------------------------------------------
Name:- log_msg_wrong_hygiene
Type:- BOOL
Description:- UO_MX_FILL Unit has incorrect Hygiene Status
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::5
--------------------------------------------------
Name:- emx_smfl_hygiene
Type:- INT
Description:- Description
ParameterInOut:- IN_OUT

--------------------------------------------------
PARAMETER::6
--------------------------------------------------
Name:- emx_transfer_hygiene
Type:- INT
Description:- Description
ParameterInOut:- IN_OUT

--------------------------------------------------
PARAMETER::7
--------------------------------------------------
Name:- emx_fill_hygiene
Type:- INT
Description:- Description
ParameterInOut:- IN_OUT

--------------------------------------------------
PARAMETER::8
--------------------------------------------------
Name:- emx_fill_cmd
Type:- INT
Description:- Command for filling line
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::9
--------------------------------------------------
Name:- emx_fill_subs
Type:- INT
Description:- Substate selection for filling line
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::10
--------------------------------------------------
Name:- emx_fill_state
Type:- INT
Description:- Device state for filling line
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::11
--------------------------------------------------
Name:- emt_hex_setpoint
Type:- REAL
Description:- Heat exchanger temperature controller temperature setpoint
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::12
--------------------------------------------------
Name:- vessel_mx
Type:- INT
Description:- Manufacturing vessel selection M1 or M2
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::13
--------------------------------------------------
Name:- fill_flz
Type:- INT
Description:- Filling line selection FL1 or FL2
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::14
--------------------------------------------------
Name:- vessel_sy
Type:- INT
Description:- Storage vessel selection S1 or S2
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::15
--------------------------------------------------
Name:- log_msg_filtration_end
Type:- BOOL
Description:- UO_MX_FILL Filtration end time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::16
--------------------------------------------------
Name:- log_msg_filtration_start
Type:- BOOL
Description:- UO_MX_FILL Filtration begin time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::17
--------------------------------------------------
Name:- log_msg_fill_begin
Type:- BOOL
Description:- UO_MX_FILL begin time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::18
--------------------------------------------------
Name:- log_msg_fill_end
Type:- BOOL
Description:- UO_MX_FILL end time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::19
--------------------------------------------------
Name:- emm_vessel_mass_nett
Type:- REAL
Description:- Vessel mass
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::20
--------------------------------------------------
Name:- emv_vessel_subs
Type:- INT
Description:- Substate selection of emv_vessel
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::21
--------------------------------------------------
Name:- emv_vessel_cmd
Type:- INT
Description:- Command to emv_vessel
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::22
--------------------------------------------------
Name:- emv_vessel_state
Type:- INT
Description:- Device State of emv_vessel
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::23
--------------------------------------------------
Name:- emt_hex_subs
Type:- INT
Description:- Substate selection of emt_hex
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::24
--------------------------------------------------
Name:- emt_hex_state
Type:- INT
Description:- Device State of emt_hex
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::25
--------------------------------------------------
Name:- emt_hex_cmd
Type:- INT
Description:- Command to emt_hex
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::26
--------------------------------------------------
Name:- prompt_filtration
Type:- BOOL
Description:- UO_MX_FILL Operator to confirm when ready to start filtration
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::27
--------------------------------------------------
Name:- prompt_filtration_confirm_yes
Type:- BOOL
Description:- UO_MX_FILL Operator to confirm when ready to start filtration confirmed yes
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::28
--------------------------------------------------
Name:- r_temp_filt
Type:- REAL
Description:- MX FILL Filling temperature setpoint
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::29
--------------------------------------------------
Name:- emx_smfl_state
Type:- INT
Description:- Device State of emx_smfl
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::30
--------------------------------------------------
Name:- emx_transfer_state
Type:- INT
Description:- Device State of emx_transfer
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::31
--------------------------------------------------
Name:- emx_smfl_cmd
Type:- INT
Description:- Command to emx_smfl
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::32
--------------------------------------------------
Name:- emx_smfl_subs
Type:- INT
Description:- Substate selection of emx_smfl
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::33
--------------------------------------------------
Name:- emx_transfer_cmd
Type:- INT
Description:- Command to emx_transfer
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::34
--------------------------------------------------
Name:- emx_transfer_subs
Type:- INT
Description:- Substate selection of emx_transfer
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::35
--------------------------------------------------
Name:- log_msg_filtration_complete
Type:- BOOL
Description:- UO_MX_FILL Filtration is complete
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::36
--------------------------------------------------
Name:- confirm_complete
Type:- BOOL
Description:- UO_MX_FILL Operator to confirm when filtration is complete
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::37
--------------------------------------------------
Name:- r_mass_throttle
Type:- REAL
Description:- MX FILL Mass to reduce pressure near the end of filling
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::38
--------------------------------------------------
Name:- r_pres_hpca_filt2
Type:- REAL
Description:- MX FILL Reduced HPCA pressure near the end of filling
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::39
--------------------------------------------------
Name:- emx_mmfl_cmd
Type:- INT
Description:- Command to emx_mmfl
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::40
--------------------------------------------------
Name:- emx_mmfl_subs
Type:- INT
Description:- Substate selection of emx_mmfl
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::41
--------------------------------------------------
Name:- emc_gas_state
Type:- INT
Description:- Device State of emc_gas
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::42
--------------------------------------------------
Name:- emc_gas_subs
Type:- INT
Description:- Substate selection to emc_gas
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::43
--------------------------------------------------
Name:- emc_water_state
Type:- INT
Description:- Device state of emc_water
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::44
--------------------------------------------------
Name:- emc_water_subs
Type:- INT
Description:- Substate selection to emc_water
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::45
--------------------------------------------------
Name:- emc_gas_setpoint
Type:- REAL
Description:- emc_gas_setpoint
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::46
--------------------------------------------------
Name:- emx_mmfl_state
Type:- INT
Description:- Device State of emx_mmfl
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::47
--------------------------------------------------
Name:- emc_water_cmd
Type:- INT
Description:- Command to emc_water
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::48
--------------------------------------------------
Name:- emc_gas_cmd
Type:- INT
Description:- Command to emc_gas
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::49
--------------------------------------------------
Name:- emc_gas_medium_gas
Type:- INT
Description:- emc_gas_medium
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::50
--------------------------------------------------
Name:- ema_vessel_state
Type:- INT
Description:- Device State of ema_vessel
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::51
--------------------------------------------------
Name:- ema_vessel_subs
Type:- INT
Description:- Substate selection to ema_vessel
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::52
--------------------------------------------------
Name:- ema_vessel_cmd
Type:- INT
Description:- ema_vessel_cmd
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::53
--------------------------------------------------
Name:- r_pres_hpca_filt
Type:- REAL
Description:- MX FILL HPCA pressure for filling
ParameterInOut:- VAR


--------------------------------------------------
STEP::01
--------------------------------------------------
StepNo:- 01
Title:- UO_MX_FILL : Mx Filtration to FLz Unit Operation Commenced
Description:- Log Mx Fill operation begin time.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Log Mx Fill operation begin time.
Action:- //Log Mx Fill operation begin time.
SET;
S #_log_msg_fill_begin;


--------------------------------------------------
TRANSITION::01
--------------------------------------------------
TRNNo:- 01
Title:- Check Hygiene Status
EmptyTransition:- False
Description:- SMFL, SVT and FLZ are in Hygiene status STERILE?
Condition:- A(;
L  "dbCONST".BLK.HYGIENE.STERILE;
L #_emx_fill_hygiene;
==I;
);	
A(;
L  "dbCONST".BLK.HYGIENE.STERILE;
L #_emx_transfer_hygiene;
==I;
);
A(;
L  "dbCONST".BLK.HYGIENE.STERILE;
L #_emx_smfl_hygiene;
==I;
);


--------------------------------------------------
TRANSITION::02
--------------------------------------------------
TRNNo:- 02
Title:- Incorrect Hygiene Status
EmptyTransition:- False
Description:- Empty Transition
Condition:- A "uncondJump";


--------------------------------------------------
STEP::02
--------------------------------------------------
StepNo:- 02
Title:- UO_MX_FILL : Incorrect Hygiene Status
Description:- Log equipment is not in Hygiene status USED.
Prompt operator to confirm abort.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Log equipment is not in Hygiene status USED.
Send message to HMI
Action:- //Log time if one or more units not in correct Hygiene status USED
SET;
S #_log_msg_wrong_hygiene;
S #_prompt_abort;
S #smc.ABORTED;
Verification:- A "uncondJump";


--------------------------------------------------
TRANSITION::03
--------------------------------------------------
TRNNo:- 3.0000
Title:- Confirm Abort (Incorrect Hygiene Status)
EmptyTransition:- False
Description:- Confirm Abort (Incorrect Hygiene Status)
Condition:- A #_prompt_abort_confirm_yes;


--------------------------------------------------
STEP::03
--------------------------------------------------
StepNo:- 3.0000
Title:- UO_MX_FILL : Connect Pre Filter to to Flow Plate FPx1.
Description:- Prompt operator to confirm Pre-Filter is connected to FPn1 ZSCn113 by starting EMX1_SETUP_FILTER.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Reset MMFL EM.
Action:- L "dbCONST".BLK.CMD.STOP;
T #_emx_mmfl_cmd;
Verification:- A(;
L   #_emx_mmfl_state;
L   "dbCONST".BLK.STATE.STOPPED;
==I;
);

--------------------------------------------------
ACTION::02
--------------------------------------------------
Description:- Prompt operator to confirm Pre-Filter is connected to FPn1 ZSCn113 by starting EMX1_SETUP_FILTER.
Action:- //Start EMX1_SETUP_FILTER.
L "dbCONST".BLK.EMX1.SUBS.SETUP_FILTER;
T #_emx_mmfl_subs;
L "dbCONST".BLK.CMD.START;
T #_emx_mmfl_cmd;
Verification:- A(;
L #_emx_mmfl_subs;
L "dbCONST".BLK.EMX1.SUBS.SETUP_FILTER;
==I;
);


--------------------------------------------------
TRANSITION::04
--------------------------------------------------
TRNNo:- 4.0000
Title:- Confirmation Received
EmptyTransition:- False
Description:- Confirmation from the Operator Received
Condition:- //EMX1 Filter Setup completed.
A(;
L  #_emx_mmfl_state;
L  "dbCONST".BLK.STATE.COMPLETED;
==I;
);


--------------------------------------------------
STEP::04
--------------------------------------------------
StepNo:- 04
Title:- UO_MX_FILL : Start filtration.
Description:- Set all Mx equipment to safe state with Mx LCPA control enabled and vent valve closed.

Prompt operator to start filtration.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Set all Mx equipment to safe state with Mx LCPA control enabled and vent valve closed.

Action:- // Enable Mx LPCA pressure control.
L "dbCONST".SEL.GAS.LPCA;
T #_emc_gas_medium_gas;
L  #_r_pres_lpca_blanket;
T  #_emc_gas_setpoint;
L "dbCONST".BLK.EMC1.SUBS.PRESSURE;
T #_emc_gas_subs;
L  "dbCONST".BLK.CMD.RESTART;
T #_emc_gas_cmd;

//Set all Mx equipment to safe state.
L "dbCONST".BLK.CMD.STOP;
T  #_ema_vessel_cmd;
T  #_emc_water_cmd;
T  #_emv_vessel_cmd;
T  #_emx_transfer_cmd;
Verification:- A(;
L #_emc_gas_state;
L "dbCONST".BLK.STATE.COMPLETED;
==I;
);
A(;
L #_emc_water_state;
L "dbCONST".BLK.STATE.STOPPED;
==I;
);
A(;
L #_emv_vessel_state;
L "dbCONST".BLK.STATE.STOPPED;
==I;
);
A(;
L #_emx_transfer_state;
L "dbCONST".BLK.STATE.STOPPED;
==I;
);


--------------------------------------------------
ACTION::02
--------------------------------------------------
Description:- Prompt operator to start filtration and reset flags.
Action:- // Clear gas restart command
L  "dbCONST".BLK.CMD.START;
T #_emc_gas_cmd;

SET;
S #_prompt_filtration;
Verification:- A "uncondJump";


--------------------------------------------------
TRANSITION::05
--------------------------------------------------
TRNNo:- 05
Title:- Operator confirmation
EmptyTransition:- False
Description:- Wait for operator confirmation to start filtration
Condition:- A #_prompt_filtration_confirm_yes;


--------------------------------------------------
STEP::05
--------------------------------------------------
StepNo:- 05
Title:- UO_MX_FILL : Enable HEX Temperature control 
Description:- Log filtration start time.
Enable HEX Temperature control with TEMP_FILT setpoint.

Set Mx LPCA valve fully open.
Set Mx Outlet valve open (DISCHARGE).
Open MMFLx transfer path to FLz.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Reset EMs
Action:- L "dbCONST".BLK.CMD.STOP;
T  #_emt_hex_cmd;
T #_emx_mmfl_cmd;
T #_emx_smfl_cmd;
T #_emx_transfer_cmd;
T #_emv_vessel_cmd;

Verification:- A(;
L   #_emt_hex_state;
L   "dbCONST".BLK.STATE.STOPPED;
==I;
);
A(;
L   #_emx_mmfl_state;
L   "dbCONST".BLK.STATE.STOPPED;
==I;
);
A(;
L   #_emx_smfl_state;
L   "dbCONST".BLK.STATE.STOPPED;
==I;
);
A(;
L   #_emx_transfer_state;
L   "dbCONST".BLK.STATE.STOPPED;
==I;
);
A(;
L   #_emv_vessel_state;
L   "dbCONST".BLK.STATE.STOPPED;
==I;
);

--------------------------------------------------
ACTION::02
--------------------------------------------------
Description:- Log filtration start time.
Enable HEX Temperature control with TEMP_FILT setpoint.
Action:- //Log filtration start time.
SET;
S #_log_msg_filtration_start;
R #_prompt_filtration_confirm_yes;

L  #_r_temp_filt;
T  #_emt_hex_setpoint;

//Start EMT_PREEMPT.
L  "dbCONST".BLK.EMT1.SUBS.PREEMPT;
T  #_emt_hex_subs;
L  "dbCONST".BLK.CMD.START;
T  #_emt_hex_cmd;
Verification:- //Verify if emt_hex changed to substate PREEMPT.
A(;
L #_emt_hex_subs;
L  "dbCONST".BLK.EMT1.SUBS.PREEMPT;
==I;
);

--------------------------------------------------
ACTION::03
--------------------------------------------------
Description:- Open Mx outlet valve (STATE=DISCHARGE) and fully open LPCA valve.
Open MMFLx transfer path to FLz.
Action:- //Open Mx outlet valve.
L "dbCONST".BLK.EMV1.SUBS.DISCHARGE;
T #_emv_vessel_subs;
L "dbCONST".BLK.CMD.START;
T #_emv_vessel_cmd;

//Fully open LPCA valve 
L "dbCONST".SEL.GAS.LPCA;
T #_emc_gas_medium_gas;
L "dbCONST".BLK.EMC1.SUBS.VALVE;
T #_emc_gas_subs;
L  "dbCONST".BLK.CMD.RESTART;
T #_emc_gas_cmd;

//Start FILTER.
L "dbCONST".BLK.EMX1.SUBS.FILTER; 
T #_emx_mmfl_subs;
L "dbCONST".BLK.CMD.START;
T #_emx_mmfl_cmd;

L "dbCONST".BLK.EMX6.SUBS.FILTER_BLEED; 
T #_emx_smfl_subs;
L "dbCONST".BLK.CMD.START;
T #_emx_smfl_cmd;

L "dbCONST".BLK.EMX2.SUBS.FILL_MX;
T #_emx_transfer_subs;
L "dbCONST".BLK.CMD.START;
T #_emx_transfer_cmd;
Verification:- A(;
L #_emv_vessel_subs;
L "dbCONST".BLK.EMV1.SUBS.DISCHARGE;
==I;
);
A(;
L #_emc_gas_subs;
L "dbCONST".BLK.EMC1.SUBS.VALVE;
==I;
);
A(;
L #_emx_mmfl_subs;
L  "dbCONST".BLK.EMX1.SUBS.FILTER;
==I;
);
A(;
L #_emx_transfer_subs;
L  "dbCONST".BLK.EMX2.SUBS.FILL_MX;
==I;
);
A(;
L #_emx_smfl_subs;
L  "dbCONST".BLK.EMX6.SUBS.FILTER_BLEED;
==I;
);

--------------------------------------------------
ACTION::04
--------------------------------------------------
Description:- Clear EMC gas restart ccommand
Action:- L  "dbCONST".BLK.CMD.START;
T #_emc_gas_cmd;


--------------------------------------------------
TRANSITION::06
--------------------------------------------------
TRNNo:- 06
Title:- Emx_smfl completed.
EmptyTransition:- False
Description:- Emx_smfl completed.
Condition:- A(;
L   #_emt_hex_state;
L   "dbCONST".BLK.STATE.COMPLETED;
==I;
);
A(;
L   #_emx_mmfl_state;
L   "dbCONST".BLK.STATE.COMPLETED;
==I;
);
A(;
L   #_emx_smfl_state;
L   "dbCONST".BLK.STATE.COMPLETED;
==I;
);
A(;
L   #_emx_transfer_state;
L   "dbCONST".BLK.STATE.COMPLETED;
==I;
);
A(;
L   #_emv_vessel_state;
L   "dbCONST".BLK.STATE.COMPLETED;
==I;
);


--------------------------------------------------
STEP::06
--------------------------------------------------
StepNo:- 06
Title:- UO_MX_FILL : Open filter outlet valve.
Description:- Open filter outlet valve.

Close Mx LPCA valve.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Reset smfl and hex EMs
Action:- L "dbCONST".BLK.CMD.STOP;
T #_emx_smfl_cmd;
T #_emt_hex_cmd;
Verification:- A(;
L   #_emt_hex_state;
L   "dbCONST".BLK.STATE.STOPPED;
==I;
);
A(;
L   #_emx_smfl_state;
L   "dbCONST".BLK.STATE.STOPPED;
==I;
);

--------------------------------------------------
ACTION::02
--------------------------------------------------
Description:- Open filter outlet valve, DVx137.
Action:- //Set emx_smfl to substate FILTER.
L  "dbCONST".BLK.EMX6.SUBS.FILTER;
T  #_emx_smfl_subs;
L  "dbCONST".BLK.CMD.START;
T  #_emx_smfl_cmd;

//Set emt_hex to substate COOL.
L  "dbCONST".BLK.EMT1.SUBS.COOL;
T  #_emt_hex_subs;
L  "dbCONST".BLK.CMD.START;
T  #_emt_hex_cmd;
Verification:- //Verify if Emx_smfl changed to substate FILTER.
A(;
L  #_emx_smfl_subs;
L  "dbCONST".BLK.EMX6.SUBS.FILTER;
==I;
);
//Verify if emt_hex changed to substate COOL
A(;
L  #_emt_hex_subs;
L  "dbCONST".BLK.EMT1.SUBS.COOL;
==I;
);


--------------------------------------------------
TRANSITION::07
--------------------------------------------------
TRNNo:- 7.0000
Title:- Empty Transition
EmptyTransition:- False
Description:- Jump
Condition:- A "uncondJump";


--------------------------------------------------
STEP::07
--------------------------------------------------
StepNo:- 07
Title:- UO_MX_FILL : Enable HPCA pressure control.
Description:- Set Mx HPCA pressure control at setpoint PRES_HPCA_FILT.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- HPCA pressure control at setpoint PRES_HPCA_FILT.
Action:- // Enable Mx HPCA pressure control at setpoint PRES_HPCA_FILT.
L  #_r_pres_hpca_filt;
T  #_emc_gas_setpoint;
L  "dbCONST".SEL.GAS.HPCA;
T  #_emc_gas_medium_gas;
L  "dbCONST".BLK.EMC1.SUBS.PRESSURE;
T  #_emc_gas_subs;
L  "dbCONST".BLK.CMD.RESTART;
T  #_emc_gas_cmd;
Verification:- A(;
L #_emc_gas_subs;
L "dbCONST".BLK.EMC1.SUBS.PRESSURE;
==I;
);

--------------------------------------------------
ACTION::02
--------------------------------------------------
Description:- Clear EMC restart command
Action:- L  "dbCONST".BLK.CMD.START;
T  #_emc_gas_cmd;


--------------------------------------------------
TRANSITION::08
--------------------------------------------------
TRNNo:- 08
Title:- Mass of Vessel has reach throttled mass
EmptyTransition:- False
Description:- Mass_Throttle_Mx has reach set point.
Condition:- A(;
L #_r_mass_throttle;
L #_emm_vessel_mass_nett;
>=R;
);


--------------------------------------------------
STEP::08
--------------------------------------------------
StepNo:- 08
Title:- UO_MX_FILL : Enable HPCA pressure control for new set point.
Description:- Set Mx HPCA pressure control at setpoint PRES_HPCA_FILT set point 2.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- HPCA pressure control at setpoint 2, PRES_HPCA_FILT2.
Action:- // Set HPCA valve pressure control at setpoint 2
L #_r_pres_hpca_filt2;
T #_emc_gas_setpoint;
Verification:- A "uncondJump";


--------------------------------------------------
TRANSITION::09
--------------------------------------------------
TRNNo:- 09
Title:- Filtration complete?
EmptyTransition:- False
Description:- Wait for operator to confirm filtration is complete.
Condition:- A #_confirm_complete;


--------------------------------------------------
STEP::09
--------------------------------------------------
StepNo:- 09
Title:- UO_MX_FILL : Filtration completed.
Description:- Log operator confirmation transfer complete and filtration operation end time.
Set SMFL, SVT and FLZ hygiene status to USED.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Log operator confirmation transfer complete and filtration operation end time.
Set SMFL, SVT and FLZ hygiene status to USED.
Action:- //Log operator confirmation transfer complete 
SET;
S #_log_msg_filtration_complete;

//Log FILTRATION operation end time
S #_log_msg_filtration_end;


//Set SMFL, SVT and FLZ hygiene status to USED.
L  "dbCONST".BLK.HYGIENE.USED;
T #_emx_fill_hygiene;
T #_emx_transfer_hygiene;
T #_emx_smfl_hygiene;
Verification:- A "uncondJump";


--------------------------------------------------
TRANSITION::10
--------------------------------------------------
TRNNo:- 10
Title:- Empty Transition
EmptyTransition:- False
Description:- Jump
Condition:- A "uncondJump";


--------------------------------------------------
STEP::10
--------------------------------------------------
StepNo:- 10
Title:- UO_MX_FILL : Disable HPCA control
Description:- Disable HEX Temperature control and Mx HPCA control.

Close sterile filter outlet valve and path sequentially up to including Sy outlet valve.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Disable HEX temperature control, HPCA control and stop filter.
Action:- //Stop EMT_PREEMPT.
L "dbCONST".BLK.SAFE.CMD;
T  #_emt_hex_subs;
L "dbCONST".BLK.CMD.STOP;
T  #_emt_hex_cmd;

//Disable HPCA control.
L "dbCONST".BLK.SAFE.CMD;
T  #_emc_gas_subs;
L "dbCONST".BLK.CMD.STOP;
T  #_emc_gas_cmd;

//Stop FILTER.
L "dbCONST".BLK.SAFE.CMD;
T #_emx_mmfl_subs;
L "dbCONST".BLK.CMD.STOP;
T #_emx_mmfl_cmd;

L "dbCONST".BLK.SAFE.CMD;
T #_emx_transfer_subs;
L "dbCONST".BLK.CMD.STOP;
T #_emx_transfer_cmd;

L "dbCONST".BLK.SAFE.CMD;
T #_emx_smfl_subs;
L "dbCONST".BLK.CMD.STOP;
T #_emx_smfl_cmd;
Verification:- A(;
L #_emt_hex_state;
L "dbCONST".BLK.STATE.STOPPED;
==I;
);
A(;
L #_emc_gas_state;
L "dbCONST".BLK.STATE.STOPPED;
==I;
);
A(;
L #_emx_mmfl_state;
L "dbCONST".BLK.STATE.STOPPED;
==I;
);
A(;
L #_emx_transfer_state;
L "dbCONST".BLK.STATE.STOPPED;
==I;
);
A(;
L #_emx_smfl_state;
L "dbCONST".BLK.STATE.STOPPED;
==I;
);


--------------------------------------------------
TRANSITION::11
--------------------------------------------------
TRNNo:- 11
Title:- Empty transition.
EmptyTransition:- False
Description:- Unconditional jump
Condition:- A "uncondJump";


--------------------------------------------------
STEP::11
--------------------------------------------------
StepNo:- 11
Title:- UO_MX_FILL : Filling Unit Operation Completed
Description:- Disable Mx manway alarm and low pressure alarm.
Log Mx Fill operation end time.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Reset vessel EM
Action:- L "dbCONST".BLK.CMD.STOP;
T #_emv_vessel_cmd;
Verification:- A(;
L   #_emv_vessel_state;
L   "dbCONST".BLK.STATE.STOPPED;
==I;
);

--------------------------------------------------
ACTION::02
--------------------------------------------------
Description:- Disable Mx manway alarm and low pressure alarm.
Log Mx Fill operation end time.
Action:- //Set emv_vessel to substate MANWAY and start it to disable Manway alarm.
L "dbCONST".BLK.EMV1.SUBS.MANWAY;
T #_emv_vessel_subs;
L "dbCONST".BLK.CMD.START;
T #_emv_vessel_cmd;

//Log Mx Fill operation end time.
SET;
S #_log_msg_fill_end;
R #_prompt_abort_confirm_yes;
Verification:- A(;
L #_emv_vessel_subs;
L "dbCONST".BLK.EMV1.SUBS.MANWAY;
==I;
);


****************************************************************************************************
END SSS REPORT
****************************************************************************************************
