****************************************************************************************************
SEQUENCE STEP SCHEDULE
generated on 30/08/2018 12:18:31 PM by David Paspa
****************************************************************************************************





--------------------------------------------------
SEQUENCE
--------------------------------------------------

Name:- SETUP
Title:- PH_EMC3_SETUP
Description:- Setup Sy WFI and PW inlet line connection
Class:- EMC3
Level:- PH
STEP_LIST_FORMAT:- JU    S0@@STEP_NUM@@; // STEP-0@@STEP_NUM@@:
ACT_LIST_FORMAT:- JU    @@ACT_CODE@@@@STEP_NUM@@; //ACTION-@@ACT_NUM@@
HeaderName:- C3PSET
Version:- 0.4
RevisionHistory:- // SFC Revision History:
// Rev By               Date        CC         Note
// 0.4 Khairul Basar    20-Sep-2009 CC-09/023  Regenerated to add SQ_FINISH flag.
// 0.3 Khairul Basar    25-Aug-2009 CC-09/023  Change in Verific,& TRN code OR to AND
//                                             Change in the Last step.
// 0.2 Khairul Basar    18-Aug-2009            Added logic code
// 0.1 David Paspa      13-Jul-2009            SFC structural design
HMI_FORMAT:- @@STEP_NUM_INT@@,@@STEP_TITLE@@

--------------------------------------------------
PARAMETER::1
--------------------------------------------------
Name:- log_msg_confirm_connect
Type:- BOOL
Description:- PH_EMC3_SETUP Operator confirmed connections have been made.
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::2
--------------------------------------------------
Name:- log_msg_setup_begin
Type:- BOOL
Description:- PH_EMC3_SETUP begin time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::3
--------------------------------------------------
Name:- log_msg_setup_end
Type:- BOOL
Description:- PH_EMC3_SETUP end time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::4
--------------------------------------------------
Name:- zsc_fpwfi_state
Type:- INT
Description:- WFI line connection sensor switch
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::5
--------------------------------------------------
Name:- zsc_fppw_state
Type:- INT
Description:- PW line connection sensor switch state
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::6
--------------------------------------------------
Name:- prompt_pw_confirm_yes
Type:- BOOL
Description:- PH_EMC3_SETUP Operator to confirm PW line connected confirmed yes
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::7
--------------------------------------------------
Name:- prompt_wfi_confirm_yes
Type:- BOOL
Description:- PH_EMC3_SETUP Operator to confirm WFI line connected confirmed yes
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::8
--------------------------------------------------
Name:- prompt_pw
Type:- BOOL
Description:- PH_EMC3_SETUP Operator to confirm PW line connected
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::9
--------------------------------------------------
Name:- prompt_wfi
Type:- BOOL
Description:- PH_EMC3_SETUP Operator to confirm WFI line connected
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::10
--------------------------------------------------
Name:- medium_liquid
Type:- INT
Description:- Select Medium
ParameterInOut:- IN


--------------------------------------------------
STEP::01
--------------------------------------------------
StepNo:- 01
Title:- PH_EMC3_SETUP : SETUP begin.
Description:- Log SETUP begin time.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Log SETUP begin time.
Action:- //Log SETUP begin time.
SET;
S #_log_msg_setup_begin;

Verification:- A "uncondJump";


--------------------------------------------------
TRANSITION::01
--------------------------------------------------
TRNNo:- 01
Title:- Unconditional Jump
EmptyTransition:- False
Description:- Jump
Condition:- A "uncondJump";


--------------------------------------------------
STEP::02
--------------------------------------------------
StepNo:- 02
Title:- PH_EMC3_SETUP : Reset prompt.
Description:- Reset prompt.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Reset prompt.
Action:- //Reset prompt.
SET;
R #_prompt_wfi;
R #_prompt_pw;

Verification:- A "uncondJump";


--------------------------------------------------
TRANSITION::02
--------------------------------------------------
TRNNo:- 02
Title:- Continue if WFI or PS_WFI medium selected
EmptyTransition:- False
Description:- Continue if WFI or PS_WFI medium selected
Condition:- O(     ;
L #_medium_liquid;
L "dbCONST".SEL.LIQUID.WFI;
==I;
);
O(;
L #_medium_liquid;
L "dbCONST".SEL.LIQUID.PSWFI;
==I;
);



--------------------------------------------------
TRANSITION::03
--------------------------------------------------
TRNNo:- 3.0000
Title:- Continue if PW or PS_PW medium selected
EmptyTransition:- False
Description:- Continue if PW or PS_PW medium selected
Condition:- O(;
L #_medium_liquid;
L "dbCONST".SEL.LIQUID.PW;
==I;
);
O(;
L #_medium_liquid;
L "dbCONST".SEL.LIQUID.PSPW;
==I;
);



--------------------------------------------------
STEP::03
--------------------------------------------------
StepNo:- 03
Title:- PH_EMC3_SETUP : Prompt to connect WFI path
Description:- Prompt operator to connect WFI supply to the vessel Mx, Sy or FLz inlet line, based on selected medium

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Prompt operator to connect WFI supply to the vessel Mx, Sy or FLz inlet line, based on selected medium
Action:- //Prompt to connect WFI.
SET;
S #_prompt_wfi;
Verification:- A "uncondJump";


--------------------------------------------------
TRANSITION::04
--------------------------------------------------
TRNNo:- 4.0000
Title:- Operator confirmation
EmptyTransition:- False
Description:- Wait for operator to confirm connections have been made.
Condition:- A(;
O #_prompt_wfi_confirm_yes;
);


--------------------------------------------------
STEP::04
--------------------------------------------------
StepNo:- 04
Title:- PH_EMC3_SETUP : Prompt to connect PW supply path
Description:- Prompt operator to connect PW supply to the vessel Mx, Sy or FLz inlet line, based on selected medium

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Prompt operator to connect PW supply to the vessel Mx inlet line, based on selected medium.
Action:- //Prompt to connect PW.
SET;
S #_prompt_pw;

Verification:- A "uncondJump";


--------------------------------------------------
TRANSITION::05
--------------------------------------------------
TRNNo:- 05
Title:- Operator confirmation
EmptyTransition:- False
Description:- Wait for operator to confirm connections have been made.
Condition:- A(;
O #_prompt_pw_confirm_yes;
);


--------------------------------------------------
STEP::05
--------------------------------------------------
StepNo:- 05
Title:- PH_EMC3_SETUP : Check connection
Description:- Log operator confirmation and continue to check connection.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Log operator confirmation and reset flag.
Action:- SET;
S #_log_msg_confirm_connect;
R #_prompt_pw_confirm_yes;
R #_prompt_wfi_confirm_yes;
Verification:- A "uncondJump";


--------------------------------------------------
TRANSITION::06
--------------------------------------------------
TRNNo:- 06
Title:- WFI/PW/PS connections made
EmptyTransition:- False
Description:- Jump if correct switch ZSCx103 or ZSCx105 are made to ZSCx107
Condition:- //Check connection PW or PS_PW medium selected.
A(;
O(     ;
L #_medium_liquid;
L "dbCONST".SEL.LIQUID.PW;
==I;
  );
O(;
L #_medium_liquid;
L "dbCONST".SEL.LIQUID.PSPW;
==I;
  );
);
A(    ;
    L #_zsc_fppw_state; //PW or PW PS line is selected
    L "dbCONST".BLK.ZSC2.STATE.IN;
      ==I ;  
   )    ;

//Or Check connection WFI or PS_WFI medium selected.
O(;
A(;
O(     ;
L #_medium_liquid;
L "dbCONST".SEL.LIQUID.WFI;
==I;
  );
O(;
L #_medium_liquid;
L "dbCONST".SEL.LIQUID.PSWFI;
==I;
   );
);
A(;
   L #_zsc_fpwfi_state;  //WFI or WFI PS line is selcted
   L "dbCONST".BLK.ZSC2.STATE.IN;
   ==I ;  
   );
);


--------------------------------------------------
TRANSITION::07
--------------------------------------------------
TRNNo:- 07
Title:- Operator not setup correctly
EmptyTransition:- False
Description:- Jump unconditionally, the connections are not made correctly
Condition:- A "uncondJump";


--------------------------------------------------
STEP::06
--------------------------------------------------
StepNo:- 06
Title:- PH_EMC3_SETUP : Last Step
Description:- Log SETUP operation end time.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Log SETUP operation end time.
Action:- //Log SETUP operation end time.
SET;
S #_log_msg_setup_end;
Verification:- A "uncondJump";

****************************************************************************************************
END SSS REPORT
****************************************************************************************************
