****************************************************************************************************
SEQUENCE STEP SCHEDULE
generated on 3/05/2018 5:32:06 PM by David Paspa
****************************************************************************************************





--------------------------------------------------
SEQUENCE
--------------------------------------------------

Name:- SETUP_FILTER
Title:- Setup MMFLx for Filtration
Description:- Setup MMFLx for Filtration
Class:- EMX1
Level:- PH
STEP_LIST_FORMAT:- JU    S0@@STEP_NUM@@; // STEP-0@@STEP_NUM@@:
ACT_LIST_FORMAT:- JU    @@ACT_CODE@@@@STEP_NUM@@; //ACTION-@@ACT_NUM@@
HeaderName:- X1PFILT
Version:- 0.4
RevisionHistory:- // SFC Revision History:
// Rev By               Date        CC         Note
// 0.4 Khairul Basar    07-Sep-2009 CC-09/023  Prompt_filter is reset in Step2.
// 0.3 Khairul Basar    25-Aug-2009 CC-09/023  Change in Verific,& TRN code OR to AND
//                                             Change in the Last step.
// 0.2 Khairul Basar    18-Aug-2009            Added logic code
// 0.1 David Paspa      13-Jul-2009            SFC structural design
HMI_FORMAT:- @@STEP_NUM_INT@@,@@STEP_TITLE@@

--------------------------------------------------
PARAMETER::1
--------------------------------------------------
Name:- log_msg_confirm_connect
Type:- BOOL
Description:- Description
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::2
--------------------------------------------------
Name:- time_setup_filter_begin
Type:- TOD
Description:- Description
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::3
--------------------------------------------------
Name:- log_time_setup_filter_begin
Type:- BOOL
Description:- Description
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::4
--------------------------------------------------
Name:- time_setup_filter_end
Type:- TOD
Description:- Description
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::5
--------------------------------------------------
Name:- log_time_setup_filter_end
Type:- BOOL
Description:- Description
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::6
--------------------------------------------------
Name:- CIPSIP_Interlock_Armed
Type:- BOOL
Description:- CIPSIP interlock armed flag
ParameterInOut:- IN_OUT

--------------------------------------------------
PARAMETER::7
--------------------------------------------------
Name:- MMFLx_Interlock_Armed
Type:- BOOL
Description:- Filter interlock armed flag
ParameterInOut:- IN_OUT

--------------------------------------------------
PARAMETER::8
--------------------------------------------------
Name:- zsc_filter_state
Type:- INT
Description:- MMFLx Filter connection sensor switch.
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::9
--------------------------------------------------
Name:- prompt_connect_confirm_yes
Type:- BOOL
Description:- Confirmation on filter connection
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::10
--------------------------------------------------
Name:- prompt_connect
Type:- BOOL
Description:- Prompt operator to conect filter
ParameterInOut:- VAR


--------------------------------------------------
STEP::01
--------------------------------------------------
StepNo:- 01
Title:- PH_EMX1_SETUP_FILTER : SETUP CIPSIP begin.
Description:- Log SETUP FILTER begin time.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Log SETUP FILTER begin time.
Action:- //Log SETUP FILTER begin time.
L "dbCONST".CHRONO.CPU_TIME;
T #_time_setup_filter_begin;

SET;
S #_log_time_setup_filter_begin;
Verification:- A M1.1; //Always High flag


--------------------------------------------------
TRANSITION::01
--------------------------------------------------
TRNNo:- 01
Title:- Unconditional Jump
EmptyTransition:- False
Description:- Jump
Condition:- A M1.1; //Always High flag


--------------------------------------------------
STEP::02
--------------------------------------------------
StepNo:- 02
Title:- PH_EMX1_SETUP_FILTER : Prompt operator to connect jumpers
Description:- Prompt operator to connect jumpers on FP11:
M1 to Pre-Filter: ZSCx113

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Prompt operator to connect the filter
Action:- //Prompt to connect filter.
SET;
S #_prompt_connect;
R #_prompt_connect_confirm_yes;

//Reset filter and CIPSIP interlock armed flag
R #_CIPSIP_Interlock_Armed;
R #_MMFLx_Interlock_Armed;
Verification:- A M1.1; //Always High flag


--------------------------------------------------
TRANSITION::02
--------------------------------------------------
TRNNo:- 02
Title:- Operator confirmation
EmptyTransition:- False
Description:- Wait for operator to confirm connections has been made.
Condition:- A #_prompt_connect_confirm_yes;


--------------------------------------------------
STEP::03
--------------------------------------------------
StepNo:- 03
Title:- PH_EMX1_SETUP_FILTER : Check connection
Description:- Log operator confirmation and continue to check connection.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Log operator confirmation and continue to check connection.
Action:- SET;
S #_log_msg_confirm_connect;
R  #_prompt_connect_confirm_yes;
Verification:- A M1.1; //Always High flag


--------------------------------------------------
TRANSITION::03
--------------------------------------------------
TRNNo:- 03
Title:- Connection correctly inserted
EmptyTransition:- False
Description:- Jump if correct switch ZSCx113 connected
Condition:- //Verify the correct switch connected.
A(    ;
L #_zsc_filter_state;
L "dbCONST".BLK.ZSC2.STATE.IN;
      ==I ;  
  )     ;


--------------------------------------------------
TRANSITION::04
--------------------------------------------------
TRNNo:- 04
Title:- Operator not setup correctly
EmptyTransition:- False
Description:- Jump unconditionally, the connections are not made correctly
Condition:- A M1.1 ;// Always High Bit


--------------------------------------------------
STEP::04
--------------------------------------------------
StepNo:- 04
Title:- PH_EMX1_SETUP_FILTER : Setup Completed
Description:- Enable flowpath interlock armed flag.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Set the filter interlock armed flag 
Action:- SET;
S #_MMFLx_Interlock_Armed;
Verification:- A M1.1;



--------------------------------------------------
TRANSITION::05
--------------------------------------------------
TRNNo:- 5.0000
Title:- Phase Finish Normal
EmptyTransition:- False
Description:- Phase Finish Normal
Condition:- A M1.1; //Always High flag


--------------------------------------------------
STEP::05
--------------------------------------------------
StepNo:- 05
Title:- PH_EMX1_SETUP_FILTER : Last Step
Description:- Log SETUP FILTER operation end time.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Log SETUP FILTER operation end time.
Action:- //Log SETUP FILTER operation end time.
L "dbCONST".CHRONO.CPU_TIME;
T #_time_setup_filter_end;

SET;
S #_log_time_setup_filter_end;
Verification:- A M1.1; //Always High flag

****************************************************************************************************
END SSS REPORT
****************************************************************************************************
