****************************************************************************************************
SEQUENCE STEP SCHEDULE
generated on 12/05/2018 3:05:32 PM by David Paspa
****************************************************************************************************





--------------------------------------------------
SEQUENCE
--------------------------------------------------

SFCNo:- 003
Title:- UO_MX_MAKE
Description:- Sequence for Product Manufacture
Name:- MAKE
Class:- MX
Level:- UO
STEP_LIST_FORMAT:- JU    S0@@STEP_NUM@@; // STEP-0@@STEP_NUM@@:
ACT_LIST_FORMAT:- JU    @@ACT_CODE@@@@STEP_NUM@@; //ACTION-@@ACT_NUM@@
HeaderName:- MUMAKE
Version:- 0.2
RevisionHistory:- // SFC Revision History:
// Rev By               Date        CC         Note
// 0.2 Gerald Kontriner 10-Oct-2009            Logic design change
// 0.1 Gerald Kontriner 17-Sep-2009            SFC structural design
HMI_FORMAT:- @@STEP_NUM_INT@@,@@STEP_TITLE@@

--------------------------------------------------
PARAMETER::1
--------------------------------------------------
Name:- emc_gas_setpoint
Type:- REAL
Description:- Description
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::2
--------------------------------------------------
Name:- pres_lpca_make
Type:- REAL
Description:- Description
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::3
--------------------------------------------------
Name:- log_time_pmo_complete
Type:- BOOL
Description:- Flags the HMI that operator confirmed manufacturing is complete.
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::4
--------------------------------------------------
Name:- emc_water_timeout
Type:- TIME
Description:- Description
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::5
--------------------------------------------------
Name:- time_make_end
Type:- TOD
Description:- MAKE operation end time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::6
--------------------------------------------------
Name:- log_time_make_end
Type:- BOOL
Description:- Logging MAKE operation end time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::7
--------------------------------------------------
Name:- time_make_begin
Type:- TOD
Description:- MAKE operation start time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::8
--------------------------------------------------
Name:- log_time_make_begin
Type:- BOOL
Description:- Logging MAKE operation start time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::9
--------------------------------------------------
Name:- emm_vessel_state
Type:- INT
Description:- Device State of emm_vessel
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::10
--------------------------------------------------
Name:- emm_vessel_subs
Type:- INT
Description:- Substate selection to emm_vessel
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::11
--------------------------------------------------
Name:- emm_vessel_cmd
Type:- INT
Description:- Command to emm_vessel
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::12
--------------------------------------------------
Name:- ema_vessel_state
Type:- INT
Description:- Substate selection to ema_vessel
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::13
--------------------------------------------------
Name:- ema_vessel_subs
Type:- INT
Description:- Command to ema_vessel
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::14
--------------------------------------------------
Name:- ema_vessel_cmd
Type:- INT
Description:- Command to ema_vessel
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::15
--------------------------------------------------
Name:- Report_Evnt_036
Type:- BOOL
Description:- Tare operation end for batch report
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::16
--------------------------------------------------
Name:- Report_Evnt_035
Type:- BOOL
Description:- Tare operation start for batch report
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::17
--------------------------------------------------
Name:- Report_Evnt_034
Type:- BOOL
Description:- Make Measure end for batch report
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::18
--------------------------------------------------
Name:- Report_Evnt_033
Type:- BOOL
Description:- Make Measure Start for batch report
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::19
--------------------------------------------------
Name:- Report_Evnt_028
Type:- BOOL
Description:- Make Charge End for batch Report
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::20
--------------------------------------------------
Name:- Report_Evnt_027
Type:- BOOL
Description:- Make Charge Start for Batch Report
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::21
--------------------------------------------------
Name:- prompt_manway_complete_confirm_yes
Type:- BOOL
Description:- Operator confirms MANWAY disabling is complete
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::22
--------------------------------------------------
Name:- prompt_manway_complete
Type:- BOOL
Description:- Prompt operator to confirm when disabling MANWAY is finished
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::23
--------------------------------------------------
Name:- emv_vessel_state
Type:- INT
Description:- Device State of emv_vessel
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::24
--------------------------------------------------
Name:- emv_vessel_subs
Type:- INT
Description:- Substate selection to emv_vessel
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::25
--------------------------------------------------
Name:- emv_vessel_cmd
Type:- INT
Description:- Command to emv_vessel
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::26
--------------------------------------------------
Name:- cmd_Manway
Type:- BOOL
Description:- Command to enable Manway
ParameterInOut:- IN_OUT

--------------------------------------------------
PARAMETER::27
--------------------------------------------------
Name:- wfi_added
Type:- BOOL
Description:- Flag set after first adding of WFI
ParameterInOut:- IN_OUT

--------------------------------------------------
PARAMETER::28
--------------------------------------------------
Name:- time_make_agit_h
Type:- INT
Description:- Agitator runtime (Hours)
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::29
--------------------------------------------------
Name:- time_make_agit_m
Type:- INT
Description:- Agitator runtime (Minutes)
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::30
--------------------------------------------------
Name:- time_make_agit_s
Type:- INT
Description:- Agitator runtime (Seconds)
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::31
--------------------------------------------------
Name:- prompt_pmo_confirm_yes
Type:- BOOL
Description:- Operator confirms start of product manufacturing operations.
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::32
--------------------------------------------------
Name:- speed_setpoint
Type:- REAL
Description:- Agitator speed setpoint
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::33
--------------------------------------------------
Name:- charge_wfi_make
Type:- REAL
Description:- Value of Mass to be charged
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::34
--------------------------------------------------
Name:- cmd_CHARGE
Type:- BOOL
Description:- Charge additional WFI mass
ParameterInOut:- IN_OUT

--------------------------------------------------
PARAMETER::35
--------------------------------------------------
Name:- cmd_COOL
Type:- BOOL
Description:- Command to Cool vessel to predefined setpoint
ParameterInOut:- IN_OUT

--------------------------------------------------
PARAMETER::36
--------------------------------------------------
Name:- cmd_MIX
Type:- BOOL
Description:- Enable Agitation of Vessel content
ParameterInOut:- IN_OUT

--------------------------------------------------
PARAMETER::37
--------------------------------------------------
Name:- cmd_MEASURE
Type:- BOOL
Description:- Command to process correct mass measurement of vessel
ParameterInOut:- IN_OUT

--------------------------------------------------
PARAMETER::38
--------------------------------------------------
Name:- cmd_TARE
Type:- BOOL
Description:- Command to set TARE of weight measurement
ParameterInOut:- IN_OUT

--------------------------------------------------
PARAMETER::39
--------------------------------------------------
Name:- ema_vessel_runtime_h
Type:- INT
Description:- Agitator run time Hours for ema_vessel
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::40
--------------------------------------------------
Name:- ema_vessel_runtime_s
Type:- INT
Description:- Agitator run time Seconds for ema_vessel
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::41
--------------------------------------------------
Name:- ema_vessel_runtime_m
Type:- INT
Description:- Agitator run time Minutes for ema_vessel
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::42
--------------------------------------------------
Name:- ema_vessel_setpoint
Type:- REAL
Description:- Agitator speed setpoint
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::43
--------------------------------------------------
Name:- emc_water_state
Type:- INT
Description:- Device State of emc_water
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::44
--------------------------------------------------
Name:- emc_water_mass
Type:- REAL
Description:- Mass to charge emc_water
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::45
--------------------------------------------------
Name:- emc_water_medium
Type:- INT
Description:- Medium selection emc_water
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::46
--------------------------------------------------
Name:- emc_water_subs
Type:- INT
Description:- Substate selection to emc_water
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::47
--------------------------------------------------
Name:- emc_water_cmd
Type:- INT
Description:- Command to emc_water
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::48
--------------------------------------------------
Name:- time_pmo_complete
Type:- TOD
Description:- Logging time when operator confirmed that manufacturing is complete.
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::49
--------------------------------------------------
Name:- prompt_pmo_complete
Type:- BOOL
Description:- Prompt operator to confirm when product manufacturing operations are complete.
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::50
--------------------------------------------------
Name:- prompt_pmo
Type:- BOOL
Description:- Prompt operator to perform product manufacturing operations.
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::51
--------------------------------------------------
Name:- prompt_pmo_complete_confirm_yes
Type:- BOOL
Description:- Operator confirms manufacturing is complete.
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::52
--------------------------------------------------
Name:- emc_gas_medium
Type:- INT
Description:- Medium selection of emc_gas
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::53
--------------------------------------------------
Name:- emc_gas_subs
Type:- INT
Description:- Substate selection to emc_gas
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::54
--------------------------------------------------
Name:- emc_gas_state
Type:- INT
Description:- Device State of emc_gas
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::55
--------------------------------------------------
Name:- emc_gas_cmd
Type:- INT
Description:- Command to emc_gas
ParameterInOut:- OUT


--------------------------------------------------
STEP::01
--------------------------------------------------
StepNo:- 01
Title:- UO_MX_MAKE : Manufacturing Unit Operation Commenced
Description:- Log Mx Make operation begin time.
Set all Mx equipment to SAFE state (Set before sequence starts).
Load operator settings into the sequence memory.

Open LPCA valve. (STATE=PRESSURE_CONTROL)

Prompt operator perform product manufaturing operations PMO.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Set all Mx equipment to SAFE state (Set before sequence starts).
Enable LPCA control at PRES_LPCA_MAKE.
Prompt operator perform product manufaturing operations PMO.
Action:- //Log MAKE operation begin
L "dbCONST".CHRONO.CPU_TIME;
T #_time_make_begin;

SET;
S #_log_time_make_begin;

// Open LPCA valve
L #_pres_lpca_make;
T #_emc_gas_setpoint;
L "dbCONST".SEL.GAS.LPCA;
T #_emc_gas_medium;
L "dbCONST".BLK.EMC1.SUBS.PRESSURE;
T #_emc_gas_subs;
L "dbCONST".BLK.CMD.START;
T #_emc_gas_cmd;


//Prompt operator to perform product manufacturing operations.
SET;
S #_prompt_pmo;
R #_wfi_added;

//Report Event Reset
SET;
R #_Report_Evnt_027;
R #_Report_Evnt_028;
R #_Report_Evnt_033;
R #_Report_Evnt_034;
R #_Report_Evnt_035;
R #_Report_Evnt_036;
Verification:- A(;
L #_emc_gas_state;
L "dbCONST".BLK.EMC1.SUBS.PRESSURE;
==I;
);


--------------------------------------------------
TRANSITION::01
--------------------------------------------------
TRNNo:- 01
Title:- Start Production Operations.
EmptyTransition:- False
Description:- Operator confirms starts of Productions Operations.
Condition:- A #_prompt_pmo_confirm_yes;


--------------------------------------------------
STEP::02
--------------------------------------------------
StepNo:- 02
Title:- UO_MX_MAKE : Wait for manual batch operations
Description:- Prompt operator to confirm when product manufacturing operations are complete.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Prompt operator to confirm when product manufacturing operations are complete.
Action:- SET;
S #_prompt_pmo_complete;


//Stop used equipment modules
L "dbCONST".BLK.SAFE.CMD;
T  #_emc_water_subs;
L "dbCONST".BLK.CMD.STOP;
T  #_emc_water_cmd;

L "dbCONST".BLK.SAFE.CMD;
T  #_emm_vessel_subs;
L "dbCONST".BLK.CMD.STOP;
T  #_emm_vessel_cmd;

L "dbCONST".BLK.SAFE.CMD;
T  #_emv_vessel_subs;
L "dbCONST".BLK.CMD.STOP;
T  #_emv_vessel_cmd;
Verification:- A(;
L #_emc_water_state;
L "dbCONST".BLK.STATE.STOPPED;
==I;
);
A(;
L #_emm_vessel_state;
L "dbCONST".BLK.STATE.STOPPED;
==I;
);
A(;
L #_emv_vessel_state;
L "dbCONST".BLK.STATE.STOPPED;
==I;
);


--------------------------------------------------
TRANSITION::02
--------------------------------------------------
TRNNo:- 02
Title:- Manufacturing complete?
EmptyTransition:- False
Description:- Operator confirms manufacturing  is complete.
Condition:- A #_prompt_pmo_complete_confirm_yes;


--------------------------------------------------
TRANSITION::03
--------------------------------------------------
TRNNo:- 03
Title:- TARE selected?
EmptyTransition:- False
Description:- Operator selects TARE button
Condition:- //Check whether Tare operation command given and WFI still not added.
A #_cmd_TARE;
AN #_wfi_added;


--------------------------------------------------
TRANSITION::04
--------------------------------------------------
TRNNo:- 04
Title:- MEASURE selected?
EmptyTransition:- False
Description:- Operator selects MEASURE button
Condition:- //Check whether Measure operation command given.
A #_cmd_MEASURE;


--------------------------------------------------
TRANSITION::05
--------------------------------------------------
TRNNo:- 05
Title:- CHARGE selected?
EmptyTransition:- False
Description:- Operator selects CHARGE button
Condition:- //Check whether Charge operation command given.
A #_cmd_CHARGE;
AN(;
L #_emv_vessel_state;
L "dbCONST".BLK.EMV1.SUBS.MANWAY;
==I;
);




--------------------------------------------------
TRANSITION::06
--------------------------------------------------
TRNNo:- 06
Title:- MIX selected?
EmptyTransition:- False
Description:- Operator selects MIX button
Condition:- //Check whether Mix operation command given.
A #_cmd_MIX;
AN(;
L #_emv_vessel_state;
L "dbCONST".BLK.EMV1.SUBS.MANWAY;
==I;
);


--------------------------------------------------
TRANSITION::07
--------------------------------------------------
TRNNo:- 7.0000
Title:- MANWAY selected?
EmptyTransition:- False
Description:- Operator selects MANWAY button
Condition:- //Check whether Manway operation command given.
A #_cmd_Manway;


--------------------------------------------------
STEP::03
--------------------------------------------------
StepNo:- 03
Title:- UO_MX_MAKE : Tare vessel
Description:- Set emm_vessel to substate TARE.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Set substate to safe state and stop emm_vessel.
Action:- // Set emm_vessel to safe state.
L "dbCONST".BLK.SAFE.CMD;
T  #_emm_vessel_subs;
L "dbCONST".BLK.CMD.STOP;
T  #_emm_vessel_cmd;
Verification:- //Verify emm_vessel stopped.
A(;
L #_emm_vessel_state;
L "dbCONST".BLK.STATE.STOPPED;
==I;
);

--------------------------------------------------
ACTION::02
--------------------------------------------------
Description:- Set emm_vessel to substate TARE and start it.
Action:- // Set substate TARE.
L "dbCONST".BLK.EMM1.SUBS.TARE;
T #_emm_vessel_subs;
L "dbCONST".BLK.CMD.START;
T #_emm_vessel_cmd;

// Reset flags
SET;
R #_prompt_PMO_complete;

//Report Event set
SET;
S #_Report_Evnt_035;

//Report Event Reset
SET;
R #_Report_Evnt_036;
Verification:- //Verify current substate changed to TARE.
A(;
L #_emm_vessel_state;
L "dbCONST".BLK.EMM1.SUBS.TARE;
==I;
);


--------------------------------------------------
TRANSITION::08
--------------------------------------------------
TRNNo:- 08
Title:- Substate TARE complete
EmptyTransition:- False
Description:- Check if substate TARE is complete.
Condition:- A(;
L   #_emm_vessel_state;
L   "dbCONST".BLK.STATE.COMPLETED;
==I;
);


--------------------------------------------------
STEP::04
--------------------------------------------------
StepNo:- 04
Title:- UO_MX_MAKE : Reset command
Description:- Reset TARE command.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Reset TARE command.
Action:- // Reset TARE command.
SET;
R #_cmd_TARE;

//Report Event set
SET;
S #_Report_Evnt_036;

//Report Event Reset
SET;
R #_Report_Evnt_035;
Verification:- A "uncondJump";


--------------------------------------------------
TRANSITION::09
--------------------------------------------------
TRNNo:- 09
Title:- Empty Transition
EmptyTransition:- False
Description:- Jump
Condition:- A "uncondJump";


--------------------------------------------------
STEP::05
--------------------------------------------------
StepNo:- 05
Title:- UO_MX_MAKE : Measure vessel mass
Description:- Set emm_vessel to substate MEASURE.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Set substate to safe state and stop emm_vessel.
Action:- L "dbCONST".BLK.SAFE.CMD;
T  #_emm_vessel_subs;
L "dbCONST".BLK.CMD.STOP;
T  #_emm_vessel_cmd;
Verification:- //Verify emm_vessel stopped.
A(;
L #_emm_vessel_state;
L "dbCONST".BLK.STATE.STOPPED;
==I;
);

--------------------------------------------------
ACTION::02
--------------------------------------------------
Description:- Set emm_vessel to substate MEASURE and start it.
Action:- L "dbCONST".BLK.EMM1.SUBS.MEASURE; 
T #_emm_vessel_subs;
L "dbCONST".BLK.CMD.START;
T #_emm_vessel_cmd;

// Reset flag.
SET;
R #_prompt_PMO_complete;

//Report Event set
SET;
S #_Report_Evnt_033;

//Report Event Reset
SET;
R #_Report_Evnt_034;
Verification:- //Verify current substate changed to MEASURE.
A(;
L #_emm_vessel_state;
L "dbCONST".BLK.EMM1.SUBS.MEASURE; 
==I;
);


--------------------------------------------------
TRANSITION::10
--------------------------------------------------
TRNNo:- 10
Title:- Substate MEASURE complete
EmptyTransition:- False
Description:- Check if substate MEASURE is complete.
Condition:- A(;
L   #_emm_vessel_state;
L   "dbCONST".BLK.STATE.COMPLETED;
==I;
);


--------------------------------------------------
STEP::06
--------------------------------------------------
StepNo:- 06
Title:- UO_MX_MAKE : Reset command
Description:- Reset MEASURE command.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Reset MEASURE command.
Action:- // Reset flag.
SET;
R #_cmd_MEASURE;

//Report Event set
SET;
S #_Report_Evnt_034;

//Report Event Reset
SET;
R #_Report_Evnt_033;
Verification:- A "uncondJump";


--------------------------------------------------
TRANSITION::11
--------------------------------------------------
TRNNo:- 11
Title:- Empty Transition
EmptyTransition:- False
Description:- Jump
Condition:- A "uncondJump";


--------------------------------------------------
STEP::07
--------------------------------------------------
StepNo:- 07
Title:- UO_MX_MAKE : Charging with WFI
Description:- Set emc_water to substate CHARGE and select WFI and amount of mass to charge, charge_wfi_make.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Set emc_water to substate CHARGE and select WFI and amount of mass to charge.
Action:- L T#10M;
T #_emc_water_timeout;

//Load Mass to charge Mx.
L #_charge_wfi_make;
T #_emc_water_mass;

//Select WFI medium.
L "dbCONST".SEL.LIQUID.WFI;
T #_emc_water_medium;

//Start Charge
L "dbCONST".BLK.EMC2.SUBS.CHARGE;
T #_emc_water_subs;
L "dbCONST".BLK.CMD.START;
T #_emc_water_cmd;


SET;
S #_wfi_added;

//Report Event Set
SET;
S #_Report_Evnt_027;
Verification:- //Verify current state.
A(;
L #_emc_water_state;
L "dbCONST".BLK.EMC2.SUBS.CHARGE;
==I;
);


--------------------------------------------------
TRANSITION::12
--------------------------------------------------
TRNNo:- 12.0000
Title:- Charge WFI complete?
EmptyTransition:- False
Description:- Check if charging WFI is completed.
Condition:- A(;
L   #_emc_water_state;
L   "dbCONST".BLK.STATE.COMPLETED;
==I;
);


--------------------------------------------------
STEP::08
--------------------------------------------------
StepNo:- 08
Title:- UO_MX_MAKE : Reset command
Description:- Reset CHARGE command.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Reset CHARGE command.
Action:- // Reset flag.
SET;
R #_cmd_CHARGE;

//Report Event Set
SET;
S #_Report_Evnt_028;
Verification:- A "uncondJump";


--------------------------------------------------
TRANSITION::13
--------------------------------------------------
TRNNo:- 13
Title:- Empty Transition
EmptyTransition:- False
Description:- Jump
Condition:- A "uncondJump";


--------------------------------------------------
STEP::09
--------------------------------------------------
StepNo:- 09
Title:- UO_MX_MAKE : MIXING vessel contents
Description:- Set ema_vessel to substate MIX with pre-selected runtime and speed.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Set substate to safe state and stop ema_vessel.
Action:- L "dbCONST".BLK.SAFE.CMD;
T  #_ema_vessel_subs;
L "dbCONST".BLK.CMD.STOP;
T  #_ema_vessel_cmd;
Verification:- //Verify ema_vessel stopped status.
A(;
L #_ema_vessel_state;
L "dbCONST".BLK.STATE.STOPPED;
==I;
);

--------------------------------------------------
ACTION::02
--------------------------------------------------
Description:- Set ema_vessel to substate MIX with pre-selected timeout and speed.
Action:- //Transfer input parameter from HMI to EM
//Load Agitator speed setpoint.
L #_speed_setpoint;
T #_ema_vessel_setpoint;
//Load Agitator runtime.
L #_time_make_agit_h;
T #_ema_vessel_runtime_h;
L #_time_make_agit_m;
T #_ema_vessel_runtime_m;
L #_time_make_agit_s;
T #_ema_vessel_runtime_s;

// Start Agitator 
L "dbCONST".BLK.EMA1.SUBS.MIX;
T #_ema_vessel_subs;
L "dbCONST".BLK.CMD.START;
T #_ema_vessel_cmd;
Verification:- //Substate changed to Mix.
A(;
L #_ema_vessel_state;
L "dbCONST".BLK.EMA1.SUBS.MIX;
==I;
);


--------------------------------------------------
TRANSITION::14
--------------------------------------------------
TRNNo:- 14.0000
Title:- Mixing complete?
EmptyTransition:- False
Description:- Check if Mixing is completed.
Condition:- A(;
L   #_ema_vessel_state;
L   "dbCONST".BLK.STATE.COMPLETED;
==I;
);


--------------------------------------------------
STEP::10
--------------------------------------------------
StepNo:- 10
Title:- UO_MX_MAKE : Reset MIX command.
Description:- Reset MIX command.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Reset CHARGE command.
Action:- // Reset flag.
SET;
R #_cmd_MIX;
Verification:- A "uncondJump";


--------------------------------------------------
TRANSITION::15
--------------------------------------------------
TRNNo:- 15
Title:- Empty Transition
EmptyTransition:- False
Description:- Jump
Condition:- A "uncondJump";


--------------------------------------------------
STEP::11
--------------------------------------------------
StepNo:- 11
Title:- UO_MX_MAKE : Disabling manway alarm
Description:- Disable Mx Low and LowLow Pressure Alarm.
Disable Mx manway alarm.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Close LPCA valve
Action:- //Set substate to safe state and stop emc_gas.
L "dbCONST".BLK.SAFE.CMD;
T #_emc_gas_subs;
L "dbCONST".BLK.CMD.STOP;
T  #_emc_gas_cmd;
Verification:- //Verify emc_gas stopped.
A(;
L #_emc_gas_state;
L "dbCONST".BLK.STATE.STOPPED;
==I;
);

--------------------------------------------------
ACTION::02
--------------------------------------------------
Description:- Disable Mx Low and LowLow Pressure Alarm.
Disable Mx manway alarm and prompt operator to confirm when MANWAY disabling finished.
Action:- //Set emv_vessel to substate MANWAY and start it to disable Manway alarm.
L "dbCONST".BLK.EMV1.SUBS.MANWAY;
T #_emv_vessel_subs;
L "dbCONST".BLK.CMD.START;
T #_emv_vessel_cmd;


SET;
S #_prompt_manway_complete;
Verification:- //Verify emv_vessel changed to substate MANWAY.
A(;
L #_emv_vessel_state;
L "dbCONST".BLK.EMV1.SUBS.MANWAY;
==I;
);


--------------------------------------------------
TRANSITION::16
--------------------------------------------------
TRNNo:- 16
Title:- Complete with MANWAY charges?
EmptyTransition:- False
Description:- Operator confirm charges via MANWAY are completed.
Condition:- A #_prompt_manway_complete_confirm_yes;


--------------------------------------------------
STEP::12
--------------------------------------------------
StepNo:- 12
Title:- UO_MX_MAKE : Reset command
Description:- Enable MANWAY alarm and reset MANWAY command.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Reset MANWAY command.
Action:- //Stop emv_vessel.
L "dbCONST".BLK.SAFE.CMD;
T #_emv_vessel_subs;
L "dbCONST".BLK.CMD.STOP;
T #_emv_vessel_cmd;


// Reset flags
SET;
R #_cmd_Manway;
R #_prompt_manway_complete_confirm_yes;

Verification:- A "uncondJump";


--------------------------------------------------
TRANSITION::17
--------------------------------------------------
TRNNo:- 17
Title:- Empty Transition
EmptyTransition:- False
Description:- Jump
Condition:- A "uncondJump";


--------------------------------------------------
STEP::13
--------------------------------------------------
StepNo:- 13
Title:- UO_MX_MAKE : Isolate WFI and vessel.
Description:- Log operator confirmation.
Isolate WFI and vessel.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Log time when operator confirmed manufacturing complete, start timer and isolate WFI.
Action:- //Log time when operator confirmed manufacturing complete.
L "dbCONST".CHRONO.CPU_TIME;
T #_time_pmo_complete;

SET;
S #_log_time_pmo_complete;
R #_prompt_pmo_complete_confirm_yes;

// Isolate WFI
L "dbCONST".BLK.EMC2.SUBS.ISOLATE;
T #_emc_water_subs;
L "dbCONST".BLK.CMD.START;
T #_emc_water_cmd;
Verification:- //Verify if emc_water changed to substate ISOLATE.
A(;
L #_emc_water_state;
L "dbCONST".BLK.EMC2.SUBS.ISOLATE;
==I;
);
A #SQ_TIMER.IN;

--------------------------------------------------
ACTION::02
--------------------------------------------------
Description:- Isolate Vessel
Action:- // Isolate Vessel
L     "dbCONST".BLK.EMV1.SUBS.ISOLATE;
T     #_emv_vessel_subs; 
L     "dbCONST".BLK.CMD.START;
T     #_emv_vessel_cmd; 
Verification:- A(; 
L     #_emv_vessel_state; 
L     "dbCONST".BLK.EMV1.SUBS.ISOLATE;
==I; 
); 


--------------------------------------------------
TRANSITION::18
--------------------------------------------------
TRNNo:- 18
Title:- WFI and Vessel isolated?
EmptyTransition:- False
Description:- WFI and Vessel isolated.
Condition:- A(; 
L     #_emc_water_state; 
L   "dbCONST".BLK.STATE.COMPLETED;
==I; 
); 
A(; 
L    #_emv_vessel_state; 
L   "dbCONST".BLK.STATE.COMPLETED;
==I; 
); 


--------------------------------------------------
STEP::14
--------------------------------------------------
StepNo:- 14
Title:- UO_MX_MAKE : Manufacturing Unit Operation Completed
Description:- Enable LPCA pressure control and enable Mx Manway alarm.
Enable Mx Low and LowLow Pressure Alarm.
Set other equipment to safe state.
Log Mx Make operation end time.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Enable LPCA pressure control and enable Mx Manway alarm.
Action:- //Stop emv_vessel.
L "dbCONST".BLK.SAFE.CMD;
T #_emv_vessel_subs;
L "dbCONST".BLK.CMD.STOP;
T #_emv_vessel_cmd;

//Enable LPCA pressure control.
L "dbCONST".BLK.EMC1.SUBS.PRESSURE;
T #_emc_gas_subs;
L "dbCONST".BLK.CMD.START;
T #_emc_gas_cmd;
Verification:- //Verify emv_vessel stopped.
A(;
L #_emv_vessel_state;
L "dbCONST".BLK.STATE.STOPPED;
==I;
);
A(;
L #_emc_gas_state;
L "dbCONST".BLK.EMC1.SUBS.PRESSURE;
==I;
);

--------------------------------------------------
ACTION::02
--------------------------------------------------
Description:- Set other equipment to safe state and reset flags.
Log Mx Make operation end time.
Action:- //Set substate to safe state and stop equipments..
L "dbCONST".BLK.SAFE.CMD;
T  #_emc_water_subs;
L "dbCONST".BLK.CMD.STOP;
T  #_emc_water_cmd;

L "dbCONST".BLK.SAFE.CMD;
T  #_ema_vessel_subs;
L "dbCONST".BLK.CMD.STOP;
T  #_ema_vessel_cmd;

L "dbCONST".BLK.SAFE.CMD;
T  #_emv_vessel_subs;
L "dbCONST".BLK.CMD.STOP;
T  #_emv_vessel_cmd;

L "dbCONST".BLK.SAFE.CMD;
T  #_emm_vessel_subs;
L "dbCONST".BLK.CMD.STOP;
T  #_emm_vessel_cmd;

//Reset flags.
R #_cmd_MEASURE;
R #_cmd_CHARGE;
R #_cmd_MIX;
R #_cmd_COOL;
R #_cmd_Manway;
R #_cmd_TARE;

//Report Event Reset
SET;
R #_Report_Evnt_027;
R #_Report_Evnt_028;
R #_Report_Evnt_033;
R #_Report_Evnt_034;
R #_Report_Evnt_035;

//Log MAKE operation end time.
L "dbCONST".CHRONO.CPU_TIME;
T #_time_make_end;

SET;
S #_log_time_make_end;
Verification:- A(;
L #_emc_water_state;
L "dbCONST".BLK.STATE.STOPPED;
==I;
);
A(;
L #_ema_vessel_state;
L "dbCONST".BLK.STATE.STOPPED;
==I;
);
A(;
L #_emv_vessel_state;
L "dbCONST".BLK.STATE.STOPPED;
==I;
);
A(;
L #_emm_vessel_state;
L "dbCONST".BLK.STATE.STOPPED;
==I;
);

****************************************************************************************************
END SSS REPORT
****************************************************************************************************
