****************************************************************************************************
SEQUENCE STEP SCHEDULE
generated on 1/05/2018 6:25:30 PM by David Paspa
****************************************************************************************************





--------------------------------------------------
SEQUENCE
--------------------------------------------------

Name:- SETUP
Title:- PH_EMX2_SETUP
Description:- Setup filling machine connection flow
Class:- EMX2
Level:- PH
STEP_LIST_FORMAT:- JU    S0@@STEP_NUM@@; // STEP-0@@STEP_NUM@@:
ACT_LIST_FORMAT:- JU    @@ACT_CODE@@@@STEP_NUM@@; //ACTION-@@ACT_NUM@@
HeaderName:- X3PSET
Version:- 0.4
RevisionHistory:- // SFC Revision History:
// Rev By               Date        CC         Note
// 0.4 Khairul Basar    09-Sep-2009 CC-09/023  In Last Step, Prompt & confirm flag 
//                                             reset code added.
// 0.3 Khairul Basar    25-Aug-2009 CC-09/023  Change in Verific & TRN code OR to AND
//                                             Change in the Last step.
// 0.2 Khairul Basar    18-Aug-2009            Added logic code
// 0.1 David Paspa      13-Jul-2009            SFC structural design
HMI_FORMAT:- @@STEP_NUM_INT@@,@@STEP_TITLE@@

--------------------------------------------------
PARAMETER::1
--------------------------------------------------
Name:- log_msg_confirm_connect
Type:- BOOL
Description:- Operator confirms connections have been made.
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::2
--------------------------------------------------
Name:- time_setup_begin
Type:- TOD
Description:- Logging SETUP operation start time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::3
--------------------------------------------------
Name:- log_time_setup_begin
Type:- BOOL
Description:- Flags the HMI that SETUP started
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::4
--------------------------------------------------
Name:- time_setup_end
Type:- TOD
Description:- Description
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::5
--------------------------------------------------
Name:- log_time_setup_end
Type:- BOOL
Description:- Description
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::6
--------------------------------------------------
Name:- flz
Type:- INT
Description:- Filling line selection
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::7
--------------------------------------------------
Name:- mx
Type:- INT
Description:- Manufacturing vessel (M1/M2) selection
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::8
--------------------------------------------------
Name:- zsc_bfs2_state
Type:- INT
Description:- S1 to F2P1 flowpath indicator
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::9
--------------------------------------------------
Name:- zsc_filter_state
Type:- INT
Description:- VTL1 to M2 flowpath indicator
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::10
--------------------------------------------------
Name:- zsc_cipsip_state
Type:- INT
Description:- S1 to F1P1 flowpath indicator
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::11
--------------------------------------------------
Name:- zsc_smfl1_state
Type:- INT
Description:- VTL1 to M1 flowpath indicator
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::12
--------------------------------------------------
Name:- flowpath_fillmc
Type:- BOOL
Description:- Enable flow path to filling machine
ParameterInOut:- IN_OUT

--------------------------------------------------
PARAMETER::13
--------------------------------------------------
Name:- prompt_connect_confirm_yes
Type:- BOOL
Description:- confirm that filling machine line connected
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::14
--------------------------------------------------
Name:- prompt_connect
Type:- BOOL
Description:- Prompt to connect filling machine line
ParameterInOut:- VAR


--------------------------------------------------
STEP::01
--------------------------------------------------
StepNo:- 01
Title:- PH_EMC2_SETUP : SETUP begin.
Description:- Log SETUP begin time.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Log SETUP begin time.
Action:- //Log SETUP begin time.
L "dbCONST".CHRONO.CPU_TIME;
T #_time_setup_begin;

SET;
S #_log_time_setup_begin;
Verification:- A M1.1; //Always High flag


--------------------------------------------------
TRANSITION::01
--------------------------------------------------
TRNNo:- 01
Title:- Unconditional Jump
EmptyTransition:- False
Description:- Jump
Condition:- A M1.1; //Always High flag


--------------------------------------------------
STEP::02
--------------------------------------------------
StepNo:- 2.0000
Title:- PH_EMX2_SETUP : Prompt to connect filling machine
Description:- Prompt operator to connect filling machine flowpath

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Prompt operator to connect filling machine flowpath 
Action:- SET;
S #_prompt_connect;
R #_prompt_connect_confirm_yes;
R #_flowpath_fillmc;
Verification:- A M1.1; //Always High flag


--------------------------------------------------
TRANSITION::02
--------------------------------------------------
TRNNo:- 2.0000
Title:- Operator confirmation
EmptyTransition:- False
Description:- Wait for operator to confirm connections has been made.
Condition:- A #_prompt_connect_confirm_yes;


--------------------------------------------------
STEP::03
--------------------------------------------------
StepNo:- 3.0000
Title:- PH_EMX2_SETUP : Check connection
Description:- Log operator confirmation and continue to check connection.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Log operator confirmation 
Action:- SET;
S #_log_msg_confirm_connect;
R #_prompt_connect_confirm_yes;
Verification:- A M1.1; //Always High flag


--------------------------------------------------
TRANSITION::03
--------------------------------------------------
TRNNo:- 3.0000
Title:- Connection correctly inserted
EmptyTransition:- False
Description:- Jump if correct switch conection has been made.
Condition:- //Check switch status for respective connection.

A(;
	A(;
	//If M1 selected, then check the resp. flowpath status.
		A(;
		L #_mx;
		L "dbCONST".SEL.MX.M1;
		==I ;  
	);
		A(;
		L #_zsc_smfl1_state;
		L "dbCONST".BLK.ZSC2.STATE.IN;
		==I ;  
		);
	);
	//If M2 selected, then check the resp. flowpath status.
	O(;
		A(;
		L #_mx;
		L "dbCONST".SEL.MX.M2;
		==I ;  
		);
		A(;
		L #_zsc_filter_state;
		L "dbCONST".BLK.ZSC2.STATE.IN;
		==I ;  
		);
	);
);

A(;
	A(;
	//If F1P1 selected, then check the resp. flowpath status.
		A(;
		L #_flz;
		L "dbCONST".SEL.FLZ.FL1;
		==I ;  
		);
		A(;
		L #_zsc_cipsip_state;
		L "dbCONST".BLK.ZSC2.STATE.IN;
		==I ;  
		);
	);
	O(;
	//If F2P1 selected, then check the resp. flowpath status.
		A(;
		L #_flz;
		L "dbCONST".SEL.FLZ.FL2;
		==I ;  
		);
		A(;
		L #_zsc_bfs2_state;
		L "dbCONST".BLK.ZSC2.STATE.IN; 
		==I ;  
		);
	);
);


--------------------------------------------------
TRANSITION::04
--------------------------------------------------
TRNNo:- 4.0000
Title:- Operator not setup correctly
EmptyTransition:- 0.0000
Description:- Jump unconditionally, the connections are not made correctly
Condition:- A M1.1; //Always High flag


--------------------------------------------------
STEP::04
--------------------------------------------------
StepNo:- 4.0000
Title:- PH_EMX2_SETUP : Setup completed
Description:- Set the flowpath flag.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Set the flowpath flag.
Action:- SET;
S #_flowpath_fillmc;
Verification:- A M1.1; //Always High flag


--------------------------------------------------
TRANSITION::05
--------------------------------------------------
TRNNo:- 5.0000
Title:- Phase Finish Normal
EmptyTransition:- False
Description:- Phase Finish Normal
Condition:- A M1.1; //Always High flag


--------------------------------------------------
STEP::05
--------------------------------------------------
StepNo:- 5.0000
Title:- PH_EMX2_SETUP : Last Step
Description:- Log SETUP operation end time.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Log SETUP operation end time.
Action:- //Log SETUP operation end time.
L "dbCONST".CHRONO.CPU_TIME;
T #_time_setup_end;

SET;
S #_log_time_setup_end;
Verification:- A M1.1; //Always High flag

****************************************************************************************************
END SSS REPORT
****************************************************************************************************
