****************************************************************************************************
SEQUENCE STEP SCHEDULE
generated on 28/06/2018 4:47:54 PM by David Paspa
****************************************************************************************************





--------------------------------------------------
SEQUENCE
--------------------------------------------------

SFCNo:- 3
Title:- RP_PCMX_CIPSIP
Description:- Recipe Procedure for Equipment CIP and SIP
Name:- CIPSIP
Class:- PCMX
Level:- RP
STEP_LIST_FORMAT:- JU    S0@@STEP_NUM@@; // STEP-0@@STEP_NUM@@:
ACT_LIST_FORMAT:- JU    @@ACT_CODE@@@@STEP_NUM@@; //ACTION-@@ACT_NUM@@
HeaderName:- PCMCIP
Version:- 0.4
RevisionHistory:- // SFC Revision History:
// Rev By               Date        CC         Note
// 0.4 Srinivas Nimmala 22-Jan-2010 CC-10/005  Added Hpn2 pulse delay timer
// 0.3 Srinivas Nimmala 22-Dec-2009 CC-09/071  Disable cooling after Hpn2 purge
// 0.3 Steve Linehan    22-Dec-2009 CC-09/070  Disable the agitator before empties the vessel
// 0.2 David Paspa      26-Oct-2009            Added synch flags
// 0.1 Gerald Kontriner 18-Sep-2009            SFC structural design
HMI_FORMAT:- @@STEP_NUM_INT@@,@@STEP_TITLE@@

--------------------------------------------------
PARAMETER::1
--------------------------------------------------
Name:- vessel_mx
Type:- INT
Description:- Manufacturing vessel selection M1 or M2
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::2
--------------------------------------------------
Name:- release_mx
Type:- BOOL
Description:- Release Mx
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::3
--------------------------------------------------
Name:- log_time_cipsip_begin
Type:- BOOL
Description:- Flags the HMI that CIPSIP started
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::4
--------------------------------------------------
Name:- log_time_cipsip_end
Type:- BOOL
Description:- Flags the HMI that CIPSIP ended
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::5
--------------------------------------------------
Name:- Report_Evnt_025
Type:- BOOL
Description:- SIP end SY for batch report
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::6
--------------------------------------------------
Name:- Report_Evnt_024
Type:- BOOL
Description:- SIP Start SY for batch report
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::7
--------------------------------------------------
Name:- Report_Evnt_023
Type:- BOOL
Description:- Vacuum end SY for batch report
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::8
--------------------------------------------------
Name:- Report_Evnt_022
Type:- BOOL
Description:- Vacuum Start Sy for batch report
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::9
--------------------------------------------------
Name:- Report_Evnt_020
Type:- BOOL
Description:- SIP end Mx for batch report
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::10
--------------------------------------------------
Name:- Report_Evnt_019
Type:- BOOL
Description:- SIP Start MX for batch Report
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::11
--------------------------------------------------
Name:- Report_Evnt_018
Type:- BOOL
Description:- Vacuum end Mx for Sip for batch report
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::12
--------------------------------------------------
Name:- Report_Evnt_017
Type:- BOOL
Description:- Vacuum Start Mx Sip for batch report
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::13
--------------------------------------------------
Name:- Report_Evnt_002
Type:- BOOL
Description:- Vacuum Hold Test End for the batch report
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::14
--------------------------------------------------
Name:- Report_Evnt_001
Type:- BOOL
Description:- Vacuum Hold Test Start for Batch Report
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::15
--------------------------------------------------
Name:- prompt_abort
Type:- BOOL
Description:- Operator Acknowledge Abort Due to Invalid Hygiene Status
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::16
--------------------------------------------------
Name:- prompt_abort_confirm_yes
Type:- BOOL
Description:- Operator Acknowledge Abort Due to Invalid Hygiene Status
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::17
--------------------------------------------------
Name:- log_msg_wrong_hygiene
Type:- BOOL
Description:- HMI message: wrong hygiene status of unit Mx
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::18
--------------------------------------------------
Name:- toggle_mode
Type:- BOOL
Description:- Toggle mode of all used units
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::19
--------------------------------------------------
Name:- log_time_wrong_hygiene
Type:- BOOL
Description:- Logging wrong hygiene status of unit Mx
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::20
--------------------------------------------------
Name:- time_wrong_hygiene
Type:- TOD
Description:- Logging time wrong hygiene status detected
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::21
--------------------------------------------------
Name:- time_cipsip_end
Type:- TOD
Description:- Logging CIP/SIP operation end time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::22
--------------------------------------------------
Name:- time_cipsip_begin
Type:- TOD
Description:- Logging CIP/SIP operation start time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::23
--------------------------------------------------
Name:- mx_vessel_hygiene
Type:- INT
Description:- Hygiene Status of unit Mx
ParameterInOut:- IN_OUT

--------------------------------------------------
PARAMETER::24
--------------------------------------------------
Name:- mx_vessel_state
Type:- INT
Description:- Device State of unit Mx
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::25
--------------------------------------------------
Name:- mx_vessel_subs
Type:- INT
Description:- Substate selection to unit Mx
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::26
--------------------------------------------------
Name:- mx_vessel_cmd
Type:- INT
Description:- Command to unit Mx
ParameterInOut:- OUT


--------------------------------------------------
STEP::01
--------------------------------------------------
StepNo:- 01
Title:- RP_PCMX_CIPSIP : Recipe Procedure Commenced
Description:- Log product manufacture operation begin time.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Log product manufacture operation begin time.
Action:- //Log CIPSIP operation begin
L "dbCONST".CHRONO.CPU_TIME;
T #_time_cipsip_begin;

SET;
S #_log_time_cipsip_begin;

//Report Event Reset
SET;
R #_Report_Evnt_001;
R #_Report_Evnt_002;
R #_Report_Evnt_017;
R #_Report_Evnt_018;
R #_Report_Evnt_019;
R #_Report_Evnt_020;
R #_Report_Evnt_022;
R #_Report_Evnt_023;
R #_Report_Evnt_024;
R #_Report_Evnt_025;
Verification:- A "uncondJump";


--------------------------------------------------
TRANSITION::01
--------------------------------------------------
TRNNo:- 01
Title:- Check Hygiene Status
EmptyTransition:- False
Description:- SMS1 and selected Mx is in Hygiene status USED?
Condition:- A(;
L  "dbCONST".BLK.HYGIENE.USED;
L #_mx_vessel_hygiene;
==I;
);	


--------------------------------------------------
TRANSITION::02
--------------------------------------------------
TRNNo:- 02
Title:- Incorrect Hygiene Status
EmptyTransition:- False
Description:- Empty Transition
Condition:- A "uncondJump";


--------------------------------------------------
STEP::02
--------------------------------------------------
StepNo:- 02
Title:- RP_PCMX_CIPSIP : Incorrect Hygiene Status
Description:- Log equipment is not in Hygiene status USED.
Prompt operator to confirm abort.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Log equipment is not in Hygiene status USED.
Send message to HMI
Action:- //Log time if one or more units not in correct Hygiene status USED
L "dbCONST".CHRONO.CPU_TIME;
T #_time_wrong_hygiene;

SET;
S #_log_time_wrong_hygiene;
S #_log_msg_wrong_hygiene;
S #_prompt_abort;
Verification:- A "uncondJump";


--------------------------------------------------
STEP::03
--------------------------------------------------
StepNo:- 03
Title:- RP_PCMX_CIPSIP : Initiate SETUP operations
Description:- Toggle all Units From Manual to Auto. This will cascade down to make sure all equipment is in Auto.

Initiate Unit Operations;
MX STATE=SETUP.


--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Toggle all Units From Manual to Auto. This will cascade down to make sure all equipment is in Auto.

Initiate Unit Operations
MX STATE=SETUP

Action:- //Toggle all Units From Manual to Auto. This will cascade down to make sure all equipment is in Auto.
SET;
S #_toggle_mode;

//Initiate Unit Operation for unit Mx
L "dbCONST".BLK.MX.SUBS.SETUP;
T #_mx_vessel_subs;
L "dbCONST".BLK.CMD.START;
T #_mx_vessel_cmd;
Verification:- A(;
L #_mx_vessel_state;
L "dbCONST".BLK.MX.SUBS.SETUP;
==I;
);


--------------------------------------------------
TRANSITION::04
--------------------------------------------------
TRNNo:- 04
Title:- SETUP operations complete?
EmptyTransition:- False
Description:- All setup operations are complete. 
Condition:- A(;
L 	#_mx_vessel_state;
L 	"dbCONST".BLK.STATE.COMPLETED;
==I;
);


--------------------------------------------------
STEP::04
--------------------------------------------------
StepNo:- 04
Title:- RP_PCMX_CIPSIP : Initiate Mx CIP Unit Operations
Description:- Set Units Mx Hygiene Satus to CIP.
Initiate Mx CIP Unit Operation.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- MFL unit ready for flushing
Action:- //Set Mx equipment to Hygiene Status to CIP
L "dbCONST".BLK.HYGIENE.CIP;
T #_mx_vessel_hygiene;

//Initiate Unit Operation for Mx CIP
L "dbCONST".BLK.MX.SUBS.CIP;
T #_mx_vessel_subs;
L "dbCONST".BLK.CMD.START;
T #_mx_vessel_cmd;
Verification:- A(;
L #_mx_vessel_state;
L "dbCONST".BLK.MX.SUBS.CIP;
==I;
);


--------------------------------------------------
TRANSITION::05
--------------------------------------------------
TRNNo:- 05
Title:- Mx CIP operations complete
EmptyTransition:- False
Description:- MX CIP operations complete 
Condition:- A(;
L #_mx_vessel_state;
L "dbCONST".BLK.STATE.COMPLETED;;
==I;
);


--------------------------------------------------
STEP::05
--------------------------------------------------
StepNo:- 05
Title:- RP_PCMX_CIPSIP : Set Mx Hygiene Status to CLEAN
Description:- Set Mx Hygiene status to CLEAN.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Set Mx Hygiene status to CLEAN.
Action:- //Set Sy hygiene status to CLEAN
L "dbCONST".BLK.HYGIENE.CLEAN;
T #_mx_vessel_hygiene;
Verification:- A "uncondJump";


--------------------------------------------------
TRANSITION::06
--------------------------------------------------
TRNNo:- 06
Title:- Empty Transition
EmptyTransition:- False
Description:- Empty Transition
Condition:- A "uncondJump";


--------------------------------------------------
STEP::06
--------------------------------------------------
StepNo:- 06
Title:- RP_PCMX_CIPSIP : Initiate MX SIP Operations
Description:- Initiate MX SIP Operations.
MX STATE=SIP

Set MX Hygiene Status to SIP.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Initiate MX SIP Operations.
MX STATE=SIP

Set MX Hygiene Status to SIP.
Action:- //Initiate MX SIP Operations.
L "dbCONST".BLK.MX.SUBS.SIP;
T #_mx_vessel_subs;
L "dbCONST".BLK.MX.CMD.START;
T #_mx_vessel_cmd;


//Set Mx hygiene status to SIP
L "dbCONST".BLK.HYGIENE.SIP;
T #_mx_vessel_hygiene;

Verification:- A(;
L #_mx_vessel_state;
L "dbCONST".BLK.MX.SUBS.SIP;
==I;
);


--------------------------------------------------
TRANSITION::07
--------------------------------------------------
TRNNo:- 07
Title:- Mx state SIP complete?
EmptyTransition:- False
Description:- Wait for Mx_UO_SIP complete.
Condition:- A(;
L   #_mx_vessel_state;
L   "dbCONST".BLK.STATE.COMPLETED;
==I;
);


--------------------------------------------------
STEP::07
--------------------------------------------------
StepNo:- 07
Title:- RP_PCMX_CIPSIP : MX SIP complete
Description:- Set Mx Hygiene Status = STERILE
Release Mx.

Set End of the sip completion for batch report

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Set Mx Hygiene Status = STERILE
Release Mx.

Set End of the sip completion for batch report
Setting the event for the batch report
Action:- //Set Mx hygiene status to STERILE.
L "dbCONST".BLK.HYGIENE.STERILE;
T #_mx_vessel_hygiene;

//Release Mx.
SET;
S #_release_mx;

//Report Event Set
SET;
S #_Report_Evnt_020;
Verification:- A "uncondJump";


--------------------------------------------------
TRANSITION::08
--------------------------------------------------
TRNNo:- 08
Title:- Empty Transition
EmptyTransition:- False
Description:- Empty Transition
Condition:- A "uncondJump";


--------------------------------------------------
STEP::08
--------------------------------------------------
StepNo:- 08
Title:- RP_PCMX_CIPSIP : Recipe Procedure Completed
Description:- Sequence END.
Log product manufacture operation end time.
Reset all used flags

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Reset all used flags
Action:- //Stop MX Unit Operation
L "dbCONST".BLK.CMD.STOP;
T #_mx_vessel_cmd;
L "dbCONST".BLK.SAFE.CMD;
T #_mx_vessel_subs;

//Log CIPSIP operation end time.
L "dbCONST".CHRONO.CPU_TIME;
T #_time_cipsip_end;

SET;
S #_log_time_cipsip_end;


//Clear used flags
SET;
R #_toggle_mode;
R #_prompt_abort;
R #_prompt_abort_confirm_yes;

//Repor Event Reset
SET;
R #_Report_Evnt_001;
R #_Report_Evnt_002;
R #_Report_Evnt_017;
R #_Report_Evnt_018;
R #_Report_Evnt_019;
R #_Report_Evnt_020;
R #_Report_Evnt_022;
R #_Report_Evnt_023;
R #_Report_Evnt_024;
R #_Report_Evnt_025;
Verification:- A "uncondJump";

****************************************************************************************************
END SSS REPORT
****************************************************************************************************
