****************************************************************************************************
SEQUENCE STEP SCHEDULE
generated on 12/09/2018 2:21:27 PM by David Paspa
****************************************************************************************************





--------------------------------------------------
SEQUENCE
--------------------------------------------------

Name:- SETUP
Title:- PH_EMX2_SETUP
Description:- Setup filling machine connection flow
Class:- EMX2
Level:- PH
STEP_LIST_FORMAT:- JU    S0@@STEP_NUM@@; // STEP-0@@STEP_NUM@@:
ACT_LIST_FORMAT:- JU    @@ACT_CODE@@@@STEP_NUM@@; //ACTION-@@ACT_NUM@@
HeaderName:- X3PSET
Version:- 0.4
RevisionHistory:- // SFC Revision History:
// Rev By               Date        CC         Note
// 0.4 Khairul Basar    09-Sep-2009 CC-09/023  In Last Step, Prompt & confirm flag 
//                                             reset code added.
// 0.3 Khairul Basar    25-Aug-2009 CC-09/023  Change in Verific & TRN code OR to AND
//                                             Change in the Last step.
// 0.2 Khairul Basar    18-Aug-2009            Added logic code
// 0.1 David Paspa      13-Jul-2009            SFC structural design
HMI_FORMAT:- @@STEP_NUM_INT@@,@@STEP_TITLE@@

--------------------------------------------------
PARAMETER::1
--------------------------------------------------
Name:- log_msg_confirm_connect
Type:- BOOL
Description:- PH_EMX2_SETUP Operator confirm filling machine line connected confirmed yes
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::2
--------------------------------------------------
Name:- log_msg_setup_begin
Type:- BOOL
Description:- PH_EMX2_SETUP begin time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::3
--------------------------------------------------
Name:- log_msg_setup_end
Type:- BOOL
Description:- PH_EMX2_SETUP end time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::4
--------------------------------------------------
Name:- fill_flz
Type:- INT
Description:- Filling line selection
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::5
--------------------------------------------------
Name:- vessel_mx
Type:- INT
Description:- Manufacturing vessel (M1/M2) selection
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::6
--------------------------------------------------
Name:- zsc_bfs2_state
Type:- INT
Description:- S1 to F2P1 flowpath indicator
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::7
--------------------------------------------------
Name:- zsc_smfl2_state
Type:- INT
Description:- VTL1 to M2 flowpath indicator
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::8
--------------------------------------------------
Name:- zsc_bfs1_state
Type:- INT
Description:- S1 to F1P1 flowpath indicator
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::9
--------------------------------------------------
Name:- zsc_smfl1_state
Type:- INT
Description:- VTL1 to M1 flowpath indicator
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::10
--------------------------------------------------
Name:- prompt_connect_confirm_yes
Type:- BOOL
Description:- PH_EMX2_SETUP Operator confirm filling machine line connected confirmed yes
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::11
--------------------------------------------------
Name:- prompt_connect
Type:- BOOL
Description:- PH_EMX2_SETUP Operator to confirm filling machine line connected
ParameterInOut:- VAR


--------------------------------------------------
STEP::01
--------------------------------------------------
StepNo:- 01
Title:- PH_EMC2_SETUP : SETUP begin.
Description:- Log SETUP begin time.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Log SETUP begin time.
Action:- //Log SETUP begin time.
SET;
S #_log_msg_setup_begin;
Verification:- A "uncondJump";


--------------------------------------------------
TRANSITION::01
--------------------------------------------------
TRNNo:- 01
Title:- Unconditional Jump
EmptyTransition:- False
Description:- Jump
Condition:- A "uncondJump";


--------------------------------------------------
STEP::02
--------------------------------------------------
StepNo:- 02
Title:- PH_EMX2_SETUP : Prompt to connect filling machine
Description:- Prompt operator to connect filling machine flowpath

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Prompt operator to connect filling machine flowpath 
Action:- SET;
S #_prompt_connect;
Verification:- A "uncondJump";


--------------------------------------------------
TRANSITION::02
--------------------------------------------------
TRNNo:- 2.0000
Title:- Operator confirmation
EmptyTransition:- False
Description:- Wait for operator to confirm connections has been made.
Condition:- A #_prompt_connect_confirm_yes;


--------------------------------------------------
STEP::03
--------------------------------------------------
StepNo:- 03
Title:- PH_EMX2_SETUP : Check connection
Description:- Log operator confirmation and continue to check connection.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Log operator confirmation 
Action:- SET;
S #_log_msg_confirm_connect;
R #_prompt_connect_confirm_yes;
Verification:- A "uncondJump";


--------------------------------------------------
TRANSITION::03
--------------------------------------------------
TRNNo:- 03
Title:- Connection correctly inserted
EmptyTransition:- False
Description:- Jump if correct switch conection has been made.
Condition:- //Check switch status for respective connection.

A(;
	O(;
	//If M1 selected, then check the resp. flowpath status.
		A(;
		L #_vessel_mx;
		L "dbCONST".SEL.MX.M1;
		==I ;  
	);
		A(;
		L #_zsc_smfl1_state;
		L "dbCONST".BLK.ZSC2.STATE.IN;
		==I ;  
		);
	);
	//If M2 selected, then check the resp. flowpath status.
	O(;
		A(;
		L #_vessel_mx;
		L "dbCONST".SEL.MX.M2;
		==I ;  
		);
		A(;
		L #_zsc_smfl2_state;
		L "dbCONST".BLK.ZSC2.STATE.IN;
		==I ;  
		);
	);
);

A(;
	O(;
	//If F1P1 selected, then check the resp. flowpath status.
		A(;
		L #_fill_flz;
		L "dbCONST".SEL.FLZ.FL1;
		==I ;  
		);
		A(;
		L #_zsc_bfs1_state;
		L "dbCONST".BLK.ZSC2.STATE.IN;
		==I ;  
		);
	);
	O(;
	//If F2P1 selected, then check the resp. flowpath status.
		A(;
		L #_fill_flz;
		L "dbCONST".SEL.FLZ.FL2;
		==I ;  
		);
		A(;
		L #_zsc_bfs2_state;
		L "dbCONST".BLK.ZSC2.STATE.IN; 
		==I ;  
		);
	);
);


--------------------------------------------------
TRANSITION::04
--------------------------------------------------
TRNNo:- 04
Title:- Operator not setup correctly
EmptyTransition:- False
Description:- Jump unconditionally, the connections are not made correctly
Condition:- A "uncondJump";


--------------------------------------------------
STEP::04
--------------------------------------------------
StepNo:- 04
Title:- PH_EMX2_SETUP : Last Step
Description:- Log SETUP operation end time.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Log SETUP operation end time.
Action:- //Log SETUP operation end time.
SET;
S #_log_msg_setup_end;
Verification:- A "uncondJump";

****************************************************************************************************
END SSS REPORT
****************************************************************************************************
