****************************************************************************************************
SEQUENCE STEP SCHEDULE
generated on 26/07/2018 5:20:13 PM by David Paspa
****************************************************************************************************





--------------------------------------------------
SEQUENCE
--------------------------------------------------

SFCNo:- 3
Title:- RP_PCSY_CIPSIP
Description:- Recipe Procedure for Equipment CIP and SIP
Name:- CIPSIP
Class:- PCSY
Level:- RP
STEP_LIST_FORMAT:- JU    S0@@STEP_NUM@@; // STEP-0@@STEP_NUM@@:
ACT_LIST_FORMAT:- JU    @@ACT_CODE@@@@STEP_NUM@@; //ACTION-@@ACT_NUM@@
HeaderName:- PCSCIP
Version:- 0.4
RevisionHistory:- // SFC Revision History:
// Rev By               Date        CC         Note
// 0.4 Srinivas Nimmala 22-Jan-2010 CC-10/005  Added Hpn2 pulse delay timer
// 0.3 Srinivas Nimmala 22-Dec-2009 CC-09/071  Disable cooling after Hpn2 purge
// 0.3 Steve Linehan    22-Dec-2009 CC-09/070  Disable the agitator before empties the vessel
// 0.2 David Paspa      26-Oct-2009            Added synch flags
// 0.1 Gerald Kontriner 18-Sep-2009            SFC structural design
HMI_FORMAT:- @@STEP_NUM_INT@@,@@STEP_TITLE@@

--------------------------------------------------
PARAMETER::1
--------------------------------------------------
Name:- vessel_sy
Type:- INT
Description:- Storage vessel selection S1 or S2
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::2
--------------------------------------------------
Name:- vessel_mx
Type:- INT
Description:- Manufacturing vessel selection M1 or M2
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::3
--------------------------------------------------
Name:- fill_flz
Type:- INT
Description:- Filling line selection FL1 or FL2
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::4
--------------------------------------------------
Name:- sip_mx_complete
Type:- BOOL
Description:- Description
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::5
--------------------------------------------------
Name:- release_sy
Type:- BOOL
Description:- Release Sy.
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::6
--------------------------------------------------
Name:- log_time_wrong_hygiene
Type:- BOOL
Description:- RP_PCSY_CIPSIP Storage vessel unit has wrong Hygiene Status
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::7
--------------------------------------------------
Name:- log_time_cipsip_end
Type:- BOOL
Description:- RP_PCSY_CIPSIP end time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::8
--------------------------------------------------
Name:- log_time_cipsip_begin
Type:- BOOL
Description:- RP_PCSY_CIPSIP begin time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::9
--------------------------------------------------
Name:- log_msg_sip_sy_end
Type:- BOOL
Description:- RP_PCSY_CIPSIP Sterilisation SY end
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::10
--------------------------------------------------
Name:- log_msg_sip_sy_begin
Type:- BOOL
Description:- RP_PCSY_CIPSIP Sterilisation SY begin
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::11
--------------------------------------------------
Name:- log_msg_vacuum_sy_end
Type:- BOOL
Description:- RP_PCSY_CIPSIP Vacuum SY end
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::12
--------------------------------------------------
Name:- log_msg_vacuum_sy_begin
Type:- BOOL
Description:- RP_PCSY_CIPSIP Vacuum SY begin
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::13
--------------------------------------------------
Name:- log_msg_sip_mx_end
Type:- BOOL
Description:- RP_PCSY_CIPSIP Sterilisation MX end
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::14
--------------------------------------------------
Name:- log_msg_sip_mx_begin
Type:- BOOL
Description:- RP_PCSY_CIPSIP Sterilisation MX begin
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::15
--------------------------------------------------
Name:- log_msg_vacuum_mx_end
Type:- BOOL
Description:- RP_PCSY_CIPSIP Vacuum MX end
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::16
--------------------------------------------------
Name:- log_msg_vacuum_mx_begin
Type:- BOOL
Description:- RP_PCSY_CIPSIP Vacuum MX begin
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::17
--------------------------------------------------
Name:- log_msg_vacuum_hold_end
Type:- BOOL
Description:- RP_PCSY_CIPSIP Vacuum Hold Test end
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::18
--------------------------------------------------
Name:- log_msg_vacuum_hold_begin
Type:- BOOL
Description:- RP_PCSY_CIPSIP Vacuum Hold Test begin
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::19
--------------------------------------------------
Name:- prompt_abort
Type:- BOOL
Description:- RP_PCSY_CIPSIP Operator to confirm to abort due to invalid Hygiene Status
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::20
--------------------------------------------------
Name:- prompt_abort_confirm_yes
Type:- BOOL
Description:- RP_PCSY_CIPSIP Operator confirmed to abort due to invalid Hygiene Status
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::21
--------------------------------------------------
Name:- log_msg_wrong_hygiene
Type:- BOOL
Description:- RP_PCSY_CIPSIP Storage vessel unit has wrong Hygiene Status
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::22
--------------------------------------------------
Name:- toggle_mode
Type:- BOOL
Description:- Toggle mode of all used units
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::23
--------------------------------------------------
Name:- time_wrong_hygiene
Type:- TOD
Description:- RP_PCSY_CIPSIP Storage vessel unit has wrong Hygiene Status
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::24
--------------------------------------------------
Name:- time_cipsip_end
Type:- TOD
Description:- RP_PCSY_CIPSIP end time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::25
--------------------------------------------------
Name:- time_cipsip_begin
Type:- TOD
Description:- RP_PCSY_CIPSIP begin time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::26
--------------------------------------------------
Name:- sy_vessel_hygiene
Type:- INT
Description:- Hygiene Status of unit Sy
ParameterInOut:- IN_OUT

--------------------------------------------------
PARAMETER::27
--------------------------------------------------
Name:- sy_vessel_state
Type:- INT
Description:- Device State of unit Sy
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::28
--------------------------------------------------
Name:- sy_vessel_subs
Type:- INT
Description:- Substate selection to unit Sy
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::29
--------------------------------------------------
Name:- sy_vessel_cmd
Type:- INT
Description:- Command to unit Sy
ParameterInOut:- OUT


--------------------------------------------------
STEP::01
--------------------------------------------------
StepNo:- 01
Title:- RP_PCSY_CIPSIP : Recipe Procedure Commenced
Description:- Log product manufacture operation begin time.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Log product manufacture operation begin time.
Action:- //Log CIPSIP operation begin
L "dbCONST".CHRONO.CPU_TIME;
T #_time_cipsip_begin;

SET;
S #_log_time_cipsip_begin;
Verification:- A "uncondJump";


--------------------------------------------------
TRANSITION::01
--------------------------------------------------
TRNNo:- 01
Title:- Check Hygiene Status
EmptyTransition:- False
Description:- SMS1 and selected Sy is in Hygiene status USED?
Condition:- A(;
L  "dbCONST".BLK.HYGIENE.USED;
L #_sy_vessel_hygiene;
==I;
);


--------------------------------------------------
TRANSITION::02
--------------------------------------------------
TRNNo:- 02
Title:- Incorrect Hygiene Status
EmptyTransition:- False
Description:- Empty Transition
Condition:- A "uncondJump";


--------------------------------------------------
STEP::02
--------------------------------------------------
StepNo:- 02
Title:- RP_PCSY_CIPSIP : Incorrect Hygiene Status
Description:- Log equipment is not in Hygiene status USED.
Prompt operator to confirm abort.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Log equipment is not in Hygiene status USED.
Send message to HMI
Action:- //Log time if one or more units not in correct Hygiene status USED
L "dbCONST".CHRONO.CPU_TIME;
T #_time_wrong_hygiene;

SET;
S #_log_time_wrong_hygiene;
S #_log_msg_wrong_hygiene;
S #_prompt_abort;
Verification:- A "uncondJump";


--------------------------------------------------
TRANSITION::03
--------------------------------------------------
TRNNo:- 03
Title:- Confirm Abort (Incorrect Hygiene Status)
EmptyTransition:- False
Description:- Confirm Abort (Incorrect Hygiene Status)
Condition:- A #_prompt_abort_confirm_yes;


--------------------------------------------------
STEP::03
--------------------------------------------------
StepNo:- 03
Title:- RP_PCSY_CIPSIP : Initiate SETUP operations
Description:- Toggle all Units From Manual to Auto. This will cascade down to make sure all equipment is in Auto.

Initiate Unit Operations
Sy STATE=SETUP

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Toggle all Units From Manual to Auto. This will cascade down to make sure all equipment is in Auto.

Initiate Unit Operations
SY STATE=SETUP
Action:- //Toggle all Units From Manual to Auto. This will cascade down to make sure all equipment is in Auto.
SET;
S #_toggle_mode;

//Initiate Unit Operation for unit Sy
L "dbCONST".BLK.SY.SUBS.SETUP;
T #_sy_vessel_subs;
L "dbCONST".BLK.CMD.START;
T #_sy_vessel_cmd;
Verification:- A(;
L #_sy_vessel_subs;
L "dbCONST".BLK.SY.SUBS.SETUP;
==I;
);


--------------------------------------------------
TRANSITION::04
--------------------------------------------------
TRNNo:- 04
Title:- SETUP operations complete?
EmptyTransition:- False
Description:- Sy SETUP operations are complete. 
Condition:- A(;
L 	#_sy_vessel_state;
L 	"dbCONST".BLK.STATE.COMPLETED;
==I;
);


--------------------------------------------------
STEP::04
--------------------------------------------------
StepNo:- 04
Title:- RP_PCSY_CIPSIP : Initiate Sy CIP Unit Operations
Description:- Set Sy equipment to Hygiene Status to CIP.
Initiate Unit Operation for Sy CIP.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Set Sy equipment to Hygiene Status to CIP.
Initiate Unit Operation for Sy CIP.
Action:- //Set Sy equipment to Hygiene Status to CIP.
L "dbCONST".BLK.HYGIENE.CIP;
T #_sy_vessel_hygiene;

//Initiate Unit Operation for Sy CIP.
L "dbCONST".BLK.SY.SUBS.CIP;
T #_sy_vessel_subs;
L "dbCONST".BLK.CMD.START;
T #_sy_vessel_cmd;
Verification:- A(;
L #_sy_vessel_subs;
L "dbCONST".BLK.SY.SUBS.CIP;
==I;
);


--------------------------------------------------
TRANSITION::05
--------------------------------------------------
TRNNo:- 05
Title:- Sy CIP operations complete
EmptyTransition:- False
Description:- Sy CIP operations complete 
Condition:- A(;
L #_sy_vessel_state;
L "dbCONST".BLK.STATE.COMPLETED;;
==I;
);


--------------------------------------------------
STEP::05
--------------------------------------------------
StepNo:- 05
Title:- RP_PCSY_CIPSIP : Set Sy Hygiene Status to CLEAN
Description:- Set Sy Hygiene status to CLEAN.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Set Sy Hygiene status to CLEAN.

Action:- //Set Sy hygiene status to CLEAN
L "dbCONST".BLK.HYGIENE.CLEAN;
T #_sy_vessel_hygiene;
Verification:- A "uncondJump";


--------------------------------------------------
TRANSITION::06
--------------------------------------------------
TRNNo:- 06
Title:- Empty Transition
EmptyTransition:- False
Description:- Empty Transition
Condition:- A "uncondJump";


--------------------------------------------------
STEP::06
--------------------------------------------------
StepNo:- 06
Title:- RP_PCSY_CIPSIP : Initiate Sy SIP Operations
Description:- Initiate Sy SIP Operations.
Sy STATE=SIP

Set Sy Hygiene Status to SIP.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Initiate Sy SIP Operations.

Set Sy Hygiene Status to SIP.
Action:- //Initiate Sy SIP Operations.
L "dbCONST".BLK.SY.SUBS.SIP;
T #_sy_vessel_subs;
L "dbCONST".BLK.SY.CMD.START;
T #_sy_vessel_cmd;

//Set Sy equipment to Hygiene Status to SIP. 
L "dbCONST".BLK.HYGIENE.SIP;
T #_sy_vessel_hygiene;

Verification:- A(;
L #_sy_vessel_subs;
L "dbCONST".BLK.SY.SUBS.SIP;
==I;
);


--------------------------------------------------
TRANSITION::07
--------------------------------------------------
TRNNo:- 07
Title:- Sy state SIP complete?
EmptyTransition:- False
Description:- Wait for Sy to complete.
Condition:- A(;
L   #_sy_vessel_state;
L   "dbCONST".BLK.STATE.COMPLETED;
==I;
);


--------------------------------------------------
STEP::07
--------------------------------------------------
StepNo:- 07
Title:- RP_PCSY_CIPSIP : Sy SIP complete
Description:- Set Sy sip_complete flag

Set Sy Hygiene Status = STERILE
Release Sy.

Set End of the sip completion for batch report

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Set Sy Hygiene Status = STERILE
Release Sy.

Setting the event for the batch report
Action:- SET;
S #_sip_mx_complete;

//Set Sy hygiene status to STERILE.
L "dbCONST".BLK.HYGIENE.STERILE;
T #_sy_vessel_hygiene;

//Report Event Set
SET;
S #_log_msg_sip_mx_end;

//Release Sy.
SET;
S #_release_sy;
Verification:- A "uncondJump";


--------------------------------------------------
TRANSITION::08
--------------------------------------------------
TRNNo:- 08
Title:- Empty Transition
EmptyTransition:- False
Description:- Empty Transition
Condition:- A "uncondJump";


--------------------------------------------------
STEP::08
--------------------------------------------------
StepNo:- 08
Title:- RP_PCSY_CIPSIP : Recipe Procedure Completed
Description:- Sequence END.
Log product manufacture operation end time.
Reset all used flags

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Reset all used flags
Action:- //Stop Sy Unit Operation
L "dbCONST".BLK.CMD.STOP;
T #_sy_vessel_cmd;
L "dbCONST".BLK.SAFE.CMD;
T #_sy_vessel_subs;

//Log CIPSIP operation end time.
L "dbCONST".CHRONO.CPU_TIME;
T #_time_cipsip_end;

SET;
S #_log_time_cipsip_end;



//Clear used flags
SET;
R #_toggle_mode;
R #_prompt_abort_confirm_yes;
Verification:- A "uncondJump";

****************************************************************************************************
END SSS REPORT
****************************************************************************************************
