****************************************************************************************************
SEQUENCE STEP SCHEDULE
generated on 31/07/2018 5:59:33 PM by David Paspa
****************************************************************************************************





--------------------------------------------------
SEQUENCE
--------------------------------------------------

SFCNo:- 4
Title:- RP_PCMX_FILL
Description:- Recipe procedure sequence for Filtration from Manufacturing Vessel Mx to Storage Vessel Sy.
Name:- FILL
Class:- PCMX
Level:- RP
STEP_LIST_FORMAT:- JU    S0@@STEP_NUM@@; // STEP-0@@STEP_NUM@@:
ACT_LIST_FORMAT:- JU    @@ACT_CODE@@@@STEP_NUM@@; //ACTION-@@ACT_NUM@@
HeaderName:- PCSFIL
Version:- 0.1
RevisionHistory:- // SFC Revision History:
// Rev By               Date        CC         Note
// 0.1 Gerald Kontriner 18-Sep-2009            SFC structural design
HMI_FORMAT:- @@STEP_NUM_INT@@,@@STEP_TITLE@@

--------------------------------------------------
PARAMETER::1
--------------------------------------------------
Name:- vessel_mx
Type:- INT
Description:- Manufacturing vessel selection M1 or M2
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::2
--------------------------------------------------
Name:- fill_flz
Type:- INT
Description:- Filling line selecction FL1 or FL2
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::3
--------------------------------------------------
Name:- vessel_sy
Type:- INT
Description:- Storage vessel selection S1 or S2
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::4
--------------------------------------------------
Name:- release_flz
Type:- BOOL
Description:- Description
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::5
--------------------------------------------------
Name:- log_time_wrong_hygiene
Type:- BOOL
Description:- RP_PCMX_FILL Mixing Vessel Unit has incorrect Hygiene Status
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::6
--------------------------------------------------
Name:- log_time_fill_end
Type:- BOOL
Description:- RP_PCMX_FILL end time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::7
--------------------------------------------------
Name:- log_time_fill_begin
Type:- BOOL
Description:- RP_PCMX_FILL begin time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::8
--------------------------------------------------
Name:- Report_End
Type:- BOOL
Description:- Reort end event flag
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::9
--------------------------------------------------
Name:- prompt_abort_confirm_yes
Type:- BOOL
Description:- RP_PCMX_FILL Operator confirmed to abort due to invalid MX Hygiene Status
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::10
--------------------------------------------------
Name:- prompt_abort
Type:- BOOL
Description:- RP_PCMX_FILL Operator to confirm to abort due to invalid MX Hygiene Status
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::11
--------------------------------------------------
Name:- log_msg_wrong_hygiene
Type:- BOOL
Description:- RP_PCMX_FILL Mixing Vessel Unit has incorrect Hygiene Status
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::12
--------------------------------------------------
Name:- time_wrong_hygiene
Type:- TOD
Description:- RP_PCMX_FILL Mixing Vessel Unit has incorrect Hygiene Status
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::13
--------------------------------------------------
Name:- mx_vessel_hygiene
Type:- INT
Description:- Hygiene Status of unit Mx
ParameterInOut:- IN_OUT

--------------------------------------------------
PARAMETER::14
--------------------------------------------------
Name:- time_fill_end
Type:- TOD
Description:- RP_PCMX_FILL end time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::15
--------------------------------------------------
Name:- time_fill_begin
Type:- TOD
Description:- RP_PCMX_FILL begin time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::16
--------------------------------------------------
Name:- toggle_mode
Type:- BOOL
Description:- Toggle mode of all used units
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::17
--------------------------------------------------
Name:- mx_vessel_state
Type:- INT
Description:- Device State of unit Mx
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::18
--------------------------------------------------
Name:- mx_vessel_cmd
Type:- INT
Description:- Command to unit Mx
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::19
--------------------------------------------------
Name:- mx_vessel_subs
Type:- INT
Description:- Substate selection to unit Mx
ParameterInOut:- OUT


--------------------------------------------------
STEP::01
--------------------------------------------------
StepNo:- 01
Title:- RP_PCMX_FILL : Recipe Procedure Commenced
Description:- Log transfer from Mx vessel to filling operation begin time.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Log transfer from Mx vessel to filling operation begin time.
Action:- //Log Mx FILL operation begin
L "dbCONST".CHRONO.CPU_TIME;
T #_time_fill_begin;

SET;
S #_log_time_fill_begin;

// Reset used flags
SET;
R #_prompt_abort;
Verification:- A "uncondJump";


--------------------------------------------------
TRANSITION::01
--------------------------------------------------
TRNNo:- 01
Title:- Check Hygiene Status
EmptyTransition:- False
Description:- Selected Mx is in Hygiene status BATCH?
Condition:- A(;
L "dbCONST".BLK.HYGIENE.BATCH;
L #_mx_vessel_hygiene;
==I;
);


--------------------------------------------------
TRANSITION::02
--------------------------------------------------
TRNNo:- 02
Title:- Incorrect Hygiene Status
EmptyTransition:- False
Description:- Empty Transition
Condition:- A "uncondJump";


--------------------------------------------------
STEP::02
--------------------------------------------------
StepNo:- 02
Title:- RP_PCMX_FILL : Incorrect Hygiene Status
Description:- Log that Mx is not in Hygiene status BATCH.
Prompt operator to confirm abort.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Log that Mx is not in Hygiene status BATCH.
Action:- //Log time if Mx not in correct Hygiene status BATCH
L "dbCONST".CHRONO.CPU_TIME;
T #_time_wrong_hygiene;

SET;
S #_log_time_wrong_hygiene;
S #_log_msg_wrong_hygiene;
S #_prompt_abort;
Verification:- A "uncondJump";


--------------------------------------------------
TRANSITION::03
--------------------------------------------------
TRNNo:- 03
Title:- Confirm Abort (Incorrect Hygiene Status)
EmptyTransition:- False
Description:- Confirm Abort (Incorrect Hygiene Status)
Condition:- A #_prompt_abort_confirm_yes;


--------------------------------------------------
STEP::03
--------------------------------------------------
StepNo:- 03
Title:- RP_PCMX_FILL : Start Mx FILL Unit Operations
Description:- Toggle all Units From Manual to Auto. This will cascade down to make sure all equipment is in Auto.

Initiate Unit Operations
Mx STATE=FILL

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Toggle all Units From Manual to Auto. This will cascade down to make sure all equipment is in Auto.

Initiate MX STATE=FILL Unit Operation
Action:- //Toggle all Units From Manual to Auto. This will cascade down to make sure all equipment is in Auto.
SET;
S #_toggle_mode;

//Initiate Mx STATE=FILL Unit Operation
L "dbCONST".BLK.MX.SUBS.FILL;
T #_mx_vessel_subs;
L "dbCONST".BLK.CMD.START;
T #_mx_vessel_cmd;
Verification:- A(;
L #_mx_vessel_subs;
L "dbCONST".BLK.MX.SUBS.FILL;
==I;
);


--------------------------------------------------
TRANSITION::04
--------------------------------------------------
TRNNo:- 04
Title:- FILL operations complete?
EmptyTransition:- False
Description:- Mx FILL operations are complete
Condition:- A(;
L #_mx_vessel_state;
L "dbCONST".BLK.STATE.COMPLETED;
==I;
);


--------------------------------------------------
STEP::04
--------------------------------------------------
StepNo:- 04
Title:- RP_PCMX_FILL : Mx Filling Unit Operation Finished
Description:- Now finished with Mx. 
Set Mx Hygiene Status to USED.

Release FLZ unit from the CRP

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Set Mx Hygiene Status to USED.
Action:- //Set Mx Hygiene Status to USED.
L "dbCONST".BLK.HYGIENE.USED;
T #_mx_vessel_hygiene;

//Release FLZ
SET;
S #_release_flz;
Verification:- A "uncondJump";


--------------------------------------------------
TRANSITION::05
--------------------------------------------------
TRNNo:- 05
Title:- Empty step
EmptyTransition:- False
Description:- Jump unconditionally
Condition:- A "uncondJump";


--------------------------------------------------
STEP::05
--------------------------------------------------
StepNo:- 05
Title:- RP_PCMX_FILL : Recipe Procedure Completed
Description:- Set equipment to SAFE state.
Log recipe procedure end time.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Set equipment to SAFE state.
Action:- A(;
L "dbCONST".BLK.HYGIENE.USED;
L #_mx_vessel_hygiene;
==I;
);

//put substate to none of mx.
L "dbCONST".BLK.SAFE.CMD;
T #_mx_vessel_subs;

//Log FILL operation end time.
L "dbCONST".CHRONO.CPU_TIME;
T #_time_fill_end;

SET;
S #_log_time_fill_end;
R #_prompt_abort_confirm_yes;
Verification:- A "uncondJump";

****************************************************************************************************
END SSS REPORT
****************************************************************************************************
