****************************************************************************************************
SEQUENCE STEP SCHEDULE
generated on 30/08/2018 12:22:55 PM by David Paspa
****************************************************************************************************





--------------------------------------------------
SEQUENCE
--------------------------------------------------

SFCNo:- 005
Title:- UO_SY_FILL :Sy Transfer to Filling
Description:- Sequence for Transfer from Storage Vessel Sy to Filling Line
Name:- FILL
Class:- SY
Level:- UO
STEP_LIST_FORMAT:- JU    S0@@STEP_NUM@@; // STEP-0@@STEP_NUM@@:
ACT_LIST_FORMAT:- JU    @@ACT_CODE@@@@STEP_NUM@@; //ACTION-@@ACT_NUM@@
HeaderName:- SUFILL
Version:- 0.2
RevisionHistory:- // SFC Revision History:
// Rev By               Date        CC         Note
// 0.2 Srinivas Nimmala 28-Dec-2009 09/073     Added Ampoule and Vial 
//                                             pause buttons to stop filling
// 0.1 Gerald Kontriner 14-Sep-2009            SFC structural design
HMI_FORMAT:- @@STEP_NUM_INT@@,@@STEP_TITLE@@

--------------------------------------------------
PARAMETER::1
--------------------------------------------------
Name:- emx_fill_subs
Type:- INT
Description:- Substate selection for filling line
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::2
--------------------------------------------------
Name:- emx_fill_cmd
Type:- INT
Description:- Command for filling line
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::3
--------------------------------------------------
Name:- emx_fill_state
Type:- INT
Description:- Device state for filling line
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::4
--------------------------------------------------
Name:- vessel_sy
Type:- INT
Description:- Storage vessel selection S1 or S2
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::5
--------------------------------------------------
Name:- fill_flz
Type:- INT
Description:- Filling line selection FL1 or FL2
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::6
--------------------------------------------------
Name:- emx_smfl_cmd
Type:- INT
Description:- Command to emx_smfl
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::7
--------------------------------------------------
Name:- emx_smfl_subs
Type:- INT
Description:- Substate selection to emx_smfl
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::8
--------------------------------------------------
Name:- emx_smfl_state
Type:- INT
Description:- Device State of emx_smfl
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::9
--------------------------------------------------
Name:- emc_water_sy_cmd
Type:- INT
Description:- Command to emc_water
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::10
--------------------------------------------------
Name:- emc_water_sy_subs
Type:- INT
Description:- Substate selection to emc_water
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::11
--------------------------------------------------
Name:- emc_water_sy_state
Type:- INT
Description:- Device State of emc_water
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::12
--------------------------------------------------
Name:- log_msg_filling_start
Type:- BOOL
Description:- UO_SY_FILL Operator confirmed filling start
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::13
--------------------------------------------------
Name:- log_msg_reset_button_abort
Type:- BOOL
Description:- UO_SY_FILL Operator confirmed to abort pause button reset
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::14
--------------------------------------------------
Name:- log_msg_reset_button_retry
Type:- BOOL
Description:- UO_SY_FILL Operator confirmed to reset pause button
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::15
--------------------------------------------------
Name:- log_msg_filling_paused
Type:- BOOL
Description:- UO_SY_FILL Operator paused filling
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::16
--------------------------------------------------
Name:- prompt_transfer_complete_confirm_no
Type:- BOOL
Description:- UO_SY_FILL Operator confirm transfer is complete confirmed no
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::17
--------------------------------------------------
Name:- log_msg_transfer_complete
Type:- BOOL
Description:- UO_SY_FILL Operator confirmed transfer is complete
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::18
--------------------------------------------------
Name:- log_msg_hpca_begin
Type:- BOOL
Description:- UO_SY_FILL HPCA begin time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::19
--------------------------------------------------
Name:- log_msg_fill_begin
Type:- BOOL
Description:- UO_SY_FILL begin time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::20
--------------------------------------------------
Name:- log_msg_fill_end
Type:- BOOL
Description:- UO_SY_FILL end time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::21
--------------------------------------------------
Name:- fill_proceed
Type:- BOOL
Description:- Parent synchronisation flag to proceed with filling operation
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::22
--------------------------------------------------
Name:- prompt_transfer_complete
Type:- BOOL
Description:- UO_SY_FILL Operator to confirm transfer is complete
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::23
--------------------------------------------------
Name:- prompt_reset_button_confirm_no
Type:- BOOL
Description:- UO_SY_FILL Operator confirmed to ABORT filling
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::24
--------------------------------------------------
Name:- prompt_transfer_complete_confirm_yes
Type:- BOOL
Description:- UO_SY_FILL Operator confirm transfer is complete confirmed yes
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::25
--------------------------------------------------
Name:- prompt_filter_bled_confirm_yes
Type:- BOOL
Description:- UO_SY_FILL Operator to confirm filling machine sterile filter bled confirmed yes
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::26
--------------------------------------------------
Name:- prompt_filter_bled
Type:- BOOL
Description:- UO_SY_FILL Operator to confirm filling machine sterile filter has been bled
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::27
--------------------------------------------------
Name:- log_msg_fl_ready
Type:- BOOL
Description:- UO_SY_FILL Operator confirmed Filling Line ready
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::28
--------------------------------------------------
Name:- log_msg_filter_bled
Type:- BOOL
Description:- UO_SY_FILL Operator confirmed filter has been bled
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::29
--------------------------------------------------
Name:- prompt_reset_button_confirm_yes
Type:- BOOL
Description:- UO_SY_FILL Operator confirmed to RESUME filling
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::30
--------------------------------------------------
Name:- prompt_reset_button
Type:- BOOL
Description:- UO_SY_FILL Operator to confirm to RESET Filling Paused button or ABORT
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::31
--------------------------------------------------
Name:- prompt_start_filling
Type:- BOOL
Description:- UO_SY_FILL Operator to confirm to start filling
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::32
--------------------------------------------------
Name:- prompt_start_filling_confirm_yes
Type:- BOOL
Description:- UO_SY_FILL Operator confirm to start filling confirmed yes
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::33
--------------------------------------------------
Name:- log_msg_confirm_start_filling
Type:- BOOL
Description:- UO_SY_FILL Operator confirmed to start filling
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::34
--------------------------------------------------
Name:- prompt_fl_ready_confirm_yes
Type:- BOOL
Description:- UO_SY_FILL Operator to confirm filling line is ready confirmed yes
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::35
--------------------------------------------------
Name:- prompt_fl_ready
Type:- BOOL
Description:- UO_SY_FILL Operator to confirm filling line is ready
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::36
--------------------------------------------------
Name:- pause_button
Type:- BOOL
Description:- Filling Pause Button
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::37
--------------------------------------------------
Name:- emc_gas_medium_gas
Type:- INT
Description:- emc_gas_medium
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::38
--------------------------------------------------
Name:- emc_gas_setpoint
Type:- REAL
Description:- emc_gas_setpoint
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::39
--------------------------------------------------
Name:- emc_gas_cmd
Type:- INT
Description:- Command to emc_gas
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::40
--------------------------------------------------
Name:- emc_gas_state
Type:- INT
Description:- Device State of emc_gas
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::41
--------------------------------------------------
Name:- emc_gas_subs
Type:- INT
Description:- Substate selection to emc_gas
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::42
--------------------------------------------------
Name:- emv_vessel_state
Type:- INT
Description:- Device State of emv_vessel
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::43
--------------------------------------------------
Name:- emx_transfer_cmd
Type:- INT
Description:- Command to emx_transfer
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::44
--------------------------------------------------
Name:- emv_vessel_subs
Type:- INT
Description:- Substate selection to emv_vessel
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::45
--------------------------------------------------
Name:- emx_transfer_state
Type:- INT
Description:- Device State of emx_transfer
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::46
--------------------------------------------------
Name:- emx_transfer_subs
Type:- INT
Description:- Substate selection to emx_transfer
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::47
--------------------------------------------------
Name:- emv_vessel_cmd
Type:- INT
Description:- Command to emv_vessel
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::48
--------------------------------------------------
Name:- r_pres_hpca_fill
Type:- REAL
Description:- HPCA setpoint for filling after filter has been bled
ParameterInOut:- VAR


--------------------------------------------------
STEP::01
--------------------------------------------------
StepNo:- 01
Title:- UO_SY_FILL : Filling Unit Operation Commenced
Description:- Log Sy Fill operation begin time.
Set all Sy equipment to SAFE state with Sy LPCA control enabled and vent closed.

Prompt operator to confirm when Filling Line is ready.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Log Sy Fill operation begin time.
Set all Sy equipment to SAFE state with Sy LPCA control enabled and VENT closed.

Prompt operator to confirm when Filling Line is ready.
Action:- //Log Sy Fill operation begin time.
SET;
S #_log_msg_fill_begin;

// Start LPCA valve pressure control and VENT valve closed
L "dbCONST".SEL.GAS.LPCA;
T #_emc_gas_medium_gas;
L "dbCONST".BLK.EMC1.SUBS.PRESSURE;
T #_emc_gas_subs;
L  "dbCONST".BLK.CMD.START;
T #_emc_gas_cmd;


//Set all Sy equipment to safe state.
L "dbCONST".BLK.CMD.STOP;
T  #_emc_water_sy_cmd;
L "dbCONST".BLK.SAFE.CMD;
T  #_emc_water_sy_subs;

L "dbCONST".BLK.CMD.STOP;
T  #_emv_vessel_cmd;
L "dbCONST".BLK.SAFE.CMD;
T  #_emv_vessel_subs;

L "dbCONST".BLK.CMD.STOP;
T  #_emx_transfer_cmd;
L "dbCONST".BLK.SAFE.CMD;
T  #_emx_transfer_subs;



// Prompt operator to confirm when Filling Line is ready.
SET;
S #_prompt_fl_ready;
Verification:- A(;
L #_emc_gas_subs;
L "dbCONST".BLK.EMC1.SUBS.PRESSURE;
==I;
);
A(;
L #_emc_water_sy_state;
L "dbCONST".BLK.STATE.STOPPED;
==I;
);
A(;
L #_emv_vessel_state;
L "dbCONST".BLK.STATE.STOPPED;
==I;
);
A(;
L #_emx_transfer_state;
L "dbCONST".BLK.STATE.STOPPED;
==I;
);


--------------------------------------------------
TRANSITION::01
--------------------------------------------------
TRNNo:- 01
Title:- Filling Line is ready?
EmptyTransition:- False
Description:- Operator confirms Filling Line is ready
Condition:- A #_prompt_fl_ready_confirm_yes;


--------------------------------------------------
STEP::02
--------------------------------------------------
StepNo:- 02
Title:- UO_SY_FILL : Wait for OPER to confirm start FILLING
Description:- Log operator confirmation Filling Line ready.
Prompt operator to confirm to start Filling.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Log operator confirmation Filling Line ready.
Prompt operator to confirm to start Filling.
Action:- //Log time operator confirmed Filling Line is ready.
// Prompt operator to confirm start Filling.
SET;
S #_log_msg_fl_ready;
S #_prompt_start_filling;
R #_prompt_fl_ready_confirm_yes;
Verification:- A "uncondJump";


--------------------------------------------------
TRANSITION::02
--------------------------------------------------
TRNNo:- 02
Title:- Start Filling?
EmptyTransition:- False
Description:- Operator confirms to Start Filling
Condition:- A #_prompt_start_filling_confirm_yes;


--------------------------------------------------
STEP::03
--------------------------------------------------
StepNo:- 03
Title:- UO_SY_FILL : Set path and wait for ready to start
Description:- Log operator confirmed ready to start Filling.

Set transfer line to STATE=FILL_SY.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Log time operator confirmed ready to start Filling.
Action:- SET;
S #_log_msg_confirm_start_filling;
R #_prompt_start_filling_confirm_yes;
Verification:- A "uncondJump";

--------------------------------------------------
ACTION::02
--------------------------------------------------
Description:- Set transfer line to STATE=FILL_SY.
Open Sy outlet valve.
Action:- //Open Sy outlet valve.
L "dbCONST".BLK.EMV1.SUBS.DISCHARGE;
T #_emv_vessel_subs;
L "dbCONST".BLK.CMD.START;
T #_emv_vessel_cmd;

L "dbCONST".BLK.EMX2.SUBS.FILL_SY;
T #_emx_transfer_subs;
L "dbCONST".BLK.CMD.START;
T #_emx_transfer_cmd;
Verification:- A(;
L #_emx_transfer_subs;
L "dbCONST".BLK.EMX2.SUBS.FILL_SY;
==I;
);
A(;
L #_emv_vessel_subs;
L "dbCONST".BLK.EMV1.SUBS.DISCHARGE;
==I;
);



--------------------------------------------------
TRANSITION::03
--------------------------------------------------
TRNNo:- 03
Title:- Path ready.
EmptyTransition:- False
Description:- Empty Transition
Condition:- A "uncondJump";


--------------------------------------------------
STEP::04
--------------------------------------------------
StepNo:- 04
Title:- UO_SY_FILL : Wait for OPER to confirm filling machine bled
Description:- Log Fill start time.

Open Sy Outlet valve and Set Sy LPCA valve fully opened 

Prompt operator to confirm that filling machine sterile filter has been bled.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Log FILL start time. Open Sy outlet valve.
Action:- // Log FILL start time.
SET;
S #_log_msg_filling_start;


//Open Sy outlet valve.
L "dbCONST".BLK.EMV1.SUBS.DISCHARGE;
T #_emv_vessel_subs;
L "dbCONST".BLK.CMD.START;
T #_emv_vessel_cmd;
Verification:- A(;
L #_emv_vessel_subs;
L "dbCONST".BLK.EMV1.SUBS.DISCHARGE;
==I;
);

--------------------------------------------------
ACTION::02
--------------------------------------------------
Description:- Set Sy LPCA valve fully open
Action:- //Fully open LPCA valve 
L "dbCONST".SEL.GAS.LPCA;
T #_emc_gas_medium_gas;
L "dbCONST".BLK.EMC1.SUBS.VALVE;
T #_emc_gas_subs;
L  "dbCONST".BLK.CMD.START;
T #_emc_gas_cmd;
Verification:- A(;
L #_emc_gas_subs;
L "dbCONST".BLK.EMC1.SUBS.VALVE;
==I;
);

--------------------------------------------------
ACTION::03
--------------------------------------------------
Description:- Prompt operator to confirm that filling machine sterile filter has been bled.
Action:- // Prompt operator to confirm that filling machine sterile filter has been bled
SET;
S #_prompt_filter_bled;
Verification:- A "uncondJump";


--------------------------------------------------
TRANSITION::04
--------------------------------------------------
TRNNo:- 04
Title:- Filling machine has been bled?
EmptyTransition:- False
Description:- Operator confimed Filling machine filter has been bled.
Condition:- A #_prompt_filter_bled_confirm_yes;


--------------------------------------------------
STEP::05
--------------------------------------------------
StepNo:- 05
Title:- UO_SY_FILL : Start HPCA and wait for OPER confirm filling complete
Description:- Log operator confirmation filter has been bled.

Enable HPCA pressure control with setpoint PRES_HPCA_FILL.

Log HPCA begin time.

Prompt operator to confirm when TRANSFER is complete.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Log operator confirmation filter has been bled.

Enable HPCA pressure control with SETPOINT=PRES_HPCA_FILL.

Log HPCA begin time.

Prompt operator to confirm when TRANSFER is complete.
Action:- // Log time operator confirmed filter has been bled.
SET;
S #_log_msg_filter_bled;
R #_prompt_filter_bled_confirm_yes;

// Enable Sy HPCA pressure control at setpoint PRES_HPCA_FILL.
L  #_r_pres_hpca_fill;
T  #_emc_gas_setpoint;
L  "dbCONST".SEL.GAS.HPCA;
T  #_emc_gas_medium_gas;
L  "dbCONST".BLK.EMC1.SUBS.PRESSURE;
T  #_emc_gas_subs;
L  "dbCONST".BLK.CMD.START;
T  #_emc_gas_cmd;

// Log HPCA begin time
SET;
S #_log_msg_hpca_begin;

// Prompt operator to confirm when TRANSFER is complete
S #_prompt_transfer_complete;
Verification:- A(;
L #_emc_gas_subs;
L "dbCONST".BLK.EMC1.SUBS.PRESSURE;
==I;
);


--------------------------------------------------
TRANSITION::05
--------------------------------------------------
TRNNo:- 05
Title:- Completion confirmed?
EmptyTransition:- False
Description:- Operator confirmed completion
Condition:- A #_prompt_transfer_complete_confirm_yes;


--------------------------------------------------
TRANSITION::06
--------------------------------------------------
TRNNo:- 06
Title:- Filling Pause Button is pressed.
EmptyTransition:- False
Description:- Filling Pause Button is pressed.
Condition:- A #_prompt_transfer_complete_confirm_no;
A #_pause_button;


--------------------------------------------------
STEP::06
--------------------------------------------------
StepNo:- 06
Title:- UO_SY_FILL : Wait for OPER to RESUME or ABORT
Description:- Raise Filling paused message.
Prompt Operator to RESET Filling Paused Button else ABORT the sequence.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Raise Filling paused message.
Prompt Operator to RESET Filling Paused Button else ABORT the sequence.
Action:- // Prompt Operator to RESET Filling Paused Button else ABORT the sequence.
SET;
S #_log_msg_filling_paused;
S #_prompt_reset_button;
R #_prompt_reset_button_confirm_no;
Verification:- A "uncondJump";


--------------------------------------------------
TRANSITION::07
--------------------------------------------------
TRNNo:- 07
Title:- ABORT Filling?
EmptyTransition:- False
Description:- Operator confirmed to ABORT filling.
Condition:- A #_prompt_reset_button_confirm_no;


--------------------------------------------------
TRANSITION::08
--------------------------------------------------
TRNNo:- 08
Title:- Resume confirmed and NO pause button
EmptyTransition:- False
Description:- Operator confirmed to RESUME & Filling Pause Button is NOT pressed (RESET).
Condition:- A #_prompt_reset_button_confirm_yes;
AN #_pause_button;


--------------------------------------------------
STEP::07
--------------------------------------------------
StepNo:- 07
Title:- UO_SY_FILL : Log operator abort
Description:- Log operator abort.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Log operator abort.
Action:- //Log operator abort.
SET;
S #_log_msg_reset_button_abort;
R #_prompt_reset_button_confirm_no;
Verification:- A "uncondJump";


--------------------------------------------------
TRANSITION::09
--------------------------------------------------
TRNNo:- 09
Title:- Empty Transition
EmptyTransition:- False
Description:- Empty Transition
Condition:- A "uncondJump";


--------------------------------------------------
STEP::08
--------------------------------------------------
StepNo:- 08
Title:- UO_SY_FILL : Log operator repeat
Description:- Log operator repeat

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Log operator repeat
Action:- //Log operator repeat.
SET;
S #_log_msg_reset_button_retry;
R #_prompt_reset_button_confirm_yes;
Verification:- A "uncondJump";


--------------------------------------------------
TRANSITION::10
--------------------------------------------------
TRNNo:- 10
Title:- Empty Transition
EmptyTransition:- False
Description:- Empty Transition
Condition:- A "uncondJump";


--------------------------------------------------
STEP::09
--------------------------------------------------
StepNo:- 09
Title:- UO_SY_FILL : Disable HPCA control and open VENT
Description:- Log operator confirmation transfer is complete.
Disable Sy HPCA control and open vent valve.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Log operator confirmation transfer is complete.
Disable Sy HPCA control and open vent valve.
Action:- //Log operatior confirmation transfer is complete.
SET;
S #_log_msg_transfer_complete;
R #_prompt_transfer_complete_confirm_yes;

//Disable HPCA control.
L "dbCONST".BLK.SAFE.CMD;
T  #_emc_gas_subs;
L "dbCONST".BLK.CMD.STOP;
T  #_emc_gas_cmd;
Verification:- A(;
L #_emc_gas_subs;
L "dbCONST".BLK.STATE.STOPPED;
==I;
);


--------------------------------------------------
TRANSITION::11
--------------------------------------------------
TRNNo:- 11
Title:- Empty Transition
EmptyTransition:- False
Description:- Jump
Condition:- A "uncondJump";


--------------------------------------------------
STEP::10
--------------------------------------------------
StepNo:- 10
Title:- UO_SY_FILL : Filling Unit Operation Completed
Description:- Set Sy products to safe state.

Close FLz transfer path sequentially up to including Sy outlet valve.
 Log Sy Fill operation end time.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Set remaining Sy equipment to SAFE state.
Action:- // Set remaining Sy equipment to SAFE state.

//Stop FILTER.
L "dbCONST".BLK.SAFE.CMD;
T #_emx_transfer_subs;
L "dbCONST".BLK.CMD.STOP;
T #_emx_transfer_cmd;

L "dbCONST".BLK.SAFE.CMD;
T #_emx_smfl_subs;
L "dbCONST".BLK.CMD.STOP;
T #_emx_smfl_cmd;


L "dbCONST".BLK.SAFE.CMD;
T #_emv_vessel_subs;
L "dbCONST".BLK.CMD.STOP;
T #_emv_vessel_cmd;

Verification:- A(;
L #_emc_gas_state;
L "dbCONST".BLK.STATE.STOPPED;
==I;
);
A(;
L #_emx_transfer_state;
L "dbCONST".BLK.STATE.STOPPED;
==I;
);
A(;
L #_emx_smfl_state;
L "dbCONST".BLK.STATE.STOPPED;
==I;
);
A(;
L #_emv_vessel_state;
L "dbCONST".BLK.STATE.STOPPED;
==I;
);

--------------------------------------------------
ACTION::02
--------------------------------------------------
Description:-  Log FILLING operation end time if normal completion.
Action:- // Log Sy Fill operation end time.
SET;
S #_log_msg_fill_end;
Verification:- A "uncondJump";

****************************************************************************************************
END SSS REPORT
****************************************************************************************************
