****************************************************************************************************
SEQUENCE STEP SCHEDULE
generated on 1/05/2018 6:29:14 PM by David Paspa
****************************************************************************************************





--------------------------------------------------
SEQUENCE
--------------------------------------------------

SFCNo:- 2
Title:- UO_SY_CIP
Description:- Unit Operation for setup of storage vessel equipment
Name:- CIP
Class:- SY
Level:- UO
STEP_LIST_FORMAT:- JU    S0@@STEP_NUM@@; // STEP-0@@STEP_NUM@@:
ACT_LIST_FORMAT:- JU    @@ACT_CODE@@@@STEP_NUM@@; //ACTION-@@ACT_NUM@@
HeaderName:- SUCIP
Version:- 0.1
RevisionHistory:- // SFC Revision History:
// Rev By               Date        CC         Note
// 0.1 Gerald Kontriner 14-Sep-2009            SFC structural design
HMI_FORMAT:- @@STEP_NUM_INT@@,@@STEP_TITLE@@

--------------------------------------------------
PARAMETER::1
--------------------------------------------------
Name:- prompt_steam_confirm_no
Type:- BOOL
Description:- Flag indicating if steaming is not required
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::2
--------------------------------------------------
Name:- prompt_steam
Type:- BOOL
Description:- Prompt operator to confirm continue steaming
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::3
--------------------------------------------------
Name:- time_wfi_line_smflx
Type:- TIME
Description:- Description
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::4
--------------------------------------------------
Name:- time_pw_line_smflx
Type:- TIME
Description:- SMFLx rinse time with PW
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::5
--------------------------------------------------
Name:- emc_water_runtime
Type:- TIME
Description:- run time for emc_water
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::6
--------------------------------------------------
Name:- wfi_steam_begin_time
Type:- TOD
Description:- Description
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::7
--------------------------------------------------
Name:- wfi_steam_end_time
Type:- TOD
Description:- Description
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::8
--------------------------------------------------
Name:- time_act_wfi_wfi_steam
Type:- TIME
Description:- Actual post CIP PS steaming time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::9
--------------------------------------------------
Name:- log_time_act_wfi_wfi_steam
Type:- BOOL
Description:- Description
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::10
--------------------------------------------------
Name:- wfi_smflx_rinse_begin_time
Type:- TOD
Description:- Description
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::11
--------------------------------------------------
Name:- wfi_smflx_rinse_end_time
Type:- TOD
Description:- Description
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::12
--------------------------------------------------
Name:- time_act_wfi_smflx_rinse
Type:- TIME
Description:- Description
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::13
--------------------------------------------------
Name:- log_time_act_wfi_smflx_rinse
Type:- BOOL
Description:- Description
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::14
--------------------------------------------------
Name:- wfi_flz_rinse_begin_time
Type:- TOD
Description:- Description
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::15
--------------------------------------------------
Name:- wfi_flz_rinse_end_time
Type:- TOD
Description:- Description
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::16
--------------------------------------------------
Name:- time_act_wfi_flz_rinse
Type:- TIME
Description:- Description
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::17
--------------------------------------------------
Name:- log_time_act_wfi_flz_rinse
Type:- BOOL
Description:- Description
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::18
--------------------------------------------------
Name:- wfi_wash_begin_time
Type:- TOD
Description:- Description
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::19
--------------------------------------------------
Name:- wfi_wash_end_time
Type:- TOD
Description:- Description
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::20
--------------------------------------------------
Name:- time_act_wfi_wash
Type:- TIME
Description:- Actual WFI wash drain rinse time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::21
--------------------------------------------------
Name:- log_time_act_wfi_wash
Type:- BOOL
Description:- Description
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::22
--------------------------------------------------
Name:- pw_steam_begin_time
Type:- TOD
Description:- Description
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::23
--------------------------------------------------
Name:- pw_steam_end_time
Type:- TOD
Description:- Description
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::24
--------------------------------------------------
Name:- time_act_pw_steam
Type:- TIME
Description:- Actual PW line steaming time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::25
--------------------------------------------------
Name:- log_time_act_pw_steam
Type:- BOOL
Description:- Description
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::26
--------------------------------------------------
Name:- pw_smflx_rinse_begin_time
Type:- TOD
Description:- Description
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::27
--------------------------------------------------
Name:- pw_smflx_rinse_end_time
Type:- TOD
Description:- Description
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::28
--------------------------------------------------
Name:- time_act_pw_smflx_rinse
Type:- TIME
Description:- Description
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::29
--------------------------------------------------
Name:- log_time_act_pw_smflx_rinse
Type:- BOOL
Description:- Description
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::30
--------------------------------------------------
Name:- pw_flz_rinse_begin_time
Type:- TOD
Description:- Description
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::31
--------------------------------------------------
Name:- pw_flz_rinse_end_time
Type:- TOD
Description:- Description
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::32
--------------------------------------------------
Name:- pw_wash_begin_time
Type:- TOD
Description:- PW wash begin time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::33
--------------------------------------------------
Name:- pw_wash_end_time
Type:- TOD
Description:- PW wash end time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::34
--------------------------------------------------
Name:- log_time_act_pw_wash
Type:- BOOL
Description:- Flags the HMI to log actual PW wash time.
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::35
--------------------------------------------------
Name:- time_act_pw_flz_rinse
Type:- TIME
Description:- Description
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::36
--------------------------------------------------
Name:- log_time_act_pw_flz_rinse
Type:- BOOL
Description:- Description
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::37
--------------------------------------------------
Name:- log_time_cip_begin
Type:- BOOL
Description:- Flags the HMI that CIP started
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::38
--------------------------------------------------
Name:- log_time_cip_end
Type:- BOOL
Description:- Flags the HMI that CIP ended
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::39
--------------------------------------------------
Name:- emx_transfer_cmd
Type:- INT
Description:- Command to emx_transfer
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::40
--------------------------------------------------
Name:- emx_transfer_subs
Type:- INT
Description:- Substate selection emx_transfer
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::41
--------------------------------------------------
Name:- emx_transfer_state
Type:- INT
Description:- Device State of emx_transfer
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::42
--------------------------------------------------
Name:- emx_drain_cmd
Type:- INT
Description:- Command to emx_drain
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::43
--------------------------------------------------
Name:- emx_drain_subs
Type:- INT
Description:- Substate selection emx_drain
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::44
--------------------------------------------------
Name:- emx_drain_state
Type:- INT
Description:- Device State of emx_drain
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::45
--------------------------------------------------
Name:- time_wfi_steam_sy
Type:- TIME
Description:- Timer For WFI PS Steam
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::46
--------------------------------------------------
Name:- time_pw_line_flz
Type:- TIME
Description:- PW FPZ rinse time
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::47
--------------------------------------------------
Name:- Report_Evnt_016
Type:- BOOL
Description:- WFI Rinse Line Fill End for batch report
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::48
--------------------------------------------------
Name:- Report_Evnt_015
Type:- BOOL
Description:- WFI Rinse Line Fill Start for batch Report
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::49
--------------------------------------------------
Name:- Report_Evnt_014
Type:- BOOL
Description:- WFI Rinse End for Batch Report
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::50
--------------------------------------------------
Name:- Report_Evnt_013
Type:- BOOL
Description:- WFI Rinse Start for Batch Report
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::51
--------------------------------------------------
Name:- Report_Evnt_012
Type:- BOOL
Description:- PW Wash End for Batch Report
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::52
--------------------------------------------------
Name:- Report_Evnt_011
Type:- BOOL
Description:- PW Wash Start for batch Report
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::53
--------------------------------------------------
Name:- time_pw_steam_sy
Type:- TIME
Description:- Timer For PW PS Steam
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::54
--------------------------------------------------
Name:- steaming_proceed
Type:- BOOL
Description:- Steaming to proceed flag
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::55
--------------------------------------------------
Name:- steaming_ready
Type:- BOOL
Description:- Ready to steam filling line
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::56
--------------------------------------------------
Name:- cip_fill_ready
Type:- BOOL
Description:- Sy is setup to wash fill line
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::57
--------------------------------------------------
Name:- wash_drain_done
Type:- BOOL
Description:- Set Wash Drain Complete
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::58
--------------------------------------------------
Name:- emc_gas_subs
Type:- INT
Description:- Substate selection to emc_gas
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::59
--------------------------------------------------
Name:- emc_water_state
Type:- INT
Description:- Device State of emc_water
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::60
--------------------------------------------------
Name:- emv_vessel_subs
Type:- INT
Description:- Substate selection to emv_vessel
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::61
--------------------------------------------------
Name:- emc_water_subs
Type:- INT
Description:- Substate selection to emc_water
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::62
--------------------------------------------------
Name:- emc_water_cmd
Type:- INT
Description:- Command to emc_water
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::63
--------------------------------------------------
Name:- emv_vessel_cmd
Type:- INT
Description:- Command to emv_vessel
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::64
--------------------------------------------------
Name:- emv_vessel_state
Type:- INT
Description:- Device State of emv_vessel
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::65
--------------------------------------------------
Name:- emc_gas_medium
Type:- INT
Description:- Medium selection ECx102
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::66
--------------------------------------------------
Name:- emc_gas_state
Type:- INT
Description:- Device State of emc_gas
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::67
--------------------------------------------------
Name:- emc_gas_cmd
Type:- INT
Description:- Command to emc_gas
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::68
--------------------------------------------------
Name:- ema_vessel_subs
Type:- INT
Description:- Substate selection to ema_vessel
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::69
--------------------------------------------------
Name:- ema_vessel_state
Type:- INT
Description:- Device State of ema_vessel
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::70
--------------------------------------------------
Name:- ema_vessel_cmd
Type:- INT
Description:- Command to ema_vessel
ParameterInOut:- OUT

--------------------------------------------------
PARAMETER::71
--------------------------------------------------
Name:- time_act_pw_wash
Type:- TIME
Description:- Logging time used for washing with PW
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::72
--------------------------------------------------
Name:- time_cip_end
Type:- TOD
Description:- Logging Sy CIP Operation End Time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::73
--------------------------------------------------
Name:- time_cip_begin
Type:- TOD
Description:- Logging Sy CIP Operation Begin Time
ParameterInOut:- VAR

--------------------------------------------------
PARAMETER::74
--------------------------------------------------
Name:- time_wfi_empty_sy
Type:- TIME
Description:- Time to wait to empty the vessel after WFI rinse
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::75
--------------------------------------------------
Name:- time_wfi_line_flz
Type:- TIME
Description:- Time for WFI rinse of filling line
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::76
--------------------------------------------------
Name:- time_wfi_tank
Type:- TIME
Description:- Time for WFI rinse of vessel
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::77
--------------------------------------------------
Name:- time_pw_empty_sy
Type:- TIME
Description:- Time to empty the vessel after the PW wash
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::78
--------------------------------------------------
Name:- time_pw_wash_sy
Type:- TIME
Description:- PW vessel wash time
ParameterInOut:- IN

--------------------------------------------------
PARAMETER::79
--------------------------------------------------
Name:- prompt_steam_confirm_yes
Type:- BOOL
Description:- Flag indicating if steaming is required
ParameterInOut:- VAR


--------------------------------------------------
STEP::01
--------------------------------------------------
StepNo:- 01
Title:- SY_UO_CIP : Unit Operation Commenced
Description:- Log CIP operation begin time.
Open tank path to outlet drain line.
Open Sy tank outlet valve.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Log CIP operation begin time.
Open tank path to outlet drain line.
Open Sy tank outlet valve (DISCHARGE)
Action:- //Log Sy CIP operation begin time.
L "dbCONST".CHRONO.CPU_TIME;
T #_time_cip_begin;

SET;
S #_log_time_cip_begin;

// Open Sy outlet valve
L "dbCONST".BLK.EMV1.SUBS.DISCHARGE;
T #_emv_vessel_subs;
L "dbCONST".BLK.CMD.START;
T #_emv_vessel_cmd;

L "dbCONST".BLK.EMX2.SUBS.CIP_SY;
T #_emx_transfer_subs;
L "dbCONST".BLK.CMD.START;
T #_emx_transfer_cmd;

L "dbCONST".BLK.EMX4.SUBS.CIP;
T #_emx_drain_subs;
L "dbCONST".BLK.CMD.START;
T #_emx_drain_cmd;



//Report Event Reset
SET;
R #_Report_Evnt_011;
R #_Report_Evnt_012;
R #_Report_Evnt_013;
R #_Report_Evnt_014;
R #_Report_Evnt_015;
R #_Report_Evnt_016;
Verification:- A(;
L #_emv_vessel_state;
L "dbCONST".BLK.EMV1.SUBS.DISCHARGE;
==I;
);
A(;
L #_emx_transfer_state;
L "dbCONST".BLK.EMX2.SUBS.CIP_SY;
==I;
);
A(;
L #_emx_drain_state;
L "dbCONST".BLK.EMX4.SUBS.CIP;
==I;
);


--------------------------------------------------
TRANSITION::01
--------------------------------------------------
TRNNo:- 01
Title:- Discharge Complete?
EmptyTransition:- False
Description:- EVn004 substate DISCHARGE is complete and Parent indicates SMFLx, FPz and FLz Units ready for flushing.
Condition:- A(;
L   #_emv_vessel_state;
L   "dbCONST".BLK.STATE.COMPLETED;
==I;
);


--------------------------------------------------
STEP::02
--------------------------------------------------
StepNo:- 02
Title:- SY_UO_CIP : Commence Flush with PW
Description:- Open HPCA supply valve. 
Start timer to flush Tank Sy_TIME_PW_WASH.

Open PW supply to flush tank.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Open HPCA supply valve. 
Load TIME_PW_WASH.

Action:- // Open CA supply valve
L "dbCONST".SEL.GAS.HPCA;
T #_emc_gas_medium;
L "dbCONST".BLK.EMC1.SUBS.VALVE;  
T #_emc_gas_sub;
L "dbCONST".BLK.CMD.START;
T #_emc_gas_cmd;

//Load TIME_PW_WASH_Sy.
SET;
L #_time_pw_wash_sy;
T #_emc_water_runtime;
Verification:- A(;
L #_emc_gas_state;
L "dbCONST".BLK.EMC1.SUBS.VALVE;  
==I;
);

--------------------------------------------------
ACTION::02
--------------------------------------------------
Description:- Open PW supply and start FLUSH.
Store PW Wash begin time.
Action:- // Open PW supply.
L "dbCONST".SEL.LIQUID.PW;
T #_emc_water_medium;
L "dbCONST".BLK.EMC3.SUBS.FLUSH;
T #_emc_water_subs;
L "dbCONST".BLK.CMD.START;
T #_emc_water_cmd;

//Store PW Wash begin time.
L "dbCONST".CHRONO.CPU_TIME;
T #_pw_wash_begin_time;

//Report Event Set
SET;
S #_Report_Evnt_011;
Verification:- //Verify if emc_water changed to substate FLUSH.
A(;
L   #_emc_water_state;
L   "dbCONST".BLK.EMC3.SUBS.FLUSH;
==I;
);


--------------------------------------------------
TRANSITION::02
--------------------------------------------------
TRNNo:- 02
Title:- Timer expired
EmptyTransition:- False
Description:- Timer Sy_TIME_PW_WASH expired.
Condition:- A(;
L   #_emc_water_state;
L   "dbCONST".BLK.STATE.COMPLETED;
==I;
);


--------------------------------------------------
STEP::03
--------------------------------------------------
StepNo:- 3.0000
Title:- Sy_UO_CIP : Set Flag for Sy_PW_Wash_Complete
Description:- Log actual Sy PW wash time.
Divert path to Filling Machine FLz and Drain Line.

Start Timer for rinse FLz with PW.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Log actual tank PW wash time
Divert path to Filling Machine FLz and Drain Line.
Stop emx_drain.

Action:- //Store PW wash end time.
L "dbCONST".CHRONO.CPU_TIME;
T #_pw_wash_end_time;

//Log actual tank PW wash time.
CALL T_DIFF
{date_type := 'Time_Of_Day', time_type := 'Time'}
(  IN1                         := #_pw_wash_begin_time ,
   IN2                         := #_pw_wash_end_time ,
  OUT                         := #_time_act_pw_wash
);
SET;
S #_log_time_act_pw_wash;

//Divert path to Filling Machine FLz and Drain Line.
      L     "dbCONST".BLK.EMX2.SUBS.FILL_SY;
      T     #_emx_transfer_subs;
      L     "dbCONST".BLK.CMD.START;
      T     #_emx_transfer_cmd;

//Stop emx_drain.
L "dbCONST".BLK.SAFE.CMD;
T  #_emx_drain_subs;
L "dbCONST".BLK.CMD.STOP;
T  #_emx_drain_cmd;
Verification:- A(;    
      L     #_emx_transfer_state;
      L     "dbCONST".BLK.EMX2.SUBS.FILL_SY;
      ==I   
 );
A(;
L #_emx_drain_state;
L "dbCONST".BLK.STATE.STOPPED;
==I;
);


--------------------------------------------------
ACTION::02
--------------------------------------------------
Description:- Start Timer for rinse FLz with PW.
Action:- L #_time_pw_line_flz;
T #_emc_water_runtime;

// Open PW supply.
L "dbCONST".SEL.LIQUID.PW;
T #_emc_water_medium;
L "dbCONST".BLK.EMC3.SUBS.FLUSH;
T #_emc_water_subs;
L "dbCONST".BLK.CMD.START;
T #_emc_water_cmd;

//Store FLz rinse begin time.
L "dbCONST".CHRONO.CPU_TIME;
T #_pw_flz_rinse_begin_time;
Verification:- //Verify if emc_water changed to substate FLUSH.
A(;
L   #_emc_water_state;
L   "dbCONST".BLK.EMC3.SUBS.FLUSH;
==I;
);


--------------------------------------------------
TRANSITION::03
--------------------------------------------------
TRNNo:- 03
Title:- FLz Rinse Complete
EmptyTransition:- False
Description:- FLz Rinse Complete
Condition:- A(;
L   #_emc_water_state;
L   "dbCONST".BLK.STATE.COMPLETED;
==I;
);


--------------------------------------------------
STEP::04
--------------------------------------------------
StepNo:- 4.0000
Title:- Sy_UO_CIP : Set Flag for FLz_PW_Wash_Complete
Description:- Log actual FLz PW rinse time.

Divert path to SMFLx.
Close path to Filling Macine FLz and Drain Line.

Start Timer for SMFLx rinse.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Log actual PW Filling Transfer Line and Filling Machine rinse time.
Divert path to SMFLx.
Action:- //Store PW FLz rinse end time.
L "dbCONST".CHRONO.CPU_TIME;
T #_pw_flush_end_time;

//Log actual PW FLz rinse time.
CALL T_DIFF
{date_type := 'Time_Of_Day', time_type := 'Time'}
(  IN1                         := #_pw_flz_rinse_end_time ,
   IN2                         := #_pw_flz_rinse_end_time ,
  OUT                         := #_time_act_pw_flz_rinse
);
SET;
S #_log_time_act_flz_rinse;

//Switch path to Filtration Line SMFLx.
      L     "dbCONST".BLK.EMX2.SUBS.FILTER;  
      T     #_emx_transfer_subs;
      L     "dbCONST".BLK.CMD.START;
      T     #_emx_transfer_cmd;
Verification:- A(;    
      L     #_emx_transfer_state;
      L     "dbCONST".BLK.EMX2.SUBS.FILTER;
      ==I   
 );

--------------------------------------------------
ACTION::02
--------------------------------------------------
Description:- Start Timer for SMFLx rinse.
Action:- L #_time_pw_line_smflx;
T #_emc_water_runtime;

// Open PW supply.
L "dbCONST".SEL.LIQUID.PW;
T #_emc_water_medium;
L "dbCONST".BLK.EMC3.SUBS.FLUSH;
T #_emc_water_subs;
L "dbCONST".BLK.CMD.START;
T #_emc_water_cmd;

//Store SMFLx rinse begin time.
L "dbCONST".CHRONO.CPU_TIME;
T #_pw_smflx_rinse_begin_time;

Verification:- //Verify if emc_water changed to substate FLUSH.
A(;
L   #_emc_water_state;
L   "dbCONST".BLK.EMC3.SUBS.FLUSH;
==I;
);


--------------------------------------------------
TRANSITION::04
--------------------------------------------------
TRNNo:- 04
Title:- SMFLx Wash Complete
EmptyTransition:- False
Description:- SMFLx Wash Complete
Condition:- A(;
L   #_emc_water_state;
L   "dbCONST".BLK.STATE.COMPLETED;
==I;
);


--------------------------------------------------
STEP::05
--------------------------------------------------
StepNo:- 5.0000
Title:- Sy_UO_CIP : Set Flag for FLz_PW_Wash_Complete
Description:- Log actual PW SMFLx rinse time.
Close PW supply valve.

Start Timer for TIME_PW_EMPTY_Sy.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Log actual PW SMFLx rinse time.
Close PW supply valve.
Action:- //Store PW SMFLx rinse end time.
L "dbCONST".CHRONO.CPU_TIME;
T #_pw_smflx_rinse_end_time;

//Log actual PW SMFLx rinse time.
CALL T_DIFF
{date_type := 'Time_Of_Day', time_type := 'Time'}
(  IN1                         := #_pw_smflx_rinse_begin_time ,
   IN2                         := #_pw_smflx_rinse_end_time ,
  OUT                         := #_time_act_pw_smflx_rinse
);
SET;
S #_log_time_act_pw_smflx_rinse;

//Close PW supply valve.
L "dbCONST".BLK.SAFE.CMD;
T  #_emc_water_subs;
L "dbCONST".BLK.CMD.STOP;
T  #_emc_water_cmd;
Verification:- A(;
L   #_emc_water_state;
L   "dbCONST".BLK.STATE.STOPPED;
==I;
);

--------------------------------------------------
ACTION::02
--------------------------------------------------
Description:- Start Timer for PW_EMPTY.
Action:- //Start Timer for PW_EMPTY.
A #SQ_TIMER.Q;
R #SQ_TIMER.IN;

AN #SQ_TIMER.Q;
S #SQ_TIMER.IN;
L #_time_pw_empty_sy;
T #SQ_TIMER.PT;
Verification:- A #SQ_TIMER.IN;


--------------------------------------------------
TRANSITION::05
--------------------------------------------------
TRNNo:- 05
Title:- TIME_PW_EMPTY_Sy expired?
EmptyTransition:- False
Description:- TIME_PW_EMPTY_Sy expired?
Condition:- A #SQ_TIMER.Q;


--------------------------------------------------
STEP::06
--------------------------------------------------
StepNo:- 6.0000
Title:- SY_UO_CIP : Steaming PW inlet line
Description:- Close HPCA supply valve.
Open PW line PS supply valve.
Start timer for TIME_PW_STEAM.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Close CA supply valve. 
Action:- // Close CA supply valve
L "dbCONST".BLK.SAFE.CMD;
T  #_emc_gas_subs;
L "dbCONST".BLK.CMD.STOP;
T  #_emc_gas_cmd;
Verification:- A(;
L #_emc_gas_state;
L "dbCONST".BLK.STATE.STOPPED;
==I;
);

--------------------------------------------------
ACTION::02
--------------------------------------------------
Description:- Open PW line PS supply valve.
Store PW line PS steam begin time.
Action:- //Open PW line PS supply valve
L #_time_pw_steam_sy;
T #_emc_water_runtime;

L "dbCONST".SEL.LIQUID.PSPW;
T #_emc_water_medium;
L "dbCONST".BLK.EMC3.SUBS.FLUSH;
T #_emc_water_subs;
L "dbCONST".BLK.CMD.START;
T #_emc_water_cmd;

//Store PW line PS steam begin time.
L "dbCONST".CHRONO.CPU_TIME;
T #_pw_steam_begin_time;

Verification:- //Verify if emc_water changed to substate FLUSH.
A(;
L   #_emc_water_state;
L   "dbCONST".BLK.EMC3.SUBS.FLUSH;
==I;
);


--------------------------------------------------
TRANSITION::06
--------------------------------------------------
TRNNo:- 06
Title:- Timer Expired?
EmptyTransition:- False
Description:- TIME_PW_STEAM_Sy expired?
Condition:- A(;
L #_emc_water_state;
L   "dbCONST".BLK.STATE.COMPLETED;
==I;
);


--------------------------------------------------
STEP::07
--------------------------------------------------
StepNo:- 7.0000
Title:- SY_UO_CIP : Stop Steaming PW inlet line
Description:- Log actual PW line steaming time.
Close PW line PS supply valve.

Connect WFI inlet line to Sy.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Log actual PW line steaming time.
Close PW-line PS supply valve.
Action:- //Store PW line PS steam end time.
L "dbCONST".CHRONO.CPU_TIME;
T #_pw_steam_end_time;

//Log actual PW line steaming time.
CALL T_DIFF
{date_type := 'Time_Of_Day', time_type := 'Time'}
(  IN1                         := #_pw_steam_begin_time ,
   IN2                         := #_pw_steam_end_time ,
  OUT                         := #_time_act_pw_steam
);
SET;
S #_log_time_act_pw_steam;

//Close PW line PS supply valve.
L "dbCONST".BLK.SAFE.CMD;
T  #_emc_water_subs;
L "dbCONST".BLK.CMD.STOP;
T  #_emc_water_cmd;
Verification:- A(;
L   #_emc_water_state;
L   "dbCONST".BLK.STATE.STOPPED;
==I;
);

--------------------------------------------------
ACTION::02
--------------------------------------------------
Description:- Connect WFI inlet line to Sy.
Set emc_water to substate SETUP and MEDIUM=WFI.
Action:- //Connect WFI inlet line to Sy.
L "dbCONST".SEL.LIQUID.WFI;
T #_emc_water_medium;
L "dbCONST".BLK.EMC3.SUBS.SETUP;
T #_emc_water_subs;
L "dbCONST".BLK.CMD.START;
T #_emc_water_cmd;
Verification:- A(;
L #_emc_water_state;
L "dbCONST".BLK.EMC3.SUBS.SETUP;
==I;
);


--------------------------------------------------
TRANSITION::07
--------------------------------------------------
TRNNo:- 7.0000
Title:- Setup complete?
EmptyTransition:- False
Description:- emc_water SETUP complete
Condition:- A(;
L   #_emc_water_state;
L   "dbCONST".BLK.STATE.COMPLETED;
==I;
);


--------------------------------------------------
STEP::08
--------------------------------------------------
StepNo:- 8.0000
Title:- SY_UO_CIP : Commence WFI Rinse of vessel
Description:- Open Sy path to Wash Drain.

Open WFI supply to rinse tank.
Start timer to rinse tank by TIME_WFI_TANK.
Open HPCA supply valve.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Open Sy path to Wash Drain.
Action:- L "dbCONST".BLK.EMX2.SUBS.CIP_SY;
T #_emx_transfer_subs;
L "dbCONST".BLK.CMD.START;
T #_emx_transfer_cmd;

L "dbCONST".BLK.EMX4.SUBS.CIP;
T #_emx_drain_subs;
L "dbCONST".BLK.CMD.START;
T #_emx_drain_cmd;

Verification:- A(;
L #_emx_transfer_state;
L "dbCONST".BLK.EMX2.SUBS.CIP_SY;
==I;
);
A(;
L #_emx_drain_state;
L "dbCONST".BLK.EMX4.SUBS.CIP;
==I;
);

--------------------------------------------------
ACTION::02
--------------------------------------------------
Description:- Open WFI supply to rinse tank.
Start timer to rinse tank by TIME_WFI_TANK.
Store WFI wash begin time.
Open HPCA supply valve.
Action:- //Open WFI supply to rinse tank
L #_time_wfi_tank;
T #_emc_water_runtime;

L "dbCONST".SEL.LIQUID.WFI;
T #_emc_water_medium;
L "dbCONST".BLK.EMC3.SUBS.FLUSH;
T #_emc_water_subs;
L "dbCONST".BLK.CMD.START;
T #_emc_water_cmd;

//Store WFI wash begin time.
L "dbCONST".CHRONO.CPU_TIME;
T #_wfi_wash_begin_time;

//Report Event Set
SET;
S #_Report_Evnt_013;


// Open HPCA supply
L "dbCONST".SEL.GAS.HPCA;
T #_emc_gas_medium;
L "dbCONST".BLK.EMC1.SUBS.VALVE;  
T #_emc_gas_sub;
L "dbCONST".BLK.CMD.START;
T #_emc_gas_cmd;
Verification:- A(;
L #_emc_water_state;
L "dbCONST".BLK.EMC3.SUBS.FLUSH;
==I;
);

A(;
L #_emc_gas_state;
L "dbCONST".BLK.EMC1.SUBS.VALVE;  
==I;
);


--------------------------------------------------
TRANSITION::08
--------------------------------------------------
TRNNo:- 8.0000
Title:- Timer expired?
EmptyTransition:- False
Description:- Timer TIME_WFI_TANK expired.
Condition:- A(;
L   #_emc_water_state;
L   "dbCONST".BLK.STATE.COMPLETED;
==I;
);


--------------------------------------------------
STEP::09
--------------------------------------------------
StepNo:- 9.0000
Title:- Sy_UO_CIP : Set Flag for Sy_WFI_Wash_Complete
Description:- Log actual Sy WFI wash time.

Divert Wash to FLz.
Open DVy129, Close DVy127

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Log actual WFI wash time.
Switch path to Fillling Line FPz and Fillling Machine FLz.
Action:- //Store WFI wash end time.
L "dbCONST".CHRONO.CPU_TIME;
T #_wfi_wash_end_time;

//Log actual WFI wash time.
CALL T_DIFF
{date_type := 'Time_Of_Day', time_type := 'Time'}
(  IN1                         := #_wfi_wash_begin_time ,
   IN2                         := #_wfi_wash_end_time ,
  OUT                         := #_time_act_wfi_wash
);
SET;
S #_log_time_act_wfi_wash;

//Switch path to Fillling Line FPz and Fillling Machine FLz.
      L     "dbCONST".BLK.EMX2.SUBS.FILL_SY;
      T     #_emx_transfer_subs;
      L     "dbCONST".BLK.CMD.START;
      T     #_emx_transfer_cmd;

//Stop emx_drain.
L "dbCONST".BLK.SAFE.CMD;
T  #_emx_drain_subs;
L "dbCONST".BLK.CMD.STOP;
T  #_emx_drain_cmd;

Verification:- A(;    
      L     #_emx_transfer_state;
      L     "dbCONST".BLK.EMX2.SUBS.FILL_SY;
      ==I   
 );
A(;
L #_emx_drain_state;
L "dbCONST".BLK.STATE.STOPPED;
==I;
);


--------------------------------------------------
ACTION::02
--------------------------------------------------
Description:- Open WFI supply with timer TIME_WFI_LINE_FLz.
Action:- //Open WFI supply.
L #_time_wfi_line_flz;
T #_emc_water_runtime;

L "dbCONST".SEL.LIQUID.WFI;
T #_emc_water_medium;
L "dbCONST".BLK.EMC3.SUBS.FLUSH;
T #_emc_water_subs;
L "dbCONST".BLK.CMD.START;
T #_emc_water_cmd;

//Store FLz WFI wash begin time.
L "dbCONST".CHRONO.CPU_TIME;
T #_wfi_flz_rinse_begin_time;

Verification:- A(;
L #_emc_water_state;
L "dbCONST".BLK.EMC3.SUBS.FLUSH;
==I;
);


--------------------------------------------------
STEP::10
--------------------------------------------------
StepNo:- 10.0000
Title:- Sy_UO_CIP : Set Flag for FLz_WFI_Wash_Complete
Description:- Log actual FLz WFI wash time.

Divert path to SMFLx
Open DVy125, Close DVy129

Start flush WFI with timer time_wfi_line_smflx.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Log actual FLz WFI wash time.
Divert path to SMFLx

Action:- //Store FLz WFI wash end time.
L "dbCONST".CHRONO.CPU_TIME;
T #_wfi_flz_rinse_end_time;

//Log actual FLz WFI wash time.
CALL T_DIFF
{date_type := 'Time_Of_Day', time_type := 'Time'}
(  IN1                         := #_wfi_flz_rinse_begin_time ,
   IN2                         := #_wfi_flz_rinse_end_time ,
  OUT                         := #_time_act_wfi_flz_rinse
);
SET;
S #_log_time_act_wfi_flz_rinse;


//Switch path to Filtration Line SMFLx.
      L     "dbCONST".BLK.EMX2.SUBS.FILTER;  
      T     #_emx_transfer_subs;
      L     "dbCONST".BLK.CMD.START;
      T     #_emx_transfer_cmd;
Verification:- A(;    
    L     #_emx_transfer_state;
    L     "dbCONST".BLK.EMX2.SUBS.FILTER;
    ==I   
 );


--------------------------------------------------
ACTION::02
--------------------------------------------------
Description:- Store SMFLx WFI rinse begin time.
Start flush WFI with timer time_wfi_line_smflx.
Action:- //Store SMFLx WFI rinse begin time.
L "dbCONST".CHRONO.CPU_TIME;
T #_wfi_smflx_rinse_begin_time;

//Open WFI supply
L #_time_wfi_line_smflx;
T #_emc_water_runtime;

L "dbCONST".SEL.LIQUID.WFI;
T #_emc_water_medium;
L "dbCONST".BLK.EMC3.SUBS.FLUSH;
T #_emc_water_subs;
L "dbCONST".BLK.CMD.START;
T #_emc_water_cmd;

Verification:- A(;
   L  #_emc_water_state;
   L  "dbCONST".BLK.EMC3.SUBS.FLUSH;
   ==I;
);



--------------------------------------------------
STEP::11
--------------------------------------------------
StepNo:- 11.0000
Title:- Sy_UO_CIP : WFI SMFLx Rinse Completed
Description:- Log actual WFI SMFLx rinse time.
Close WFI supply valve

Start Timer for WFI Empty, TIME_WFI_EMPTY_Sy.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Log actual WFI SMFLx rinse time.
Close WFI supply valve.
Action:- //Store WFI SMFLx rinse end time.
L "dbCONST".CHRONO.CPU_TIME;
T #_wfi_smflx_rinse_end_time;

//Log actual WFI SMFLx rinse time.
CALL T_DIFF
{date_type := 'Time_Of_Day', time_type := 'Time'}
(  IN1                         := #_wfi_smflx_rinse_begin_time ,
   IN2                         := #_wfi_smflx_rinse_end_time ,
  OUT                         := #_time_act_wfi_smflx_rinse
);
SET;
S #_log_time_act_wfi_smflx_rinse;

//Close WFI supply valve
L "dbCONST".BLK.SAFE.CMD;
T  #_emc_water_subs;
L "dbCONST".BLK.CMD.STOP;
T  #_emc_water_cmd;

//Report Event Set
SET;
S #_Report_Evnt_008;
Verification:- A(;
L #_emc_water_state;
L "dbCONST".BLK.STATE.STOPPED;
==I;
);

--------------------------------------------------
ACTION::02
--------------------------------------------------
Description:- Start timer time_wfi_empty_sy
Action:- //Start Timer for WFI Empty.
A #SQ_TIMER.Q;
R #SQ_TIMER.IN;

AN #SQ_TIMER.Q;
S #SQ_TIMER.IN;
L #_time_wfi_empty_sy;
T #SQ_TIMER.PT;
Verification:- A #SQ_TIMER.IN;


--------------------------------------------------
STEP::12
--------------------------------------------------
StepNo:- 12.0000
Title:- SY_UO_CIP : Close CA supply valve
Description:- Close HPCA supply valve.
Prompt operator to continue steaming.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Close HPCA supply valve.
Prompt operator to continue steaming.
Action:- //Close HPCA supply valve.
L "dbCONST".BLK.SAFE.CMD;
T  #_emc_gas_subs;
L "dbCONST".BLK.CMD.STOP;
T  #_emc_gas_cmd;

//Prompt operator to continue steaming.
SET;
S #_prompt_steam;
Verification:- A(;
L 	#_emc_gas_state;
L 	"dbCONST".BLK.STATE.STOPPED;
==I;
);


--------------------------------------------------
TRANSITION::12
--------------------------------------------------
TRNNo:- 12.0000
Title:- Is Steaming required?
EmptyTransition:- False
Description:- Operator confirms steaming is required
Condition:- A #_prompt_steam_confirm_yes;


--------------------------------------------------
TRANSITION::13
--------------------------------------------------
TRNNo:- 13.0000
Title:- Steaming not required
EmptyTransition:- False
Description:- Operator confirms steaming is not required
Condition:- A #_prompt_steam_confirm_no; 


--------------------------------------------------
STEP::13
--------------------------------------------------
StepNo:- 13.0000
Title:- SY_UO_CIP : Wait for Steaming to be ready
Description:- Flag parent ready for steaming by setting steaming_ready flag.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Flag parent ready for steaming by setting steaming_ready flag.
Action:- //Flag parent ready for steaming.
SET;
S #_steaming_ready;
Verification:- A M1.1; //Always High flag


--------------------------------------------------
TRANSITION::14
--------------------------------------------------
TRNNo:- 14.0000
Title:- Waiting for steaming to proceed
EmptyTransition:- False
Description:- Parent indicates to proceed with steaming by setting the steaming_proceed flag.
Condition:- A #_steaming_proceed;


--------------------------------------------------
STEP::14
--------------------------------------------------
StepNo:- 14.0000
Title:- Sy_UO_CIP : WFI SMFLx Rinse Completed
Description:- Open Sy steam drain valve and close Sy CIP drain valve.

Open WFI(PS) supply valve.
Start timer TIME_WFI_STEAM_Sy.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Open Sy steam drain valve and close Sy CIP drain valve.
Action:- L "dbCONST".BLK.EMX4.SUBS.SIP;
T #_emx_drain_subs;
L "dbCONST".BLK.CMD.START;
T #_emx_drain_cmd;
Verification:- A(;
L #_emx_drain_state;
L "dbCONST".BLK.EMX4.SUBS.SIP;
==I;
);


--------------------------------------------------
ACTION::02
--------------------------------------------------
Description:- Open WFI(PS) supply valve.
Start timer TIME_WFI_STEAM_Sy for CS supply.
Action:- //Open WFI(PS) supply to rinse tank
L #_time_wfi_steam_sy;
T #_emc_water_runtime;

L "dbCONST".SEL.LIQUID.PSWFI;
T #_emc_water_medium;
L "dbCONST".BLK.EMC3.SUBS.FLUSH;
T #_emc_water_subs;
L "dbCONST".BLK.CMD.START;
T #_emc_water_cmd;

//Store WFI line PS Steam begin time.
L "dbCONST".CHRONO.CPU_TIME;
T #_wfi_steam_begin_time;


SET;
R #_steaming_ready;
Verification:- A(;
   L  #_emc_water_state;
   L  "dbCONST".BLK.EMC3.SUBS.FLUSH;
   ==I;
);



--------------------------------------------------
TRANSITION::15
--------------------------------------------------
TRNNo:- 15.0000
Title:- Timer expired?
EmptyTransition:- False
Description:- TIME_WFI_STEAM_Sy expired?
Condition:- A(;
L   #_emc_water_state;
L   "dbCONST".BLK.STATE.COMPLETED;
==I;
);


--------------------------------------------------
STEP::15
--------------------------------------------------
StepNo:- 15.0000
Title:- SY_UO_CIP : Filling Line steaming complete
Description:- Close PS supply valve.
Log actual post CIP CS steaming time.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Close CS supply valve.
Log actual post CIP PS WFI steaming time.
Action:- //Store WFI PS steaming end time.
L "dbCONST".CHRONO.CPU_TIME;
T #_wfi_steam_end_time;

//Log actual post CIP PS steaming time.
CALL T_DIFF
{date_type := 'Time_Of_Day', time_type := 'Time'}
(  IN1                         := #_wfi_steam_begin_time ,
   IN2                         := #_wfi_steam_end_time ,
  OUT                         := #_time_act_wfi_steam
);
SET;
S #_log_time_act_wfi_steam;


//Close PS wfi supply valve.
L "dbCONST".BLK.SAFE.CMD;
T  #_emc_water_subs;
L "dbCONST".BLK.CMD.STOP;
T  #_emc_water_cmd;
Verification:- A(;
L #_emc_water_state;
L "dbCONST".BLK.STATE.STOPPED;
==I;
);


--------------------------------------------------
TRANSITION::16
--------------------------------------------------
TRNNo:- 16.0000
Title:- Empty transition.
EmptyTransition:- False
Description:- Jump
Condition:- A M1.1; //Always High flag


--------------------------------------------------
STEP::16
--------------------------------------------------
StepNo:- 16.0000
Title:- SY_UO_CIP : Unit Operation Completed
Description:- Log Sy CIP operation end time.

Close all drain valves.

--------------------------------------------------
ACTION::01
--------------------------------------------------
Description:- Close all drain valves.
Log Sy CIP operation end time.
Action:- // Set Sy equipment to safe state:
L "dbCONST".BLK.SAFE.CMD;
T  #_emx_drain_subs;
L "dbCONST".BLK.CMD.STOP;
T  #_emx_drain_cmd;


//Clear all used flags
SET;
R #_steaming_ready;
R #_wash_drain_done;

//Report Event Reset
SET;
R #_Report_Evnt_011;
R #_Report_Evnt_012;
R #_Report_Evnt_013;
R #_Report_Evnt_014;
R #_Report_Evnt_015;
R #_Report_Evnt_016;

// Log Sy CIP operation end time.
L "dbCONST".CHRONO.CPU_TIME;
T #_time_cip_end;

SET;
S #_log_time_cip_end;

Verification:- A(;
L #_emx_drain_state;
L "dbCONST".BLK.STATE.STOPPED;
==I;
);

****************************************************************************************************
END SSS REPORT
****************************************************************************************************
